@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Indicator.Edit
@using (Html.BeginForm())
{
    <div class="container-fluid container-fluid-dialog-form" style="max-height: 600px; overflow-y: auto">
        <div class="row">
            <div class="col-md-3 col-header">Display Name:</div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.IndicatorDisplayName, new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.IndicatorDisplayName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">Indicator Type:</div>
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.IndicatorTypeID, ViewDataTyped.IndicatorTypes)
                @Html.ValidationMessageFor(m => m.IndicatorTypeID)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithFieldDefinitionFor(FieldDefinition.MeasurementUnit, "Measurement Unit"):</div>
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.MeasurementUnitTypeID, ViewDataTyped.MeasurementUnitTypes)
                @Html.ValidationMessageFor(m => m.MeasurementUnitTypeID)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">Definition:</div>
            <div class="col-md-8">
                <div style="max-height: 600px; overflow-y: auto">
                    @Html.TextAreaWithMaxLengthFor(x => x.IndicationDefinition, new TextAreaForExtensions.TextAreaDimensions(null, 6), null)
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.IndicatorID)
}
