@*-----------------------------------------------------------------------
<copyright file="EditOrganizations.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.ProjectOrganization.EditOrganizations

<script type="text/javascript">
    // <![CDATA[    
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function ()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    jQuery(document).ready(function ()
    {



        angular.bootstrap(jQuery("#EditOrganizationsAngularApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");
        jQuery(".modal").on("hidden.bs.modal",
            function() {
                jQuery(".bootstrap-select.open").removeClass("open");
            });
    });
    // ]]>
</script>
<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />

<style>
    .table > tbody > tr.subRelationships > td {
        border-top: none;
        padding-top: 0;
    }
    .col-xs-5.organizationIdSelectGroup div.bootstrap-select.btn-group {
        width: 100%;
    }
</style>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditOrganizationsAngularApp" ng-controller="ProjectOrganizationController">
    <div class="row">
        <div class="col-md-12">
            Select the @(FieldDefinition.OrganizationPrimaryContact.GetFieldDefinitionLabel()) and @FieldDefinition.Organization.GetFieldDefinitionLabelPluralized() that are associated with your @FieldDefinition.Project.GetFieldDefinitionLabel(). Some association types have a single organization; these are marked with a required symbol (<sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup>). Other assocation types apply to any number of organizations and are not required.
        </div>
    </div>

    @*------------------------------------ Primary Contact Relationship Type (if there is one) and Primary Contact ------------------------------------*@
    <br />
    <div ng-show="AngularViewData.PrimaryContactRelationshipTypeSimple != null">
        <div class="row">
            @*Relationship type and description*@
            <div class="col-md-12"><label ng-bind="AngularViewData.PrimaryContactRelationshipTypeSimple.RelationshipTypeName"></label><sup ng-show="AngularViewData.PrimaryContactRelationshipTypeSimple.RelationshipTypeCanOnlyBeRelatedOnceToAProject">@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <p class="smallExplanationText" ng-bind="AngularViewData.PrimaryContactRelationshipTypeSimple.RelationshipTypeDescription"></p>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="row">
                    @*Selectpicker*@
                    <div class="col-md-12">
                        <div class="input-group" style="width: 100%;">
                            <select class="selectpicker" id="todo{{AngularViewData.PrimaryContactRelationshipTypeSimple.RelationshipTypeID}}" ng-model="selectedOrganizationID[AngularViewData.PrimaryContactRelationshipTypeSimple.RelationshipTypeID]" ng-change="selectionChanged(selectedOrganizationID[AngularViewData.PrimaryContactRelationshipTypeSimple.RelationshipTypeID],AngularViewData.PrimaryContactRelationshipTypeSimple)" data-width="100%" data-live-search="true" data-size="8">
                                <option value="" disabled selected ng-bind="dropdownDefaultOption(AngularViewData.PrimaryContactRelationshipTypeSimple)">Select one</option>
                                <option ng-repeat="organization in getAvailableOrganizationsForRelationshipType(AngularViewData.PrimaryContactRelationshipTypeSimple)"
                                        ng-bind="organization.OrganizationName"
                                        ng-value="organization.OrganizationID"
                                        ng-selected="isOptionSelected(organization,AngularViewData.PrimaryContactRelationshipTypeSimple)"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">@Html.LabelWithSugarFor(m => m.PrimaryContactPersonID, false)</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="smallExplanationText">@FieldDefinition.ProjectPrimaryContact.GetFieldDefinitionDescription()</div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="row">
                @*Selectpicker*@
                <div class="col-md-12">
                    <div class="input-group" style="width: 100%;">
                        <select class="selectpicker" ng-model="PrimaryContactPersonID" ng-change="primaryContactPersonChange(PrimaryContactPersonID)" data-width="100%" data-live-search="true" data-size="8">
                            <option ng-if="AngularViewData.PrimaryContactRelationshipTypeSimple != null" value="null" ng-selected="isPersonSelected(null)">Use the {{AngularViewData.PrimaryContactRelationshipTypeSimple.RelationshipTypeName}}'s @(FieldDefinition.OrganizationPrimaryContact.GetFieldDefinitionLabel())</option>
                            <option ng-if="AngularViewData.PrimaryContactRelationshipTypeSimple == null" value="null" ng-selected="isPersonSelected(null)">Select One</option>
                            <option ng-repeat="person in AngularViewData.AllPeople"
                                    ng-bind="person.FullNameWithOrgShortName"
                                    ng-value="person.PersonID"
                                    ng-selected="isPersonSelected(person.PersonID)"></option>
                        </select>
                    </div>
                    <p class="help-block alert alert-info" ng-show="isPersonSelected(null)">
                        <span ng-show="AngularViewData.PrimaryContactRelationshipTypeSimple != null">The default @(FieldDefinition.ProjectPrimaryContact.GetFieldDefinitionLabel()) is the person set as the @(FieldDefinition.OrganizationPrimaryContact.GetFieldDefinitionLabel()) for the <span ng-bind="AngularViewData.PrimaryContactRelationshipTypeSimple.RelationshipTypeName"></span>, if there is one.</span>
                        <span>Currently, this means <span style="font-weight: bold" ng-bind="primaryContactOrganizationPersonDisplayName(AngularViewData.PrimaryContactRelationshipTypeSimple)"></span> will be the @(FieldDefinition.ProjectPrimaryContact.GetFieldDefinitionLabel()).</span>
                        <span ng-show="AngularViewData.PrimaryContactRelationshipTypeSimple != null && primaryContactOrganizationHasNoPrimaryContact(AngularViewData.PrimaryContactRelationshipTypeSimple)">
                            Consider setting a @(FieldDefinition.OrganizationPrimaryContact.GetFieldDefinitionLabel()) for <a href="{{primaryContactOrganization(AngularViewData.PrimaryContactRelationshipTypeSimple).DetailUrl}}" alt="{{primaryContactOrganization(AngularViewData.PrimaryContactRelationshipTypeSimple).OrganizationName}}" ng-bind="primaryContactOrganization(AngularViewData.PrimaryContactRelationshipTypeSimple).OrganizationName"></a>.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @*------------------------------------ All Other Relationship Types ------------------------------------*@
    <div ng-repeat="relationshipType in AngularViewData.AllRelationshipTypes | orderBy:['-RelationshipTypeCanOnlyBeRelatedOnceToAProject','RelationshipTypeName']">
        <hr />
        <div class="row">
            @*Relationship type and description*@
            <div class="col-md-12"><label ng-bind="relationshipType.RelationshipTypeName"></label><sup ng-show="relationshipType.RelationshipTypeCanOnlyBeRelatedOnceToAProject">@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <p class="smallExplanationText" ng-bind="relationshipType.RelationshipTypeDescription"></p>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="row">
                    @*Selectpicker*@
                    <div class="col-md-12">
                        <div class="input-group" style="width: 100%;">
                            <select class="selectpicker" id="todo{{relationshipType.RelationshipTypeID}}" ng-model="selectedOrganizationID[relationshipType.RelationshipTypeID]" ng-change="selectionChanged(selectedOrganizationID[relationshipType.RelationshipTypeID],relationshipType)" data-width="100%" data-live-search="true" data-size="8">
                                <option value="" disabled selected ng-bind="dropdownDefaultOption(relationshipType)">Select one</option>
                                <option ng-repeat="organization in getAvailableOrganizationsForRelationshipType(relationshipType)"
                                        ng-bind="organization.OrganizationName"
                                        ng-value="organization.OrganizationID"
                                        ng-selected="isOptionSelected(organization,relationshipType)"></option>
                            </select>
                            <button type="button" class="btn btn-sm btn-firma" ng-click="addProjectOrganizationSimple(selectedOrganizationID[relationshipType.RelationshipTypeID], relationshipType.RelationshipTypeID)" ng-disabled="!selectedOrganizationID[relationshipType.RelationshipTypeID]" ng-show="!relationshipType.RelationshipTypeCanOnlyBeRelatedOnceToAProject">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row" ng-repeat="organization in chosenOrganizationsForRelationshipType(relationshipType.RelationshipTypeID)" ng-hide="relationshipType.RelationshipTypeCanOnlyBeRelatedOnceToAProject" style="margin-top: 5px;">
                    @*Selections*@
                    <div class="col-md-12">
                        <span>
                            <a href="#" ng-click="removeProjectOrganizationSimple(organization.OrganizationID, relationshipType.RelationshipTypeID); $event.preventDefault();">
                                <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()"></i>
                            </a>
                        </span><span ng-bind="organization.OrganizationName"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <input type="hidden" name="@Html.NameFor(x => x.PrimaryContactPersonID)" value="{{AngularModel.PrimaryContactPersonID}}" />
        <div ng-repeat="projectOrganization in AngularModel.ProjectOrganizationSimples">
            <input type="hidden" name="@Html.NameFor(x => x.ProjectOrganizationSimples[0].OrganizationID).ToString().Replace("0", "{{$index}}")" value="{{projectOrganization.OrganizationID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.ProjectOrganizationSimples[0].RelationshipTypeID).ToString().Replace("0", "{{$index}}")" value="{{projectOrganization.RelationshipTypeID}}" />
        </div>
    }
</div>
