@*-----------------------------------------------------------------------
    <copyright file="ProjectOrganizationsDetail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared.ProjectOrganization
@inherits ProjectOrganizationsDetail

   
@if (ViewDataTyped.AllProjectOrganizations.Any())
{
    <table class="summaryLayout table table-condensed table-striped">
        <tr>
            <th class="col-sm-3">@Html.LabelWithSugarFor(FieldDefinitionEnum.ProjectOrganizationRelationshipType.ToType())</th>
            <th class="col-sm-9">@Html.LabelWithSugarFor(FieldDefinitionEnum.Organization.ToType())</th>
        </tr>
        @foreach (var relationshipTypeName in ViewDataTyped.SetRelationshipTypes.OrderBy(x => x))
        {
            var projectOrganizations = ViewDataTyped.AllProjectOrganizations.Where(x => x.OrganizationRelationshipTypeName == relationshipTypeName).OrderBy(x => x.Organization.OrganizationName).ToList();
            <tr>
                @if (projectOrganizations.Count > 1)
                {
                    <td>@(relationshipTypeName + "s")</td>
                }
                else
                {
                    <td>@relationshipTypeName</td>
                }
                <td>
                    <ul style="list-style-type: none; padding-left: 0; margin-left: 0;">
                        @foreach (var x in projectOrganizations)
                        {
                            <li>
                                <span class="@x.DisplayCssClass">@x.Organization.GetDisplayNameWithoutAbbreviationAsUrl()</span>
                            </li>
                        }
                    </ul>
                </td>

            </tr>
        }

    </table>
}
else
{
    <p class="systemText">No organizations set for this project.</p>
}


