@*-----------------------------------------------------------------------
    <copyright file="ProjectOrganizationsDetail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Views
@using ProjectFirma.Web.Views.Shared.ProjectOrganization
@inherits ProjectOrganizationsDetail
   
@if (ViewDataTyped.AllProjectOrganizations.Any())
{
    <table class="summaryLayout">
        <tr>
            <th>@Html.LabelWithSugarFor(FieldDefinition.ProjectRelationshipType)</th>
            <th>@Html.LabelWithSugarFor(FieldDefinition.Organization)</th>
        </tr>
        @foreach (var relationshipType in ViewDataTyped.SetRelationshipTypes.OrderBy(x=>x.RelationshipTypeName))
        {
            var projectOrganizations = ViewDataTyped.AllProjectOrganizations.Where(x => x.RelationshipType == relationshipType).OrderBy(x=>x.Organization.OrganizationName).ToList();
            <tr>
                <td>@relationshipType.RelationshipTypeName</td>
                <td>
                    @foreach (var x in projectOrganizations)
                    {
                        @*Note that this tag has to all be on one line to display the comma correctly*@
                    <span class="@x.DisplayCssClass">@x.Organization.GetDisplayNameAsUrl()@if (x != projectOrganizations.LastOrDefault()) { @Html.Raw(",") }</span>
                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="systemText">No organizations set for this project.</p>
}

<hr />
<div class="row">
    <div class="col-xs-3">
        @Html.LabelWithSugarFor(FieldDefinition.ProjectPrimaryContact)
    </div>

    <div class="col-xs-9">
        @if (ViewDataTyped.PrimaryContactPerson != null)
        {
            <span>
                @ViewDataTyped.PrimaryContactPerson.FullNameFirstLast (<a href="mailto:@ViewDataTyped.PrimaryContactPerson.Email">@ViewDataTyped.PrimaryContactPerson.Email</a>)
            </span>
        }
        else
        {
            <span>@ViewUtilities.NoneString</span>
        }
    </div>
</div>
