@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.FieldDefinition.Edit

@Html.ValidationSummary()
<h3>Edit Field Definition</h3>
@if (ViewDataTyped.IsSitkaAdministrator)
{
    <p class="systemText">Note: editing the Default Definition will change the definition for all tenants that do not have a "Custom Definition" entered for this field definition.</p>
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.FieldDefinitionLabel, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.FieldDefinitionLabel, new {@class = "form-control"})
                </div>
                @Html.ValidationMessageFor(x => x.FieldDefinitionLabel)
            </div>
        <div class="form-group">
            @Html.LabelFor(x => x.FieldDefinitionDataValue, new {@class = "col-md-2 control-label"})
            <div class="col-md-10" style="max-height: 300px; overflow-y: auto;">
                @Html.CkEditorFor(x => x.FieldDefinitionDataValue, CkEditorExtension.CkEditorToolbar.MinimalWithImages, true, false, ViewDataTyped.FileBrowserImageUploadUrl, 200)
            </div>
            @Html.ValidationMessageFor(x => x.FieldDefinitionDataValue)
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Default Label</label>
            <div class="col-md-10">@ViewDataTyped.FieldDefinition.FieldDefinitionDisplayName</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.FieldDefinitionDefault, new { @class = "col-md-2 control-label" })
            <div class="col-md-10 fieldDefinition" style="max-height: 300px; overflow-y: auto;">
                @if (ViewDataTyped.IsSitkaAdministrator)
                {
                    @Html.CkEditorFor(x => x.FieldDefinitionDefault, CkEditorExtension.CkEditorToolbar.Minimal, true, false, 200)
                }
                else
                {
                    @ViewDataTyped.FieldDefinition.FieldDefinitionDefault.DefaultDefinitionHtmlString
                }
            </div>
        </div>
    </div>
    <div class="pull-right" style="padding-bottom: 15px;">
        <hr />
        <button type="submit" class="btn btn-firma">Save</button>
        <a href="@ViewDataTyped.CancelUrl" class="btn btn-firma">Cancel</a>
    </div>
}
