@*-----------------------------------------------------------------------
<copyright file="EditProjectFundingSourceBudgets.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.ProjectFundingSourceBudget.EditProjectFundingSourceBudgetByCostType
<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function() {
        angular.module("ProjectFirmaApp").factory("angularModelAndViewData",
            function() {
                return {
                    AngularModel: @Html.Raw(JObject.FromObject(Model)),
                    AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular))
                };
            });
        angular.bootstrap(jQuery("#EditFundingSourceBudgetsApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");
        jQuery(".modal").on("hidden.bs.modal",
            function() {
                jQuery(".bootstrap-select.open").removeClass("open");
            });
    })
    // ]]>

</script>
<style>
    .table > tbody > tr.secondRow > td {
        border-top: none
    }

    .table > tbody > tr > th {
        border-top: none
    }

    .funding td:first-child, .funding th:first-child {
        width: 30px;
    }

    .summaryTableHeader {
        background-color: #666666;
    }

    .summaryTableHeader label, .summaryTableHeader span {
        color: #FFFFFF;
        font-weight: normal;
    }

    .summaryTableRow {
        background-color: #f9f9f9;
    }

    .targetedFunding {
        font-style: italic;
        color: #6e6e6e;
    }
    .fundingSourceHeaderRow {
        background-color: #d9edf7;
    }

</style>

<div class="row">
    <div class="col-xs-12">
        <div class="validationError">
            @Html.ValidationSummary()
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-app="ProjectFirmaApp" id="EditFundingSourceBudgetsApp" ng-controller="ProjectFundingSourceBudgetByCostTypeController" style="max-height: 600px;">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label class="control-label">
                        1. Does the @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel() budget vary by year or is it the same?
                    </label>
                    <div class="input-group" style="margin-left: 20px">
                        <select ng-model="selectedFundingTypeID"
                                class="selectpicker"
                                data-container="body"
                                data-width="100%"
                                ng-change="populateCalendarYearBudgets()"
                                >
                            <option ng-repeat="fundingType in fundingTypes()"
                                    value="{{fundingType.Value}}"
                                    ng-selected="selectedFundingTypeID == fundingType.Value"
                                    ng-bind="fundingType.Text"></option>
                        </select>
                        @Html.ValidationMessageFor(m => m.FundingTypeID)
                    </div>
                </div>

                <div ng-if="!budgetTypeNotSelected()">
                    <div class="form-group">
                        <label class="control-label">2. Select the @ViewDataTyped.FieldDefinitionForCostType.GetFieldDefinitionLabelPluralized() that are relevant to the  @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel().</label>
                        <div style="margin-left: 20px">
                            <label ng-repeat="costType in AngularModel.ProjectRelevantCostTypes | orderBy:'CostTypeName'" style="padding-right: 10px">
                                <input type="checkbox" ng-model="costType.IsRelevant" ng-click="addRemoveCostTypeFromBudgets()" /> <span ng-bind="costType.CostTypeName"></span>
                            </label>
                        </div>
                    </div>
                    <div ng-show="getRelevantCostTypes().length === 0">
                        <p class="systemText">Select at least one @ViewDataTyped.FieldDefinitionForCostType.GetFieldDefinitionLabel() to enter budget information for a @ViewDataTyped.FieldDefinitionForFundingSource.GetFieldDefinitionLabel(). Or you can enter the value of any funding gaps for which you have not identified a @(ViewDataTyped.FieldDefinitionForFundingSource.GetFieldDefinitionLabel()) in the "@(ViewDataTyped.FieldDefinitionForNoFundingSourceIdentified.GetFieldDefinitionLabel())" row.</p>
                    </div>
                    <div ng-show="getRelevantCostTypes().length > 0">
                        <div class="form-group">
                            <div style="display: inline-block; vertical-align: top">
                                <label>3. Identify the @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel()'s  @ViewDataTyped.FieldDefinitionForFundingSource.GetFieldDefinitionLabelPluralized(). You can add more than one.</label>
                            </div>
                            <br />
                            <div class="input-group" style="padding-bottom: 5px; margin-left: 20px">
                                <select ng-model="fundingSourceIDToAdd.Value"
                                        class="selectpicker"
                                        data-live-search="true"
                                        data-container="body"
                                        title="Select a @ViewDataTyped.FieldDefinitionForFundingSource.GetFieldDefinitionLabel() to Add"
                                        data-width="70%">
                                    <option value="null" disabled selected>Select a @ViewDataTyped.FieldDefinitionForFundingSource.GetFieldDefinitionLabel() to Add</option>
                                    <option ng-repeat="fundingSource in filteredFundingSources()"
                                            value="{{fundingSource.FundingSourceID}}"
                                            ng-selected="fundingSourceIDToAdd == fundingSource.FundingSourceID"
                                            ng-bind="fundingSource.DisplayName"
                                            data-tokens="{{fundingSource.DisplayName}} {{fundingSource.OrganizationFullName}} "></option>
                                </select>
                                <button class="btn btn-firma" type="button" style="margin-left: 5px;" ng-click="addRow()">Add</button>
                                <br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">4. Enter amount by each @ViewDataTyped.FieldDefinitionForFundingSource.GetFieldDefinitionLabel() and for each @ViewDataTyped.FieldDefinitionForCostType.GetFieldDefinitionLabel(). </label>
                        </div>
                        <p style="margin-left: 20px" class="systemText" ng-show="getAllUsedFundingSourceIds().length === 0">Add a @ViewDataTyped.FieldDefinitionForFundingSource.GetFieldDefinitionLabel() to start entering budgets</p>
                    </div>
                    <div style="margin-left: 20px" ng-if="budgetVariesByYear()">
                        
                        <table class="table-responsive table-condensed table-bordered" style="display: block; overflow: auto;">
                            <thead>
                                <tr>
                                    <th colspan="2"></th>
                                    <th ng-repeat="calendarYear in calendarYearRange" colspan="2" style="text-align: center;">
                                        <span class="glyphicon glyphicon-plus-sign blue" ng-click="addCalendarYear(calendarYear - 1)" ng-show="$first" title="Add Previous Year '{{calendarYear - 1}}'" alt="Add Previous Year '{{calendarYear - 1}}'" style="cursor: pointer"></span>
                                        <span class="glyphicon glyphicon-minus-sign blue" ng-click="deleteCalendarYear(calendarYear)" ng-show="$first && canDeleteCalendarYear(calendarYear)" title="Remove '{{calendarYear}}'" alt="Remove '{{calendarYear}}'" style="cursor: pointer"></span>
                                        <span ng-bind="calendarYear"></span>
                                        <span class="glyphicon glyphicon-plus-sign blue" ng-click="addCalendarYear(calendarYear + 1)" ng-show="$last" title="Add Next Year '{{calendarYear + 1}}'" alt="Add Next Year '{{calendarYear + 1}}'" style="cursor: pointer"></span>
                                        <span class="glyphicon glyphicon-minus-sign blue" ng-click="deleteCalendarYear(calendarYear)" ng-show="$last && canDeleteCalendarYear(calendarYear)" title="Remove '{{calendarYear}}'" alt="Remove '{{calendarYear}}'" style="cursor: pointer"></span>
                                    </th>
                                    <th></th>
                                </tr>
                                <tr ng-show="shouldShowFundingSources()">
                                    <th style="white-space: nowrap" colspan="2">
                                        <span> @Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForFundingSource)</span>
                                    </th>
                                    <th ng-repeat-start="calendarYear in calendarYearRange" style="text-align: right; vertical-align: top">
                                        <span> @ViewDataTyped.FieldDefinitionForSecuredFunding.GetFieldDefinitionLabel()</span>
                                    </th>
                                    <th ng-repeat-end class="targetedFunding" style="text-align: right; vertical-align: top;">
                                        <span> @ViewDataTyped.FieldDefinitionForTargetedFunding.GetFieldDefinitionLabel()</span>
                                    </th>
                                    <th style="text-align: right">Total</th>
                                </tr>
                            </thead>
                                                        
                            <tbody ng-show="shouldShowFundingSources()" ng-repeat="fundingSourceID in getAllUsedFundingSourceIds() | orderBy:[getFundingSourceNameById]" style="border-top: 2px solid #ddd">
                                <tr class="fundingSourceHeaderRow">
                                    <td style="width: 30px; min-width: 30px;"><span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteFundingSourceRow(fundingSourceID)" style="cursor: pointer;"></span></td>
                                    <td colspan="{{(calendarYearRange.length *2) + 2}}"><label class="control-label"><span ng-bind="getFundingSourceNameById(fundingSourceID)"></span></label></td>
                                </tr>
                                @* Budget Entry Rows *@
                                <tr ng-repeat="projectFundingSourceBudget in getProjectFundingSourceBudgetRowsForFundingSource(fundingSourceID) | orderBy:[getFundingSourceName]">
                                    <td style="width: 30px; min-width: 30px;"></td>
                                    <td ng-bind="getCostTypeName(projectFundingSourceBudget)" />
                                    <td style="text-align: right;" ng-repeat-start="calendarYearBudget in getRelevantCalendarYearBudgets(projectFundingSourceBudget) | orderBy:'CalendarYear'">
                                        <input type="text" ng-model="calendarYearBudget.SecuredAmount" ng-focus="onTextFocus($event)" class="sitkaCurrency form-control" ng-currency />
                                    </td>
                                    <td style="text-align: right;" ng-repeat-end>
                                        <input type="text" ng-model="calendarYearBudget.TargetedAmount" ng-focus="onTextFocus($event)" class="sitkaCurrency form-control" ng-currency />
                                    </td>
                                    <th style="text-align: right"> {{getBudgetTotalForRow(projectFundingSourceBudget) | currency:"$"}}</th>
                                </tr>
                                @* Sum of budgets for funding source*@
                                <tr  ng-show="getRelevantCostTypes().length > 1">
                                    <td style="width: 30px; min-width: 30px;"></td>
                                    <th style="white-space: nowrap">
                                        All @ViewDataTyped.FieldDefinitionForCostType.GetFieldDefinitionLabelPluralized()
                                    </th>
                                    <th style="text-align: right;" ng-repeat-start="calendarYear in calendarYearRange">
                                        <span> {{getBudgetTotalForFundingSourceAndCalendarYear(fundingSourceID, calendarYear, true) | currency:"$"}}</span>
                                    </th>
                                    <th class="targetedFunding" style="text-align: right;" ng-repeat-end>
                                        <span> {{getBudgetTotalForFundingSourceAndCalendarYear(fundingSourceID, calendarYear, false) | currency:"$"}}</span>
                                    </th>
                                    <th style="text-align: right"> {{getBudgetTotalForFundingSource(fundingSourceID) | currency:"$"}}</th>
                                </tr>
                            </tbody>
                            @* No Funding Source Identified Yet entry row*@
                            <tbody style="border-top: 2px solid #ddd">
                                <tr class="fundingSourceHeaderRow">
                                    <td colspan="2">@Html.LabelWithSugarFor(@ViewDataTyped.FieldDefinitionForNoFundingSourceIdentified)</td>
                                    <td ng-repeat-start="calendarYearNoFunding in getNoFundingSourceAmounts() | orderBy:'CalendarYear'"></td>
                                    <td ng-repeat-end style="text-align: right">
                                        <input type="text" ng-model="calendarYearNoFunding.MonetaryAmount" ng-focus="onTextFocus($event)" class="sitkaCurrency form-control" ng-currency />
                                    </td>
                                    <th style="text-align: right"> {{getNoFundingSourceIdentifiedTotalForCalendarYear() | currency:"$"}}</th>
                                </tr>
                            </tbody>
                            @* Sum of all budgets and No Funding Source Identified Yet*@
                            <tbody style="border-top: 2px solid #ddd">
                                <tr>
                                    <td colspan="2">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForEstimatedTotalCost)</td>
                                    <th ng-repeat-start="calendarYear in calendarYearRange" style="text-align: right">
                                        <span ng-show="shouldShowFundingSources()">{{getTotalSecuredForCalendarYear(calendarYear)  | currency:"$"}}</span>
                                    </th>
                                    <th class="targetedFunding" ng-repeat-end style="text-align: right"> {{getTotalTargetedForCalendarYear(true, calendarYear) | currency:"$"}}</th>
                                    <th style="text-align: right"> {{getTotalVariesByYear() | currency:"$"}}</th>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-repeat="projectFundingSourceBudget in getRelevantProjectFundingSourceBudgets()">
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].ProjectID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.ProjectID}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].FundingSourceID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.FundingSourceID}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].CostTypeID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.CostTypeID}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].IsRelevant).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.IsRelevant}}" />
                            <div ng-repeat="calendarYearBudget in getRelevantCalendarYearBudgets(projectFundingSourceBudget) | orderBy:'CalendarYear'">
                                <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].CalendarYearBudgets[1].CalendarYear).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{calendarYearBudget.CalendarYear}}" />
                                <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].CalendarYearBudgets[1].SecuredAmount).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{calendarYearBudget.SecuredAmount}}" />
                                <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].CalendarYearBudgets[1].TargetedAmount).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{calendarYearBudget.TargetedAmount}}" />
                                <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].CalendarYearBudgets[1].IsRelevant).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{calendarYearBudget.IsRelevant}}" />
                            </div>
                        </div>
                        <div ng-repeat="calendarYearNoFunding in AngularModel.NoFundingSourceAmounts | orderBy:'CalendarYear'">
                            <input type="hidden" name="@Html.NameFor(x => x.NoFundingSourceAmounts[0].CalendarYear).ToString().Replace("0", "{{$index}}")" value="{{calendarYearNoFunding.CalendarYear}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.NoFundingSourceAmounts[0].MonetaryAmount).ToString().Replace("0", "{{$index}}")" value="{{calendarYearNoFunding.MonetaryAmount}}" />
                        </div>
                    </div>
                    
                    <div style="margin-left: 20px" ng-if="budgetSameEachYear()">
                        <table class="table-responsive table-condensed table-bordered" style="overflow: auto;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap" colspan="2">
                                        <span ng-show="shouldShowFundingSources()"> @Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForFundingSource)</span>
                                    </th>
                                    <th>
                                        <span ng-show="shouldShowFundingSources()">Each Year @ViewDataTyped.FieldDefinitionForSecuredFunding.GetFieldDefinitionLabel()</span>
                                    </th>
                                    <th class="targetedFunding" >
                                        <span ng-show="shouldShowFundingSources()">Each Year @ViewDataTyped.FieldDefinitionForTargetedFunding.GetFieldDefinitionLabel()</span>
                                    </th>
                                    <th style="text-align: right">Total</th>
                                </tr>
                            </thead>
                            <tbody ng-show="shouldShowFundingSources()" ng-repeat="fundingSourceID in getAllUsedFundingSourceIds() | orderBy:[getFundingSourceNameById]" style="border-top: 2px solid #ddd">
                                <tr class="fundingSourceHeaderRow">
                                    <td style="width: 30px; min-width: 30px;"><span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteFundingSourceRow(fundingSourceID)" style="cursor: pointer;"></span></td>
                                    <td colspan="4"><label class="control-label"><span ng-bind="getFundingSourceNameById(fundingSourceID)"></span></label></td>
                                </tr>
                                @* Budget Entry Rows *@
                                <tr ng-repeat="projectFundingSourceBudget in getProjectFundingSourceBudgetRowsForFundingSource(fundingSourceID) | orderBy:[getFundingSourceName]">
                                    <td style="width: 30px; min-width: 30px;"></td>
                                    <td ng-bind="getCostTypeName(projectFundingSourceBudget)" />
                                    <td style="text-align: right;">
                                        <input type="text" ng-model="projectFundingSourceBudget.SecuredAmount" ng-focus="onTextFocus($event)" class="sitkaCurrency form-control" ng-currency />
                                    </td>
                                    <td style="text-align: right;">
                                        <input type="text" ng-model="projectFundingSourceBudget.TargetedAmount" ng-focus="onTextFocus($event)" class="sitkaCurrency form-control" ng-currency />
                                    </td>
                                    <th style="text-align: right"> {{getBudgetTotalForRowSameEachYear(projectFundingSourceBudget) | currency:"$"}}</th>
                                </tr>
                                @* Sum of budgets for funding source*@
                                <tr  ng-show="getRelevantCostTypes().length > 1">
                                    <td style="width: 30px; min-width: 30px;"></td>
                                    <th style="white-space: nowrap">
                                        All @ViewDataTyped.FieldDefinitionForCostType.GetFieldDefinitionLabelPluralized()
                                    </th>
                                    <th style="text-align: right;">
                                        <span> {{getBudgetTotalForFundingSourceSameEachYear(fundingSourceID, true) | currency:"$"}}</span>
                                    </th>
                                    <th class="targetedFunding" style="text-align: right;">
                                        <span> {{getBudgetTotalForFundingSourceSameEachYear(fundingSourceID, false) | currency:"$"}}</span>
                                    </th>
                                    <th style="text-align: right"> {{getBudgetTotalForFundingSourceSameEachYear(fundingSourceID) | currency:"$"}}</th>
                                </tr>
                            </tbody>
                            @* No Funding Source Identified Yet entry*@
                            <tbody style="border-top: 2px solid #ddd">
                                <tr class="fundingSourceHeaderRow">
                                    <td colspan="2">@Html.LabelWithSugarFor(@ViewDataTyped.FieldDefinitionForNoFundingSourceIdentified)</td>
                                    <td></td>
                                    <td style="text-align: right">
                                        <input type="text" ng-model="noFundingSourceIdentifiedSameEachYear.Value" ng-focus="onTextFocus($event)" class="sitkaCurrency form-control" ng-currency />
                                    </td>
                                    <th style="text-align: right"> {{noFundingSourceIdentifiedSameEachYear.Value | currency:"$"}}</th>
                                </tr>
                            </tbody>
                            @* Sum of all budgets and No Funding Source Identified Yet*@
                            <tbody style="border-top: 2px solid #ddd">
                                <tr>
                                    <td colspan="2">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForEstimatedAnnualOperatingCost)</td>
                                    <th style="text-align: right">
                                        <span ng-show="shouldShowFundingSources()">{{getTotalSecuredSameEachYear()  | currency:"$"}}</span>
                                    </th>
                                    <th class="targetedFunding" style="text-align: right"> {{getTotalTargetedSameEachYear(true) | currency:"$"}}</th>
                                    <th style="text-align: right"> {{getTotalSameEachYear() | currency:"$"}}</th>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-repeat="projectFundingSourceBudget in getRelevantProjectFundingSourceBudgets() | orderBy:[getFundingSourceName]">
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].ProjectID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.ProjectID}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].FundingSourceID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.FundingSourceID}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].CostTypeID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.CostTypeID}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].IsRelevant).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.IsRelevant}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].SecuredAmount).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.SecuredAmount}}" />
                            <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceBudgets[0].TargetedAmount).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.TargetedAmount}}" />
                        </div>
                        <input type="hidden" name="@Html.NameFor(x => x.NoFundingSourceIdentifiedYet).ToString()" value="{{noFundingSourceIdentifiedSameEachYear.Value}}" />
                    </div>
                    <div ng-repeat="projectRelevantCostType in AngularModel.ProjectRelevantCostTypes">
                        <input type="hidden" name="@Html.NameFor(x => x.ProjectRelevantCostTypes[0].CostTypeID).ToString().Replace("0", "{{$index}}")" value="{{projectRelevantCostType.CostTypeID}}" />
                        <input type="hidden" name="@Html.NameFor(x => x.ProjectRelevantCostTypes[0].CostTypeName).ToString().Replace("0", "{{$index}}")" value="{{projectRelevantCostType.CostTypeName}}" />
                        <input type="hidden" name="@Html.NameFor(x => x.ProjectRelevantCostTypes[0].ProjectID).ToString().Replace("0", "{{$index}}")" value="{{projectRelevantCostType.ProjectID}}" />
                        <input type="hidden" name="@Html.NameFor(x => x.ProjectRelevantCostTypes[0].ProjectRelevantCostTypeID).ToString().Replace("0", "{{$index}}")" value="{{projectRelevantCostType.ProjectRelevantCostTypeID}}" />
                        <input type="hidden" name="@Html.NameFor(x => x.ProjectRelevantCostTypes[0].IsRelevant).ToString().Replace("0", "{{$index}}")" value="{{projectRelevantCostType.IsRelevant}}" />
                    </div>

                    <div class="form-group" ng-show="getRelevantCostTypes().length > 0">
                        <p>
                            <label ng-if="budgetVariesByYear()" class="control-label">5. Confirm this summary of your @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel()'s @ViewDataTyped.FieldDefinitionForEstimatedTotalCost.GetFieldDefinitionLabel()</label>
                            <label ng-if="budgetSameEachYear()" class="control-label">5. Confirm this summary of your @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel()'s @ViewDataTyped.FieldDefinitionForEstimatedAnnualOperatingCost.GetFieldDefinitionLabel()</label>
                        </p>
                        <div style="margin-left: 20px; margin-right: 20px;">
                            <table class="table table-bordered table-condensed" style="overflow: scroll;">
                                <tr class="summaryTableHeader">
                                    <td>@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForSecuredFunding)</td>
                                    <td>@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForTargetedFunding)</td>
                                    <td>@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForNoFundingSourceIdentified)</td>
                                    <td ng-if="budgetVariesByYear()">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForEstimatedTotalCost, "TOTAL")</td>
                                    <td ng-if="budgetSameEachYear()">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForEstimatedAnnualOperatingCost, "TOTAL")</td>
                                </tr>
                                <tr ng-if="budgetVariesByYear()" class="summaryTableRow">
                                    <td>{{ getTotalSecuredForCalendarYear() | currency:"$" }}</td>
                                    <td>{{ getTotalTargetedForCalendarYear() | currency:"$" }}</td>
                                    <td>{{ getNoFundingSourceIdentifiedTotalForCalendarYear() | currency:"$"}}</td>
                                    <td>{{ getTotalVariesByYear() | currency:"$"}}</td>
                                </tr>
                                <tr ng-if="budgetSameEachYear()" class="summaryTableRow">
                                    <td>{{ getTotalSecuredSameEachYear() | currency:"$" }}</td>
                                    <td>{{ getTotalTargetedSameEachYear() | currency:"$" }}</td>
                                    <td>{{ getTotalNoFundingIdentifiedSameEachYear() | currency:"$"}}</td>
                                    <td>{{ getTotalSameEachYear() | currency:"$"}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="@Html.NameFor(x => x.FundingTypeID)" value="{{selectedFundingTypeID}}" />
            }
        </div>
    </div>
</div>
