@*-----------------------------------------------------------------------
<copyright file="EditProjectFundingSourceBudgets.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirmaModels.Models
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.ProjectFundingSourceBudget.EditProjectFundingSourceBudget
<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function() {
        angular.module("ProjectFirmaApp").factory("angularModelAndViewData",
            function() {
                return {
                    AngularModel: @Html.Raw(JObject.FromObject(Model.ViewModelForAngular)),
                    AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
                };
            });
        angular.bootstrap(jQuery("#EditFundingSourceBudgetsApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");
        jQuery(".modal").on("hidden.bs.modal",
            function() {
                jQuery(".bootstrap-select.open").removeClass("open");
            });
    })
    // ]]>

</script>
<style>
    .table > tbody > tr.secondRow > td {
        border-top: none
    }

    .table > tbody > tr > th {
        border-top: none
    }

    .funding td:first-child, .funding th:first-child {
        width: 30px;
    }

    .summaryTableHeader {
        background-color: #666666;
    }

    .summaryTableHeader label, .summaryTableHeader span {
        color: #FFFFFF;
        font-weight: normal;
    }

    .summaryTableRow {
        background-color: #f9f9f9;
    }

</style>

<div class="row">
    <div class="col-xs-12">
        <div class="validationError">
            @Html.ValidationSummary()
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-app="ProjectFirmaApp" id="EditFundingSourceBudgetsApp" ng-controller="ProjectFundingSourceBudgetController" style="max-height: 600px;">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label class="control-label">
                        1. @Html.Label("Does the " + @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() + " budget vary by year or is it the same?") <sup><span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></sup>
                    </label>
                    <div class="input-group" style="text-align: right;">
                        <select ng-model="selectedFundingTypeID"
                                class="selectpicker"
                                data-container="body"
                                data-width="100%">
                            @* <option value="null" disabled selected></option> *@
                            <option ng-repeat="fundingType in fundingTypes()"
                                    value="{{fundingType.Value}}"
                                    ng-selected="selectedFundingTypeID == fundingType.Value"
                                    ng-bind="fundingType.Text"></option>
                        </select>
                        @Html.ValidationMessageFor(m => m.ViewModelForAngular.FundingTypeID)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">2. Identify your @(FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel())'s @FieldDefinitionEnum.FundingSource.ToType().GetFieldDefinitionLabelPluralized().</label>
                    <div class="input-group">
                        <select ng-model="FundingSourceIDToAdd"
                                class="selectpicker"
                                data-live-search="true"
                                data-container="body"
                                title="Select a @FieldDefinitionEnum.FundingSource.ToType().GetFieldDefinitionLabel() to Add"
                                data-width="100%">
                            <option value="null" disabled selected></option>
                            <option ng-repeat="fundingSource in filteredFundingSources()"
                                    value="{{fundingSource.FundingSourceID}}"
                                    ng-selected="FundingSourceIDToAdd == fundingSource.FundingSourceID"
                                    ng-bind="fundingSource.DisplayName"
                                    data-tokens=" {{fundingSource.DisplayName}}  {{fundingSource.OrganizationFullName}} "></option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-firma" type="button" ng-click="addRow()">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </span>
                    </div>
                </div>

                <label class="control-label">3. Enter amount provided by each @FieldDefinitionEnum.FundingSource.ToType().GetFieldDefinitionLabel().</label>
                <table class="table dialogFormLayout funding table-condensed" style="margin-top: 20px; margin-bottom: 0;">
                    <tbody>
                        <tr>
                            <th></th>
                            <th ng-show="AngularModel.ProjectFundingSourceBudgets.length > 0" style="white-space: nowrap">@Html.Raw(Html.LabelWithSugarFor(FieldDefinitionEnum.FundingSource.ToType()))</th>
                            <th style="text-align: right; padding-right: 17px;" ng-if="budgetVariesByYear() || budgetTypeNotSelected()" ng-bind="@("getYearRange()")"></th>
                            <th style="text-align: right; padding-right: 17px;" ng-if="budgetSameEachYear()">Each Year</th>
                        </tr>
                        <tr ng-repeat-start="projectFundingSourceBudget in AngularModel.ProjectFundingSourceBudgets | orderBy:[getFundingSourceName, getProjectName]">
                            <td>
                                <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteRow(projectFundingSourceBudget)" style="cursor: pointer"></span>
                            </td>
                            <td>
                                <span ng-bind="@("getFundingSourceName(projectFundingSourceBudget)")"></span>
                                <span style="font-style: italic"> - @FieldDefinitionEnum.SecuredFunding.ToType().GetFieldDefinitionLabel()</span>
                            </td>
                            <td style="text-align: right; padding-right: 17px;">
                                <input style="float: right; text-align: right; width: auto;" type="text" ng-model="projectFundingSourceBudget.SecuredAmount" class="sitkaCurrency form-control" ng-currency />
                            </td>
                        </tr>
                        <tr ng-repeat-end class="secondRow">
                            <td></td>
                            <td>
                                <span ng-bind="@("getFundingSourceName(projectFundingSourceBudget)")"></span>
                                <span style="font-style: italic"> - @FieldDefinitionEnum.TargetedFunding.ToType().GetFieldDefinitionLabel()</span>
                            </td>
                            <td style="text-align: right; padding-right: 17px;">
                                <input style="float: right; text-align: right; width: auto;" type="text" ng-model="projectFundingSourceBudget.TargetedAmount" class="sitkaCurrency form-control" ng-currency />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table dialogFormLayout funding table-condensed" style="margin-bottom: 0px; ">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>@Html.LabelWithSugarFor(FieldDefinitionEnum.NoFundingSourceIdentified.ToType())</td>
                        <td style="text-align: right; padding-right: 17px;">
                            <input type="text" style="text-align: right; width: auto;" ng-model="AngularModel.NoFundingSourceIdentifiedYet" class="sitkaCurrency form-control" ng-currency-allow-negative/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td ng-if="budgetVariesByYear() || budgetTypeNotSelected()">@Html.LabelWithSugarFor(FieldDefinitionEnum.EstimatedTotalCost.ToType())</td>
                        <td ng-if="budgetSameEachYear()">@Html.LabelWithSugarFor(FieldDefinitionEnum.EstimatedAnnualOperatingCost.ToType())</td>
                        <td style="text-align: right; font-weight: bold; padding-right: 17px;">
                            {{getTotalEstimatedCost() | currency:"$"}}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div style="margin: 10px 0px; padding: 5px 10px;">
                    <p>
                        <label ng-if="budgetVariesByYear() || budgetTypeNotSelected()" class="control-label">4. Confirm this summary of your @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()'s @FieldDefinitionEnum.EstimatedTotalCost.ToType().GetFieldDefinitionLabel()</label>
                        <label ng-if="budgetSameEachYear()" class="control-label">4. Confirm this summary of your @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()'s @FieldDefinitionEnum.EstimatedAnnualOperatingCost.ToType().GetFieldDefinitionLabel()</label>
                    </p>
                    <div>
                        <table class="table table-bordered table-condensed" style="overflow: scroll;">
                            <tr class="summaryTableHeader">
                                <td>@Html.LabelWithSugarFor(FieldDefinitionEnum.SecuredFunding.ToType())</td>
                                <td>@Html.LabelWithSugarFor(FieldDefinitionEnum.TargetedFunding.ToType())</td>
                                <td>@Html.LabelWithSugarFor(FieldDefinitionEnum.NoFundingSourceIdentified.ToType())</td>
                                <td ng-if="budgetVariesByYear() || budgetTypeNotSelected()">@Html.LabelWithSugarFor(FieldDefinitionEnum.EstimatedTotalCost.ToType(), "TOTAL")</td>
                                <td ng-if="budgetSameEachYear()">@Html.LabelWithSugarFor(FieldDefinitionEnum.EstimatedAnnualOperatingCost.ToType(), "TOTAL")</td>
                            </tr>
                            <tr class="summaryTableRow">
                                <td>{{ getSecuredTotal() | currency:"$" }}</td>
                                <td>{{ getTargetedTotal() | currency:"$" }}</td>
                                <td>{{ AngularModel.NoFundingSourceIdentifiedYet | currency:"$"}}</td>
                                <td>{{ getTotalEstimatedCost() | currency:"$"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <input type="hidden" name="@Html.NameFor(x => x.ViewModelForAngular.FundingTypeID)" value="{{selectedFundingTypeID}}" />
                <input type="hidden" name="@Html.NameFor(x => x.ViewModelForAngular.NoFundingSourceIdentifiedYet)" value="{{AngularModel.NoFundingSourceIdentifiedYet}}" />
                <div ng-repeat="projectFundingSourceBudget in AngularModel.ProjectFundingSourceBudgets | orderBy:[getFundingSourceName, getProjectName]">
                    <input type="hidden" name="@Html.NameFor(x => x.ViewModelForAngular.ProjectFundingSourceBudgets[0].ProjectID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.ProjectID}}" />
                    <input type="hidden" name="@Html.NameFor(x => x.ViewModelForAngular.ProjectFundingSourceBudgets[0].FundingSourceID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.FundingSourceID}}" />
                    <input type="hidden" name="@Html.NameFor(x => x.ViewModelForAngular.ProjectFundingSourceBudgets[0].TargetedAmount).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.TargetedAmount}}" />
                    <input type="hidden" name="@Html.NameFor(x => x.ViewModelForAngular.ProjectFundingSourceBudgets[0].SecuredAmount).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceBudget.SecuredAmount}}" />
                </div>
            }
        </div>
    </div>
</div>
