@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@inherits ProjectFirma.Web.Views.CostParameterSet.Detail
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div>
    @ViewDataTyped.FirmaPage.FirmaPageContentHtmlString
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditCostParameterSet, "Edit", ViewDataTyped.HasEditPermissions) Cost Parameters</h2>
    </div>
    <div class="panel-body">
        <p>
            <span class="stylizeLikeTH">@Html.LabelWithSugarFor(FieldDefinition.GlobalInflationRate)</span>
            <span>@ViewDataTyped.CostParameterSet.InflationRate.ToStringPercent()</span>
        </p>
        <p>
            <span class="stylizeLikeTH">@Html.LabelWithSugarFor(FieldDefinition.CurrentYearForPVCalculations)</span>
            <span>@ViewDataTyped.CostParameterSet.CurrentYearForPVCalculations</span>
        </p>
        <p>
            <span class="stylizeLikeTH">Comment:</span>
            <span>@ViewDataTyped.CostParameterSet.Comment</span>
        </p>
    </div>
</div>