@*-----------------------------------------------------------------------
<copyright file="Basics.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.ProposedProject.Basics

@section JavascriptAndStylesContent
{   
    <style>
        .bootstrap-select .disabled a, .bootstrap-select li.dropdown-header {
            cursor: default !important;
            font-size: 15px !important;
        }

        .bootstrap-select li:not(.disabled) > a {
            padding-left: 42px !important;
            font-size: 13px !important;
        }

        .bootstrap-select .dropdown-toggle {
            font-size: 13px !important;
            border-radius: 0 !important;
            border: 1px solid black;
        }

        .bootstrap-select {
            width: 100% !important;
        }

        .bootstrap-select .disabled a:hover, .bootstrap-select li.dropdown-header:hover {
            background-color: lightgray !important;
            color: gray !important;
        }

        .row {
            margin-top: 5px;
        }

        .dropdown-menu {
            background-color: #ffffff !important;
        }
    </style>
}
<p>Add your Proposed Project’s basic information here.</p>
<hr />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.ProposedTaxonomyTierOneID, 600, MultiTenantHelpers.GetTaxonomyTierOneDisplayNameForProject())</div>
        <div class="col-md-6">
            <div>
                @Html.DropDownListFor(x => x.ProposedTaxonomyTierOneID, ViewDataTyped.TaxonomyTierOnes, new { style = "display: inline !important; height: 0; width: 1px; border:0; box-shadow:none; color:white; overflow:hidden; margin-right:-1px; background-color: green;"})
                @Html.ValidationMessageFor(m => m.ProposedTaxonomyTierOneID)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.ProjectName)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.ProjectName, new { style = "width:100%" })
            @Html.ValidationMessageFor(m => m.ProjectName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.ProjectDescription)</div>
        <div class="col-md-8">
            @Html.TextAreaWithMaxLengthFor(m => m.ProjectDescription, new TextAreaForExtensions.TextAreaDimensions(null, 8), null)
            @Html.ValidationMessageFor(m => m.ProjectDescription)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.LeadImplementerOrganizationID)</div>
        <div class="col-md-8">
            <select name="@Html.NameFor(m => m.LeadImplementerOrganizationID)" id="@Html.IdFor(m => m.LeadImplementerOrganizationID)">
                @foreach (var org in ViewDataTyped.Organizations)
                {
                    <option value="@org.OrganizationID">
                        @org.OrganizationName
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(m => m.LeadImplementerOrganizationID)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.PrimaryContactPerson)</div>
        <div class="col-md-8">
            <select name="@Html.NameFor(m => m.PrimaryContactPerson)" id="@Html.IdFor(m => m.PrimaryContactPerson)">
                <option value="">Use Lead Implementer's Primary Contact</option>
                @foreach (var person in ViewDataTyped.PrimaryContactPeople)
                {
                    <option value="@person.PersonID">
                        @person.FullNameFirstLastAndOrg
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(m => m.PrimaryContactPerson)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.FundingTypeID)</div>
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.FundingTypeID, ViewDataTyped.FundingTypes, new { onchange = "displaySelectedFundingTypeFields()" })
            @Html.ValidationMessageFor(m => m.FundingTypeID)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 cap-label">@Html.LabelWithSugarFor(m => m.EstimatedTotalCost)</div>
        <div class="col-md-2">
            @Html.EditorFor(m => m.EstimatedTotalCost)
            @Html.ValidationMessageFor(m => m.EstimatedTotalCost)
        </div>
    </div><div class="row">
        <div class="col-md-4 col-lg-4 cap-label">@Html.LabelWithSugarFor(m => m.SecuredFunding)</div>
        <div class="col-md-4">
            @Html.EditorFor(m => m.SecuredFunding)
            @Html.ValidationMessageFor(m => m.SecuredFunding)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-4 op-label">@Html.LabelWithSugarFor(m => m.EstimatedAnnualOperatingCost)</div>
        <div class="col-md-2">
            @Html.EditorFor(m => m.EstimatedAnnualOperatingCost)
            @Html.ValidationMessageFor(m => m.EstimatedAnnualOperatingCost)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.PlanningDesignStartYear)</div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.PlanningDesignStartYear, ViewDataTyped.StartYearRange)
            @Html.ValidationMessageFor(m => m.PlanningDesignStartYear)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.ImplementationStartYear)</div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.ImplementationStartYear, ViewDataTyped.StartYearRange)
            @Html.ValidationMessageFor(m => m.ImplementationStartYear)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">@Html.LabelWithSugarFor(m => m.CompletionYear)</div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.CompletionYear, ViewDataTyped.CompletionYearRange)
            @Html.ValidationMessageFor(m => m.CompletionYear)
        </div>
    </div>    

    @Html.HiddenFor(m => m.ProposedProjectID)

    <hr/>
    <div class="pull-right">
        <button type="submit" class="btn btn-xs btn-firma" value="false" name="@Html.NameFor(x => x.AutoAdvance)">Save</button>
        <button type="submit" class="btn btn-xs btn-firma" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Save &amp; Continue</button>
    </div>
}

<script type="text/javascript">
    // <![CDATA[
    function displaySelectedFundingTypeFields() {
        var fundingTypeDropdown = jQuery("#@Html.IdFor(x => x.FundingTypeID)");
        if (fundingTypeDropdown.val() == 1) {
            jQuery("#@Html.IdFor(x => x.EstimatedTotalCost)").prop('disabled', false);
            jQuery("#@Html.IdFor(x => x.SecuredFunding)").prop('disabled', false);
            jQuery("#@Html.IdFor(x => x.EstimatedAnnualOperatingCost)").prop('disabled', true);
            jQuery(".op-label").css("color", "#666");
            jQuery(".cap-label").css("color", "");
        }
        else if (fundingTypeDropdown.val() == 2) {
            jQuery("#@Html.IdFor(x => x.EstimatedTotalCost)").prop('disabled', true);
            jQuery("#@Html.IdFor(x => x.SecuredFunding)").prop('disabled', true);
            jQuery("#@Html.IdFor(x => x.EstimatedAnnualOperatingCost)").prop('disabled', false);
            jQuery(".op-label").css("color", "");
            jQuery(".cap-label").css("color", "#666");

        }
    }

    jQuery(document).ready(function ()
    {
        displaySelectedFundingTypeFields();
        jQuery("#@Html.IdFor(x => x.ProposedTaxonomyTierOneID)").selectpicker(
            {
                size: 12, title: 'Select the @MultiTenantHelpers.GetTaxonomyTierOneDisplayNameForProject()', width: '400px'
            });
        jQuery("#@Html.IdFor(x => x.LeadImplementerOrganizationID)").selectpicker(
            {
                size: 12, liveSearch: true, width: 'auto', liveSearchPlaceholder: 'Search for an organization', size: 5, dropupAuto: false
            });
        jQuery("#@Html.IdFor(x => x.PrimaryContactPerson)").selectpicker(
            {
                size: 12, liveSearch: true, width: 'auto', liveSearchPlaceholder: 'Search for a user by name or organization', size: 5, dropupAuto: false
            });
        HookupCheckIfFormIsDirty(undefined, ".submitProposal");
    });
    // ]]>
</script>
