@*-----------------------------------------------------------------------
<copyright file="EditAssessment.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@inherits ProjectFirma.Web.Views.ProposedProject.EditAssessment

@using (Html.BeginForm())
{
    <p>
        Answer the Y/N questions below for your Project.
    </p>
    <hr />

    var i = 0;
    foreach (var assessmentGoal in ViewDataTyped.AssessmentGoals.OrderBy(x => x.AssessmentGoalNumber))
    {
        <div class="row" style="height: 80px">
            <h1>Goal @assessmentGoal.AssessmentGoalNumber: @assessmentGoal.AssessmentGoalTitle</h1>
            <p><i>@assessmentGoal.AssessmentGoalDescription</i></p>
        </div>

        foreach (var assessmentSubGoal in assessmentGoal.AssessmentSubGoals)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Metric @assessmentSubGoal.AssessmentSubGoalNumber: @assessmentSubGoal.AssessmentSubGoalTitle </h2>
                    <p><i>@assessmentSubGoal.AssessmentSubGoalDescription</i></p>
                </div>
                <div class="panel-body">

                    @foreach (var assessmentQuestion in assessmentSubGoal.ActiveQuestions)
                    {
                        <div class="row" style="margin: 5px 0">
                            <div class="col-md-9" style="padding-right: 20px">
                                @assessmentQuestion.AssessmentQuestionText
                            </div>
                            <div class="col-md-3">
                                <select style="width: 175px" name="@Html.NameFor(x => x.ProposedProjectAssessmentQuestionSimples[i].Answer)">
                                    @foreach (var answer in BooleanFormats.GetYesNoSelectList())
                                    {
                                        <option value="@answer.Value" @Model.ProposedProjectAssessmentQuestionSimples[i].Answer.ToString().Equals(answer.Value, StringComparison.InvariantCultureIgnoreCase).ToSelectedOrEmpty()>@answer.Text</option>
                                    }
                                </select>
                                @Html.HiddenFor(viewModel => viewModel.ProposedProjectAssessmentQuestionSimples[i].AssessmentQuestionID)
                                @Html.HiddenFor(viewModel => viewModel.ProposedProjectAssessmentQuestionSimples[i].ProposedProjectID)
                                @{ i++;}
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }

    <div id="bottomOfForm" style="margin: 5px 0;">
    </div>

    <hr />
    <div class="pull-right">
        <button class="btn btn-xs btn-firma" type="submit">Save</button>
    </div>
}

<script type="text/javascript">
    // <![CDATA[

    jQuery(document).ready(function () {

        HookupCheckIfFormIsDirty(undefined, ".submitProposal");
    });

    function saveForm() {
        var form = jQuery("form");
        // Do not submit if the form
        // does not pass client side validation

        if (!form.valid()) {
            return false;
        }

        form.submit();
    }

    // ]]>
</script>
