@using ProjectFirma.Web.Models
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using MoreLinq
@inherits ProjectFirma.Web.Views.ProposedProject.EditTransportationAssessment

@using (Html.BeginForm())
{
    <p>
        Answer the Y/N questions below for your @Html.LabelWithFieldDefinitionFor(FieldDefinition.ProjectIsATransportationProject, "Transportation Project").
    </p>
    <hr />

    var i = 0;
    foreach (var transportationGoal in ViewDataTyped.TransportationGoals.OrderBy(x => x.TransportationGoalNumber))
    {
        <div class="row" style="height: 80px">
            <h1>Goal @transportationGoal.TransportationGoalNumber: @transportationGoal.TransportationGoalTitle</h1>
            <p><i>@transportationGoal.TransportationGoalDescription</i></p>
        </div>

        foreach (var transportationSubGoal in transportationGoal.TransportationSubGoals)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Metric @transportationSubGoal.TransportationSubGoalNumber: @transportationSubGoal.TransportationSubGoalTitle </h2>
                    <p><i>@transportationSubGoal.TransportationSubGoalDescription</i></p>
                </div>
                <div class="panel-body">

                    @foreach (var transportationQuestion in transportationSubGoal.ActiveQuestions)
                    {
                        <div class="row" style="margin: 5px 0">
                            <div class="col-md-9" style="padding-right: 20px">
                                @transportationQuestion.TransportationQuestionText
                            </div>
                            <div class="col-md-3">
                                <select style="width: 175px" name="@Html.NameFor(x => x.ProposedProjectTransportationQuestionSimples[i].Answer)">
                                    @foreach (var answer in BooleanFormats.GetYesNoSelectList())
                                    {
                                        <option value="@answer.Value" @Model.ProposedProjectTransportationQuestionSimples[i].Answer.ToString().Equals(answer.Value, StringComparison.InvariantCultureIgnoreCase).ToSelectedOrEmpty()>@answer.Text</option>
                                    }
                                </select>
                                @Html.HiddenFor(viewModel => viewModel.ProposedProjectTransportationQuestionSimples[i].TransportationQuestionID)
                                @Html.HiddenFor(viewModel => viewModel.ProposedProjectTransportationQuestionSimples[i].ProposedProjectID)
                                @{ i++;}
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }

    <div id="bottomOfForm" style="margin: 5px 0;">
        <div class="pull-right">
            <button class="btn btn-xs btn-trpa" type="button" onclick="saveForm()">Save</button>
        </div>
        <div>&nbsp;</div>
    </div>
}

<script type="text/javascript">
    // <![CDATA[

    jQuery(document).ready(function () {

        HookupCheckIfFormIsDirty(undefined, ".submitProposal");
    });

    function saveForm() {
        var form = jQuery("form");
        // Do not submit if the form
        // does not pass client side validation

        if (!form.valid()) {
            return false;
        }

        form.submit();
    }

    // ]]>
</script>
