@*-----------------------------------------------------------------------
<copyright file="ExpectedPerformanceMeasureValues.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
<date>Wednesday, February 22, 2017</date>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Views.Shared.PerformanceMeasureControls
@inherits ProjectFirma.Web.Views.ProposedProject.ExpectedPerformanceMeasureValues

@section JavascriptAndStylesContent
{
    <script src="@Url.Content("~/Views/Shared/PerformanceMeasureControls/PerformanceMeasureExpectedController.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
}
<p>
    To enter your project's anticipated accomplishments:
    <ul>
        <li>Add the appropriate @MultiTenantHelpers.GetPerformanceMeasureNamePluralized() to the list below</li>
        <li>Select Subcategory options for each @MultiTenantHelpers.GetPerformanceMeasureName() in order to more accurately describe the anticipated accomplishment</li>
        <li>Enter the anticipated accomplishment value if known</li>
    </ul>
    Once a @MultiTenantHelpers.GetPerformanceMeasureName() is added, click the <span class="helpicon glyphicon glyphicon-question-sign blue" title="Help"></span>
    icon to view reporting guidance on that @MultiTenantHelpers.GetPerformanceMeasureName().
</p>
<hr />
@{ Html.RenderRazorSitkaPartial<EditPerformanceMeasureExpected, EditPerformanceMeasureExpectedViewData, EditPerformanceMeasureExpectedViewModel>(ViewDataTyped.EditPerformanceMeasureExpectedViewData, Model); }

<div id="ExplanationForNoMeasuresDiv" style="margin-top: 20px">
    <p>If no @MultiTenantHelpers.GetPerformanceMeasureNamePluralized() are included, please explain why:</p>
    <div style="width: 600px">
        @Html.TextAreaWithMaxLengthFor(m => m.PerformanceMeasureNotes, new TextAreaForExtensions.TextAreaDimensions(null, 2), null)
    </div>
</div>

<div style="margin: 5px 0;">    
</div>

<hr />
<div class="pull-right">
    <button class="btn btn-xs btn-firma" type="button" onclick="saveForm()">Save</button>
</div>

@*This is intentionally down here because the document ready needs to be after the EditProjectLocation document ready*@
<script type="text/javascript">
    // <![CDATA[

    jQuery(document).ready(function () {       
        HookupCheckIfFormIsDirty(undefined, ".submitProposal");
    });

    function saveForm() {
        var form = jQuery("form");
        // Do not submit if the form
        // does not pass client side validation

        if (!form.valid()) {
            return false;
        }

        var noMeasuresDiv = jQuery("#ExplanationForNoMeasuresDiv");
        noMeasuresDiv.appendTo(form);

        form.submit();
    }

    // ]]>
</script>

