@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Views.ProjectDocument

@inherits Edit
    
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.DisplayName)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.TextBoxFor(m => m.DisplayName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.DisplayName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.Description)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.TextAreaWithMaxLengthFor(m => m.Description, new TextAreaForExtensions.TextAreaDimensions(null, 4), null, new List<string>
                {"form-control"})
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
    </div>
}
