@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Areas.Sustainability.Views.Shared.SiteLayout

<!DOCTYPE html>
<html>
<head>
    <title>Sustainability Dashboard | @ViewDataTyped.PageTitle</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @{ Html.RenderRazorSitkaPartial<LakeTahoeInfoIncludes>(); }

    <link rel="apple-touch-icon" sizes="57x57" href="/Areas/Sustainability/Content/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Areas/Sustainability/Content/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Areas/Sustainability/Content/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Areas/Sustainability/Content/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Areas/Sustainability/Content/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Areas/Sustainability/Content/favicon/apple-icon-120x120.png">
    <link rel="icon" type="image/png" href="/Areas/Sustainability/Content/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Areas/Sustainability/Content/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/Areas/Sustainability/Content/favicon/favicon-16x16.png" sizes="16x16">

    <link href='@Url.Content("~/Areas/Sustainability/Content/trpa-typography.min.css")' rel='stylesheet' type='text/css' media='all' id='trpa-typography' />
    <link href='@Url.Content("~/Areas/Sustainability/Content/trpa-screen.min.css")' type='text/css' media='all' rel='stylesheet' id='trpa-screen' />
    <link href='@Url.Content("~/Areas/Sustainability/Content/trpa-bootstrap-overrides.min.css")' type='text/css' rel='stylesheet' media='all' />

    <script type='text/javascript' src='//use.typekit.net/dpg0wpw.js?ver=1.0'></script>

    <script src="@Url.Content("~/Areas/Sustainability/content/js/plugins.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Sustainability/content/js/global.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        try {
            Typekit.load();
        }
        catch (e) {
        }
    </script>

    <style>
        #dashboardAdmin {
            width: 100%;
            top: 0;
            z-index: 1000;
            padding-right: 5px;
        }

        .dashboardButton {
            border: none;
            vertical-align: top;
        }
    </style>

</head>

<body class="sustainability-dashboard">
    @RenderSection("DashboardHeadContent", false)
    <div class="SiteLayout">
        @RenderBody()
    </div>
    <footer class="footer @ViewDataTyped.FooterAdditionalClass">
        <div class="row">
            <div class="large-12 columns text-center">
                @{ Html.RenderRazorSitkaPartial<FooterContent>(); }
            </div>
        </div>
    </footer>

    @{ Html.RenderRazorSitkaPartial<LakeTahoeInfoLateLoadingIncludes>(); }
</body>
</html>