@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@using LtInfo.Common.HtmlHelperExtensions
@using Microsoft.Web.Mvc
@inherits ProjectFirma.Web.Views.Program.Edit
@using (Html.BeginForm<ProgramController>(x => x.Edit(Model.ProgramID, null)))
{
    <style>
        #CkEditorForAssociatedProgramsHtmlString
        {
            height: 150px;
            overflow-y: auto;
        }
    </style>
    
    <div class="container-fluid container-fluid-dialog-form">
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithFieldDefinitionFor(m => m.ProgramName):</div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.ProgramName)
                @Html.ValidationMessageFor(m => m.ProgramName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithFieldDefinitionFor(m => m.FocusAreaID):</div>
            <div class="col-md-9">
                @if (ViewDataTyped.HasProjects)
                {
                    @ViewDataTyped.FocusAreaDisplayName
                    ;
                    @Html.HiddenFor(x => x.FocusAreaID)
                }
                else
                {
                    @Html.DropDownListFor(m => m.FocusAreaID, ViewDataTyped.FocusAreas)
                    @Html.ValidationMessageFor(m => m.FocusAreaID)
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithFieldDefinitionFor(m => m.AssociatedProgramsHtmlString):</div>
            <div class="col-md-9">
                <p>Content added to the Associated Programs field will display on the EIP Results by Program page when visitors select this program.</p>
                @Html.CkEditorFor(x => x.AssociatedProgramsHtmlString, ViewDataTyped.CkEditorToolbar, true, false, null)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.ProgramID)

    <script type="text/javascript" src="/Scripts/CustomScripts/CkEditorReady.js"></script>
}