@*-----------------------------------------------------------------------
<copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views
@inherits ProjectFirma.Web.Views.Classification.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        .classificationHeader
        {
            background-color: @ViewDataTyped.Classification.ThemeColor;
            margin-top: 10px;
            border-radius: 10px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;

        }
        .classificationHeader h1, .classificationHeader h3, .classificationHeader p
        {
            color: white;

        }

        .classificationHeader h1
        {
            font-size: 42px;
            margin-top: 0;
            margin-bottom: 5px;
        }

        .classificationHeader .glyphicon-edit
        {
            color: white;
            font-size: 15px;
        }

        .borderCell
        {
            border-right: 2px solid black;
            text-align: center;
        }

        .firmaChartControls
        {
            margin-top: 6px;
            margin-right: 6px;
        }
    </style>
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all @ViewDataTyped.ClassificationDisplayNamePluralized</a>
</div>


<div class="row classificationHeader">
    <div class="col-lg-7 col-sm-6 col-xs-12">
        <div style="padding: 20px;">
            <h1>
                <span style="vertical-align: top">
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditClassificationUrl, string.Format("Edit {0} - {1}", ViewDataTyped.ClassificationDisplayName, ViewDataTyped.Classification.GetDisplayName()), ViewDataTyped.UserHasClassificationManagePermissions)
                </span>
                @ViewDataTyped.Classification.GetDisplayName()
            </h1>
            <p style="border-top: 2px solid white; margin-top: 5px; margin-bottom: 5px; padding-top: 10px">@ViewDataTyped.Classification.ClassificationDescription</p>
            <p style="font-style: italic; margin-top: 5px; margin-bottom: 5px; padding-top: 10px">@ViewDataTyped.Classification.GoalStatement</p>
        </div>

    </div>
    <div class="col-lg-5 col-sm-6 col-xs-12">
        <div style="margin-right: 10px">
        @if (ViewDataTyped.Classification.KeyImageFileResource != null)
        {
            <a class="gallery" href="@ViewDataTyped.Classification.KeyImageFileResource.GetFileResourceUrl()"><img src="@ViewDataTyped.Classification.GetKeyImageUrlLarge()" style="max-height: 250px; padding: 20px 10px; margin: auto; display: block"/></a>
        }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()</h2>
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.ProjectCustomDefaultGridSpec, ViewDataTyped.ProjectCustomDefaultGridName, ViewDataTyped.ProjectCustomDefaultGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
