@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Classification.Edit
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelFor(m => m.DisplayName, "Display Name")
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.DisplayName, new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.DisplayName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelFor(m => m.ClassificationDescription, "Description")
            </div>
            <div class="col-sm-9">
                @Html.TextAreaWithMaxLengthFor(m => m.ClassificationDescription, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                @Html.ValidationMessageFor(m => m.ClassificationDescription)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelFor(m => m.GoalStatement, "Goal Statement")
            </div>
            <div class="col-sm-9">
                @Html.TextAreaWithMaxLengthFor(m => m.GoalStatement, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                @Html.ValidationMessageFor(m => m.GoalStatement)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.ClassificationID)
}
