@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Areas.Threshold.Views.ThresholdEvaluation.EditStatusDetails

@if (ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.IsManagementOrPolicyStatement)
{
    <p>Confidence is not applicable for @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.FullDisplayName, since it is a @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdStandardType.ThresholdStandardTypeDisplayName standard.</p>
}
else
{
    using (Html.BeginForm())
    {
        <div class="container-fluid container-fluid-dialog-form" style="max-height: 600px; overflow-y: auto">
            <div class="col-header">@Html.LabelWithFieldDefinitionFor(x => x.StatusRationale, "Status Rationale"):</div>
            <div>
                @Html.TextAreaWithMaxLengthFor(m => m.StatusRationale, new TextAreaForExtensions.TextAreaDimensions(null, 5), null)
                @Html.ValidationMessageFor(m => m.StatusRationale)
            </div>
            <div class="col-header">@Html.LabelWithFieldDefinitionFor(x => x.TrendRationale, "Trend Rationale"):</div>
            <div>
                @Html.TextAreaWithMaxLengthFor(m => m.TrendRationale, new TextAreaForExtensions.TextAreaDimensions(null, 5), null)
                @Html.ValidationMessageFor(m => m.TrendRationale)
            </div>
            <div class="col-header">Confidence</div>
            <div style="margin-left: 30px">
                <div class="col-header">@Html.LabelWithFieldDefinitionFor(x => x.ConfidenceStatus, "Confidence of Status"):</div>
                <div>
                    @Html.TextAreaWithMaxLengthFor(m => m.ConfidenceStatus, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                    @Html.ValidationMessageFor(m => m.ConfidenceStatus)
                </div>
                <div class="col-header">@Html.LabelWithFieldDefinitionFor(x => x.ConfidenceStatus, "Confidence of Trend"):</div>
                <div>
                    @Html.TextAreaWithMaxLengthFor(m => m.ConfidenceTrend, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                    @Html.ValidationMessageFor(m => m.ConfidenceTrend)
                </div>
                <div class="col-header">@Html.LabelWithFieldDefinitionFor(x => x.ConfidenceStatus, "Overall Confidence"):</div>
                <div>
                    @Html.TextAreaWithMaxLengthFor(m => m.ConfidenceOverall, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                    @Html.ValidationMessageFor(m => m.ConfidenceOverall)
                </div>
            </div>
        </div>
    }
}