@*-----------------------------------------------------------------------
    <copyright file="ProjectCustomAttributes.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.DisplayProjectCustomAttributes

@functions 
{
    /// <summary>
    /// Mostly just here for debugging
    /// </summary>
    private static string GetSingleProjectCustomAttributeValue(IProjectCustomAttribute projectCustomAttribute)
    {
        var projectCustomAttributeValues = projectCustomAttribute.GetCustomAttributeValues().ToList();
        return projectCustomAttributeValues.Single().AttributeValue;
    }
}

@foreach (var projectCustomAttributeGroup in ViewDataTyped.ProjectCustomAttributeGroups)
{
    if (ViewDataTyped.ProjectCustomAttributeGroups.Count > 1)
    {
        <h4>@projectCustomAttributeGroup.ProjectCustomAttributeGroupName</h4>
        <hr />
    }
    <dl class="dl-horizontal">
        @foreach (var projectCustomAttributeType in projectCustomAttributeGroup.ProjectCustomAttributeTypes.OrderBy(x => x.ProjectCustomAttributeTypeName))
        {
            var projectCustomAttribute = ViewDataTyped.ProjectCustomAttributes.SingleOrDefault(x => x.ProjectCustomAttributeTypeID == projectCustomAttributeType.ProjectCustomAttributeTypeID);
            <dt class="projectCustomAttributes">
                @if (!string.IsNullOrWhiteSpace(projectCustomAttributeType.ProjectCustomAttributeTypeDescription))
                {
                    @LabelWithSugarForExtensions.GenerateHelpIconImgTag(projectCustomAttributeType.ProjectCustomAttributeTypeName, projectCustomAttributeType.ProjectCustomAttributeTypeDescription.ToHTMLFormattedString(), projectCustomAttributeType.GetDescriptionUrl(), 300, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly).ToHTMLFormattedString()
                }
                @projectCustomAttributeType.ProjectCustomAttributeTypeName
            </dt>
            <dd class="projectCustomAttributes">
                @if (projectCustomAttribute != null)
                {
                    if (projectCustomAttributeType.ProjectCustomAttributeDataType == ProjectCustomAttributeDataType.DateTime)
                    {
                        @projectCustomAttribute.GetCustomAttributeValues().Single().AttributeValue.ToStringDate()
                    }
                    else if (projectCustomAttributeType.MeasurementUnitType == MeasurementUnitType.Dollars)
                    {
                        @StringFormats.ParseNullableDecimalFromCurrencyString(GetSingleProjectCustomAttributeValue(projectCustomAttribute)).ToStringCurrency()
                    }
                    else if (projectCustomAttributeType.MeasurementUnitTypeID != null)
                    {
                        <span>@projectCustomAttribute.GetCustomAttributeValues().Single().AttributeValue</span>
                        <span>@(projectCustomAttributeType.MeasurementUnitType.LegendDisplayName)</span>
                    }
                    else
                    {
                        @(string.Join(", ", projectCustomAttribute.GetCustomAttributeValues().Select(x => x.AttributeValue)))
                    }
                }
                else
                {
                    <em class="text-muted">None</em>
                }
            </dd>
        }
    </dl>
}