@*-----------------------------------------------------------------------
<copyright file="EditProject.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared.ProjectControls
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@inherits EditProject

<style>
    .bootstrap-select .disabled a, .bootstrap-select li.dropdown-header {
        cursor: default !important;
        font-size: 15px !important;
    }

    .bootstrap-select li:not(.disabled) > a {
        padding-left: 42px !important;
        font-size: 13px !important;
    }

    .bootstrap-select .dropdown-toggle {
        font-size: 13px !important;
        border-radius: 0 !important;
        border: 1px solid black;
    }

    .bootstrap-select {
        width: 100% !important;
    }

        .bootstrap-select .disabled a:hover, .bootstrap-select li.dropdown-header:hover {
            background-color: lightgray !important;
            color: gray !important;
        }

    .row {
        margin-top: 5px;
    }

    .dropdown-menu {
        background-color: #ffffff !important;
    }
</style>




@Html.Raw(ViewDataTyped.EditProjectType.IntroductoryText)

@using (Html.BeginForm())
{
    <div class="container-fluid container-fluid-dialog-form">
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.TaxonomyTierOneID, 600, MultiTenantHelpers.GetTaxonomyTierOneDisplayNameForProject())</div>
            <div class="col-md-9">
                @Html.DropDownListFor(x => x.TaxonomyTierOneID, ViewDataTyped.TaxonomyTierOnes, new { style = "display: inline !important; height: 0; width: 1px; border:0; box-shadow:none; color:white; overflow:hidden; margin-right:-1px;" })
                @Html.ValidationMessageFor(m => m.TaxonomyTierOneID)
            </div>
        </div>        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.ProjectName)</div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.ProjectName, new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.ProjectName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.ProjectDescription)</div>
            <div class="col-md-9">
                @Html.TextAreaWithMaxLengthFor(m => m.ProjectDescription, new TextAreaForExtensions.TextAreaDimensions(null, 8), null)
                @Html.ValidationMessageFor(m => m.ProjectDescription)
            </div>
        </div>
        @if (ViewDataTyped.EditProjectType != EditProjectType.ExistingProject)
        {
            <div class="row">
                <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.LeadImplementerOrganizationID)</div>
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.LeadImplementerOrganizationID, ViewDataTyped.Organizations, new Dictionary<string, object>() { { "style", "width:100%" } })
                    @Html.ValidationMessageFor(m => m.LeadImplementerOrganizationID)
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.ProjectStageID)</div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.ProjectStageID, ViewDataTyped.ProjectStages)
                @Html.ValidationMessageFor(m => m.ProjectStageID)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.FundingTypeID)</div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.FundingTypeID, ViewDataTyped.FundingTypes, new { onchange = "displaySelectedFundingTypeFields()" })
                @Html.ValidationMessageFor(m => m.FundingTypeID)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header cap-label">@Html.LabelWithSugarFor(m => m.EstimatedTotalCost)</div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.EstimatedTotalCost)
                @Html.ValidationMessageFor(m => m.EstimatedTotalCost)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header cap-label">@Html.LabelWithSugarFor(m => m.SecuredFunding)</div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.SecuredFunding)
                <span style="font-size: 12px">Total Expenditures to-date: @ViewDataTyped.TotalExpenditures.ToStringCurrency()</span>
                @Html.ValidationMessageFor(m => m.SecuredFunding)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header op-label">@Html.LabelWithSugarFor(m => m.EstimatedAnnualOperatingCost)</div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.EstimatedAnnualOperatingCost)
                @Html.ValidationMessageFor(m => m.EstimatedAnnualOperatingCost)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.PlanningDesignStartYear)</div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.PlanningDesignStartYear, ViewDataTyped.StartYearRange)
                @Html.ValidationMessageFor(m => m.PlanningDesignStartYear)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.ImplementationStartYear)</div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.ImplementationStartYear, ViewDataTyped.StartYearRange)
                @Html.ValidationMessageFor(m => m.ImplementationStartYear)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithSugarFor(m => m.CompletionYear)</div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.CompletionYear, ViewDataTyped.CompletionYearRange)
                @Html.ValidationMessageFor(m => m.CompletionYear)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.ProjectID)
    @Html.HiddenFor(m => m.HasExistingProjectUpdate)
    @Html.HiddenFor(m => m.OldProjectStageID)
}

<script type="text/javascript">
    // <![CDATA[
    function displaySelectedFundingTypeFields() {
        var fundingTypeDropdown = jQuery("#@Html.IdFor(x => x.FundingTypeID)");
        if (fundingTypeDropdown.val() == 1) {
            jQuery("#@Html.IdFor(x => x.EstimatedTotalCost)").prop('disabled', false);
            jQuery("#@Html.IdFor(x => x.SecuredFunding)").prop('disabled', false);
            jQuery("#@Html.IdFor(x => x.EstimatedAnnualOperatingCost)").prop('disabled', true);
            jQuery(".op-label").css("color", "#666");
            jQuery(".cap-label").css("color", "");
        }
        else if (fundingTypeDropdown.val() == 2) {
            jQuery("#@Html.IdFor(x => x.EstimatedTotalCost)").prop('disabled', true);
            jQuery("#@Html.IdFor(x => x.SecuredFunding)").prop('disabled', true);
            jQuery("#@Html.IdFor(x => x.EstimatedAnnualOperatingCost)").prop('disabled', false);
            jQuery(".op-label").css("color", "");
            jQuery(".cap-label").css("color", "#666");
        }
    }

    jQuery(document).ready(function () {
        displaySelectedFundingTypeFields();
        jQuery("#@Html.IdFor(x => x.TaxonomyTierOneID)").selectpicker(
            {
                size: 12, title: 'Select the @MultiTenantHelpers.GetTaxonomyTierOneDisplayNameForProject()', width: '400px'
            });
    });
    // ]]>
</script>
