@using ProjectFirma.Web.Models
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.ProjectBasicsTags

<span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionWiderFor(FieldDefinition.Tags):</span>
<div id="projectTags" style="line-height: 2em; margin-top: 5px; text-align: left;">
</div>
<script>
    jQuery(document).ready(function()
    {
        var loaded = false;
        var projectTags = jQuery("#projectTags");
        if (Sitka.Methods.isUndefinedNullOrEmpty(projectTags))
        {
            return;
        }

        projectTags.tags({
            values: @Html.Raw(JArray.FromObject(ViewDataTyped.TagHelper.Tags)),
            templates: {
                pill: "<div class='btn btn-sm btn-tag' style='margin: 0 5px 5px 0; display:inline-block; position: relative' data-tag-id='{1}'>{0}</div>",
                delete_icon: "<span class='glyphicon glyphicon-remove'></span>",
                input_pill: "<div class='btn btn-sm btn-tag' style='display: block'></div>",
                ok_icon: "<span class='glyphicon glyphicon-plus'></span>",
                number: " ({0})"
            },
            suggestion_url: @Html.Raw(ViewDataTyped.TagHelper.FindTagsUrl.ToJS()),
            onBeforeAdd: function(item)
            {
                if (!loaded)
                {
                    return item;
                }
                var tagName = item.text;
                var postData = new Object();
                postData.ProjectIDList = [@ViewDataTyped.Project.ProjectID];
                postData.TagName = tagName;
                SitkaAjax.ajax({
                    type: "POST",
                    url: @Html.Raw(ViewDataTyped.TagHelper.AddTagsUrl.ToJS()),
                    data: postData,
                    dataType: "json",
                    async: false
                }, function(newTag) { item = newTag; }, function()
                {
                    alert("There was an error adding the tag '" + tagName + "'");
                    item = null;
                });
                return item;
            },
            onRemove: function(pill)
            {
                // event.item: contains the item
                var postData = new Object();
                postData.ProjectIDList = [@ViewDataTyped.Project.ProjectID];
                postData.TagName = pill.data("tag-id");
                SitkaAjax.postJSON(@Html.Raw(ViewDataTyped.TagHelper.RemoveTagsUrl.ToJS()), postData, function() {});
            }
        });
        loaded = true;
    });
</script>