@*-----------------------------------------------------------------------
<copyright file="ProjectBasics.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared.ProjectControls
@inherits ProjectBasics

<style>
    .basicsLayout .row {
        margin-left: 0;
        margin-right: 0;
    }

    .basicsLayout .row div {
        padding-left: 0;
        padding-right: 5px;
    }

    .basicsLayout hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<script src="@Url.Content("~/Content/bootstrap-tags/bootstrap-tags.min.js")" type="text/javascript"></script>

<div class="basicsLayout">

    <div class="row">
        <div class="col-xs-12">
            <label>@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Category</label>
        </div>
    </div>

    @{ ProjectTaxonomy.RenderPartialView(Html, ViewDataTyped.ProjectTaxonomyViewData); }

    @if (ViewDataTyped.TenantAttribute.EnableSecondaryProjectTaxonomyLeaf && ViewDataTyped.SecondaryTaxonomyLeaves.Any())
    {
        <hr />
        <div class="row">
            <div class="col-xs-12">
                <label>
                    @Html.LabelWithSugarFor(FieldDefinitionEnum.SecondaryProjectTaxonomyLeaf.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)
                    @FieldDefinitionEnum.SecondaryProjectTaxonomyLeaf.ToType().GetFieldDefinitionLabelPluralized()
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    @foreach (var taxonomyLeaf in ViewDataTyped.SecondaryTaxonomyLeaves)
                    {
                        <li>@(taxonomyLeaf.GetDisplayNameAsUrl())</li>
                    }
                </ul>
            </div>
        </div>
    }

    <hr />
    <div class="row">
        <div class="col-xs-5">
            @Html.LabelWithSugarFor(FieldDefinitionEnum.ProjectStage.ToType())
        </div>
        <div class="col-xs-7">
            @ViewDataTyped.Project.ProjectStage.ProjectStageDisplayName
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.LabelWithSugarFor(FieldDefinitionEnum.ProjectDescription.ToType())
        </div>
        <div class="col-xs-12" style="padding-left: 20px">
            @Html.Raw(ViewDataTyped.Project.ProjectDescription.HtmlEncodeWithBreaks())
        </div>
    </div>

     <hr />

    <div class="row">
        <div class="col-xs-6">
            @Html.LabelWithSugarFor(FieldDefinitionEnum.PlanningDesignStartYear.ToType())
        </div>
        <div class="col-xs-6">
            @ProjectModelExtensions.GetPlanningDesignStartYear(ViewDataTyped.Project)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.LabelWithSugarFor(FieldDefinitionEnum.ImplementationStartYear.ToType())
        </div>
        <div class="col-xs-6">
            @ProjectModelExtensions.GetImplementationStartYear(ViewDataTyped.Project)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.LabelWithSugarFor(FieldDefinitionEnum.CompletionYear.ToType())
        </div>
        <div class="col-xs-6">
            @ProjectModelExtensions.GetCompletionYear(ViewDataTyped.Project)
        </div>
    </div>
</div>
