@*-----------------------------------------------------------------------
<copyright file="ProjectTaxonomy.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.ProjectTaxonomy

<style>
    .row.taxonomyRow div
    {
        padding-right: 0;
        padding-left: 0;
    }
    .row.taxonomyRow
    {
        margin-right: 0;
        margin-left: 0;
    }
</style>
@{
    int i = 0;


    if (ViewDataTyped.TaxonomyTierThree != null)
     {
         <div class="row taxonomyRow">
             <div class="col-sm-5">
                 @Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierThree, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
             </div>
             <div class="col-sm-7">
                 <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTierThree ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyTierThree ? new HtmlString(ViewDataTyped.TaxonomyTierThree.DisplayName) : ViewDataTyped.TaxonomyTierThree.GetDisplayNameAsUrl())</span>
             </div>
         </div>
         i++;
     }

    if (ViewDataTyped.TaxonomyTierTwo != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++)">
                @Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierTwo, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
            </div>
            <div class="col-sm-6">
                <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTierTwo ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyTierTwo ? new HtmlString(ViewDataTyped.TaxonomyTierTwo.DisplayName) : ViewDataTyped.TaxonomyTierTwo.GetDisplayNameAsUrl())</span>
            </div>
        </div>
    }

    if (ViewDataTyped.TaxonomyTierOne != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++)">
                @Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierOne, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
            </div>
            <div class="col-sm-5">
                <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTierOne ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyTierOne ? new HtmlString(ViewDataTyped.TaxonomyTierOne.DisplayName) : ViewDataTyped.TaxonomyTierOne.GetDisplayNameAsUrl())</span>
            </div>
        </div>
    }

    if (ViewDataTyped.Project != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++)">
                @Html.LabelWithSugarFor(FieldDefinition.Project, "Project Name")
            </div>
            <div class="col-sm-4">
                <span class="taxonomyLink selected">@ViewDataTyped.Project.DisplayName</span>
            </div>
        </div>
    }
}
