@*-----------------------------------------------------------------------
<copyright file="ProjectTaxonomy.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.ProjectTaxonomy

<style>
    .row.taxonomyRow div
    {
        padding-right: 0;
        padding-left: 0;
    }
    .row.taxonomyRow
    {
        margin-right: 0;
        margin-left: 0;
    }

    #taxonomyBasicsPanel .taxonomyBasicsPanelLabel {
        max-width: 205px;
    }
</style>

<div id="taxonomyBasicsPanel">
@{
    int i = 0;


    if (ViewDataTyped.TaxonomyLevel == TaxonomyLevel.Trunk && ViewDataTyped.TaxonomyTrunk != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 taxonomyBasicsPanelLabel">
                @Html.LabelWithSugarFor(FieldDefinitionEnum.TaxonomyTrunk.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
            </div>
            <div class="col-sm-7">
                <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTrunk ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyTrunk ? new HtmlString(ViewDataTyped.TaxonomyTrunk.GetDisplayName()) : ViewDataTyped.TaxonomyTrunk.GetDisplayNameAsUrl())</span>
            </div>
        </div>
        i++;
    }

    if ((ViewDataTyped.TaxonomyLevel == TaxonomyLevel.Trunk || ViewDataTyped.TaxonomyLevel == TaxonomyLevel.Branch) && ViewDataTyped.TaxonomyBranch != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++) taxonomyBasicsPanelLabel">
                @Html.LabelWithSugarFor(FieldDefinitionEnum.TaxonomyBranch.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
            </div>
            <div class="col-sm-6">
                <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyBranch ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyBranch ? new HtmlString(ViewDataTyped.TaxonomyBranch.GetDisplayName()) : ViewDataTyped.TaxonomyBranch.GetDisplayNameAsUrl())</span>
            </div>
        </div>
    }

    if (ViewDataTyped.TaxonomyLeaf != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++) taxonomyBasicsPanelLabel">
                @Html.LabelWithSugarFor(FieldDefinitionEnum.TaxonomyLeaf.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
            </div>
            <div class="col-sm-5">
                <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyLeaf ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyLeaf ? new HtmlString(ViewDataTyped.TaxonomyLeaf.GetDisplayName()) : ViewDataTyped.TaxonomyLeaf.GetDisplayNameAsUrl())</span>
            </div>
        </div>
    }

    if (ViewDataTyped.Project != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++) taxonomyBasicsPanelLabel">
                @Html.LabelWithSugarFor(FieldDefinitionEnum.Project.ToType())
            </div>
            <div class="col-sm-4">
                <span class="taxonomyLink selected">@ViewDataTyped.Project.GetDisplayName()</span>
            </div>
        </div>
    }
}
</div>