@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.ProjectTaxonomy

<div class="taxonomyTierThreeTaxonomy">
    <div>
        @Html.LabelWithFieldDefinitionFor(FieldDefinition.TaxonomyTierThree): <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTierThree ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyTierThree ? new HtmlString(ViewDataTyped.TaxonomyTierThree.DisplayName) : ViewDataTyped.TaxonomyTierThree.DisplayNameAsUrl)</span>
        @if (ViewDataTyped.TaxonomyTierTwo != null)
        {
            <div>
                @Html.LabelWithFieldDefinitionFor(FieldDefinition.TaxonomyTierTwo): <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTierTwo ? " selected" : string.Empty)" style="margin-left: 25px;">@(ViewDataTyped.IsTaxonomyTierTwo ? new HtmlString(ViewDataTyped.TaxonomyTierTwo.DisplayName) : ViewDataTyped.TaxonomyTierTwo.DisplayNameAsUrl)</span>
                @if (ViewDataTyped.TaxonomyTierOne != null)
                {
                    <div>
                        @Html.LabelWithFieldDefinitionFor(FieldDefinition.TaxonomyTierOne): <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTierOne ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyTierOne ? new HtmlString(ViewDataTyped.TaxonomyTierOne.DisplayName) : ViewDataTyped.TaxonomyTierOne.GetDisplayNameAsUrl())</span>
                        @if (ViewDataTyped.Project != null)
                        {
                            <div>@Html.LabelWithFieldDefinitionFor(FieldDefinition.Project): <span class="taxonomyLink selected" style="margin-left: 45px">@ViewDataTyped.Project.DisplayName</span></div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>