@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared.ProjectControls
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Views
@inherits ProjectBasics

<script src="@Url.Content("~/Content/bootstrap-tags/bootstrap-tags.min.js")" type="text/javascript"></script>

<div class="contentWrapper">
    <table class="summaryLayout" style="width: 100%">
        <colgroup>
            <col style="width: 220px" />
            <col style="width: 70px" />
            <col style="width: 150px" />
            <col style="width: auto" />
            <col style="width: 80px" /> <!--for tags -->
            <col style="width: 120px" /> <!--for tags and fact sheet icon-->
        </colgroup>
        <tr>
            <th colspan="5">EIP Category:</th>
            <td rowspan="4" style="text-align: right">
                @if (ViewDataTyped.ShowFactSheetIcon)
                {
                    <a href="@ViewDataTyped.Project.GetFactSheetUrl()" title="View Project Fact Sheet">
                        <img src="/Content/img/fact_sheet_teaser.gif" style="height: 85px; width: 85px; background-color: lightgray; border: 1px solid #ababab; border-radius: 3px; box-shadow: 2px 2px 4px #000" alt="View Project Fact Sheet"/>
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionFor(FieldDefinition.FocusArea):</span> <span style="margin-left: 5px;">@ViewDataTyped.Project.ActionPriority.Program.FocusArea.DisplayNameAsUrl</span>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div style="margin-left: 20px">
                    <span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionFor(FieldDefinition.Program):</span> <span style="margin-left: 25px;">@ViewDataTyped.Project.ActionPriority.Program.DisplayNameAsUrl</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div style="margin-left: 40px">
                    <span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionFor(FieldDefinition.ActionPriority):</span> <span style="margin-left: 5px">@ViewDataTyped.Project.ActionPriority.GetDisplayNameAsUrl()</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div style="margin-left: 60px">
                    <span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionFor(FieldDefinition.Project):</span> <span style="margin-left: 45px">@ViewDataTyped.Project.DisplayName</span>
                </div>
            </td>
        </tr>
        <tr>
            <th>@Html.LabelWithFieldDefinitionWiderFor(FieldDefinition.Stage):</th>
            <td colspan="2">
                @ViewDataTyped.Project.ProjectStage.ProjectStageDisplayName
            </td>
        </tr>
        <tr>
            <th style="white-space: nowrap">@Html.LabelWithFieldDefinitionFor(FieldDefinition.ProjectDescription):</th>
            <td colspan="4">
                @Html.Raw(ViewDataTyped.Project.ProjectDescription.HtmlEncodeWithBreaks())
            </td>
        </tr>
        @if (!GeneralUtility.IsNullOrEmptyOrOnlyWhitespace(ViewDataTyped.Project.OldEipNumber))
        {
            <tr>
                <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.OldEIPNumber):</th>
                <td>
                    @ViewDataTyped.Project.OldEipNumber
                </td>
                <td></td>
                <td></td>
            </tr>
        }

        @{ ProjectBasicsCalculatedCosts.RenderPartialView(Html, ViewDataTyped.ProjectBasicsCalculatedCostsViewData); }

        <tr>
            <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.PlanningDesignStartYear):</th>
            <td colspan="3">
                @ViewDataTyped.Project.PlanningDesignStartYear
            </td>
            <td rowspan="6" colspan="2">
                @if (ViewDataTyped.UserHasTaggingPermissions)
                {
                    ProjectBasicsTags.RenderPartialView(Html, ViewDataTyped.ProjectBasicsTagsViewData);
                }
            </td>
        </tr>
        <tr>
            <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ImplementationStartYear):</th>
            <td>
                @ViewDataTyped.Project.ImplementationStartYear
            </td>
            <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.CompletionYear):</th>
            <td>
                @ViewDataTyped.Project.CompletionYear
            </td>
        </tr>
        <tr>
            <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.PrimaryContact):</th>

            <td colspan="3">
                @if (ViewDataTyped.Project.PrimaryContactPerson != null)
                {
                    <span>
                        @ViewDataTyped.Project.PrimaryContactPerson.FullNameFirstLast (<a href="mailto:@ViewDataTyped.Project.PrimaryContactPerson.Email">@ViewDataTyped.Project.PrimaryContactPerson.Email</a>)
                    </span>
                }
                else
                {
                    <span>@ViewUtilities.NoneString</span>
                }
            </td>
        </tr>
        <tr>
            <th>Attributes:</th>
            <td colspan="3">
                <ul>
                    <li>This project is @(!ViewDataTyped.Project.IsOnFiveYearList ? "NOT" : string.Empty) on the 5-Year List</li>
                    @if (ViewDataTyped.Project.ImplementsMultipleProjects)
                    {
                        <li>This project is a program that implements multiple projects</li>
                    }
                    @if (ViewDataTyped.Project.IsFeatured)
                    {
                        <li>This project is a featured project</li>
                    }
                    @if (ViewDataTyped.Project.IsTransportationProject)
                    {
                        <li>This project is a TMPO project.</li>
                    }
                    @if (ViewDataTyped.Project.FundingType == FundingType.OperationsAndMaintenance)
                    {
                        <li>This project is an Operations and Maintenance project with recurring annual costs.</li>
                    }
                    @if (ViewDataTyped.Project.OnFederalTransportationImprovementProgramList)
                    {
                        <li>This project is on the Federal Transportation Improvement Program (FTIP) list.</li>
                    }
                </ul>
            </td>
        </tr>
        @if (ViewDataTyped.Project.IsTransportationProject)
        {
            <tr>
                <th colspan="4" style="white-space: nowrap">Transportation Category:</th>
            </tr>
            <tr>
                <td colspan="4">
                    <div>
                        <span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionFor(FieldDefinition.TransportationObjective):</span> <span style="margin-left: 5px">@ViewDataTyped.Project.TransportationObjective.TransportationStrategy.DisplayNameAsUrl</span>
                    </div>
                    <div style="margin-left: 20px; padding-top: 4px">
                        <span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionFor(FieldDefinition.TransportationStrategy):</span> <span style="margin-left: 15px">@ViewDataTyped.Project.TransportationObjective.DisplayNameAsUrl</span>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>