@*-----------------------------------------------------------------------
<copyright file="ProjectTaxonomy.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.ProjectTaxonomy

<style>
    .row.taxonomyRow div
    {
        padding-right: 0;
        padding-left: 0;
    }
    .row.taxonomyRow
    {
        margin-right: 0;
        margin-left: 0;
    }
</style>
@{
    int i = 0;


    if (ViewDataTyped.TaxonomyTrunk != null)
     {
         <div class="row taxonomyRow">
             <div class="col-sm-5">
                 @Html.LabelWithSugarFor(FieldDefinition.TaxonomyTrunk, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
             </div>
             <div class="col-sm-7">
                 <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTrunk ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyTrunk ? new HtmlString(ViewDataTyped.TaxonomyTrunk.DisplayName) : ViewDataTyped.TaxonomyTrunk.GetDisplayNameAsUrl())</span>
             </div>
         </div>
         i++;
     }

    if (ViewDataTyped.TaxonomyTierTwo != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++)">
                @Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierTwo, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
            </div>
            <div class="col-sm-6">
                <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyTierTwo ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyTierTwo ? new HtmlString(ViewDataTyped.TaxonomyTierTwo.DisplayName) : ViewDataTyped.TaxonomyTierTwo.GetDisplayNameAsUrl())</span>
            </div>
        </div>
    }

    if (ViewDataTyped.TaxonomyLeaf != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++)">
                @Html.LabelWithSugarFor(FieldDefinition.TaxonomyLeaf, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)
            </div>
            <div class="col-sm-5">
                <span class="taxonomyLink@(ViewDataTyped.IsTaxonomyLeaf ? " selected" : string.Empty)">@(ViewDataTyped.IsTaxonomyLeaf ? new HtmlString(ViewDataTyped.TaxonomyLeaf.DisplayName) : ViewDataTyped.TaxonomyLeaf.GetDisplayNameAsUrl())</span>
            </div>
        </div>
    }

    if (ViewDataTyped.Project != null)
    {
        <div class="row taxonomyRow">
            <div class="col-sm-5 col-sm-offset-@(i++)">
                @Html.LabelWithSugarFor(FieldDefinition.Project, string.Format("{0}", FieldDefinition.ProjectName.GetFieldDefinitionLabel()))
            </div>
            <div class="col-sm-4">
                <span class="taxonomyLink selected">@ViewDataTyped.Project.DisplayName</span>
            </div>
        </div>
    }
}
