@using ProjectFirma.Web.Models
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.ProjectBasicsCalculatedCosts

@if (ViewDataTyped.Project.FundingType.ToEnum == FundingTypeEnum.Capital)
{
    <tr>
        <th style="white-space: nowrap">@Html.LabelWithFieldDefinitionFor(FieldDefinition.EstimatedTotalCost)</th>
        <td>
            @ViewDataTyped.Project.EstimatedTotalCost.ToStringCurrency()
        </td>
        <td colspan="4">
            <span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionFor(FieldDefinition.ProjectCostInYearOfExpenditure)</span>
            @if (CostParameterSet.CanCalculateCapitalCostInYearOfExpenditure(ViewDataTyped.Project))
            {
                <span style="margin-left: 10px">@ViewDataTyped.CapitalCostInYearOfExpenditure.ToStringCurrency()</span>
                if (ViewDataTyped.UserHasProjectBudgetManagePermissions)
                {
                    <span> (Using <a href="@ViewDataTyped.EditInflationUrl">@ViewDataTyped.InflationRate.ToStringPercent() annual inflation</a>)</span>
                }
                else
                {
                    <span> (Using @ViewDataTyped.InflationRate.ToStringPercent() annual inflation)</span>
                }
            }
        </td>
    </tr>
    <tr>
        <th style="white-space: nowrap">@Html.LabelWithFieldDefinitionFor(FieldDefinition.SecuredFunding)</th>
        <td>
            @ViewDataTyped.Project.SecuredFunding.ToStringCurrency()
        </td>
        <th style="white-space: nowrap">@Html.LabelWithFieldDefinitionFor(FieldDefinition.UnfundedNeed)</th>
        <td>
            @ViewDataTyped.Project.UnfundedNeed.ToStringCurrency()
        </td>
    </tr>
}
else
{
    if (ViewDataTyped.Project.FundingType.ToEnum == FundingTypeEnum.OperationsAndMaintenance)
    {
        <tr>
            <th style="white-space: nowrap">@Html.LabelWithFieldDefinitionFor(FieldDefinition.EstimatedAnnualOperatingCost)</th>
            <td>
                @ViewDataTyped.Project.EstimatedAnnualOperatingCost.ToStringCurrency()
            </td>
        </tr>
        <tr>
            <td>
                <span class="stylizeLikeTH">@Html.LabelWithFieldDefinitionFor(FieldDefinition.CalculatedTotalRemainingOperatingCost)</span>
            </td>
            @if (CostParameterSet.CanCalculateTotalRemainingOperatingCostInYearOfExpenditure(ViewDataTyped.Project))
            {
                <td colspan="4">
                    <span>@ViewDataTyped.TotalOperatingCostInYearOfExpenditure.ToStringCurrency()</span>
                    @if (ViewDataTyped.UserHasProjectBudgetManagePermissions)
                    {
                        <span>(For years @ViewDataTyped.StartYearForTotalOperatingCostCalculation-@ViewDataTyped.Project.CompletionYear using <a href="@ViewDataTyped.EditInflationUrl">@ViewDataTyped.InflationRate.ToStringPercent() annual inflation</a>)</span>
                    }
                    else
                    {
                        <span>(For years @ViewDataTyped.StartYearForTotalOperatingCostCalculation-@ViewDataTyped.Project.CompletionYear using @ViewDataTyped.InflationRate.ToStringPercent() annual inflation)</span>
                    }
                </td>
            }
        </tr>
    }
}
