@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.ProjectTaxonomy

<div class="focusAreaTaxonomy">
    <div>
        @Html.LabelWithFieldDefinitionFor(FieldDefinition.FocusArea): <span class="taxonomyLink@(ViewDataTyped.IsFocusArea ? " selected" : string.Empty)">@(ViewDataTyped.IsFocusArea ? new HtmlString(ViewDataTyped.FocusArea.DisplayName) : ViewDataTyped.FocusArea.DisplayNameAsUrl)</span>
        @if (ViewDataTyped.Program != null)
        {
            <div>
                @Html.LabelWithFieldDefinitionFor(FieldDefinition.Program): <span class="taxonomyLink@(ViewDataTyped.IsProgram ? " selected" : string.Empty)" style="margin-left: 25px;">@(ViewDataTyped.IsProgram ? new HtmlString(ViewDataTyped.Program.DisplayName) : ViewDataTyped.Program.DisplayNameAsUrl)</span>
                @if (ViewDataTyped.ActionPriority != null)
                {
                    <div>
                        @Html.LabelWithFieldDefinitionFor(FieldDefinition.ActionPriority): <span class="taxonomyLink@(ViewDataTyped.IsActionPriority ? " selected" : string.Empty)">@(ViewDataTyped.IsActionPriority ? new HtmlString(ViewDataTyped.ActionPriority.DisplayName) : ViewDataTyped.ActionPriority.GetDisplayNameAsUrl())</span>
                        @if (ViewDataTyped.Project != null)
                        {
                            <div>@Html.LabelWithFieldDefinitionFor(FieldDefinition.Project): <span class="taxonomyLink selected" style="margin-left: 45px">@ViewDataTyped.Project.DisplayName</span></div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>