@using System.Web.Mvc.Html
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.ProjectCustomAttributeGroup.Edit

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewInstructionsFirmaPage); }

<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function ()
    {
        jQuery(".selectpicker").selectpicker("refresh");
    });
    // ]]>
</script>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4 control-label">
                        @Html.LabelWithSugarFor(m => m.ProjectCustomAttributeGroupName)
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ProjectCustomAttributeGroupName, new { @class = "form-control", style = "width:100%" })
                    </div>
                </div>
                @if (ViewDataTyped.TenantAttribute.EnableProjectTypes)
                {
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-4 control-label">
                            @Html.LabelWithSugarFor(m => m.ProjectTypeEnums)
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            @Html.EnumDropDownListFor(m => m.ProjectTypeEnums, new {@class = "form-control selectpicker", multiple = "multiple"})
                            @Html.ValidationMessageFor(m => m.ProjectTypeEnums)
                            <span class="smallExplanationText">
                                @FieldDefinitionEnum.ProjectCustomAttribute.ToType().GetFieldDefinitionLabelPluralized() within this @FieldDefinitionEnum.ProjectCustomAttributeGroup.ToType().GetFieldDefinitionLabel() will only be shown on projects with the selected @FieldDefinitionEnum.ProjectType.ToType().GetFieldDefinitionLabel().
                            </span>
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.ProjectTypeEnums)
                }
            </div>
        </div>
    </div>
}