@using System.Web.Mvc.Html
@using DocumentFormat.OpenXml.EMMA
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.ProjectCustomAttributeGroup.Edit

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewInstructionsFirmaPage); }

<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function ()
    {
        jQuery(".selectpicker").selectpicker("refresh");
    });
    // ]]>
</script>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ProjectCustomAttributeGroupID)
    if (ViewDataTyped.HasExistingData)
    {
        <div class="alert alert-warning">
            <strong>Potential data loss! </strong>
            Changing the @FieldDefinitionEnum.ProjectCategory.ToType().GetFieldDefinitionLabel() may result in data loss. @FieldDefinitionEnum.ProjectCustomAttribute.ToType().GetFieldDefinitionLabelPluralized() within this @FieldDefinitionEnum.ProjectCustomAttributeGroup.ToType().GetFieldDefinitionLabel() have data in the database.
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4 control-label">
                        @Html.LabelWithSugarFor(m => m.ProjectCustomAttributeGroupName)
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ProjectCustomAttributeGroupName, new { @class = "form-control", style = "width:100%" })
                    </div>
                </div>
                @if (ViewDataTyped.TenantAttribute.EnableProjectCategories)
                {
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-4 control-label">
                            @Html.LabelWithSugarFor(m => m.ProjectCategoryEnums)
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            @Html.ListBoxFor(m => m.ProjectCategoryEnums, ViewDataTyped.ProjectTypeSelectListItems, new { @class = "form-control selectpicker" })
                            @Html.ValidationMessageFor(m => m.ProjectCategoryEnums)
                            <span class="smallExplanationText">
                                @FieldDefinitionEnum.ProjectCustomAttribute.ToType().GetFieldDefinitionLabelPluralized() within this @FieldDefinitionEnum.ProjectCustomAttributeGroup.ToType().GetFieldDefinitionLabel() will only be shown on projects with the selected @FieldDefinitionEnum.ProjectCategory.ToType().GetFieldDefinitionLabel().
                            </span>
                            
                        </div>
                    </div>
                }
                else
                {
                    var modelProjectCategoryEnums = Model.ProjectCategoryEnums;
                    for (int i = 0; i < modelProjectCategoryEnums.Count; i++)
                    {
                        @Html.HiddenFor(m => Model.ProjectCategoryEnums[i])
                    }
                }
            </div>
        </div>
    </div>
}