@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Mvc
@using ProjectFirma.Web.Common

@inherits ProjectFirma.Web.Views.Shared.ProjectAttachment.NewProjectAttachment
    
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div>
            You can upload a range of document formats here, including some image formats (for diagrams, plans, illustrations). However, we encourage you to upload photos in the Photos section.
        </div>
        @Html.HiddenFor(m => m.ParentID)
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.AttachmentRelationshipTypeID)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.DropDownListFor(m => m.AttachmentRelationshipTypeID, ViewDataTyped.AttachmentRelationshipTypes, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.AttachmentRelationshipTypeID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.File)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.EditorFor(m => m.File)
                @Html.ValidationMessageFor(m => m.File)
                <p class="help-block">Allowed Extensions: @Model.GetFileExtensions(x => x.File)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.DisplayName)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.TextBoxFor(m => m.DisplayName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.DisplayName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.Description)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.TextAreaWithMaxLengthFor(m => m.Description, new TextAreaForExtensions.TextAreaDimensions(null, 4), null, new List<string> {"form-control"})
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
    </div>
}
