@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views

@inherits ProjectFirma.Web.Views.Shared.ProjectAttachment.ProjectAttachmentsDetail

<div class="pull-right">
    @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Add Attachment", FirmaDhtmlxGridHtmlHelpers.PlusIcon), ViewDataTyped.AddAttachmentUrl, "Upload New Attachment", new List<string>{"btn", "btn-firma", "btn-sm"}, ViewDataTyped.CanEditAttachments)
</div>

@if (!ViewDataTyped.Attachments.Any())
{
    <p class="systemText">No documents associated with this @(FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()).</p>
}

@foreach (var projectAttachment in ViewDataTyped.Attachments)
{
    <div class="@projectAttachment.GetDisplayCssClass()">
        @if (ViewDataTyped.CanEditAttachments)
        {
        <span style="margin-left: 7px;">
            @ModalDialogFormHelper.ModalDialogFormLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), projectAttachment.GetEditUrl(), "Edit Attachment", null, true)
        </span>
        <span style="margin-left: 8px; margin-right: 8px;">
            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), projectAttachment.GetDeleteUrl(), null, true)
        </span>
        }

        @if (ViewDataTyped.ShowDownload)
        {
        <a href="@projectAttachment.FileResource.GetFileResourceUrl()">
            @projectAttachment.DisplayName
            @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download")
        </a>
        }
        else
        {
            <span>@projectAttachment.DisplayName</span>
        }

        <dl class="dl-horizontal">
            <dt>Uploaded On</dt>
            <dd title="@projectAttachment.FileResource.CreateDate.ToLongDateString() @projectAttachment.FileResource.CreateDate.ToLongTimeString()">@projectAttachment.FileResource.CreateDate.ToShortDateString()</dd>

            <dt>File Type</dt>
            <dd>@projectAttachment.FileResource.FileResourceMimeType.FileResourceMimeTypeDisplayName</dd>

            <dt>Description</dt>
            <dd>@projectAttachment.Description</dd>
        </dl>
    </div>
}