@using System.Web.Mvc.Html
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.ProjectStatus.Edit


@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ProjectStatusID)
    <div class="row">
        <div class="col-xs-12">
            <div class="validationError">
                @Html.ValidationSummary()
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        @Html.LabelWithSugarFor(m => m.ProjectStatusName)
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.ProjectStatusName, new {@class = "form-control", style = "width:100%"})
                        @Html.ValidationMessageFor(m => m.ProjectStatusName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        @Html.LabelWithSugarFor(m => m.ProjectStatusDescription)
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.ProjectStatusDescription, new {@class = "form-control", style = "width:100%"})
                        @Html.ValidationMessageFor(m => m.ProjectStatusDescription)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        @Html.LabelWithSugarFor(m => m.ProjectStatusDisplayName)
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.ProjectStatusDisplayName, new {@class = "form-control", style = "width:100%"})
                        @Html.ValidationMessageFor(m => m.ProjectStatusDisplayName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        @Html.LabelWithSugarFor(m => m.ProjectStatusColor)
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.ProjectStatusColor, new {@class = "form-control", style = "width:100%"})
                        @Html.ValidationMessageFor(m => m.ProjectStatusColor)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}