@*-----------------------------------------------------------------------
<copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Mvc
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.User.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Views/PersonOrganization/PersonOrganizationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Views/Shared/UserStewardshipAreas/EditUserStewardshipAreasController.js")" type="text/javascript"></script>

    <style type="text/css">
        .paddedTableCell {
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 3px;
        }
    </style>

}

@section RightOfPageTitle
{
    @if (ViewDataTyped.UserHasPersonManagePermissions)
    {
        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} {1} User", "<span class='glyphicon glyphicon-edit blue''></span>", ViewDataTyped.Person.IsActive ? "Inactivate" : "Activate"), ViewDataTyped.ActivateInactivateUrl, string.Format("{0} this user?", ViewDataTyped.Person.IsActive ? "Inactivate" : "Activate"), 400, "Continue", "Cancel", null, null, null)
    }
}

@if (ViewDataTyped.UserHasPersonManagePermissions)
{
    <div>
        <a class="btn backButton" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all Users</a>
    </div>
}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    Basics
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 fieldLabel text-right">Name</div>
                        <div class="col-xs-8">@ViewDataTyped.Person.GetFullNameFirstLast()</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 fieldLabel text-right">Email</div>
                        <div class="col-xs-8">@ViewDataTyped.Person.Email</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 fieldLabel text-right">Phone</div>
                        <div class="col-xs-8">@ViewDataTyped.Person.Phone.ToPhoneNumberString()</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 fieldLabel text-right">@FieldDefinitionEnum.Username.ToType().GetFieldDefinitionLabel()</div>
                        <div class="col-xs-8">@ViewDataTyped.Person.LoginName</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 fieldLabel text-right">@FieldDefinitionEnum.Organization.ToType().GetFieldDefinitionLabel()</div>
                        <div class="col-xs-8">@ViewDataTyped.Person.Organization.GetDisplayNameAsUrl()</div>
                    </div>
                    @if (ViewDataTyped.UserHasPersonManagePermissions)
                    {
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">Last Activity</div>
                            <div class="col-xs-8">@ViewDataTyped.Person.LastActivityDate.ToStringDateTimeNoLeadingZeros()</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">Created Date</div>
                            <div class="col-xs-8">@ViewDataTyped.Person.CreateDate.ToStringDateTimeNoLeadingZeros()</div>
                        </div>
                    }
                    @if (ViewDataTyped.UserHasPersonManagePermissions || ViewDataTyped.IsViewingSelf)
                    {
                        <div class="alert" role="alert">
                            This information can be <a target="_blank" class="alert-link" href="@ViewDataTyped.Person.GetKeystoneEditLink()">edited here</a>
                        </div>


                    }
                </div>
            </div>
        </div>
        @if (ViewDataTyped.UserHasPersonManagePermissions || ViewDataTyped.IsViewingSelf)
        {
            <div class="col-md-6">
                <div class="panel panelFirma">
                    <div class="panel-heading panelTitle">
                        @ViewDataTyped.EditRolesLink Roles
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">Role</div>
                            <div class="col-xs-8">
                                @if (ViewDataTyped.UserHasPersonManagePermissions)
                                {
                                    @ViewDataTyped.Person.Role.GetDisplayNameAsUrl()
                                }
                                else
                                {
                                    @ViewDataTyped.Person.Role.RoleDisplayName
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">Receive Support Emails</div>
                            <div class="col-xs-8">@ViewDataTyped.Person.ReceiveSupportEmails.ToYesNo()</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panelFirma">
                    <div class="panel-heading panelTitle">
                        @if (ViewDataTyped.UserHasPersonManagePermissions && ViewDataTyped.TenantHasStewardshipAreas && ViewDataTyped.Person.Role == Role.ProjectSteward)
                        {
                            <span>
                                @ModalDialogFormHelper.MakeEditIconLink(SitkaRoute<UserController>.BuildUrlFromExpression(c => c.EditStewardshipAreas(ViewDataTyped.Person)),
                                    string.Format("Edit {1} for User - {0}", ViewDataTyped.Person.GetFullNameFirstLast(), FieldDefinitionEnum.ProjectStewardshipArea.ToType().GetFieldDefinitionLabelPluralized()),
                                    true)
                            </span>
                        }
                        Assigned @FieldDefinitionEnum.ProjectStewardshipArea.ToType().GetFieldDefinitionLabelPluralized()
                    </div>
                    <div class="panel-body">
                        @if (ViewDataTyped.Person.IsAdministrator())
                        {
                            <p class="systemText">
                                @ViewDataTyped.Person.GetFullNameFirstLast() is an Administrator and can manage all @(FieldDefinitionEnum.ProjectStewardshipArea.ToType().GetFieldDefinitionLabelPluralized()).
                            </p>
                        }
                        else if (ViewDataTyped.Person.IsAnonymousOrUnassigned())
                        {
                            <p class="systemText">
                                @ViewDataTyped.Person.GetFullNameFirstLast() is not assigned a role and cannot add or edit any @(FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()).
                            </p>
                        }
                        else if (ViewDataTyped.Person.Role == Role.Normal)
                        {
                            <p class="systemText">
                                @ViewDataTyped.Person.GetFullNameFirstLast() is a @FieldDefinitionEnum.NormalUser.ToType().GetFieldDefinitionLabel() and can add @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() to any @FieldDefinitionEnum.ProjectStewardshipArea.ToType().GetFieldDefinitionLabel(), but cannot edit/manage @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() that are not their own.
                            </p>
                        }
                        else
                        {
                            var projectStewardshipAreaHtmlStringList = ViewDataTyped.Person.GetProjectStewardshipAreaHtmlStringList();
                            if (!ViewDataTyped.TenantHasStewardshipAreas)
                            {
                            <p class="systemText">@FieldDefinitionEnum.ProjectSteward.ToType().GetFieldDefinitionLabelPluralized() can approve @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Proposals, create new @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized(), and approve @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Updates for all @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()</p>
                            }
                            else if (projectStewardshipAreaHtmlStringList.Any())
                            {
                            <ul>
                                @foreach (var link in projectStewardshipAreaHtmlStringList)
                                {
                                    <li>
                                        @link
                                    </li>
                                }
                            </ul>
                            }
                            else
                            {
                            <p class="systemText">@ViewDataTyped.Person.GetFullNameFirstLast() is not assigned to manage @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() in any @(FieldDefinitionEnum.ProjectStewardshipArea.ToType().GetFieldDefinitionLabel()).</p>
                            }
                        }

                    </div>
                </div>
            </div>

        }
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditPersonOrganizationPrimaryContactUrl, string.Format("Edit {0} for which {1} is a {2}", FieldDefinitionEnum.Organization.ToType().GetFieldDefinitionLabelPluralized(), ViewDataTyped.Person.GetFullNameFirstLast(), FieldDefinitionEnum.OrganizationPrimaryContact.ToType().GetFieldDefinitionLabel()), ViewDataTyped.UserHasPersonManagePermissions) @string.Format("Organizations for which {0} is a {1}", ViewDataTyped.Person.GetFullNameFirstLast(), FieldDefinitionEnum.OrganizationPrimaryContact.ToType().GetFieldDefinitionLabel())
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.Person.GetPrimaryContactOrganizations().Any())
                {
                    <ul style="margin: 5px 0">
                        @foreach (var organization in ViewDataTyped.Person.GetPrimaryContactOrganizations())
                        {
                            <li>@organization.GetDisplayNameAsUrl()</li>
                        }
                    </ul>
                }
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @string.Format("{0} for which {1} is a {2}", FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel(), ViewDataTyped.Person.GetFullNameFirstLast(), FieldDefinitionEnum.OrganizationPrimaryContact.ToType().GetFieldDefinitionLabel())
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.BasicProjectInfoGridSpec, ViewDataTyped.BasicProjectInfoGridName, ViewDataTyped.BasicProjectInfoGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                System Communications
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.UserNotificationGridSpec, ViewDataTyped.UserNotificationGridName, ViewDataTyped.UserNotificationGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
