@inherits ProjectFirma.Web.Views.User.EditRoles

<style type="text/css">
    td, th { 
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 3px;
    }
</style>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <th style="padding-bottom: 10px;">Role</th>
            <th style="padding-bottom: 10px;">Receive Support Emails</th>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(m => m.EIPRoleID, ViewDataTyped.EIPRoles, new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.EIPRoleID)
            </td>
            <td style="text-align: center">
                @Html.CheckBoxFor(m => m.ShouldReceiveSupportEmails)
                @Html.ValidationMessageFor(m => m.ShouldReceiveSupportEmails)
            </td>
        </tr>
    </table>


    @Html.HiddenFor(m => m.PersonID)
}