@*-----------------------------------------------------------------------
    <copyright file="ProjectExpendituresSummary.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using ProjectFirmaModels.Models
@using LtInfo.Common
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectUpdateDiffControls.ProjectExpendituresSummary

@if (ViewDataTyped.FundingSourceExpenditures.Any())
{
    <table class="summaryLayout">
        <colgroup>
            <col>
            @foreach (var calendarYear in ViewDataTyped.CalendarYears.OrderBy(x => x.CalendarYear))
            {
                switch (calendarYear.AddedDeletedOrRealElement)
                {
                    case AddedDeletedOrRealElement.AddedElement:
                        <col class="@calendarYear.DisplayCssClass" style="background-color: @HtmlDiffContainer.BackgroundColorForAddedElement">
                        break;
                    case AddedDeletedOrRealElement.DeletedElement:
                        <col class="@calendarYear.DisplayCssClass" style="background-color: @HtmlDiffContainer.BackgroundColorForDeletedElement">
                        break;
                    case AddedDeletedOrRealElement.RealElement:
                        <col>
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }
            <col>
        </colgroup>
        <tr>
            <th>@Html.LabelWithSugarFor(FieldDefinitionEnum.FundingSource.ToType())</th>
            @foreach (var calendarYear in ViewDataTyped.CalendarYears.OrderBy(x => x.CalendarYear))
            {
                <th class="@calendarYear.DisplayCssClass" style="text-align: right">@calendarYear.CalendarYearDisplay</th>
            }
            <th style="text-align: right">Total</th>
        </tr>
        @foreach (var fundingSourceExpenditure in ViewDataTyped.FundingSourceExpenditures.OrderBy(x => x.FundingSourceName))
        {
            <tr class="@fundingSourceExpenditure.DisplayCssClass">
                <td>@fundingSourceExpenditure.FundingSourceNameAsUrl</td>
                @foreach (var calendarYear in ViewDataTyped.CalendarYears.OrderBy(x => x.CalendarYear))
                {
                    <td class="@calendarYear.DisplayCssClass" style="text-align: right">
                        <span>@(fundingSourceExpenditure.CalendarYearExpenditure.ContainsKey(calendarYear.CalendarYear) ? fundingSourceExpenditure.CalendarYearExpenditure[calendarYear.CalendarYear].ToStringCurrency() : "0")</span>
                    </td>
                }
                <th style="text-align: right">
                    <span>@fundingSourceExpenditure.CalendarYearExpenditure.Sum(x => x.Value).ToStringCurrency()</span>
                </th>
            </tr>
        }
        <tr>
            <th>Total:</th>
            @foreach (var calendarYear in ViewDataTyped.CalendarYears.OrderBy(x => x.CalendarYear))
            {
                <th class="@calendarYear.DisplayCssClass" style="text-align: right">
                    <span>@(ViewDataTyped.FundingSourceExpenditures.Any(x => x.CalendarYearExpenditure.ContainsKey(calendarYear.CalendarYear)) ? ViewDataTyped.FundingSourceExpenditures.SelectMany(x => x.CalendarYearExpenditure).Where(x => x.Key == calendarYear.CalendarYear).Sum(x => x.Value).ToStringCurrency() : "0")</span>
                </th>
            }
            <th style="text-align: right">
                <span>@ViewDataTyped.FundingSourceExpenditures.SelectMany(x => x.CalendarYearExpenditure).Sum(x => x.Value).ToStringCurrency()</span>
            </th>
        </tr>

        

    </table>
}
else
{
    <p class="systemText">No Expenditures have been reported for this project.</p>
}

@if (ViewDataTyped.ProjectExemptReportingYears.Any())
{
    <table class="summaryLayout">
        <colgroup>
            <col>
            @foreach (var calendarYear in ViewDataTyped.CalendarYears.OrderBy(x => x.CalendarYear))
            {
                switch (calendarYear.AddedDeletedOrRealElement)
                {
                    case AddedDeletedOrRealElement.AddedElement:
                        <col class="@calendarYear.DisplayCssClass" style="background-color: @HtmlDiffContainer.BackgroundColorForAddedElement">
                        break;
                    case AddedDeletedOrRealElement.DeletedElement:
                        <col class="@calendarYear.DisplayCssClass" style="background-color: @HtmlDiffContainer.BackgroundColorForDeletedElement">
                        break;
                    case AddedDeletedOrRealElement.RealElement:
                        <col>
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }
            <col>
        </colgroup>
        <tr>
            <th colspan="2">
                The @FieldDefinitionEnum.Project.ToType().FieldDefinitionDisplayName has no expenditures to report
            </th>
        </tr>
        <tr>
            <td>
                Selected Years:
            </td>
            <td>
                @string.Join(", ", @ViewDataTyped.ProjectExemptReportingYears.OrderBy(x => x))
            </td>
        </tr>
        <tr>
            <td>
                Comment:
            </td>
            <td>
                @ViewDataTyped.ProjectHasNoExpendituresToReport
            </td>

        </tr>
    </table>
}
