@*-----------------------------------------------------------------------
<copyright file="ProjectFundingRequestsDetail.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared.ProjectUpdateDiffControls
@using LtInfo.Common
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFundingRequestsDetail


<div class="form-group">
    <label class="control-label">
        1. @Html.Label("Does the " + @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() + " budget vary by year or is it the same?")
    </label>
    <div class="input-group">
        <span>@ViewDataTyped.FundingTypeDisplayName</span>
    </div>
</div>
<table class="summaryLayout">
    <colgroup>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <tr>
        <th>@Html.LabelWithSugarFor(FieldDefinitionEnum.FundingSource.ToType())</th>
        @if (ViewDataTyped.FundingTypeID == null || ViewDataTyped.FundingTypeID == 1)
        {
            <th style="text-align: right" ng-if="@ViewDataTyped.FundingTypeID === 1">
                @if (ViewDataTyped.PlanningDesignStartYear != null)
                {
                    <span>@ViewDataTyped.PlanningDesignStartYear</span>
                }
                else
                {
                    <span>Start</span>
                }
                <span> - </span>
                @if (ViewDataTyped.CompletionYear != null)
                {
                    <span>@ViewDataTyped.CompletionYear</span>
                }
                else
                {
                    <span>End</span>
                }
            </th>
        }
        @if (ViewDataTyped.FundingTypeID == 2)
        {
            <th style="text-align: right" ng-if="@ViewDataTyped.FundingTypeID === 1">Each Year</th>
        }

    </tr>
    @foreach (var fundingSourceRequestAmount in ViewDataTyped.FundingSourceRequestAmounts.OrderBy(x => x.FundingSource.FundingSourceName))
    {
        <tr class="@fundingSourceRequestAmount.DisplayCssClass">
            <td>
                <span>@fundingSourceRequestAmount.FundingSource.GetDisplayNameAsUrl()</span>
                <span style="font-style: italic"> - @FieldDefinitionEnum.SecuredFunding.ToType().GetFieldDefinitionLabel()</span>
            </td>
            <td class="@fundingSourceRequestAmount.DisplayCssClass" style="text-align: right">
                <span >@fundingSourceRequestAmount.SecuredAmount.ToStringCurrency()</span>
            </td>
        </tr>
        <tr class="@fundingSourceRequestAmount.DisplayCssClass">
            <td>
                <span>@fundingSourceRequestAmount.FundingSource.GetDisplayNameAsUrl()</span>
                <span style="font-style: italic"> - @FieldDefinitionEnum.TargetedFunding.ToType().GetFieldDefinitionLabel()</span>
            </td>
            <td class="@fundingSourceRequestAmount.DisplayCssClass" style="text-align: right">
                <span >@fundingSourceRequestAmount.TargetedAmount.ToStringCurrency()</span>
            </td>
        </tr>
    }
    @if (ViewDataTyped.FundingSourceRequestAmounts.Any())
    {
        <tr>
            <th>Total</th>
            <td style="text-align: right">
                <span >@ViewDataTyped.FundingSourceRequestAmounts.Sum(x => x.SecuredAmount).ToStringCurrency()</span>
            </td>
            <td style="text-align: right">
                <span >@ViewDataTyped.FundingSourceRequestAmounts.Sum(x => x.TargetedAmount).ToStringCurrency()</span>
            </td>
            <th style="text-align: right">
                <span >@ViewDataTyped.FundingSourceRequestAmounts.Sum(x => x.SecuredAmount + x.TargetedAmount).ToStringCurrency()</span>
            </th>
        </tr>
    }
</table>
@if (!ViewDataTyped.FundingSourceRequestAmounts.Any())
{
    <p class="systemText">No expected funding has been reported for this project.</p>
}
<table class="summaryLayout">
    <tr>
        <td>@Html.LabelWithSugarFor(FieldDefinitionEnum.NoFundingSourceIdentified.ToType())</td>
        <td>@ViewDataTyped.NoFundingSourceIdentifiedYet.ToStringCurrency()</td>
    </tr>
    @if (ViewDataTyped.FundingTypeID == null || ViewDataTyped.FundingTypeID == 1)
    {
        <tr>
            <td>@Html.LabelWithSugarFor(FieldDefinitionEnum.EstimatedTotalCost.ToType())</td>
            <td>@((ViewDataTyped.NoFundingSourceIdentifiedYet + ViewDataTyped.FundingSourceRequestAmounts.Sum(x => x.SecuredAmount + x.TargetedAmount)).ToStringCurrency())</td>
        </tr>
    }
    @if (ViewDataTyped.FundingTypeID == 2)
    {
        <tr>
            <td>@Html.LabelWithSugarFor(FieldDefinitionEnum.EstimatedAnnualOperatingCost.ToType())</td>
            <td>@((ViewDataTyped.NoFundingSourceIdentifiedYet + ViewDataTyped.FundingSourceRequestAmounts.Sum(x => x.SecuredAmount + x.TargetedAmount)).ToStringCurrency())</td>
        </tr>
    }

</table>
