@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.ExpenditureAndBudgetControls.ExpendituresBarChart

@if (ViewDataTyped.GoogleChartJson == null)
{
    <div class="contentWrapper">
        <p class="alert">No expenditures associated with this  category</p>
    </div>
}
else
{
    <div class="lineChartSection" style="width: 100%; height: 400px;">
        <div style="font-weight: bold">Annual  Expenditures </div>
        <div class="ltinfoChartControls">
            <a class="expandBox" style="font-size: small" href="@ViewDataTyped.GoogleChartJson.ChartPopupUrl">
                <span class="glyphicon glyphicon-fullscreen" style="margin-right: 5px"></span>Enlarge
            </a>
        </div>

        <div id="@ViewDataTyped.GoogleChartJson.ChartName"
             class="ReportedValueChart"
             style="height: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Height)px; width: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Width)px; margin-left: auto; margin-right: auto;"></div>

    </div>


    <script>
        jQuery(document).ready(function()
        {
            var googleChartJson = @Html.Raw(JObject.FromObject(ViewDataTyped.GoogleChartJson).ToString(Formatting.None));
            GoogleCharts.drawCharts([googleChartJson]);
        });
    </script>
}