@*-----------------------------------------------------------------------
    <copyright file="ProjectExpendituresDetail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Views
@inherits ProjectFirma.Web.Views.Shared.ExpenditureAndBudgetControls.ProjectExpendituresDetail

@if (ViewDataTyped.FundingSourceExpenditures.Any())
{
    <div style="overflow-x: auto">
        <table class="table table-striped table-condensed table-hover">
            <tr>
                <th>@Html.LabelWithSugarFor(FieldDefinition.FundingSource)</th>
                @foreach (var calendarYear in ViewDataTyped.CalendarYearStrings.OrderByDescending(x => x.CalendarYear))
                {
                    <th class="text-right">
                        @calendarYear.CalendarYearDisplay
                    </th>
                }
                <th class="text-right">Total</th>
            </tr>
            @foreach (var fundingSourceExpenditure in ViewDataTyped.FundingSourceExpenditures.OrderBy(x => x.FundingSourceName))
            {
                <tr>
                    <td>@Html.Raw(fundingSourceExpenditure.FundingSourceNameAsUrl)</td>
                    @foreach (var calendarYear in fundingSourceExpenditure.CalendarYearExpenditure.Keys.OrderByDescending(x => x))
                    {
                        <td class="text-right">@fundingSourceExpenditure.CalendarYearExpenditure[calendarYear].ToStringCurrency()</td>
                    }
                    <th class="text-right">@fundingSourceExpenditure.CalendarYearExpenditure.Sum(x => x.Value).ToStringCurrency()</th>
                </tr>
            }
            <tr>
                <th>Total:</th>
                @foreach (var calendarYear in ViewDataTyped.CalendarYearStrings.OrderByDescending(x => x.CalendarYear))
                {
                    <th class="text-right">@ViewDataTyped.FundingSourceExpenditures.SelectMany(x => x.CalendarYearExpenditure).Where(x => x.Key == calendarYear.CalendarYear).Sum(x => x.Value).ToStringCurrency()</th>
                }
                <th class="text-right">@ViewDataTyped.FundingSourceExpenditures.SelectMany(x => x.CalendarYearExpenditure).Sum(x => x.Value).ToStringCurrency()</th>
            </tr>
        </table>
    </div>

    if (ViewDataTyped.ExemptReportingYears.Any())
    {
        <hr/>
        <table class="summaryLayout">
            <tr>
                <td colspan="2">No expenditures to report for:</td>
            </tr>
            <tr>
                <th>Year(s):</th>
                <td>@string.Join(", ", ViewDataTyped.ExemptReportingYears.OrderBy(x => x))</td>
            </tr>
            <tr>
                <th>Explanation:</th>
                <td>@Html.Raw(ViewDataTyped.ExemptionExplanation.HtmlEncodeWithBreaks())</td>
            </tr>
        </table>
    }
}
@if (!ViewDataTyped.FundingSourceExpenditures.Any())
{
    <p class="systemText">No Expenditures have been reported for this @FieldDefinition.Project.GetFieldDefinitionLabel().</p>
}
