@using ProjectFirma.Web.Models
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Shared.ExpenditureAndBudgetControls.ProjectBudgetSummary

@if (!ViewDataTyped.ProjectBudgetAmounts.Any())
{
    <p class="alert">No budgets have been entered for this project.</p>
}
else
{
    <table class="gridLayout" style="width: 100%">
        <tr>
            <th style="text-align: left">@Html.LabelWithFieldDefinitionFor(FieldDefinition.FundingSource)</th>
            @foreach (var calendarYear in ViewDataTyped.CalendarYears)
            {
                <th>
                    @calendarYear
                </th>
            }
            <th>Total</th>
        </tr>
        @foreach (var groupedByFundingSource in ViewDataTyped.ProjectBudgetAmounts.GroupBy(x => x.FundingSourceName).OrderBy(x => x.Key))
        {
            <tr style="border: solid black; border-width: 1px 0 1px 1px; background-color: #cecece">
                <td style="text-align: left" colspan="@(ViewDataTyped.CalendarYears.Count + 1)">@Html.Raw(groupedByFundingSource.First().FundingSourceDisplayName)</td>
                <td>@groupedByFundingSource.Sum(x => x.MonetaryAmount).ToStringCurrency()</td>
            </tr>
            foreach (var groupedByCostType in groupedByFundingSource.GroupBy(x => x.ProjectCostType).OrderBy(x => x.Key.SortOrder))
            {
                <tr>
                    <td style="text-align: left; padding-left: 20px;">@Html.Raw(groupedByCostType.Key.ProjectCostTypeDisplayName)</td>
                    @foreach (var calendarYear in ViewDataTyped.CalendarYears)
                    {
                        <td>
                            <span class="normalDollars">@groupedByCostType.Where(x => x.CalendarYear == calendarYear).Sum(x => x.MonetaryAmount).ToStringCurrency()</span>                  
                        </td>
                    }
                    <td>
                        <span class="normalDollars">@groupedByCostType.Sum(x => x.MonetaryAmount).ToStringCurrency()</span>
                    </td>
                </tr>
            }
        }
        <tr>
            <th style="text-align: left">Grand Total</th>
            @foreach (var calendarYear in ViewDataTyped.CalendarYears)
            {
                <th>
                    <span class="normalDollars">@ViewDataTyped.ProjectBudgetAmounts.Where(x => x.CalendarYear == calendarYear).Sum(x => x.MonetaryAmount).ToStringCurrency()</span>
                </th>
            }
            <th>
                <span class="normalDollars">@ViewDataTyped.ProjectBudgetAmounts.Sum(x => x.MonetaryAmount).ToStringCurrency()</span>
            </th>
        </tr>
    </table>
}
