@*-----------------------------------------------------------------------
    <copyright file="ProjectExpendituresDetail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ExpenditureAndBudgetControls.ProjectExpendituresDetail

@if (ViewDataTyped.FundingSourceExpenditures.Any())
{
    <div class="table-responsive tableFixHeader" style="max-height: 450px;">
        <table class="table table-condensed table-bordered">
            <tr>
                <th>@Html.LabelWithSugarFor(FieldDefinitionEnum.FundingSource.ToType())</th>
                @foreach (var calendarYear in ViewDataTyped.CalendarYearStrings.OrderBy(x => x.CalendarYear))
                {
                    <th class="text-right">
                        @calendarYear.CalendarYearDisplay
                    </th>
                }
                <th class="text-right">Total</th>
            </tr>
            @foreach (var fundingSourceExpenditure in ViewDataTyped.FundingSourceExpenditures.OrderBy(x => x.FundingSourceName))
            {
            <tr>
                <td style="text-align: left; white-space: nowrap;">@Html.Raw(fundingSourceExpenditure.FundingSourceNameAsUrl)</td>
                @foreach (var calendarYear in fundingSourceExpenditure.CalendarYearExpenditure.Keys.OrderBy(x => x))
                    {
                        <td class="text-right">@fundingSourceExpenditure.CalendarYearExpenditure[calendarYear].ToStringCurrency()</td>
                    }
                <td class="text-right" style="font-weight: bold;">@fundingSourceExpenditure.CalendarYearExpenditure.Sum(x => x.Value).ToStringCurrency()</td>
            </tr>
            }
            <tr>
                <th style="text-align:left">Grand Total</th>
                @foreach (var calendarYear in ViewDataTyped.CalendarYearStrings.OrderBy(x => x.CalendarYear))
                {
                    <th class="text-right">@ViewDataTyped.FundingSourceExpenditures.SelectMany(x => x.CalendarYearExpenditure).Where(x => x.Key == calendarYear.CalendarYear).Sum(x => x.Value).ToStringCurrency()</th>
                }
                <th class="text-right">@ViewDataTyped.FundingSourceExpenditures.SelectMany(x => x.CalendarYearExpenditure).Sum(x => x.Value).ToStringCurrency()</th>
            </tr>
        </table>
    </div>

}
else
{
    <p class="systemText">No Expenditures have been reported for this @(FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()).</p>
}

<hr />
<table class="summaryLayout">
    <tr>
        <th>Note:</th>
        @if (ViewDataTyped.ExpendituresNote == null)
        {
            <td style="font-style: italic">None provided</td>
        }
        else
        {
            <td>@Html.Raw(ViewDataTyped.ExpendituresNote.HtmlEncodeWithBreaks())</td>
        }
    </tr>
</table>



