@using ProjectFirma.Web.Areas.Sustainability.Controllers
@using ProjectFirma.Web.Common
@using Microsoft.Web.Mvc
@inherits ProjectFirma.Web.Areas.Sustainability.Views.Home.EditAbout

@{
    SetLayout("~/Areas/Sustainability/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CustomScripts/CkEditorReady.js")" type="text/javascript"></script>

@using (Html.BeginForm<HomeController>(x => x.EditAbout()))
{
    <header class="@ViewDataTyped.HeaderClass">
        <div class="row">
            <div class="large-3 columns">
                <div class="logo">
                    <strong>Lake Tahoe - Sustainable Communities Program</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="intro large-10 large-offset-1 columns text-center" style="margin-top: 10px; margin-bottom: 10px">
                <h1>About these Indicators and our Process</h1>
                @Html.CkEditorFor(m => m.IntroHtmlString, CkEditorExtension.CkEditorToolbar.None, true, false, null)
            </div>
        </div>

    </header>

    <div id="dashboardAdmin" class="text-right" position="absolute">
        <button class="btn btn-blue dashboardButton" type="submit">Save</button>
        <button class="btn btn-blue dashboardButton" type="button" onclick="javascript:{window.location.href = '@ViewDataTyped.CancelUrl';}" style="margin-right: 15px">Cancel</button>
    </div>

    <div class="container-fluid body">
        <div class="row">
            <div class="large-12 columns">
                <div id="AboutSustainabilityDashboard">
                    <h2>About Sustainability Dashboard</h2>
                    @Html.CkEditorFor(m => m.AboutHtmlString, CkEditorExtension.CkEditorToolbar.AllOnOneRow, true, true, null)
                </div>
                <div id="Faq">
                    <h2>Frequently Asked Questions</h2>
                    @Html.CkEditorFor(m => m.FaqHtmlString, CkEditorExtension.CkEditorToolbar.AllOnOneRow, true, true, null)
                </div>
            </div>
        </div>
    </div>
}

<script>
    jQuery(document).ready(function () {
        jQuery(window).scroll(adjustDashboardAdminScroll);
        adjustDashboardAdminScroll();
    });

    function adjustDashboardAdminScroll() {
        if (jQuery(this).scrollTop() > jQuery("header").height()) {
            document.getElementById("dashboardAdmin").style.width = "100%";
            document.getElementById("dashboardAdmin").style.position = "fixed";
            document.getElementById("dashboardAdmin").style.top = "0";
        }
        else {
            document.getElementById("dashboardAdmin").style.position = "static";
        }
    }
</script>
