@*-----------------------------------------------------------------------
<copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views.Results
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Views.Organization
@inherits Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.css")" rel="stylesheet" type="text/css" />
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all Organizations</a>
</div>

<div class="container-fluid">
    <ul class="nav nav-tabs" id="organizationDetailsTabs">
        <li class="active"><a href="#organizationOverview" aria-controls="organizationOverview" role="tab" data-toggle="tab">Overview</a></li>
        <li><a href="#fundingAndProjects" aria-controls="fundingAndProjects" role="tab" data-toggle="tab">Funding &amp; Projects</a></li>
    </ul>
</div>
<div class="panel panel-default">
    <div class="panel-body tabPaneBody">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="organizationOverview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditOrganizationUrl, string.Format("Edit Organization - {0}", ViewDataTyped.Organization.DisplayName), ViewDataTyped.UserHasOrganizationManagePermissions) Basics
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.Label("Organization Name")</div>
                                    <div class="col-xs-7">@ViewDataTyped.Organization.OrganizationName</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.Label("Abbreviation")</div>
                                    <div class="col-xs-7">@ViewDataTyped.Organization.OrganizationAbbreviation</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinition.OrganizationType)</div>
                                    <div class="col-xs-7">@(ViewDataTyped.Organization.OrganizationType != null ? ViewDataTyped.Organization.OrganizationType.OrganizationTypeName : string.Empty)</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinition.PrimaryContact)</div>
                                    <div class="col-xs-7">@(new UserViewFeature().HasPermission(ViewDataTyped.CurrentPerson, ViewDataTyped.Organization.PrimaryContactPerson).HasPermission ? ViewDataTyped.Organization.PrimaryContactPersonWithOrgAsUrl : ViewDataTyped.Organization.PrimaryContactPersonAsStringAndOrgAsUrl)</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.Label("Home Page")</div>
                                    <div class="col-xs-7"><a href="@ViewDataTyped.Organization.OrganizationUrl">@ViewDataTyped.Organization.OrganizationUrl</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditOrganizationUrl, string.Format("Edit Basics - {0}", ViewDataTyped.Organization.DisplayName), ViewDataTyped.UserHasOrganizationManagePermissions) Logo
                            </div>
                            <div class="panel-body">
                                @if (ViewDataTyped.Organization.LogoFileResource != null)
                                {
                                    <div style="width: 100%; text-align: center;">
                                        <img src="@ViewDataTyped.Organization.LogoFileResource.FileResourceUrl" style="max-width: 200px; max-height: 200px; margin-left: auto; margin-right: auto;" />
                                    </div>
                                }
                                else
                                {
                                    <p>No logo uploaded for this organization</p>
                                }
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @FieldDefinition.ProjectLocation.GetFieldDefinitionLabelPluralized() and Boundary
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="pull-right">
                                            @if (ViewDataTyped.UserHasOrganizationManagePermissions)
                                            {
                                                <a href="@ViewDataTyped.EditBoundaryUrl" title="Edit Organization Boundary" class="btn btn-firma">
                                                    @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit blue")
                                                    Edit Boundary
                                                </a>
                                                if (ViewDataTyped.Organization.OrganizationBoundary != null)
                                                {
                                                    @ModalDialogFormHelper.MakeDeleteLink(string.Format("{0} Delete Boundary", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash")), ViewDataTyped.DeleteOrganizationBoundaryUrl, new List<string> { "btn", "btn-firma" }, ViewDataTyped.UserHasOrganizationManagePermissions)
                                                }
                                            }
                                        </div>
                                        @if (ViewDataTyped.HasSpatialData)
                                        {
                                            <p>
                                                This map displays any the location of any @FieldDefinition.Project.GetFieldDefinitionLabelPluralized() and boundaries associated with this @FieldDefinition.Organization.GetFieldDefinitionLabel().
                                            </p>
                                        }
                                        else
                                        {
                                            <p>No spatial data associated with this @FieldDefinition.Organization.GetFieldDefinitionLabel().</p>
                                        }
                                    </div>
                                    <div class="col-xs-12">
                                        @if (ViewDataTyped.HasSpatialData)
                                        {
                                            <div id="legend" style="padding: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);">
                                                <div>
                                                    <span style="font-weight: bold">Projects</span>
                                                    <div style="margin-left: 10px">
                                                        <div>
                                                            <span class="glyphicon glyphicon-map-marker" style="color: #3366ff"></span> @FieldDefinition.LeadImplementer.GetFieldDefinitionLabel()
                                                        </div>
                                                        <div>
                                                            <span class="glyphicon glyphicon-map-marker" style="color: #99b3ff"></span> Other Association
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 600px; margin: 5px 0 5px 0">
                                            </div>
                                            <span class="alert" style="font-size: 12px">To zoom, hold down Shift and drag a rectangle.</span>
                                            <script type="text/javascript">
                                                jQuery(document).ready(function() {
                                                    var mapInitJson =
                                                        @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
                                                    var map = new ProjectFirmaMaps.Map(mapInitJson);

                                                    var legend = new L.Control.Legend({
                                                        position: 'topleft',
                                                        collapsed: false,
                                                        controlButton: {
                                                            title: "Legend"
                                                        }
                                                    });

                                                    map.map.addControl(legend);
                                                    $(".legend-container").append($("#legend"));
                                                });
                                            </script>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                Users
                            </div>
                            <div class="panel-body">
                                @if (ViewDataTyped.Organization.People.Any())
                                {
                                    <ul>
                                        @foreach (var person in ViewDataTyped.Organization.People.Where(x => x.IsActive).OrderBy(x => x.FullNameLastFirst))
                                        {
                                            if (new UserViewFeature().HasPermission(ViewDataTyped.CurrentPerson, person).HasPermission)
                                            {
                                                <li>
                                                    @person.GetFullNameFirstLastAsUrl()
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    @person.FullNameFirstLast
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <div class="alert" role="alert">No Users belong to this organization.</div>
                                }
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4 col-sm-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@FieldDefinition.MonitoringProgram.GetFieldDefinitionLabel()</h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.Organization.MonitoringProgramPartners.Any())
                {
                    <table class="summaryLayout">
                        @foreach (var monitoringProgram in ViewDataTyped.Organization.MonitoringProgramPartners.Select(x => x.MonitoringProgram).OrderBy(x => x.MonitoringProgramName))
                        {
                            <tr>
                                <td>
                                    @monitoringProgram.DisplayNameAsUrl
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <span class="alert">No @FieldDefinition.MonitoringProgram.GetFieldDefinitionLabelPluralized() for this organization.</span>
                }
            </div>
        </div>
    </div>*@

                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="fundingAndProjects">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @Html.LabelWithSugarFor(FieldDefinition.FundingSource, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) <a href="@ViewDataTyped.ManageFundingSourcesUrl">@FieldDefinition.FundingSource.GetFieldDefinitionLabelPluralized()</a>
                            </div>
                            <div class="panel-body">
                                @if (ViewDataTyped.Organization.FundingSources.Any())
                                {
                                    <ul>
                                        @foreach (var fundingSource in ViewDataTyped.Organization.FundingSources.OrderBy(x => x.FundingSourceName))
                                        {
                                            <li>
                                                @fundingSource.DisplayNameAsUrl
                                            </li>
                                        }
                                    </ul>

                                }
                                else
                                {
                                    <div class="alert">No @FieldDefinition.FundingSource.GetFieldDefinitionLabelPluralized() set for this organization.</div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @FieldDefinition.ReportedExpenditure.GetFieldDefinitionLabelPluralized() by @FieldDefinition.FundingSource.GetFieldDefinitionLabel()
                            </div>
                            <div class="panel-body">
                                <div>
                                    @{ CalendarYearExpendituresLineChart.RenderPartialView(Html, ViewDataTyped.CalendarYearExpendituresLineChartViewData); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                Projects
                            </div>
                            <div class="panel-body">
                                <div>
                                    @Html.DhtmlxGrid(ViewDataTyped.ProjectOrganizationsGridSpec, ViewDataTyped.ProjectOrganizationsGridName, ViewDataTyped.ProjectOrganizationsGridDataUrl, string.Format("height:300px; width:{0}px;", ViewDataTyped.ProjectOrganizationsGridSpec.CalculateTotalColumnWidth()), DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
