@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views.Results
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Views.Organization
@inherits Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.css")" rel="stylesheet" type="text/css" />
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all Organizations</a>
</div>

<div class="container-fluid">
    <ul class="nav nav-tabs" id="organizationDetailsTabs">
        <li class="active"><a href="#organizationOverview" aria-controls="organizationOverview" role="tab" data-toggle="tab">Overview</a></li>
        <li><a href="#fundingAndProjects" aria-controls="fundingAndProjects" role="tab" data-toggle="tab">Funding &amp; Projects</a></li>
    </ul>
</div>
<div class="panel panel-default">
    <div class="panel-body tabPaneBody">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="organizationOverview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditOrganizationUrl, string.Format("Edit Organization - {0}", ViewDataTyped.Organization.DisplayName), ViewDataTyped.UserHasOrganizationManagePermissions) Basics
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.Label("Organization Name")</div>
                                    <div class="col-xs-7">@ViewDataTyped.Organization.OrganizationName</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.Label("Abbreviation")</div>
                                    <div class="col-xs-7">@ViewDataTyped.Organization.OrganizationAbbreviation</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinition.Sector)</div>
                                    <div class="col-xs-7">@ViewDataTyped.Organization.Sector.SectorDisplayName</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinition.PrimaryContact)</div>
                                    <div class="col-xs-7">@(new UserViewFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson) ? ViewDataTyped.Organization.PrimaryContactPersonWithOrgAsUrl : ViewDataTyped.Organization.PrimaryContactPersonAsStringAndOrgAsUrl)</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 fieldLabel text-right">@Html.Label("Home Page URL")</div>
                                    <div class="col-xs-7"><a href="@ViewDataTyped.Organization.OrganizationUrl">@ViewDataTyped.Organization.OrganizationUrl</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditOrganizationUrl, string.Format("Edit Basics - {0}", ViewDataTyped.Organization.DisplayName), ViewDataTyped.UserHasOrganizationManagePermissions) Logo
                            </div>
                            <div class="panel-body">
                                @if (ViewDataTyped.Organization.LogoFileResource != null)
                                {
                                    <div style="width: 100%; text-align: center;">
                                        <img src="@ViewDataTyped.Organization.LogoFileResource.FileResourceUrl" style="max-width: 200px; max-height: 200px; margin-left: auto; margin-right: auto;" />
                                    </div>
                                }
                                else
                                {
                                    <p>No logo uploaded for this organization</p>
                                }

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                Map
                            </div>
                            <div class="panel-body">
                                @if (ViewDataTyped.HasSpatialData)
                                {
                                    <span>This map displays any Projects, Development Right Transfers, and jurisdictional boundaries associated with this organiztion.</span>

                                    <div id="legend" style="padding: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);">
                                        <div>
                                            <span style="font-weight: bold">Projects</span>
                                            <div style="margin-left: 10px">
                                                <div>
                                                    <span class="glyphicon glyphicon-map-marker" style="color: #3366ff"></span>Lead Implementer
                                                </div>
                                                <div>
                                                    <span class="glyphicon glyphicon-map-marker" style="color: #99b3ff"></span>Funder and/or Implementer
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 600px; margin: 5px 0 5px 0">
                                    </div>
                                    <span class="alert" style="font-size: 12px">To zoom, hold down Shift and drag a rectangle.</span>
                                    <script type="text/javascript">
                                        jQuery(document).ready(function()
                                        {
                                            var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
                                            var map = new ProjectFirmaMaps.Map(mapInitJson);

                                            var legend = new L.Control.Legend({
                                                position: 'topleft',
                                                collapsed: false,
                                                controlButton: {
                                                    title: "Legend"
                                                }
                                            });

                                            map.map.addControl( legend );
                                            $(".legend-container").append( $("#legend") );
                                        });
                                    </script>
                                }
                                else
                                {
                                    <span class="alert">No spatial data associated with this organization.</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                Users
                            </div>
                            <div class="panel-body">
                                @if (ViewDataTyped.Organization.People.Any())
                                {
                                    <ul>
                                        @foreach (var person in ViewDataTyped.Organization.People.Where(x => x.IsActive).OrderBy(x => x.FullNameLastFirst))
                                        {
                                            if (new UserViewFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
                                            {
                                                <li>
                                                    @person.GetFullNameFirstLastAsUrl()
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    @person.FullNameFirstLast
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <div class="alert" role="alert">No Users belong to this organization.</div>
                                }
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4 col-sm-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                <h2>Monitoring Programs</h2>
                            </div>
                            <div class="panel-body">
                                @if (ViewDataTyped.Organization.MonitoringProgramPartners.Any())
                                {
                                    <table class="summaryLayout">
                                        @foreach (var monitoringProgram in ViewDataTyped.Organization.MonitoringProgramPartners.Select(x => x.MonitoringProgram).OrderBy(x => x.MonitoringProgramName))
                                        {
                                            <tr>
                                                <td>
                                                    @monitoringProgram.DisplayNameAsUrl
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <span class="alert">No monitoring programs for this organization.</span>
                                }
                            </div>
                        </div>
                    </div>*@

                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="fundingAndProjects">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @Html.LabelWithSugarFor(FieldDefinition.FundingSource, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) <a href="@ViewDataTyped.ManageFundingSourcesUrl">Funding Sources</a>
                            </div>
                            <div class="panel-body">
                                @if (ViewDataTyped.Organization.FundingSources.Any())
                                {
                                    <ul>
                                        @foreach (var fundingSource in ViewDataTyped.Organization.FundingSources.OrderBy(x => x.FundingSourceName))
                                        {
                                            <li>
                                                @fundingSource.DisplayNameAsUrl
                                            </li>
                                        }
                                    </ul>

                                }
                                else
                                {
                                    <div class="alert">No funding sources set for this organization.</div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                Reported Expenditures by Funding Source
                            </div>
                            <div class="panel-body">
                                <div>
                                    @{ CalendarYearExpendituresLineChart.RenderPartialView(Html, ViewDataTyped.CalendarYearExpendituresLineChartViewData); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                Projects
                            </div>
                            <div class="panel-body">
                                <div>
                                    @Html.DhtmlxGrid(ViewDataTyped.ProjectOrganizationsGridSpec, ViewDataTyped.ProjectOrganizationsGridName, ViewDataTyped.ProjectOrganizationsGridDataUrl, string.Format("height:300px; width:{0}px;", ViewDataTyped.ProjectOrganizationsGridSpec.CalculateTotalColumnWidth()), DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
