@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Organization
@using ProjectFirma.Web.Views.Shared

@inherits EditBoundary

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/ScriptsCustom/Maps/ProjectFirmaMaps.SelectableMap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/spinjs/spin.min.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        jQuery(function () {
            var $saveButton = jQuery("#@ModalDialogFormHelper.SaveButtonID");
            $saveButton.prop("disabled", true);
            jQuery("#@Html.IdFor(x => x.FileResourceData)").on("change", function () {
                var $form = jQuery("#uploadGisForm");
                if ($form.valid()) {
                    var $gisUploadResults = jQuery("#gisUploadResults");
                    $form.ajaxForm({
                        "url": this.action,
                        "type": this.method,
                        "beforeSubmit": function () {
                            jQuery("#submitApproveUploadGis").prop("disabled", true);
                            $gisUploadResults.html(jQuery("#progressBarHtml").html());
                        },
                        "success": function (result, textStatus, jqXhr) {
                            jQuery(".progress").hide();
                            SitkaAjax.handleLoginRedirect(result,
                                textStatus,
                                jqXhr,
                                function () {
                                    $gisUploadResults.html(result);
                                    $saveButton.prop("disabled", false);
                                });
                        },
                        "error": function (xhr, statusText) {
                            console.error("xhr: " + xhr + ", status: " + statusText);
                            jQuery(".progress").hide();
                            $saveButton.prop("disabled", true);
                            $gisUploadResults.html(jQuery("#gisUploadErrorHtml").html());
                        }
                    });
                    $form.submit();
                }
            });
        });
        // ]]>
    </script>
    <script id="progressBarHtml" type="text/html">
        <div style="padding-top: 10%">
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active text-center" role="progressbar" style="width: 100%">
                    Uploading &hellip;
                </div>
            </div>
        </div>
    </script>
    <script id="gisUploadErrorHtml" type="text/html">
        <div class="alert alert-danger" role="alert">
            There was a problem uploading your file geodatabase. Verify it meets the requirements and is not corrupt.
        </div>
    </script>
}

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <p>You may provide a map of your existing boundary location. Here is a list of requirements for upload:</p>
        <ul>
            <li>A single ArcGIS file geodatabase containing only features associated with the current project</li>
            <li>The file geodatabase (.gdb) must be contained within a compressed zip file (.zip)</li>
            <li>The zip file must contain only one file geodatabase and no other data</li>
            <li>Geodatabased using ESRI Smart Database Compression (SDC) are not supported. Please uncompress before zipping and uploading</li>
            <li>Version 10.1+ file geodatabases are supported</li>
        </ul>
        <p>
            After you upload your file, you will be able to preview and verify the uploaded data. Note that once you accept the uploaded data,
            any existing @(FieldDefinition.Organization.GetFieldDefinitionLabel()) boundary for <strong>@(ViewDataTyped.Organization.OrganizationName)</strong> will be overwritten.
        </p>
        <form id="uploadGisForm" method="post" action="@ViewDataTyped.EditBoundaryUrl" endtype="multipart/form-data">
            <div class="form-group">
                @Html.EditorFor(m => m.FileResourceData)
                @Html.ValidationMessageFor(m => m.FileResourceData)
                <span class="smallExplanationText">
                    Allowed Extensions: zip
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div id="gisUploadResults">
            <p class="text-center">
                Select a GIS file to upload, then specify the boundary you wish to assign to this @(FieldDefinition.Organization.GetFieldDefinitionLabel()).
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4">
        <form id="approveUploadGisForm" action="@ViewDataTyped.ApproveGisUploadUrl" method="post">
            <div class="text-right">
                <div id="putTheDataHere"></div>
                <a href="@ViewDataTyped.OrganizationDetailUrl" class="btn btn-firma">Cancel</a>
                <button id="submitApproveUploadGis" type="button" class="btn btn-firma" disabled="disabled" onclick="submitSelectedOrganizationBoundary()">Submit Boundary</button>
            </div>
        </form>
    </div>
</div>
