@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared.ProjectControls
@using ProjectFirma.Web.Views.Shared.ProjectLocationControls
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.PerformanceMeasure
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using MoreLinq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Views.Shared.SortOrder
@inherits ProjectFirma.Web.Views.TaxonomyTierTwo.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        #@ViewDataTyped.ProjectLocationsMapInitJson.MapDivID
        {
            height: 360px;
        }

        .chartWrapper
        {
            border: 2px black solid;
            box-shadow: 0 2px 2px 0;
        }

    </style>
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all @ViewDataTyped.TaxonomyTierTwoDisplayNamePluralized</a>
</div>


<div class="row">
    <div class="col-md-@(ViewDataTyped.PerformanceMeasureChartViewDatas.Any() ? 6 : 12)">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditTaxonomyTierTwoUrl, string.Format("Edit {0} - {1}", ViewDataTyped.TaxonomyTierTwoDisplayName, ViewDataTyped.TaxonomyTierTwo.DisplayName), ViewDataTyped.UserHasTaxonomyTierTwoManagePermissions) Basics
                </h2>
            </div>
            <div class="panel-body">
                @{ ProjectTaxonomy.RenderPartialView(Html, ViewDataTyped.ProjectTaxonomyViewData); }
            </div>
        </div>
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierTwoDescription)</h2>
            </div>
            <div class="panel-body">
                <div>
                    @ViewDataTyped.TaxonomyTierTwo.TaxonomyTierTwoDescription
                </div>
            </div>
        </div>
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@ViewDataTyped.TaxonomyTierTwoDisplayName @FieldDefinition.Project.GetFieldDefinitionLabelPluralized() Map</h2>
            </div>
            <div style="padding: 10px">
                <div style="border-radius: 8px; background-color: white; margin: 5px 0 5px 0">
                    @{ ProjectLocationsMap.RenderPartialView(Html, ViewDataTyped.ProjectLocationsMapViewData); }
                </div>
                <p style="font-size: 10px">To zoom, hold down Shift and drag a rectangle.</p>
                <span>Some projects operate over larger areas and are not represented on the map, but are listed in the project grid below. A <a href="@ViewDataTyped.ProjectMapFilteredUrl">full-screen, filterable version of this map</a> is also available.</span>
            </div>
        </div>
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    <a href="@ViewDataTyped.IndexUrl">@ViewDataTyped.TaxonomyTierOneDisplayNamePluralized</a>
                </h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.TaxonomyTierTwo.TaxonomyTierOnes.Any())
                {
                    <div class="pull-right">@SortOrderHelper.SortOrderModalLink(ViewDataTyped.EditChildrenSortOrderUrl)</div>

                    <table class="summaryLayout">
                        <tr>
                            <th>@Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierOne, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)</th>
                        </tr>
                        @foreach (var taxonomyTierOne in ViewDataTyped.TaxonomyTierTwo.TaxonomyTierOnes.SortByOrderThenName())
                        {
                            <tr>
                                <td>
                                    @taxonomyTierOne.GetDisplayNameAsUrl()
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p class="systemText">No @ViewDataTyped.TaxonomyTierOneDisplayNamePluralized set for this @ViewDataTyped.TaxonomyTierTwoDisplayName.</p>
                }
            </div>
        </div>
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    <a href="@ViewDataTyped.PerformanceMeasureUrl">@MultiTenantHelpers.GetPerformanceMeasureNamePluralized()</a>
                </h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.TaxonomyTierTwoPerformanceMeasures.Any())
                {
                    <table class="summaryLayout">
                        <tr>
                            <th>@Html.LabelWithSugarFor(FieldDefinition.PerformanceMeasure)</th>
                        </tr>
                        @foreach (var performanceMeasure in ViewDataTyped.TaxonomyTierTwoPerformanceMeasures.SortByOrderThenName())
                        {
                            <tr>
                                <td>
                                    @performanceMeasure.GetDisplayNameAsUrl()
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p class="systemText">No @MultiTenantHelpers.GetPerformanceMeasureNamePluralized() set for this @ViewDataTyped.TaxonomyTierTwoDisplayName.</p>
                }
            </div>
        </div>
    </div>

    @if (ViewDataTyped.PerformanceMeasureChartViewDatas.Any())
    {
        <div class="col-md-6">
            @foreach (var batch in ViewDataTyped.PerformanceMeasureChartViewDatas.Batch(3))
            {
                <div class="row">
                    @foreach (var performanceMeasureChartViewData in batch)
                    {
                        <div class="col-md-4" style="width: 500px">
                            <div class="panel panelFirma">
                                <div class="panel-body">
                                    @{ PerformanceMeasureChart.RenderPartialView(Html, performanceMeasureChartViewData); }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    <a href="@ViewDataTyped.FullProjectListUrl">@FieldDefinition.Project.GetFieldDefinitionLabelPluralized()</a>
                </h2>
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.BasicProjectInfoGridSpec, ViewDataTyped.BasicProjectInfoProjectGridName, ViewDataTyped.BasicProjectInfoProjectGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationsMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationsMapInitJson).ToString(Formatting.None));
        var map = new ProjectFirmaMaps.Map(projectLocationsMapInitJson);
        map.initializeProjectLocations(projectLocationsMapInitJson);
    });
</script>
