@using ProjectFirma.Web.Controllers
@using LtInfo.Common.HtmlHelperExtensions
@using Microsoft.Web.Mvc
@inherits ProjectFirma.Web.Views.TaxonomyTierTwo.Edit
@using (Html.BeginForm())
{
    <div class="container-fluid container-fluid-dialog-form">
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithFieldDefinitionFor(m => m.TaxonomyTierTwoName)</div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.TaxonomyTierTwoName)
                @Html.ValidationMessageFor(m => m.TaxonomyTierTwoName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-header">@Html.LabelWithFieldDefinitionFor(m => m.TaxonomyTierThreeID)</div>
            <div class="col-md-9">
                @if (ViewDataTyped.HasProjects)
                {
                    @ViewDataTyped.TaxonomyTierThreeDisplayName
                    @Html.HiddenFor(x => x.TaxonomyTierThreeID)
                }
                else
                {
                    @Html.DropDownListFor(m => m.TaxonomyTierThreeID, ViewDataTyped.TaxonomyTierThrees)
                    @Html.ValidationMessageFor(m => m.TaxonomyTierThreeID)
                }
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.TaxonomyTierTwoID)
}