@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.Evaluation.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Views/Evaluation/EditEvaluationCriterionController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Views/Evaluation/AddProjectEvaluationController.js")"></script>
}



<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">
        @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left")
        Back to all @FieldDefinitionEnum.ProjectEvaluation.ToType().GetFieldDefinitionLabelPluralized()
    </a>
</div>

<div class="row">
    <div class="col-lg-6 col-md-5">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditEvaluationUrl, string.Format("Edit {0}: {1}", FieldDefinitionEnum.Evaluation.ToType().GetFieldDefinitionLabel(), ViewDataTyped.Evaluation.EvaluationName), 1000, ViewDataTyped.UserHasEvaluationManagePermissions)
                    Basics
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>@FieldDefinitionEnum.EvaluationName.ToType().GetFieldDefinitionLabel()</label></div>
                    <div class="col-xs-7">@ViewDataTyped.Evaluation.EvaluationName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>@FieldDefinitionEnum.EvaluationDefinition.ToType().GetFieldDefinitionLabel()</label></div>
                    <div class="col-xs-7">@ViewDataTyped.Evaluation.EvaluationDefinition</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>@FieldDefinitionEnum.EvaluationStatus.ToType().GetFieldDefinitionLabel()</label></div>
                    <div class="col-xs-7">@ViewDataTyped.Evaluation.GetEvaluationStatusDisplayName()</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>@FieldDefinitionEnum.EvaluationStartDate.ToType().GetFieldDefinitionLabel()</label></div>
                    <div class="col-xs-7">@ViewDataTyped.Evaluation.EvaluationStartDate.ToStringDate()</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>@FieldDefinitionEnum.EvaluationEndDate.ToType().GetFieldDefinitionLabel()</label></div>
                    <div class="col-xs-7">@ViewDataTyped.Evaluation.EvaluationEndDate.ToStringDate()</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>@FieldDefinitionEnum.EvaluationCriterion.ToType().GetFieldDefinitionLabelPluralized()</label></div>
                    <div class="col-xs-7">@ViewDataTyped.Evaluation.GetEvaluationCriteriaNamesAsCommaDelimitedString()</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>@FieldDefinitionEnum.EvaluationVisibility.ToType().GetFieldDefinitionLabel()</label></div>
                    <div class="col-xs-7">@ViewDataTyped.Evaluation.GetEvaluationVisibilityDisplayName()</div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-6 col-md-7">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @FieldDefinitionEnum.EvaluationCriterion.ToType().GetFieldDefinitionLabel()
                </h2>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-xs-12">
                        @ModalDialogFormHelper.MakeNewIconButton(ViewDataTyped.NewEvaluationCriterionUrl, string.Format("Create a new {0}", FieldDefinitionEnum.EvaluationCriterion.ToType().GetFieldDefinitionLabel()), ViewDataTyped.UserHasEvaluationManagePermissions)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.DhtmlxGrid(ViewDataTyped.EvaluationCriterionGridSpec, ViewDataTyped.EvaluationCriterionGridName, ViewDataTyped.EvaluationCriterionGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @FieldDefinitionEnum.EvaluationPortfolio.ToType().GetFieldDefinitionLabel()
                </h2>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-xs-12">
                        @ModalDialogFormHelper.MakeNewIconButton(ViewDataTyped.AddProjectEvaluationUrl, string.Format("Add {0} to this {1}", FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized(), FieldDefinitionEnum.EvaluationPortfolio.ToType().GetFieldDefinitionLabel()), 1000, ViewDataTyped.UserHasEvaluationManagePermissions)
                    </div>
                    @if (ViewDataTyped.Evaluation.EvaluationStatusID != (int) EvaluationStatusEnum.InProgress)
                    {
                        <div class="col-xs-12">
                            You may only evaluate a @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() when the @FieldDefinitionEnum.EvaluationStatus.ToType().GetFieldDefinitionLabel() is set to @EvaluationStatus.InProgress.EvaluationStatusDisplayName
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.DhtmlxGrid(ViewDataTyped.EvaluationPortfolioGridSpec, ViewDataTyped.EvaluationPortfolioGridName, ViewDataTyped.EvaluationPortfolioGridDataUrl, "height:350px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>