@*-----------------------------------------------------------------------
<copyright file="EditEvaluationCriteria.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Evaluation
@using ProjectFirma.Web.Views.Shared
@inherits EditEvaluationCriteria

<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp")
        .factory("angularModelAndViewData",
            function()
            {
                return {
                    AngularModel: @Html.Raw(JObject.FromObject(Model))
                };
            });
    angular.bootstrap(jQuery("[ng-controller=\"EditEvaluationCriteriaController\"]"), ["ProjectFirmaApp"]);
    // ]]>
</script>

<style>
    .panel-heading a.collapsePanel:after {
        font-family:'Glyphicons Halflings';
        content: "\e114";
        float: right;

    }
    .panel-heading a.collapsePanel.collapsed:after {
        content: "\e080";
    }
     
    .modal {
        overflow: scroll;
    }
</style>

@using (Html.BeginForm())
{
<div ng-app="ProjectFirmaApp" ng-controller="EditEvaluationCriteriaController">
    <div class="row">
        <div class="col-md-12">
            @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 col-sm-4 control-label">
                @Html.LabelWithSugarFor(m => m.EvaluationCriteriaName)

            </div>
            <div class="col-xs-12 col-sm-7">
                <input id="@Html.IdFor(m => m.EvaluationCriteriaName)" type="text" class="form-control" ng-model="AngularModel.EvaluationCriteriaName" name="EvaluationCriteriaName" />
                @Html.ValidationMessageFor(m => m.EvaluationCriteriaName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-4 control-label">
                @Html.LabelWithSugarFor(m => m.EvaluationCriteriaDefinition)
            </div>
            <div class="col-xs-12 col-sm-7">
                <textarea id="@Html.IdFor(m => m.EvaluationCriteriaDefinition)" type="text" size="4" class="form-control" ng-model="AngularModel.EvaluationCriteriaDefinition" name="EvaluationCriteriaDefinition">@Model.EvaluationCriteriaDefinition</textarea>
                @Html.ValidationMessageFor(m => m.EvaluationCriteriaDefinition)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>@FieldDefinitionEnum.EvaluationCriteriaValue.ToType().GetFieldDefinitionLabelPluralized()</strong>
            <hr style="border-bottom: 2px solid #ddd; margin: 0; border-top: 0;" />
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group-condensed">
            <div class="col-sm-3 col-sm-offset-9">
                <button type="button" class="btn btn-sm btn-firma" ng-click="addEvaluationCriteriaValue()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Criteria Value
                </button>
            </div>
        </div>
        <div class="form-group-condensed">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-2"></th>
                        <th class="col-sm-3">Rating<sup><span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></sup></th>
                        <th class="col-sm-7">Description<sup><span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></sup></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="!AngularModel.EvaluationCriteriaValueSimples || !AngularModel.EvaluationCriteriaValueSimples.length || AngularModel.EvaluationCriteriaValueSimples.length < 1">
                        <td colspan="3">
                            <div class="alert alert-danger">There are currently no @FieldDefinitionEnum.EvaluationCriteriaValue.ToType().GetFieldDefinitionLabelPluralized() on this @(FieldDefinitionEnum.EvaluationCriteria.ToType().GetFieldDefinitionLabel()).</div>
                        </td>
                    </tr>
                    <tr ng-repeat="valueSimple in AngularModel.EvaluationCriteriaValueSimples | orderBy: 'SortOrder'">
                        <td>
                            <input type="hidden" value="{{valueSimple.EvaluationCriteriaValueID}}"
                                   name="EvaluationCriteriaValueSimples[{{$index}}].EvaluationCriteriaValueID" />
                            <input type="hidden" value="{{valueSimple.SortOrder}}"
                                   name="EvaluationCriteriaValueSimples[{{$index}}].SortOrder" />
                            <a href="javascript:void(0)" ng-show="$index > 0 && AngularModel.EvaluationCriteriaValueSimples.length > 0" ng-click="moveCriteriaValueUp(valueSimple)"><i class="glyphicon glyphicon-arrow-up" title="Move Up" alt="Move Up"></i></a>
                            <a href="javascript:void(0)" ng-show="$index < AngularModel.EvaluationCriteriaValueSimples.length - 1 && AngularModel.EvaluationCriteriaValueSimples.length > 0" ng-click="moveCriteriaValueDown(valueSimple)"><i class="glyphicon glyphicon-arrow-down" title="Move Down" alt="Move Down"></i></a>
                            <a href="javascript:void(0)" ng-show="!valueSimple.HasAssociatedActuals" ng-click="removeEvaluationCriteriaValue(valueSimple)"><i class="glyphicon glyphicon-trash" title="Remove @FieldDefinitionEnum.EvaluationCriteriaValue.ToType().GetFieldDefinitionLabel()" alt="Remove  @FieldDefinitionEnum.EvaluationCriteriaValue.ToType().GetFieldDefinitionLabel()"></i></a>
                        </td>
                        <td>
                            <div class="input-group input-group-sm" style="width: 100%;" ng-class="{'has-error': validateValueRating(valueSimple).length != 0}">
                                <input class="form-control" style="width: 100%;" type="text" ng-model="valueSimple.EvaluationCriteriaValueRating"
                                       name="EvaluationCriteriaValueSimples[{{$index}}].EvaluationCriteriaValueRating" />
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm" style="width: 100%;" ng-class="{'has-error': validateValueDescription(valueSimple).length != 0}">
                                <input class="form-control" style="width: 100%;" type="text" ng-model="valueSimple.EvaluationCriteriaValueDescription"
                                       name="EvaluationCriteriaValueSimples[{{$index}}].EvaluationCriteriaValueDescription" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
}
