@*-----------------------------------------------------------------------
<copyright file="EditPersonOrganizations.cshtml" company="Sitka Technology Group">
Copyright (c) Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
<date>Wednesday, February 22, 2017</date>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.PersonOrganization.EditPersonOrganizations
<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    angular.bootstrap(jQuery("#EditPersonOrganizationsApp"), ["ProjectFirmaApp"]);
    // ]]>
</script>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditPersonOrganizationsApp" ng-controller="PersonOrganizationController">

    Organization to Add:
    <select ng-model="OrganizationToAdd" ng-options="Organization.DisplayName for Organization in filteredOrganizations()" style="width: 700px"></select>

    <button class="btn btn-xs btn-firma" type="button" ng-click="addRow()">Add</button>
    <table class="dialogFormLayout">
        <tr>
            <th></th>
            <th>@Html.LabelWithSugarFor(FieldDefinition.Organization)</th>
        </tr>
        <tr ng-repeat="OrganizationID in AngularModel.OrganizationIDs">
            <td>
                <span class="glyphicon glyphicon-trash blue" title="Remove row'" alt="Remove row" ng-click="deleteRow(OrganizationID)" style="cursor: pointer"></span></td>
            <td ng-bind="getOrganizationDisplayName(OrganizationID)"></td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        <input ng-repeat="OrganizationID in AngularModel.OrganizationIDs" type="hidden" name="@Html.NameFor(x => x.OrganizationIDs[0]).ToString().Replace("0", "{{$index}}")" value="{{OrganizationID}}">
    }
</div>
