@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.Tag.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditTagUrl, string.Format("Edit {0} - {1}", MultiTenantHelpers.GetClassificationDisplayName(), ViewDataTyped.Tag.DisplayName), ViewDataTyped.UserHasTagManagePermissions) Basics</h2>
    </div>
    <div class="panel-body">
        <table class="summaryLayout">
            <tr>
                <th>@Html.LabelWithSugarFor(FieldDefinition.TagName)</th>
                <td>
                    @ViewDataTyped.Tag.TagName
                </td>
            </tr>
            <tr>
                <th>@Html.LabelWithSugarFor(FieldDefinition.TagDescription)</th>
                <td>
                    @Html.Raw(ViewDataTyped.Tag.TagDescription.HtmlEncodeWithBreaks())
                </td>
            </tr>
        </table>
    </div>
    </div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>Projects</h2>
    </div>

    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.BasicProjectInfoGridSpec, ViewDataTyped.BasicProjectInfoGridName, ViewDataTyped.BasicProjectInfoGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div style="margin-top: 20px">
    <a class="btn btn-sm btn-firma" href="@ViewDataTyped.ManageTagsUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Index</a>
</div>