@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
<date>Wednesday, February 22, 2017</date>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Tag.Edit
@using (Html.BeginForm())
{
    <table class="dialogFormLayout">
        <tr>
            <th>@Html.LabelWithSugarFor(m => m.TagName)</th>
            <td>
                @Html.TextBoxFor(m => m.TagName, new {style = "width:522px"})
                @Html.ValidationMessageFor(m => m.TagName)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelWithSugarFor(m => m.TagDescription)</th>
            <td>
                @Html.TextAreaWithMaxLengthFor(m => m.TagDescription, new TextAreaForExtensions.TextAreaDimensions(null, 4), null)
                @Html.ValidationMessageFor(m => m.TagDescription)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.TagID)
}
