@*-----------------------------------------------------------------------
<copyright file="DefinitionAndGuidance.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.PerformanceMeasure.DefinitionAndGuidance

<style>
    .h3Popup { font-weight: bold; font-size: 12px;}
</style>
<div class="fieldDefinition" style="font-size: 13px; max-height: 500px; overflow-y: scroll;">
    <h3 class="h3Popup">@MultiTenantHelpers.GetPerformanceMeasureName() Definition</h3>
    <div style="margin-left: 20px">
        <p>
            @ViewDataTyped.PerformanceMeasure.PerformanceMeasureDefinition.ToHTMLFormattedString()
        </p>
    </div>
    <hr />
    <h3 class="h3Popup">Critical Definitions</h3>
    <div style="margin-left: 20px">
        @if (ViewDataTyped.PerformanceMeasure.CriticalDefinitionsHtmlString == null || string.IsNullOrWhiteSpace(ViewDataTyped.PerformanceMeasure.CriticalDefinitionsHtmlString.ToString()))
        {
            <span>@ViewUtilities.NotProvidedString</span>
        }
        else
        {
            <span>@ViewDataTyped.PerformanceMeasure.CriticalDefinitionsHtmlString</span>
        }

    </div>
    <hr />
    <h3 class="h3Popup">@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Reporting Instructions</h3>
    <div style="margin-left: 20px">
        @if (ViewDataTyped.PerformanceMeasure.ProjectReportingHtmlString == null || string.IsNullOrWhiteSpace(ViewDataTyped.PerformanceMeasure.ProjectReportingHtmlString.ToString()))
        {
            <span>@ViewUtilities.NotProvidedString</span>
        }
        else
        {
            <span>@ViewDataTyped.PerformanceMeasure.ProjectReportingHtmlString</span>
        }

    </div>
    <hr/>
    See more: <a href=@ViewDataTyped.PerformanceMeasure.GetSummaryUrl() target="_blank">@ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName</a>
</div>
