@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.PerformanceMeasure
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.TextControls
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Views/PerformanceMeasure/EditSubcategoriesAndOptionsController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Views/PerformanceMeasure/EditPerformanceMeasureTargetsController.js")"></script>

    <style>
        th {
            white-space: nowrap;
        }

        .chartHeader, a.chartHeader {
            font-weight: normal;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #0b406b;
            color: #fff;
        }

        .nav > li.disabled > a, .nav-tabs > li.disabled > a:hover, .nav-tabs > li.disabled > a:focus {
            background-color: #ccc;
        }

        .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4 {
            margin: 0;
        }

        .panel-primary .panel-heading h4 {
            color: #fff;
            font-weight: bold;
        }

        .rightOfPageTitle {
            margin: 0;
        }
    </style>
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">
        @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left")
        Back to all @MultiTenantHelpers.GetPerformanceMeasureNamePluralized()
    </a>
</div>

<div class="row">
    <div class="col-lg-6 col-md-5">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditPerformanceMeasureUrl, string.Format("Edit {0}: {1}", MultiTenantHelpers.GetPerformanceMeasureName(), ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 1000, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    Basics
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>Name</label></div>
                    <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForPerformanceMeasureType)</div>
                    <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.PerformanceMeasureType.PerformanceMeasureTypeDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.MeasurementUnit.ToType())</div>
                    <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.MeasurementUnitType.MeasurementUnitTypeDisplayName</div>
                </div>
                @if (ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                {
                    <div class="row">
                        <div class="col-xs-5 fieldLabel text-right"><label>@FieldDefinitionEnum.SignificantDigits.ToType().GetFieldDefinitionLabel()</label></div>
                        <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.MeasurementUnitType.NumberOfSignificantDigits</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.PerformanceMeasureIsSummable.ToType())</div>
                        <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.IsSummable.ToYesNo()</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.PerformanceMeasureCanBeChartedCumulatively.ToType())</div>
                        <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.CanBeChartedCumulatively.ToYesNo()</div>
                    </div>
                }
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right"><label>Description</label></div>
                    <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.PerformanceMeasureDefinition.ToHTMLFormattedString()</div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-6 col-md-7">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditPerformanceMeasureTargetUrl, string.Format("Edit {0} Targets", MultiTenantHelpers.GetPerformanceMeasureName()), 1000, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    Accomplishments
                </h2>
            </div>
            <div class="contentWrapper" style="overflow-x: hidden; margin-right: auto; margin-left: auto">
                @{ PerformanceMeasureChart.RenderPartialView(Html, ViewDataTyped.PerformanceMeasureChartViewData); }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>Importance</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        @ViewDataTyped.PerformanceMeasure.ImportanceHtmlString
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>Additional Information</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        @ViewDataTyped.PerformanceMeasure.AdditionalInformationHtmlString
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>Reporting Guidance</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel">
                        Critical Definitions @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditCriticalDefinitionsUrl, string.Format("Edit Critical Definitions: {0}", ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 800, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.PerformanceMeasure.CriticalDefinitionsHtmlString
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-5 fieldLabel">
                        @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel() Reporting Instructions @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditProjectReportingUrl, string.Format("Edit {0} Reporting: {1}", ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel(), ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 800, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.PerformanceMeasure.ProjectReportingHtmlString
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditSubcategoriesAndOptionsUrl, string.Format("Edit {0}: {1}",
                             MultiTenantHelpers.GetPerformanceMeasureName(), ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 900, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    @Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForPerformanceMeasureSubcategory, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) @ViewDataTyped.FieldDefinitionForPerformanceMeasureSubcategory.GetFieldDefinitionLabel()
                </h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.PerformanceMeasure.HasRealSubcategories())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>
                                    @Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForPerformanceMeasureSubcategoryOption, string.Format("{0}", ViewDataTyped.FieldDefinitionForPerformanceMeasureSubcategoryOption.GetFieldDefinitionLabelPluralized()))
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var performanceMeasureSubcategory in ViewDataTyped.PerformanceMeasure.PerformanceMeasureSubcategories.OrderBy(x => x.PerformanceMeasureSubcategoryDisplayName))
                            {
                                <tr>
                                    <td>@performanceMeasureSubcategory.PerformanceMeasureSubcategoryDisplayName</td>
                                    <td>
                                        <div>@string.Join(", ", performanceMeasureSubcategory.PerformanceMeasureSubcategoryOptions.OrderBy(x => x.SortOrder).ThenBy(x => x.PerformanceMeasureSubcategoryOptionName).Select(x => x.PerformanceMeasureSubcategoryOptionName).Take(5))</div>
                                        @if (performanceMeasureSubcategory.PerformanceMeasureSubcategoryOptions.Count > 5)
                                        {
                                            <a style="font-size: smaller; font-style: italic" role="button" data-toggle="collapse" data-target="#morePerformanceMeasureSubcategory@(performanceMeasureSubcategory.PerformanceMeasureSubcategoryID)Options">[@(performanceMeasureSubcategory.PerformanceMeasureSubcategoryOptions.Count - 5) More Options]</a>
                                            <div class="collapse" id="morePerformanceMeasureSubcategory@(performanceMeasureSubcategory.PerformanceMeasureSubcategoryID)Options">@string.Join(", ", performanceMeasureSubcategory.PerformanceMeasureSubcategoryOptions.OrderBy(x => x.SortOrder).ThenBy(x => x.PerformanceMeasureSubcategoryOptionName).Select(x => x.PerformanceMeasureSubcategoryOptionName).Skip(5))</div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="systemText">No @ViewDataTyped.FieldDefinitionForPerformanceMeasureSubcategory.GetFieldDefinitionLabelPluralized() for this @MultiTenantHelpers.GetPerformanceMeasureName().</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditTaxonomyTiersUrl, string.Format("Edit {0}", ViewDataTyped.TaxonomyTierDisplayNamePluralized), ViewDataTyped.UserHasTaxonomyTierPerformanceMeasureManagePermissions) @ViewDataTyped.TaxonomyTierDisplayNamePluralized</h2>
            </div>
            <div class="panel-body">
                @{ RelatedTaxonomyTiers.RenderPartialView(Html, ViewDataTyped.RelatedTaxonomyTiersViewData); }
            </div>
        </div>

    </div>
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>Expected @ViewDataTyped.FieldDefinitionForPerformanceMeasure.GetFieldDefinitionLabel() Results per @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel()</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.PerformanceMeasureExpectedGridSpec, ViewDataTyped.PerformanceMeasureExpectedsGridName, ViewDataTyped.PerformanceMeasureExpectedsGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>Reported @ViewDataTyped.FieldDefinitionForPerformanceMeasure.GetFieldDefinitionLabel() Results per @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel()</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.PerformanceMeasureReportedValuesGridSpec, ViewDataTyped.PerformanceMeasureReportedValuesGridName, ViewDataTyped.PerformanceMeasureReportedValuesGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

@if (ViewDataTyped.IsAdmin)
{
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Change History and Rationale Notes (only visible to Administrators)</h2>
        </div>
        <div class="panel-body">
            @{ EntityNotes.RenderPartialView(Html, ViewDataTyped.EntityNotesViewData); }
        </div>
    </div>
}
