@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.PerformanceMeasure
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.TextControls
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Common
@inherits Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Views/PerformanceMeasureMonitoringProgram/PerformanceMeasureMonitoringProgramController.js")" type="text/javascript"></script>

    <style>
        th {
            white-space: nowrap;
        }

        .chartHeader, a.chartHeader {
            font-weight: normal;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #0b406b;
            color: #fff;
        }

        .nav > li.disabled > a, .nav-tabs > li.disabled > a:hover, .nav-tabs > li.disabled > a:focus {
            background-color: #ccc;
        }

        .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4 {
            margin: 0;
        }

        .panel-primary .panel-heading h4 {
            color: #fff;
            font-weight: bold;
        }

        .rightOfPageTitle {
            margin: 0;
        }
    </style>
}

@*@section RightOfPageTitle
    {
        <div>
            <a class="btn" href="@ViewDataTyped.PerformanceMeasure.GetInfoSheetUrl()">@FirmaDhtmlxGridHtmlHelpers.FactSheetIcon View Info Sheet</a>
        </div>
    }*@
<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">
        @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left")
        Back to all @MultiTenantHelpers.GetPerformanceMeasureNamePluralized()
    </a>
</div>

<div class="row">
    <div class="col-lg-6 col-md-5">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeLtInfoEditIconLink(ViewDataTyped.EditPerformanceMeasureUrl, string.Format("Edit {0}: {1}", MultiTenantHelpers.GetPerformanceMeasureName(), ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 1000, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    Basics
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Display Name</div>
                    <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@MultiTenantHelpers.GetPerformanceMeasureName() Type</div>
                    <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.PerformanceMeasureType.PerformanceMeasureTypeDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithFieldDefinitionFor(FieldDefinition.MeasurementUnit, "Measurement Unit")</div>
                    <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.MeasurementUnitType.SingularDisplayName (@ViewDataTyped.PerformanceMeasure.MeasurementUnitType.MeasurementUnitTypeDisplayName)</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Definition</div>
                    <div class="col-xs-7">@ViewDataTyped.PerformanceMeasure.PerformanceMeasureDefinition.ToHTMLFormattedString()</div>
                </div>
            </div>
        </div>

        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>Reporting Guidance</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel">
                        Critical Definitions @ModalDialogFormHelper.MakeLtInfoEditIconLink(ViewDataTyped.EditCriticalDefinitionsUrl, string.Format("Edit Critical Definitions: {0}", ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 800, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.PerformanceMeasure.CriticalDefinitionsHtmlString
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel">
                        Project Reporting Instructions @ModalDialogFormHelper.MakeLtInfoEditIconLink(ViewDataTyped.EditProjectReportingUrl, string.Format("Edit Project Reporting: {0}", ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 800, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    </div>                
                    <div class="col-xs-7">
                        @ViewDataTyped.PerformanceMeasure.ProjectReportingHtmlString
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-6 col-md-7">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>Accomplishments</h2>
            </div>
            <div class="contentWrapper" style="overflow-x: hidden; margin-right: auto; margin-left: auto">
                @{ PerformanceMeasureChart.RenderPartialView(Html, ViewDataTyped.PerformanceMeasureChartViewData); }

                <div style="padding-top: 15px">
                    <div class="panel-heading panelTitle">
                        <h2>@ModalDialogFormHelper.MakeLtInfoEditIconLink(ViewDataTyped.EditAccomplishmentsMetadataUrl, string.Format("Edit Accomplishments Metadata: {0}", ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 800, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions) Chart Metadata</h2>
                    </div>
                    <table class="summaryLayout" style="margin: 10px 0">
                        <tr>
                            <th>Data Source</th>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(ViewDataTyped.PerformanceMeasure.ExternalDataSourceUrl))
                                {
                                    <a href="@ViewDataTyped.PerformanceMeasure.ExternalDataSourceUrl" target="_blank">@(ViewDataTyped.PerformanceMeasure.DataSourceText ?? ViewDataTyped.PerformanceMeasure.ExternalDataSourceUrl)</a>
                                    <a href="@ViewDataTyped.PerformanceMeasure.ExternalDataSourceUrl" target="_blank">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window")</a>
                                }
                                else
                                {
                                    @ViewDataTyped.PerformanceMeasure.DataSourceText
                                }
                            </td>
                        </tr>
                        @if (ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                        {
                            <tr>
                                <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.PerformanceMeasureChartTitle, "Chart Title")</th>
                                <td>
                                    @ViewDataTyped.PerformanceMeasure.ChartTitle
                                </td>
                            </tr>

                            <tr>
                                <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.PerformanceMeasureChartCaption, "Chart Caption")</th>
                                <td>
                                    @ViewDataTyped.PerformanceMeasure.ChartCaption.ToHTMLFormattedString()
                                </td>
                            </tr>
                        }
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeLtInfoEditIconLink(ViewDataTyped.EditSubcategoriesAndOptionsUrl, string.Format("Edit {0} Subcategories And Subcategory Options for {1}", MultiTenantHelpers.GetPerformanceMeasureName(), ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 900, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
                    @Html.LabelWithFieldDefinitionFor(FieldDefinition.PerformanceMeasureSubcategory, "Subcategories")
                </h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.PerformanceMeasure.HasRealSubcategories)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var performanceMeasureSubcategory in ViewDataTyped.PerformanceMeasure.PerformanceMeasureSubcategories)
                            {
                                <tr>
                                    <td>@performanceMeasureSubcategory.PerformanceMeasureSubcategoryDisplayName</td>
                                    <td>
                                        <div>@string.Join(", ", performanceMeasureSubcategory.PerformanceMeasureSubcategoryOptions.OrderBy(x => x.SortOrder).ThenBy(x => x.PerformanceMeasureSubcategoryOptionName).Select(x => x.PerformanceMeasureSubcategoryOptionName).Take(5))</div>
                                        @if (performanceMeasureSubcategory.PerformanceMeasureSubcategoryOptions.Count > 5)
                                        {
                                            <a style="font-size: smaller; font-style: italic" role="button" data-toggle="collapse" data-target="#morePerformanceMeasureSubcategory@(performanceMeasureSubcategory.PerformanceMeasureSubcategoryID)Options">[@(performanceMeasureSubcategory.PerformanceMeasureSubcategoryOptions.Count - 5) More Options]</a>
                                            <div class="collapse" id="morePerformanceMeasureSubcategory@(performanceMeasureSubcategory.PerformanceMeasureSubcategoryID)Options">@string.Join(", ", performanceMeasureSubcategory.PerformanceMeasureSubcategoryOptions.OrderBy(x => x.SortOrder).ThenBy(x => x.PerformanceMeasureSubcategoryOptionName).Select(x => x.PerformanceMeasureSubcategoryOptionName).Skip(5))</div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="alert">No Subcategories for this @MultiTenantHelpers.GetPerformanceMeasureName().</p>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditTaxonomyTierTwosUrl, string.Format("Edit {0}", MultiTenantHelpers.GetTaxonomyTierTwoDisplayNamePluralized()), ViewDataTyped.UserHasTaxonomyTierTwoPerformanceMeasureManagePermissions) @MultiTenantHelpers.GetTaxonomyTierTwoDisplayNamePluralized()</h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.TaxonomyTierTwoPerformanceMeasures.Any())
                {
                    <table class="summaryLayout">
                        <tr>
                            <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.TaxonomyTierTwo, LabelForExtensions.DisplayStyle.HelpIconWithLabel, MultiTenantHelpers.GetTaxonomyTierTwoDisplayName())</th>
                            <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.IsPrimaryTaxonomyTierTwo, LabelForExtensions.DisplayStyle.HelpIconWithLabel, string.Format("Is Primary {0}", MultiTenantHelpers.GetTaxonomyTierTwoDisplayName()))</th>
                        </tr>
                        @foreach (var taxonomyTierTwoPerformanceMeasure in ViewDataTyped.TaxonomyTierTwoPerformanceMeasures)
                        {
                            <tr>
                                <td>@taxonomyTierTwoPerformanceMeasure.Key.GetDisplayNameAsUrl()</td>
                                <td style="text-align: center">@taxonomyTierTwoPerformanceMeasure.Value.ToCheckboxImageOrEmpty()</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p class="alert">No @MultiTenantHelpers.GetTaxonomyTierTwoDisplayNamePluralized() set for this @MultiTenantHelpers.GetPerformanceMeasureName().</p>
                }
            </div>
        </div>

    </div>
</div>

@*<div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@ModalDialogFormHelper.MakeLtInfoEditIconLink(ViewDataTyped.EditMonitoringProgramsUrl, string.Format("Edit Monitoring Programs: {0}", ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 800, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions) @Html.LabelWithFieldDefinitionFor(FieldDefinition.MonitoringProgram)</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.PerformanceMeasure.PerformanceMeasureMonitoringPrograms.Any())
            {
                foreach (var a in ViewDataTyped.PerformanceMeasure.PerformanceMeasureMonitoringPrograms)
                {
                    <p>
                        <strong>Monitoring Program</strong>:
                        @a.MonitoringProgram.DisplayNameAsUrl
                    </p>
                    <p>
                        <strong>Approach</strong>:
                        @a.MonitoringProgram.MonitoringApproach
                    </p>

                    <p>
                        <strong>Partners</strong>:
                        <ul>
                            @Html.Raw(string.Join("\r\n", a.MonitoringProgram.MonitoringProgramPartners.Select(y => y.Organization).OrderBy(x => x.DisplayName).Select(x => string.Format("<li>{0}</li>", x.GetDisplayNameAsUrl()))))
                        </ul>
                    </p>
                    if (ViewDataTyped.PerformanceMeasure.PerformanceMeasureMonitoringPrograms.Count > 1)
                    {
                        <hr />
                    }
                }
            }
            else
            {
                <p class="alert">No monitoring programs are yet associated with this @MultiTenantHelpers.GetPerformanceMeasureName().</p>
            }
        </div>
    </div>*@

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>Expected Performance Measure Results per Project</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.PerformanceMeasureExpectedGridSpec, ViewDataTyped.PerformanceMeasureExpectedsGridName, ViewDataTyped.PerformanceMeasureExpectedsGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>Reported Performance Measure Results per Project</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.PerformanceMeasureReportedValuesGridSpec, ViewDataTyped.PerformanceMeasureReportedValuesGridName, ViewDataTyped.PerformanceMeasureReportedValuesGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

@if (ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)
{
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Change History and Rationale Notes (only visible to Administrators)</h2>
        </div>
        <div class="panel-body">
            @{ EntityNotes.RenderPartialView(Html, ViewDataTyped.EntityNotesViewData); }
        </div>
    </div>
}
