@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.PerformanceMeasure.Edit
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.Label("Display Name")
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PerformanceMeasureDisplayName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.PerformanceMeasureDisplayName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.Label("PerformanceMeasure Type")
            </div>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.PerformanceMeasureTypeID, ViewDataTyped.PerformanceMeasureTypes, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.PerformanceMeasureTypeID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithFieldDefinitionFor(FieldDefinition.MeasurementUnit, "Measurement Unit")
            </div>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.MeasurementUnitTypeID, ViewDataTyped.MeasurementUnitTypes, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.MeasurementUnitTypeID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.Label("Definition")
            </div>
            <div class="col-sm-9">
                <div style="max-height: 600px; overflow-y: auto">
                    @Html.TextAreaFor(x => x.IndicationDefinition, 6, 0, new {style = "resize:none;", @class = "form-control"})
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.PerformanceMeasureID)
}