@*-----------------------------------------------------------------------
    <copyright file="PerformanceMeasureChartPopup.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Views.PerformanceMeasure
@inherits RelatedTaxonomyTiers

@if (ViewDataTyped.TaxonomyLeafPerformanceMeasures.Any())
{
    <table class="summaryLayout">
        <tr>
            <th>@ViewDataTyped.TaxonomyTierHeaderDisplayName</th>
            <th>@ViewDataTyped.IsPrimaryTaxonomyTierHeaderDisplayName</th>
        </tr>
        @foreach (var taxonomyTierPerformanceMeasure in ViewDataTyped.TaxonomyLeafPerformanceMeasures.OrderBy(x => x.Key.SortOrder).ThenBy(x => x.Key.DisplayName, StringComparer.InvariantCultureIgnoreCase))
        {
            <tr>
                <td>@taxonomyTierPerformanceMeasure.Key.GetDisplayNameAsUrl()</td>
                <td style="text-align: center">@taxonomyTierPerformanceMeasure.First().IsPrimaryTaxonomyLeaf.ToCheckboxImageOrEmpty()</td>
            </tr>
        }
    </table>
}
else
{
    <p class="systemText">No @ViewDataTyped.TaxonomyTierDisplayNamePluralized set for this @ViewDataTyped.PerformanceMeasureDisplayName.</p>
}
