
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared
@inherits DisplayDocumentLibrary

@if (ViewDataTyped.ShowDocumentLibrary)
{
    <div class="row">
        <div class="col-xs-12">
            @if (ViewDataTyped.UserHasAdminPermissions)
            {
                <div  class="pull-right">
                    <a class="btn  btn-firma" href="@ViewDataTyped.DocumentLibraryUrl">Add Documents via the Document Library</a>
                </div>
            }
            <div class="panel-group" id="categoryTypeAccordion" role="tablist" aria-multiselectable="true">
                @foreach (var category in ViewDataTyped.DocumentCategories)
                {
                    var collapseID = string.Format("collapseCategoryType_{0}", category.DocumentCategoryID);
                    var headerID = string.Format("categoryTypeHeader_{0}", category.DocumentCategoryID);
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="@headerID">
                            <h3 class="panel-title">
                                @* ReSharper disable once Html.IdNotResolved *@
                                <a class="collapsed" role="button"
                                   data-toggle="collapse" href="#@collapseID"
                                   aria-expanded="false" aria-controls="@collapseID">
                                    @category.DocumentCategoryDisplayName
                                    @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-triangle-bottom")
                                </a>
                            </h3>
                        </div>
                        <div id="@collapseID" class="panel-collapse collapse " role="tabpanel"
                             aria-labeledby="@headerID">
                            <div class="panel-body">
                                @if (ViewDataTyped.TotalDocumentCountPerCategory[category.DocumentCategoryID] > 0 && ViewDataTyped.ViewableDocumentCountPerCategory[category.DocumentCategoryID] == 0)
                                {
                                    <p class="systemText">There are no documents that you have permissions to view.</p>
                                }
                                else if (ViewDataTyped.TotalDocumentCountPerCategory[category.DocumentCategoryID] == 0)
                                {
                                    <p class="systemText">No documents</p>
                                }
                                @foreach (var document in ViewDataTyped.Documents.Where(x => x.DocumentCategoryID == category.DocumentCategoryID).OrderBy(x => x.SortOrder).ToList())
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <a href="@document.FileResourceInfo.GetFileResourceUrl()" class="col-xs-9">
                                                    <strong>@document.DocumentTitle</strong>
                                                </a>
                                                <div class="col-xs-3 text-right">
                                                    <strong>@document.FileResourceInfo.GetFileResourceDataLengthString()</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="media">
                                                <div class="media-left media-middle text-center">
                                                    <a href="@document.FileResourceInfo.GetFileResourceUrl()">
                                                        <p>
                                                            <strong>@document.LastUpdateDate.ToStringDate()</strong>
                                                        </p>
                                                        <img src="@document.FileResourceInfo.FileResourceMimeType.FileResourceMimeTypeIconNormalFilename" alt="Download @document.FileResourceInfo.FileResourceMimeType.FileResourceMimeTypeDisplayName"/>
                                                    </a>
                                                </div>
                                                <div class="media-body media-middle">
                                                    <p>@document.DocumentDescription</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
