@using System.Web.Mvc.Html
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.EditIndicatorReporteds
<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular))
            };
    });
    angular.bootstrap(jQuery("#EditIndicatorReportedsApp"), ["ProjectFirmaApp"]);
    // ]]>
</script>

<style>
    .dashboardTable {
        table-layout: fixed;
        margin: 10px 0;
    }

    table input {
        margin-right: 5px;
        width: 100%;
    }

    table th, table td {
        text-align: center;
        font-size: 14px !important;
    }

    .optionLabel {
        text-align: left;
    }

    hr {
        margin: 10px 0;
        border-color: #eee;
    }

    .validationWarning ul {
        margin: 0;
    }

    .validationWarning li {
        margin-bottom: 5px;
    }
</style>

@Html.ValidationSummary(false, string.Empty, new Dictionary<string, object>() { { "class", "sustainabilityDashboardError" }, { "style", "margin-bottom: 10px" } })

<div ng-app="ProjectFirmaApp" id="EditIndicatorReportedsApp" ng-controller="EditIndicatorReportedController" style="max-height: 600px">
    <div class="pull-right">
        <div>
            <span>Use Custom Date Range? </span><input type="checkbox" checked="checked" ng-model="AngularModel.UseCustomDateRange " />
        </div>
    </div>
    <div>
        <span style="color: black; font-weight: bold">Indicator: </span>@ViewDataTyped.Indicator.IndicatorDisplayName | <span style="color: black; font-weight: bold">Units: </span>@ViewDataTyped.Indicator.MeasurementUnitType.MeasurementUnitTypeDisplayName
        <hr />
    </div>
    <div>
        <div style="display: inline-block; width: 300px">
            <span>Set Targets by:</span><br />
            @foreach (var indicatorTargetValueType in ViewDataTyped.IndicatorTargetValueTypes)
            {
                <div>
                    <label>
                        <input type="radio" name="targetType" ng-change="targetValueTypeChanged()" ng-model="AngularModel.IndicatorTargetValueTypeID" value="@indicatorTargetValueType.IndicatorTargetValueTypeID" />
                        @indicatorTargetValueType.IndicatorTargetValueTypeDisplayName
                    </label>
                </div>
            }
        </div>
        <div ng-show="ShowOverallTargetInputs" style="display: inline-block; vertical-align: top">
            <span>Target: <input type="number" step="0.0001" ng-model="AngularModel.OverallTargetValue" /></span>
            <span>Target Description: <input type="text" ng-model="AngularModel.OverallTargetValueDescription" /></span>
        </div>
    </div>

    <table ng-show="AngularModel.UseCustomDateRange" class="dashboardTable table table-hover table-condensed ">
        <colgroup>
            <col style="width: 150px">
            <col style="width: 150px">
            <col style="width: 150px">
            <col style="width: auto">
            <col style="width: 100%">
        </colgroup>
        <thead>
            <tr>
                <th>Begin Date</th>
                <th>End Date</th>
                <th>Label</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="datetime" class="datepicker" ng-model="ReportingPeriodBeginDateToAdd" placeholder="MM/dd/yyyy" />
                </td>
                <td>
                    <input type="datetime" class="datepicker" ng-model="ReportingPeriodEndDateToAdd" placeholder="MM/dd/yyyy" />
                </td>
                <td>
                    <input type="text" ng-model="ReportingPeriodLabelToAdd" />
                </td>
                <td>
                    <button class="btn btn-blue" ng-click="addRow()"><span class="glyphicon glyphicon-plus" style="margin-right: 5px"></span>Add Reporting Period</button>
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="!AngularModel.UseCustomDateRange" class="dashboardTable table table-hover table-condensed">
        <colgroup>
            <col style="width: 200px">
            <col style="width: auto">
            <col style="width: 100%">
        </colgroup>
        <thead>
            <tr>
                <th>Year</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="number" ng-model="ReportingPeriodYearToAdd" />
                </td>
                <td>
                    <button class="btn btn-blue" ng-click="addYearRow()"><span class="glyphicon glyphicon-plus" style="margin-right: 5px"></span>Add Reporting Year</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div ng-show="AngularModel.IndicatorReportedBulks.length" style="max-height: 400px; overflow: auto">
        <hr />
        <table class="dashboardTable table table-hover table-condensed" style="width: auto; max-width: none">
            <colgroup>
                <col style="text-align: left; width: 20px">
                <col style="text-align: left; width: 20px">
                <col style="text-align: left; min-width: 200px">
                <col ng-repeat="categoryForDisplay in AngularViewData.ReportingCategoriesForDisplay | orderBy:'SortOrder'" style="text-align: left; min-width: 60px">
                <col style="text-align: left; min-width: 60px; border-left:1px solid black" ng-show="ShowPerReportingPeriodTargetColumns">
                <col style="text-align: left; min-width: 100px" ng-show="ShowPerReportingPeriodTargetColumns">
                <col width:auto />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th style="text-align: left">Reporting Period</th>
                    <th class="optionLabel" ng-repeat="reportingCategoryForDisplay in AngularViewData.ReportingCategoriesForDisplay | orderBy:'SortOrder'">
                        <span ng-bind="reportingCategoryForDisplay.DisplayName"></span>
                    </th>
                    <th ng-show="ShowPerReportingPeriodTargetColumns">Target</th>
                    <th ng-show="ShowPerReportingPeriodTargetColumns">Target Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bulk in AngularModel.IndicatorReportedBulks | orderBy: getBulkOrder : reverse">
                    <td>
                        <span class="glyphicon glyphicon-warning-sign red" alt="" ng-show="showRowValidationErrors(bulk)"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteRow(bulk)" style="cursor: pointer"></span>
                    </td>
                    <td style="text-align: left">{{getFormattedDateLabel(bulk)}}</td>
                    <td ng-repeat="reportedValueForDisplay in bulk.ReportedValuesForDisplay | orderBy:'SortOrder'">
                        <input type="number" ng-model="reportedValueForDisplay.ReportedValue" step="0.0001" ng-required="true" />
                    </td>
                    <td ng-show="ShowPerReportingPeriodTargetColumns">
                        <input type="number" ng-model="bulk.TargetValue" step="0.0001" />
                    </td>
                    <td ng-show="ShowPerReportingPeriodTargetColumns">
                        <input type="text" ng-model="bulk.TargetValueDescription" />
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    @using (Html.BeginForm())
    {
        <input type="hidden" name="@Html.NameFor(x => x.UseCustomDateRange)" value="{{AngularModel.UseCustomDateRange}}" />
        <input type="hidden" name="@Html.NameFor(x => x.IndicatorTargetValueTypeID)" value="{{AngularModel.IndicatorTargetValueTypeID}}" />
        <input type="hidden" name="@Html.NameFor(x => x.OverallTargetValue)" value="{{AngularModel.OverallTargetValue}}" />
        <input type="hidden" name="@Html.NameFor(x => x.OverallTargetValueDescription)" value="{{AngularModel.OverallTargetValueDescription}}" />
        <div ng-repeat="indicatorReportedBulk in AngularModel.IndicatorReportedBulks | orderBy:'IndicatorReportingPeriodBeginDate'">
            <input type="hidden" name="@Html.NameFor(x => x.IndicatorReportedBulks[0].IndicatorReportingPeriodBeginDate).ToString().Replace("0", "{{$index}}")" value="{{indicatorReportedBulk.IndicatorReportingPeriodBeginDate}}" />
            <input type="hidden" name="@Html.NameFor(x => x.IndicatorReportedBulks[0].IndicatorReportingPeriodEndDate).ToString().Replace("0", "{{$index}}")" value="{{indicatorReportedBulk.IndicatorReportingPeriodEndDate}}" />
            <input type="hidden" name="@Html.NameFor(x => x.IndicatorReportedBulks[0].IndicatorReportingPeriodLabel).ToString().Replace("0", "{{$index}}")" value="{{indicatorReportedBulk.IndicatorReportingPeriodLabel}}" />
            <input type="hidden" name="@Html.NameFor(x => x.IndicatorReportedBulks[0].IndicatorSubcategoryID).ToString().Replace("0", "{{$index}}")" value="{{indicatorReportedBulk.IndicatorSubcategoryID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.IndicatorReportedBulks[0].TargetValue).ToString().Replace("0", "{{$index}}")" value="{{indicatorReportedBulk.TargetValue}}" />
            <input type="hidden" name="@Html.NameFor(x => x.IndicatorReportedBulks[0].TargetValueDescription).ToString().Replace("0", "{{$index}}")" value="{{indicatorReportedBulk.TargetValueDescription}}" />
            <div ng-repeat="reportedValueForDisplay in indicatorReportedBulk.ReportedValuesForDisplay | orderBy:'IndicatorSubcategoryOptionID'">
                <input type="hidden" name="@Html.NameFor(x => x.IndicatorReportedBulks[0].ReportedValuesForDisplay[1].IndicatorSubcategoryOptionID).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{reportedValueForDisplay.IndicatorSubcategoryOptionID}}" />
                <input type="hidden" name="@Html.NameFor(x => x.IndicatorReportedBulks[0].ReportedValuesForDisplay[1].ReportedValue).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{reportedValueForDisplay.ReportedValue}}" />
            </div>
        </div>
    }
</div>

<script>
    jQuery(document).ready(function() {
        $( ".datepicker" ).datepicker();
    });
</script>