@*-----------------------------------------------------------------------
<copyright file="GoogleChartPopup.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.GoogleChartPopup

<link href="@Url.Content("~/Content/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Bootstrap/firma/bootstrap.firma.base.min.css")" rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/Content/css/google-chart-config-overrides.css")' rel='stylesheet' type='text/css' media='all' />
<script src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.fancybox.pack.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ScriptsCustom/FancyboxReady.js")" type="text/javascript"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="@Url.Content("~/Views/Shared/GoogleCharts.js")"></script>

<div id="ChartPopupContainer" style="height: 670px;">
    <div style="height: 30px">&nbsp;</div>
    <div class="firmaChartControls">
        @if (ViewDataTyped.GoogleChartJson.CanConfigureChart)
        {
            <a onclick="GoogleCharts.configureChart('@ViewDataTyped.GoogleChartJson.ChartContainerID')" href="#">
                <span class="glyphicon glyphicon-wrench" style="margin-right: 5px"></span>
                Customize
            </a>
        }
        <a onclick="GoogleCharts.downloadChartPNG('@ViewDataTyped.GoogleChartJson.ChartContainerID');" href="#">
            <span class="glyphicon glyphicon-save" style="margin-right: 5px"></span>
            Save
        </a>
    </div>
    
    <div class="googleChart" id="@(ViewDataTyped.GoogleChartJson.ChartContainerID)" style="height: 100%"></div>
</div>

<script>
    jQuery(document).ready(function()
    {
        var chartJson = @Html.Raw(JObject.FromObject(ViewDataTyped.GoogleChartJson).ToString(Formatting.None));        
        GoogleCharts.drawCharts([chartJson]);
    });
</script>
