@using System.Diagnostics
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Project
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@inherits NavAndHeaderLayout
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Clackamas Partnership @(!string.IsNullOrWhiteSpace(ViewDataTyped.HtmlPageTitle) ? string.Format(" | {0}", ViewDataTyped.HtmlPageTitle) : string.Empty)@ViewDataTyped.GetBreadCrumbTitle()</title>
    
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/img/apple-icon-120x120.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/img/favicon-16x16.png">

    @{ Html.RenderRazorSitkaPartial<FirmaIncludes>(); }

    <script src="@Url.Content("~/Content/bootstrap-typeahead/bootstrap3-typeahead.js")" type="text/javascript"></script>

    @RenderSection("JavascriptAndStylesContent", false)

   
</head>
<body>
<div id="wrapper">

            <div class="header">
                <img class="headerLogo" src="~/Content/img/ProjectFirma_Logo_2016_FNL.width-600.png" />
                <div class="headerText">
                    |
                    <a href="@ViewDataTyped.FirmaHomeUrl">Clackamas Partnership</a>
                </div>

        @*<div class="col-sm-6">
                <div id="searchBox" class="pull-right">
                    <span>Find Project: </span><input id="@SearchResults.ProjectSearchInputTextboxID" name="@SearchResults.ProjectSearchInputTextboxID" type="text" maxlength="200" onkeypress="return submitFormWithEnter(this, event, 4)" placeholder="project #, name, description" />
                </div>
            </div>*@
    </div>

    <script type="text/javascript">
        // <![CDATA[
        function submitFormWithEnter(myfield, e, numMinChars) {
            var keycode;
            if (window.event) {
                keycode = window.event.keyCode;
            }
            else if (e) {
                keycode = e.which;
            }
            else {
                return true;
            }

            if (keycode == 13) {
                if (myfield.value.trim().length >= numMinChars) {
                    var searchUrlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.ProjectSearchUrl.ToJS()));
                    document.location = searchUrlTemplate
                        .ParameterReplace("?searchCriteria=" + encodeURIComponent(myfield.value.trim()));
                }
                return false;
            }
            else {
                return true;
            }
        }

        jQuery(document)
            .ready(function () {
                jQuery("#@SearchResults.ProjectSearchInputTextboxID")
                    .autocomplete({
                        source: "@Html.Raw(ViewDataTyped.ProjectFindUrl)",
                        minLength: 4,
                        position: { my: "right top", at: "right bottom" },
                        select: function (event, ui) {
                            document.location = ui.item.value;
                            event.preventDefault();
                        },
                        html: true
                    });
            });
        // ]]>
    </script>

    <div id="mainnavandcontent">
        
        <nav class="navbar navbar-default">
            <div >
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#firma-collapse-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>                    
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="firma-collapse-navbar">
                    <ul class="nav navbar-nav navbar-left">
                        @foreach (var topLevelMenu in ViewDataTyped.TopLevelLtInfoMenuItems)
                        {
                            @topLevelMenu.RenderMenu()
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @if (Request.IsAuthenticated)
                            {
                            <p class="navbar-text">Welcome 
                                <a href="@ViewDataTyped.CurrentPerson.GetDetailUrl()">@ViewDataTyped.CurrentPerson.FullNameFirstLast</a>
                            </p>
                         }
                                                               
                        </li>
                        <li>
                            @ModalDialogFormHelper.ModalDialogFormLink("Request Support", ViewDataTyped.RequestSupportUrl, "Request Support", 800, "Submit Request", "Cancel", new List<string>(), null, null)
                        </li>
                        <li>
                            @if (Request.IsAuthenticated)
                            {
                                <a href="@ViewDataTyped.LogOutUrl" title="Log Out">Log Out</a>
                            }
                            else
                            {
                                <a href="@ViewDataTyped.LogInUrl" title="Log In">Log In</a>
                            }
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        @RenderBody()
    </div>
    <div id="push"></div>
</div>

<footer id="footer">
    <div class="container">
            <p class="text-center">
                <a href="http://www.sitkatech.com/products/ProjectFirma/">ProjectFirma</a> is a site created by <a href="http://sitkatech.com">Sitka Technology Group</a> and implemented for the Clackamas Partnership | Version @LtInfoWebConfiguration.WebApplicationVersionInfo.Value.ApplicationVersion | DB @FirmaWebConfiguration.LatestDatabaseMigration.Value | Compiled @LtInfoWebConfiguration.WebApplicationVersionInfo.Value.DateCompiled.ToString("yyyy-MM-dd HH:mm:ss") | PID @Process.GetCurrentProcess().Id
            </p>   
    </div>
</footer>

@{ Html.RenderRazorSitkaPartial<FirmaLateLoadingIncludes>(); }

</body>
</html>