@*-----------------------------------------------------------------------
<copyright file="SiteLayout.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using SitkaController = ProjectFirma.Web.Common.SitkaController
@inherits ProjectFirma.Web.Views.Shared.SiteLayout

@{
    SetLayout("~/Views/Shared/NavAndHeaderLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    @RenderSection("JavascriptAndStylesContent", false)
}

@section BeforeBodyContainer
{
    @RenderSection("BeforeBodyContainer", false)
}

<div class="container firmaContent">  
    <div class="rightFloatingInfo">
        @RenderSection("RightOfPageTitle", false)
    </div>

    <h2 class="pageTitle">@ViewDataTyped.PageTitle</h2>
    
    @if (TempData.ContainsKey(SitkaController.StatusErrorIndex))
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData[SitkaController.StatusErrorIndex])
        </div>
    }
    @if (TempData.ContainsKey(SitkaController.StatusMessageIndex))
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData[SitkaController.StatusMessageIndex])
        </div>
    }
    @if (TempData.ContainsKey(SitkaController.InfoMessageIndex))
    {
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData[SitkaController.InfoMessageIndex])
        </div>
    }
    @if (TempData.ContainsKey(SitkaController.WarningMessageIndex))
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData[SitkaController.WarningMessageIndex])
        </div>
    }
    
    @RenderBody()
</div>
