@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json.Linq
@inherits SupportForm
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.RequestPersonName):
            </div>
            <div class="col-sm-10">
                @if (ViewDataTyped.IsUserAnonymous)
                {
                    @Html.TextBoxFor(x => x.RequestPersonName, new { style = "width:100%" })
                    @Html.ValidationMessageFor(x => x.RequestPersonName)
                }
                else
                {
                    @Model.RequestPersonName
                    @Html.HiddenFor(x => x.RequestPersonName)
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.RequestPersonEmail):
            </div>
            <div class="col-sm-10">
                @if (ViewDataTyped.IsUserAnonymous)
                {
                    @Html.TextBoxFor(x => x.RequestPersonEmail, new { style = "width:100%" })
                    @Html.ValidationMessageFor(x => x.RequestPersonEmail)
                }
                else
                {
                    @Model.RequestPersonEmail
                    @Html.HiddenFor(x => x.RequestPersonEmail)
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.RequestPersonOrganization) (optional):
            </div>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.RequestPersonOrganization, new { style = "width:100%" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.RequestPersonPhone) (optional):
            </div>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.RequestPersonPhone)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.SupportRequestTypeEnum):
            </div>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.SupportRequestTypeEnum, ViewDataTyped.SupportRequestTypes, new { style = "width:100%" })
                @Html.ValidationMessageFor(x => x.SupportRequestTypeEnum)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.RequestDescription):
            </div>
            <div class="col-sm-10">
                @Html.TextAreaWithMaxLengthFor(x => x.RequestDescription, new TextAreaForExtensions.TextAreaDimensions(null, 8), null)
                @Html.ValidationMessageFor(x => x.RequestDescription)
            </div>
        </div>
        @Html.HiddenFor(x => x.CurrentPageUrl)

        @if (ViewDataTyped.IsUserAnonymous)
        {
        <div style="margin-bottom: 5px">
            This question is testing whether you are a human visitor and to prevent automated spam submissions:
        </div>
        SitkaRecaptcha.RenderPartialView(Html);
        }
    </div>
    
}