@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json.Linq
@inherits SupportForm
@using (Html.BeginForm())
{
    <table class="dialogFormLayout">
        <tr>
            <th style="width: 200px">
                @Html.LabelFor(x => x.RequestPersonName):
            </th>
            <td>
                @if (ViewDataTyped.IsUserAnonymous)
                {
                    @Html.TextBoxFor(x => x.RequestPersonName, new {style = "width:100%"})
                    @Html.ValidationMessageFor(x => x.RequestPersonName)
                }
                else
                {
                    @Model.RequestPersonName
                    @Html.HiddenFor(x => x.RequestPersonName)
                }
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(x => x.RequestPersonEmail):
            </th>
            <td>
                @if (ViewDataTyped.IsUserAnonymous)
                {
                    @Html.TextBoxFor(x => x.RequestPersonEmail, new {style = "width:100%"})
                    @Html.ValidationMessageFor(x => x.RequestPersonEmail)
                }
                else
                {
                    @Model.RequestPersonEmail
                    @Html.HiddenFor(x => x.RequestPersonEmail)
                }
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(x => x.RequestPersonOrganization) (optional):
            </th>
            <td>
                @Html.TextBoxFor(x => x.RequestPersonOrganization, new {style = "width:100%"})
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(x => x.RequestPersonPhone) (optional):
            </th>
            <td>
                @Html.TextBoxFor(x => x.RequestPersonPhone)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(x => x.LakeTahoeInfoAreaEnum):
            </th>
            <td>
                @Html.DropDownListFor(x => x.LakeTahoeInfoAreaEnum, ViewDataTyped.SiteAreas, new { onchange = "populateSupportRequestTypeEnum()", style = "width:100%" })
                @Html.ValidationMessageFor(x => x.LakeTahoeInfoAreaEnum)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(x => x.SupportRequestTypeEnum):
            </th>
            <td>
                @Html.DropDownListFor(x => x.SupportRequestTypeEnum, ViewDataTyped.SupportRequestTypes, new { style = "width:100%" })
                @Html.ValidationMessageFor(x => x.SupportRequestTypeEnum)
            </td>
        </tr>
        <tr>
            <th colspan="2">
                @Html.LabelFor(x => x.RequestDescription):
            </th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextAreaWithMaxLengthFor(x => x.RequestDescription, new TextAreaForExtensions.TextAreaDimensions(null, 8), null)
                @Html.ValidationMessageFor(x => x.RequestDescription)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(x => x.CurrentPageUrl)

    if (ViewDataTyped.IsUserAnonymous)
    {
        <div style="margin-bottom: 5px">
            This question is testing whether you are a human visitor and to prevent automated spam submissions:
        </div>
        SitkaRecaptcha.RenderPartialView(Html);
    }

    <script>
    function populateSupportRequestTypeEnum()
    {
        var supportRequestTypes = @Html.Raw(JArray.FromObject(ViewDataTyped.SupportRequestTypeSimples));
        var selectedLakeTahoeInfoArea = jQuery("#@Html.IdFor(x => x.LakeTahoeInfoAreaEnum)").val();
        var filteredSupportRequestTypes = _.filter(supportRequestTypes, function(f) { return  f.LTInfoAreaID == null || f.LTInfoAreaID == parseInt(selectedLakeTahoeInfoArea); });
        Sitka.Methods.populateDropDownAndAddUnknowItem(jQuery("#@Html.IdFor(x => x.SupportRequestTypeEnum)"), filteredSupportRequestTypes, "SupportRequestTypeID", "SupportRequestTypeDisplayName");
    }

    </script>
}