@*-----------------------------------------------------------------------
<copyright file="ProjectMapPopup.cshtml" company="Sitka Technology Group">
Copyright (c) Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
<date>Wednesday, February 22, 2017</date>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectMapPopup

<div style="font-weight: bold">@ViewDataTyped.Project.DisplayName</div>
@if (ViewDataTyped.Project.KeyPhoto != null)
{
    <div style="float: right; padding: 8px 4px 4px 4px">
        <img src="@ViewDataTyped.Project.KeyPhoto.PhotoUrlScaledThumbnail" alt="@ViewDataTyped.Project.KeyPhoto.CaptionOnGallery" />
    </div>
}
<table class="summaryLayout">
    <tbody>
        <tr>
            <th>Duration</th>
            <td>@ViewDataTyped.Project.Duration @ViewDataTyped.Project.ProjectStage.ProjectStageDisplayName</td>
        </tr>
        <tr>
            <th>@MultiTenantHelpers.GetTaxonomyTierThreeDisplayName()</th>
            <td>@ViewDataTyped.Project.TaxonomyTierOne.TaxonomyTierTwo.TaxonomyTierThree.TaxonomyTierThreeName</td>
        </tr>
        <tr>
            <th>@MultiTenantHelpers.GetTaxonomyTierTwoDisplayName()</th>
            <td>@ViewDataTyped.Project.TaxonomyTierOne.TaxonomyTierTwo.TaxonomyTierTwoName</td>
        </tr>
        <tr>
            <th>@MultiTenantHelpers.GetTaxonomyTierOneDisplayName()</th>
            <td>@ViewDataTyped.Project.TaxonomyTierOne.TaxonomyTierOneName</td>
        </tr>
        <tr>
            <th>Lead Implementer</th>
            <td>@ViewDataTyped.Project.LeadImplementerName</td>
        </tr>
        <tr>
            <th>Estimated Total Cost</th>
            <td>@ViewDataTyped.Project.EstimatedTotalCost.ToStringCurrency()</td>
        </tr>
        <tr>
            <th>@MultiTenantHelpers.GetClassificationDisplayNamePluralized()</th>
            <td>@string.Join(", ", ViewDataTyped.Project.ProjectClassifications.Select(x => x.Classification.DisplayName))</td>
        </tr>
    </tbody>
</table>
<span class="alert">
    For project expenditures & results, see
    <a href="@ViewDataTyped.Project.GetDetailUrl()">Project Detail</a>
</span>
