@*-----------------------------------------------------------------------
<copyright file="ProjectMapPopup.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectMapPopup
<style>
    .row {
        margin-bottom: 5px;
        padding-left: 10px;
    }
</style>
<div>
    <div style="font-weight: bold; border-bottom: 1px solid lightgray; margin-bottom: 10px">@ViewDataTyped.DisplayName</div>

    @if (ViewDataTyped.KeyPhoto != null)
    {
        <div style="float: right; padding: 8px 4px 4px 4px">
            <img src="@ViewDataTyped.KeyPhoto.PhotoUrlScaledThumbnail" alt="@ViewDataTyped.KeyPhoto.CaptionOnGallery" />
        </div>
    }
    <div>
        <div class="row">
            <div class="col-xs-5"><strong>Duration</strong></div>
            <div class="col-xs-7">@ViewDataTyped.Duration @ViewDataTyped.ProjectStage.ProjectStageDisplayName</div>
        </div>
        @if (MultiTenantHelpers.GetNumberOfTaxonomyTiers() == 3)
        {
            <div class="row">
                <div class="col-xs-5"><strong>@ViewDataTyped.TaxonomyTierThreeDisplayName</strong></div>
                <div class="col-xs-7">@ViewDataTyped.TaxonomyTierOne.TaxonomyTierTwo.TaxonomyTierThree.TaxonomyTierThreeName</div>
            </div>                
        }
        @if (MultiTenantHelpers.GetNumberOfTaxonomyTiers() >= 2)
        {
            <div class="row">
                <div class="col-xs-5"><strong>@ViewDataTyped.TaxonomyTierTwoDisplayName</strong></div>
                <div class="col-xs-7">@ViewDataTyped.TaxonomyTierOne.TaxonomyTierTwo.TaxonomyTierTwoName</div>
            </div>
        }
        <div class="row">
            <div class="col-xs-5"><strong>@ViewDataTyped.TaxonomyTierOneDisplayName</strong></div>
            <div class="col-xs-7">@ViewDataTyped.TaxonomyTierOne.TaxonomyTierOneName</div>
        </div>
        <div class="row">
            <div class="col-xs-5"><strong>@FieldDefinition.EstimatedTotalCost.GetFieldDefinitionLabel()</strong></div>
            <div class="col-xs-7">@ViewDataTyped.EstimatedTotalCost.ToStringCurrency()</div>
        </div>
        <div class="row">
            <div class="col-xs-5"><strong>@ViewDataTyped.ClassificationDisplayNamePluralized</strong></div>
            <div class="col-xs-7">@ViewDataTyped.ProjectClassifications</div>
        </div>           
    </div>

    <span class="alert">
        @ViewDataTyped.DetailLinkDescriptor
        <a href="@ViewDataTyped.DetailUrl">@ViewDataTyped.DetailLinkFieldDefinition.GetFieldDefinitionLabel() Detail</a>
    </span>
</div>
