@*-----------------------------------------------------------------------
<copyright file="ProjectLocationSummary.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectLocationSummary

<style>
    .blockOverlay {
        z-index: 999;
    }
</style>

<div>
    <div id="@ViewDataTyped.ProjectLocationSummaryMapInitJson.MapDivID" style="height: 390px">
    </div>
    <span style="font-size: 10px">To zoom, hold down Shift and drag a rectangle.</span>
</div>

<div>
    @if (ViewDataTyped.HasLocationNotes)
    {
        <div style="margin-bottom: 5px">
            <label>
                Location Notes
            </label>
            <div style="padding-left: 20px">
                @ViewDataTyped.ProjectLocationNotes
            </div>
        </div>
    }
    @if (ViewDataTyped.HasLocationInformation)
    {
        <div style="margin-bottom: 5px">
            <label>
                Location Information
            </label>
            <div id="projectLocationInformationContainer" style="padding-left: 20px"></div>
        </div>
    }
    @if (ViewDataTyped.HasGeospatialAreas)
    {
        <div style="margin-bottom: 5px">
            <label>
                @FieldDefinition.GeospatialArea.GetFieldDefinitionLabel() Information
            </label>
            <ul class="noListStyle">
                @foreach (var projectGeospatialArea in ViewDataTyped.GeospatialAreas.OrderBy(x => x.DisplayName))
                {
                    <li>
                        <a href="@projectGeospatialArea.GetDetailUrl()">@projectGeospatialArea.DisplayName</a>
                    </li>
                }
            </ul>
        </div>
    }
    @if (ViewDataTyped.HasGeospatialAreaNotes)
    {
        <div style="margin-bottom: 5px">
            <label>
                @FieldDefinition.GeospatialArea.GetFieldDefinitionLabel() Notes
            </label>
            <div style="padding-left: 20px">
                @ViewDataTyped.ProjectGeospatialAreaNotes
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationSummaryMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationSummaryMapInitJson).ToString(Formatting.None));
        var projectFirmaMap = new ProjectFirmaMaps.ProjectLocationSummary(projectLocationSummaryMapInitJson, jQuery("#projectLocationInformationContainer"));
    });
</script>
