@using ProjectFirma.Web.Models
@using LtInfo.Common
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectMapPopup

<div style="font-weight: bold">@ViewDataTyped.Project.DisplayName</div>
@if (ViewDataTyped.Project.KeyPhoto != null)
{
    <div style="float: right; padding: 8px 4px 4px 4px">
        <img src="@ViewDataTyped.Project.KeyPhoto.PhotoUrlScaledThumbnail" alt="@ViewDataTyped.Project.KeyPhoto.CaptionOnGallery" />
    </div>
}
<table class="summaryLayout">
    <tbody>
        <tr>
            <th>Duration</th>
            <td>@ViewDataTyped.Project.Duration @ViewDataTyped.Project.ProjectStage.ProjectStageDisplayName</td>
        </tr>
        <tr>
            <th>Focus Area</th>
            <td>@ViewDataTyped.Project.ActionPriority.Program.FocusArea.FocusAreaName</td>
        </tr>
        <tr>
            <th>Program</th>
            <td>@ViewDataTyped.Project.ActionPriority.Program.ProgramName</td>
        </tr>
        <tr>
            <th>Action Priority</th>
            <td>@ViewDataTyped.Project.ActionPriority.ActionPriorityName</td>
        </tr>
        <tr>
            <th>Lead Implementer</th>
            <td>@ViewDataTyped.Project.LeadImplementerName</td>
        </tr>
        <tr>
            <th>Estimated Total Cost</th>
            <td>@ViewDataTyped.Project.EstimatedTotalCost.ToStringCurrency()</td>
        </tr>
        <tr>
            <th>Threshold Categories</th>
            <td>@string.Join(", ", ViewDataTyped.Project.ProjectThresholdCategories.Select(x => x.ThresholdCategory.DisplayName))</td>
        </tr>
    </tbody>
</table>
<span class="alert">
    For project expenditures & results, see
    <a href="@ViewDataTyped.Project.GetSummaryUrl()">Project Summary</a>
</span>