@*-----------------------------------------------------------------------
    <copyright file="ProjectMapPopup.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using LtInfo.Common
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectMapPopup
<style>
    .popupRow {
        margin-bottom: 5px;
        padding-left: 10px;
    }

    dl.inline {
        margin-bottom: 0;
    }

    dl.inline dd {
        display: inline;
        margin: 0;
        max-width: 200px;
        margin-bottom: 8px;
    }

    dl.inline dd:after {
        display: block;
        content: '';
    }

    dl.inline dt {
        display: inline-block;
    }

</style>

@if (ViewDataTyped.ShowDetailedInformation)
{
    <style>
        .leaflet-popup-content {
            width: @(ViewDataTyped.KeyPhoto != null ? "425px": "300px") !important;
        }
    </style>
    <div style="width:@(ViewDataTyped.KeyPhoto != null ? "425px": "300px")">
        <div style="font-weight: bold; border-bottom: 1px solid lightgray; margin-bottom: 10px">@ViewDataTyped.DisplayName</div>
        <div class="row popupRow">
            @if (ViewDataTyped.KeyPhoto != null)
            {
                <div class="col-xs-4 text-center" style="padding: 0 5px">
                    <img class="img-responsive" style="margin: 0 auto" src="@ViewDataTyped.KeyPhoto.GetPhotoUrlLargeScaledThumbnail()" alt="@ViewDataTyped.KeyPhoto.GetCaptionOnGallery()" />
                </div>
            }
            <div class="@(ViewDataTyped.KeyPhoto != null ? "col-xs-8" : "col-xs-12")">
                <dl class="inline">
                    <dt><strong>Duration:</strong></dt>
                    <dd>@ViewDataTyped.Duration</dd>
                    <dt><strong>@FieldDefinitionEnum.ProjectStage.ToType().GetFieldDefinitionLabel():</strong></dt>
                    <dd>@ViewDataTyped.ProjectStage.ProjectStageDisplayName</dd>
                    @if (ViewDataTyped.TaxonomyLevel == TaxonomyLevel.Trunk)
                    {
                        <dt><strong>@ViewDataTyped.TaxonomyTrunkDisplayName:</strong></dt>
                        <dd>@ViewDataTyped.TaxonomyLeaf.TaxonomyBranch.TaxonomyTrunk.TaxonomyTrunkName</dd>
                        <dt><strong>@ViewDataTyped.TaxonomyBranchDisplayName:</strong></dt>
                        <dd>@ViewDataTyped.TaxonomyLeaf.TaxonomyBranch.TaxonomyBranchName</dd>
                    }
                    @if (ViewDataTyped.TaxonomyLevel == TaxonomyLevel.Branch)
                    {
                        <dt><strong>@ViewDataTyped.TaxonomyBranchDisplayName:</strong></dt>
                        <dd>@ViewDataTyped.TaxonomyLeaf.TaxonomyBranch.TaxonomyBranchName</dd>
                    }
                    <dt><strong>@ViewDataTyped.TaxonomyLeafDisplayName:</strong></dt>
                    <dd>@ViewDataTyped.TaxonomyLeaf.TaxonomyLeafName</dd>
                    <dt><strong>@FieldDefinitionEnum.EstimatedTotalCost.ToType().GetFieldDefinitionLabel():</strong></dt>
                    <dd>@ViewDataTyped.EstimatedTotalCost</dd>
                    @foreach (var classificationSystem in ViewDataTyped.ClassificationsBySystem)
                    {
                        <dt><strong>@ClassificationSystemModelExtensions.GetClassificationSystemNamePluralized(classificationSystem.Key):</strong></dt>
                        <dd>@classificationSystem.Value</dd>
                    }
                </dl>
            </div>
        </div>
        
        @if (ViewDataTyped.OfferFactSheetLink)
        {
            <div class="row popupRow">
                <div class="col-xs-12 text-center">
                    <span>
                        @ViewDataTyped.DetailLinkDescriptor
                        <a href="@ViewDataTyped.FactSheetUrl">@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Fact Sheet</a>
                    </span>
                </div>
            </div>
        }
    </div>
}
else
{
         <div style="max-width: 200px">
             <div class="text-center">
                 if (ViewDataTyped.OfferFactSheetLink)
                 {
                 <a href="@ViewDataTyped.FactSheetUrl" title="View @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Fact Sheet"><strong>@ViewDataTyped.DisplayName</strong></a>
                 }
                 else
                 {
                 <strong>@ViewDataTyped.DisplayName</strong>
                 }
             </div>
         </div>
}

