@*-----------------------------------------------------------------------
    <copyright file="ProjectMapPopup.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectMapPopup
<style>
    .row {
        margin-bottom: 5px;
        padding-left: 10px;
    }

    dl.inline {
        margin-bottom: 0;
    }

        dl.inline dd {
            display: inline;
            margin: 0;
            max-width: 200px;
            margin-bottom: 8px;
        }

            dl.inline dd:after {
                display: block;
                content: '';
            }

        dl.inline dt {
            display: inline-block;
        }
</style>

@if (ViewDataTyped.ShowDetailedInformation)
{
    <div style="max-width: 300px">
        <div style="font-weight: bold; border-bottom: 1px solid lightgray; margin-bottom: 10px">@ViewDataTyped.DisplayName</div>

            @if (ViewDataTyped.KeyPhoto != null)
            {
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img class="img-responsive" style="margin: 0 auto" src="@ViewDataTyped.KeyPhoto.PhotoUrlLargeScaledThumbnail" alt="@ViewDataTyped.KeyPhoto.CaptionOnGallery" />
                    </div>
                </div>
                
            }
        <div class="row">
            <div class="col-xs-12">
                <dl class="inline">
                    <dt><strong>Duration:</strong></dt>
                    <dd>@ViewDataTyped.Duration</dd>
                    <dt><strong>@FieldDefinition.ProjectStage.GetFieldDefinitionLabel():</strong></dt>
                    <dd>@ViewDataTyped.ProjectStage.ProjectStageDisplayName</dd>
                    @if (ViewDataTyped.TaxonomyLevel == TaxonomyLevel.Trunk)
                    {
                        <dt><strong>@ViewDataTyped.TaxonomyTrunkDisplayName:</strong></dt>
                        <dd>@ViewDataTyped.TaxonomyLeaf.TaxonomyBranch.TaxonomyTrunk.TaxonomyTrunkName</dd>
                        <dt><strong>@ViewDataTyped.TaxonomyBranchDisplayName:</strong></dt>
                        <dd>@ViewDataTyped.TaxonomyLeaf.TaxonomyBranch.TaxonomyBranchName</dd>
                    }
                    @if (ViewDataTyped.TaxonomyLevel == TaxonomyLevel.Branch)
                    {
                        <dt><strong>@ViewDataTyped.TaxonomyBranchDisplayName:</strong></dt>
                        <dd>@ViewDataTyped.TaxonomyLeaf.TaxonomyBranch.TaxonomyBranchName</dd>
                    }
                    <dt><strong>@ViewDataTyped.TaxonomyLeafDisplayName:</strong></dt>
                    <dd>@ViewDataTyped.TaxonomyLeaf.TaxonomyLeafName</dd>
                    <dt><strong>@FieldDefinition.EstimatedTotalCost.GetFieldDefinitionLabel():</strong></dt>
                    <dd>@ViewDataTyped.EstimatedTotalCost</dd>
                    @foreach (var classificationSystem in ViewDataTyped.ClassificationsBySystem)
                    {
                        <dt><strong>@classificationSystem.Key.ClassificationSystemNamePluralized:</strong></dt>
                        <dd>@classificationSystem.Value</dd>
                    }
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span>
                    @ViewDataTyped.DetailLinkDescriptor
                    <a href="@ViewDataTyped.FactSheetUrl">@FieldDefinition.Project.GetFieldDefinitionLabel() Fact Sheet</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div style="max-width: 200px">
        <div class="text-center">
            <a href="@ViewDataTyped.FactSheetUrl" title="View @FieldDefinition.Project.GetFieldDefinitionLabel() Fact Sheet"><strong>@ViewDataTyped.DisplayName</strong></a>
        </div>
    </div>
}

