@*-----------------------------------------------------------------------
<copyright file="EditFeaturedProjects.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Project.EditFeaturedProjects
<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    angular.bootstrap(jQuery("#EditFeaturedProjectsApp"), ["ProjectFirmaApp"]);
    // ]]>
</script>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditFeaturedProjectsApp" ng-controller="FeaturedProjectController">
    <div class="form-group">
        <label class="control-label">
            @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() to Add:
        </label>
        <div class="input-group">
            <input class="form-control" type="text" ng-model="ProjectToAdd" typeahead-append-to-body="true" typeahead="project as project.DisplayName for project in filteredProjects() | filter:{DisplayName: $viewValue} | limitTo:8" style="width: 700px" placeholder="Search for a @FieldDefinitionEnum.ProjectName.ToType().GetFieldDefinitionLabel()" />
            <span class="input-group-btn">
                <button class="btn btn-firma" type="button" ng-click="addRow()"><span class="glyphicon glyphicon-plus"></span> Add</button>
            </span>
        </div>
        <hr/>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12 col-sm-3" style="white-space: nowrap">@Html.Label(string.Format("Featured {0}", FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()))</div>
            </div>
            <div class="form-group" ng-repeat="project in AngularModel.ProjectIDList | orderBy:[getProjectName]">
                <div class="col-xs-12 col-sm-9">
                    <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteRow(project)" style="cursor: pointer"></span>
                    <span ng-bind="getProjectName(project)"></span>
                </div>
            </div>
        </div>
    </div>
        @using (Html.BeginForm())
        {
            <input ng-repeat="project in AngularModel.ProjectIDList" type="hidden" name="@Html.NameFor(x => x.ProjectIDList)" value="{{project}}">
        }
    </div>
