@*-----------------------------------------------------------------------
<copyright file="EditFeaturedProjects.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Project.EditFeaturedProjects
<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    angular.bootstrap(jQuery("#EditFeaturedProjectsApp"), ["ProjectFirmaApp"]);
    // ]]>
</script>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditFeaturedProjectsApp" ng-controller="FeaturedProjectController">
    @FieldDefinition.Project.GetFieldDefinitionLabel() to Add:
    <input type="text" ng-model="ProjectToAdd" typeahead-append-to-body="true" typeahead="project as project.DisplayName for project in filteredProjects() | filter:{DisplayName: $viewValue} | limitTo:8" style="width: 700px" placeholder="Search for a @FieldDefinition.ProjectName.GetFieldDefinitionLabel()"/>
    <button class="btn btn-xs btn-firma" type="button" ng-click="addRow()">Add</button>
    <table class="dialogFormLayout">
        <tr>
            <th></th>
            <th style="white-space: nowrap">@Html.LabelWithSugarFor(FieldDefinition.Project)</th>
        </tr>
        <tr ng-repeat="project in AngularModel.ProjectIDList | orderBy:[getProjectName]">
            <td>
                <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteRow(project)" style="cursor: pointer"></span></td>
            <td ng-bind="getProjectName(project)"></td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        <input ng-repeat="project in AngularModel.ProjectIDList" type="hidden" name="@Html.NameFor(x => x.ProjectIDList)" value="{{project}}">
    }
</div>
