@*-----------------------------------------------------------------------
<copyright file="FactSheet.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Project
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.Views
@using MoreLinq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@inherits FactSheet

@{
    SetLayout("~/Views/Shared/NavAndHeaderLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    <style>
        .ltinfo
        {
            min-width: 1240px !important;
        }

         .factSheet
         {
             background-color: #fff;
             width: 1200px;
             margin-left: auto;
             margin-right: auto;
             margin-bottom: 20px;
             font-size: 16px;
             padding: 15px 20px;
         }

        .aboveFactSheet
        {
            padding: 15px 0 0 0;
            background-color: transparent;
        }

        .factSheetAboutProject
        {
            vertical-align: top;
            width: 700px;
        }

        .ltInfoPanelDimensions
        {
            width: 500px;
            height: 510px;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
        }

        .mapPanel
        {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            height: 510px;
        }

        .keyPhotoPanel
        {
            width: 500px;
        }

        .keyPhoto
        {
            margin-left: auto;
            margin-right: auto;
        }

        .pmChartLegendPanelDimensions
        {
            width: 100%;
            overflow-y: auto;
            max-height: 120px;
        }

        .pmChartSize
        {
            width: 600px;
            height: 330px;
        }

        .photoContainer
        {
            display: inline-block;
            padding-right: 10px;
            width: 570px;
            vertical-align: top;
        }

        .projectTitle
        {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .sectionTitle
        {
            font-size: 18px;
            font-weight: bold;
            margin: 5px 0 5px 0;
        }

        .taxonomyTierThreeColor
        {
            color: @ViewDataTyped.TaxonomyColor;
            border-color: @ViewDataTyped.TaxonomyColor;
        }

        table.summaryLayout th
        {
            color: #000;
        }

        .photosSection
        {
            margin-bottom: 0;
        }

        .photocaption
        {
            font-size: 0.9em;
            color: #000;
            line-height: 15px;
        }

        .projectTaxonomy
        {
            padding: 5px 5px 5px 25px;
            height: 20px;
            color: #ffffff;
            font-weight: bold;
            background-color: @ViewDataTyped.TaxonomyColor;
            border: solid 4px @ViewDataTyped.TaxonomyColor;
            border-right: 0;
            border-left: 0;
            font-size: 18px;
        }

        .legendPanel
        {
            font-size: 12px;
        }

        .expendituresChartTitle
        {
            font-size: 14px;
        }

        .projectImageTiming
        {
            padding-top: 5px;
            font-weight: bold;
            padding-left: 30px;
            padding-bottom: 5px;
        }

        td.bullet
        {
            padding-right: 5px;
            vertical-align: top;
        }

        .expendituresChartTitle
        {
            font-size: 16px;
        }

        .onlyOnPrint
        {
            padding-right: 110px;
        }
    </style>

    <link href="@Url.Content("~/Content/css/ProjectFirmaPrint.css")" rel="stylesheet" type="text/css" media="print" />

    <style type="text/css" media="print">
        .container .factSheet {
            border: none;
            border-radius: 0;
            box-shadow: none;
            outline: none;
            width: 90%;
            overflow: visible;
            margin: 0;
            padding: 0;
        }

        .factSheetAboutProject {
            font-size: 18px;
        }

        .photosSection {
            page-break-before: always;
        }

        .projectTaxonomy {
            color: #000;
            font-size: 18px;
        }

        .summaryLayout {
            font-size: 20px;
        }

        .sectionTitle {
            font-size: 20px;
        }

        .projectImageTiming {
            font-size: 19px;
            padding-top: 0;
        }
    </style>

    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}

<div class="container factSheet noPrint aboveFactSheet">
    <div class="pull-right">
        <a class="btn btn-xs btn-firma" href="@ViewDataTyped.Project.GetDetailUrl()">Project Details</a>
        <button class="btn btn-xs btn-firma" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>
    </div>

</div>
<div class="container factSheet">
    <table style="width: 100%; padding-bottom: 15px">
        <tr>
            <td style="border-right: 2px solid; padding: 10px;" class="taxonomyTierThreeColor text-center">
                <img style="max-height: 200px; margin: 0 auto;" class="img-responsive" src="@MultiTenantHelpers.GetTenantSquareLogoUrl()" alt="@MultiTenantHelpers.GetTenantDisplayName()" />
            </td>
            <td style="padding: 20px">
                <div class="taxonomyTierThreeColor" style="font-size: medium">
                    Project Fact Sheet
                </div>
                <div class="projectTitle taxonomyTierThreeColor">@ViewDataTyped.Project.ProjectName</div>
                <table class="summaryLayout">
                    <tr>
                        <th style="padding-right: 5px">@ViewDataTyped.TaxonomyTierOneDisplayName:</th>
                        <td>@ViewDataTyped.TaxonomyTierOneName</td>
                    </tr>
                    <tr>
                        <th>Implementers:</th>
                        <td>@ViewDataTyped.Project.ProjectImplementingOrganizationNames</td>
                    </tr>
                    <tr>
                        <th>Stage:</th>
                        <td>@ViewDataTyped.Project.ProjectStage.ProjectStageDisplayName</td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td>@ViewDataTyped.Project.Duration</td>
                    </tr>
                    <tr>
                        <th>Primary Contact:</th>
                        <td>
                            @if (ViewDataTyped.PrimaryContactPerson != null)
                            {
                                <span>
                                    @ViewDataTyped.PrimaryContactPerson.FullNameFirstLast (@ViewDataTyped.PrimaryContactPerson.Email)
                                </span>
                            }
                            else
                            {
                                <span>@ViewUtilities.NoneString</span>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="projectTaxonomy">
                @ViewDataTyped.TaxonomyTierTwoName &gt;
                @ViewDataTyped.TaxonomyTierOneName
            </td>

        </tr>
    </table>

    <table style="width: 1160px">
        <tr>
            <td class="factSheetAboutProject" style="padding-top: 20px; max-width:1000px">
                <div style="max-height:320px; white-space: normal; text-overflow: ellipsis; overflow-y: hidden">@ViewDataTyped.Project.ProjectDescription</div>
                <div class="sectionTitle taxonomyTierThreeColor">Key accomplishments of project</div>
                @if (ViewDataTyped.PerformanceMeasureReportedValues.Any())
                {
                    <table>
                        @foreach (var performanceMeasureGroup in ViewDataTyped.PerformanceMeasureReportedValues)
                        {
                            <tr>
                                <td class="bullet">&bull;</td>
                                <td>@performanceMeasureGroup.Key.PerformanceMeasureDisplayName: @performanceMeasureGroup.Key.MeasurementUnitType.DisplayValue(performanceMeasureGroup.Sum(x => x.ReportedValue)) @performanceMeasureGroup.Key.MeasurementUnitType.LegendDisplayName</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>Accomplishments to be provided upon completion of project.</p>
                }
                <div class="sectionTitle taxonomyTierThreeColor">@ViewDataTyped.ClassificationDisplayNamePluralized</div>
                @if (ViewDataTyped.Project.ProjectClassifications.Any())
                {
                    <table>
                        @foreach (var classificationBatch in ViewDataTyped.Classifications.Batch(2))
                        {
                            <tr>
                                @foreach (var classification in classificationBatch)
                                {
                                    <td class="bullet">&bull;</td>
                                    <td style="padding-right: 50px">@classification.DisplayName</td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>No @ViewDataTyped.ClassificationDisplayNamePluralized provided.</p>
                }
            </td>
            @if (ViewDataTyped.KeyPhoto != null)
            {
                <td class="keyPhotoPanel" style="padding-top: 20px; vertical-align:top">
                    <span class="keyPhoto">
                        <img src="@(ViewDataTyped.KeyPhoto.PhotoUrlScaledForPrint)" alt="@ViewDataTyped.KeyPhoto.CaptionOnFullView" />
                        <br />
                        <span class="photocaption">@ViewDataTyped.KeyPhoto.Caption</span>
                    </span>

                </td>
            }
        </tr>
    </table>

    <table style="width: 1120px">
        <tr>
            <td style="width: 550px">
                <div style="width: 560px; margin-left: auto; margin-right: auto; page-break-inside: avoid">
                    <div class="sectionTitle taxonomyTierThreeColor">Location</div>
                    <div id="@ViewDataTyped.ProjectLocationSummaryViewData.ProjectLocationSummaryMapInitJson.MapDivID" class="ltInfoPanel mapPanel"></div>
                    <script type="text/javascript">
                        jQuery(document).ready(function()
                        {
                            var projectLocationSummaryMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationSummaryViewData.ProjectLocationSummaryMapInitJson).ToString(Formatting.None));
                            var projectFirmaMap = new ProjectFirmaMaps.ProjectLocationSummary(projectLocationSummaryMapInitJson);
                        });
                    </script>
                </div>
            </td>
            <td style="width: 550px; padding-right:20px">
                <div style="width: 560px; margin-left: auto; margin-right: auto; page-break-inside: avoid">
                    <div class="sectionTitle taxonomyTierThreeColor">Expenditures</div>
                    <div class="ltInfoPanel ltInfoPanelDimensions">
                        <div style="width: 450px; height: 550px; overflow: hidden">
                            @if (ViewDataTyped.FundingSourceExpenditures.Any())
                            {
                                <div style="text-align: center;" class="expendituresChartTitle">
                                    <span style="font-weight: bold">Expenditures by Funding Source to Date: @ViewDataTyped.Project.ProjectFundingSourceExpenditures.Sum(x => x.ExpenditureAmount).ToStringCurrency()</span>
                                    <br />(Estimated Cost: @ViewDataTyped.Project.EstimatedTotalCost.ToStringCurrency())
                                </div>
                                <div id="ProjectFactSheet@(ViewDataTyped.Project.ProjectID)PieChart"
                                     class="ReportedValueChart"
                                     style="height: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Height)px; width: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Width)px"></div>
                                <div class="legendPanel">
                                    @Html.Raw(ViewDataTyped.LegendHTML)
                                </div>
                            }
                            else
                            {
                                <p>No expenditures provided.</p>
                            }
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </table>

    <div class="sectionTitle taxonomyTierThreeColor photosSection">Photos</div>
    @if (ViewDataTyped.ProjectImagesExceptKeyPhotoGroupedByTiming.Any())
    {
        <table style="width: 1160px">
            @foreach (var projectImagesGroupedByTiming in ViewDataTyped.ProjectImagesExceptKeyPhotoGroupedByTiming)
            {
                <tr style="padding-top: 5px">
                    <td class="projectImageTiming">@projectImagesGroupedByTiming.Key.ProjectImageTimingDisplayName</td>
                </tr>
                foreach (var projectImageBatch in projectImagesGroupedByTiming.OrderBy(x => x.FileResource.Orientation).Take(ViewDataTyped.ProjectImagesPerTimingGroup).Batch(2))
                {
                    <tr>
                        @foreach (var projectImage in projectImageBatch)
                        {
                            <td class="photoContainer">
                                <div style="width: 500px; margin:auto">
                                    <img src="@projectImage.PhotoUrlScaledForPrint" alt="@projectImage.CaptionOnFullView" />
                                    <br />
                                    <span class="photocaption">@projectImage.Caption</span>
                                </div>
                            </td>
                        }
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <p>No photos provided.</p>
    }
    
    <div class="pull-right onlyOnPrint">Data as of @DateTime.Today.ToStringDate()</div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var chartJson = @Html.Raw(JObject.FromObject(ViewDataTyped.GoogleChartJson).ToString());
        GoogleCharts.drawCharts([chartJson]);
    });
</script>
