@*-----------------------------------------------------------------------
<copyright file="FactSheet.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Project
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.Views
@using MoreLinq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@inherits ForwardLookingFactSheet

@{
    @SetLayout("~/Views/Shared/NavAndHeaderLayout.cshtml", ViewDataTyped)
}

@section JavascriptAndStylesContent
{
    <style>
         .factSheet
         {
             background-color: #fff;
             margin-left: auto;
             margin-right: auto;
             margin-bottom: 20px;
             font-size: 16px;
             padding: 15px 20px;
         }
         
        @@media print {
             .factSheet {
                 width: 1110px;
             }
         }

        .aboveFactSheet
        {
            padding: 15px 0 0 0;
            background-color: transparent;
        }

        .factSheetAboutProject
        {
            vertical-align: top;
            width: 700px;
        }

        .ltInfoPanelDimensions
        {
            width: 500px;
            height: 510px;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
        }

        .mapPanel
        {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            height: 510px;
        }

        .keyPhotoPanel
        {
            width: 500px;
        }

        .keyPhoto
        {
            margin-left: auto;
            margin-right: auto;
        }

        .photoContainer
        {
            display: inline-block;
            padding-right: 10px;
            width: 570px;
            vertical-align: top;
        }

        .projectTitle
        {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .sectionTitle
        {
            font-size: 18px;
            font-weight: bold;
            margin: 5px 0 5px 0;
        }

        .taxonomyTierThreeColor
        {
            color: @ViewDataTyped.TaxonomyColor;
            border-color: @ViewDataTyped.TaxonomyColor;
        }

        table.summaryLayout th
        {
            color: #000;
        }

        .photosSection
        {
            margin-bottom: 0;
        }

        .photocaption
        {
            font-size: 0.9em;
            color: #000;
            line-height: 15px;
        }

        .projectTaxonomy
        {
            padding: 5px 5px 5px 25px;
            height: 40px;
            color: #ffffff;
            font-weight: bold;
            background-color: @ViewDataTyped.TaxonomyColor;
            border: solid 4px @ViewDataTyped.TaxonomyColor;
            border-right: 0;
            border-left: 0;
            font-size: 18px;
        }

        .legendPanel
        {
            font-size: 12px;
        }

        .expendituresChartTitle
        {
            font-size: 14px;
        }

        .projectImageTiming
        {
            padding-top: 5px;
            font-weight: bold;
            padding-left: 30px;
            padding-bottom: 5px;
        }

        td.bullet
        {
            padding-right: 5px;
            vertical-align: top;
        }

        .expendituresChartTitle
        {
            font-size: 16px;
        }

        .onlyOnPrint
        {
            padding-right: 110px;
        }
    </style>

    <link href="@Url.Content("~/Content/css/ProjectFirmaPrint.css")" rel="stylesheet" type="text/css" media="print" />

    <style type="text/css" media="print">
        .container .factSheet {
            border: none;
            border-radius: 0;
            box-shadow: none;
            outline: none;
            width: 100%;
            overflow: visible;
            margin: 0;
            padding: 0;
                              }

        .factSheet {
            font-size: 14px;
        }

        .factSheetAboutProject {
            font-size: 18px;
                               }

        .photosSection {
            page-break-before: always;
                       }

        .projectTaxonomy {
            color: #000;
            font-size: 18px;
                         }

        .summaryLayout {
            font-size: 20px;
                       }

        .sectionTitle {
            font-size: 20px;
                      }

        .projectImageTiming {
            font-size: 19px;
            padding-top: 0;
                            }

       .header {
            display: none;
        }
    </style>

    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}

<div class="container factSheet noPrint aboveFactSheet">
    <div class="pull-right">
        <a class="btn btn-firma" href="@ViewDataTyped.Project.GetDetailUrl()">Project Details</a>
        <a class="btn btn-firma" href="@ViewDataTyped.FactSheetPdfUrl" target="_blank"><span class="glyphicon glyphicon-print"></span> Print</a>
    </div>
   
</div>
<div class="container factSheet">
    
    <div class="row">
        <div style="padding: 10px;" class="col-sm-2 col-md-2 taxonomyTierThreeColor">
            <img style="max-height: 200px; margin: 0 auto;" class="img-responsive" src="@MultiTenantHelpers.GetTenantSquareLogoUrl()" alt="@MultiTenantHelpers.GetTenantDisplayName()" />
        </div>
        <div class="col-sm-10 col-md-10" style="padding: 20px">
            <div class="taxonomyTierThreeColor" style="font-size: medium">
                @FieldDefinition.Project.GetFieldDefinitionLabel() Fact Sheet
            </div>
            <div class="projectTitle taxonomyTierThreeColor">@ViewDataTyped.Project.ProjectName</div>
            <table class="summaryLayout">
                <colgroup>
                    <col class="col-md-3"/>
                    <col/>
                </colgroup>
                <tr>
                    <th style="padding-right: 5px">@ViewDataTyped.TaxonomyTierOneDisplayName:</th>
                    <td>@ViewDataTyped.TaxonomyTierOneName</td>
                </tr>
                <tr>
                    <th>Implementers:</th>
                    <td>@ViewDataTyped.Project.ProjectOrganizationNamesAndTypes</td>
                </tr>
                <tr>
                    <th>Supporting Agencies:</th>
                    <td>@ViewDataTyped.SupportingAgenciesForDisplay</td>
                </tr>
                <tr>
                    <th>Total Project Cost:</th>
                    <td>@ViewDataTyped.Project.EstimatedTotalCost.ToStringCurrency()</td>
                </tr>
                <tr>
                    <th>Funding Request:</th>
                    <td>@ViewDataTyped.FundingRequest</td>
                </tr>
                <tr>
                    <th>Stage:</th>
                    <td>@ViewDataTyped.Project.ProjectStage.ProjectStageDisplayName</td>
                </tr>
                <tr>
                    <th>Duration:</th>
                    <td>@ViewDataTyped.Project.Duration</td>
                </tr>
                <tr>
                    <th>Primary Contact:</th>
                    <td>
                        @if (ViewDataTyped.Project.PrimaryContactPerson != null)
                        {
                            <span>
                                @ViewDataTyped.Project.PrimaryContactPerson.FullNameFirstLast (@ViewDataTyped.Project.PrimaryContactPerson.Email)
                            </span>
                        }
                        else
                        {
                            <span>@ViewUtilities.NoneString</span>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="projectTaxonomy">
        @ViewDataTyped.Project.TaxonomyTierOne.TaxonomyTierTwo.TaxonomyTierTwoName &gt;
        @ViewDataTyped.Project.TaxonomyTierOne.TaxonomyTierOneName
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col-md-6">
            <div style="white-space: normal; text-overflow: ellipsis; overflow-y: hidden">@ViewDataTyped.Project.ProjectDescription</div>
        </div>
        <div class="col-md-6">
            @if (ViewDataTyped.KeyPhoto != null)
            {
                <span class="keyPhoto">
                    <img style="max-height: 400px;" src="@(ViewDataTyped.KeyPhoto.PhotoUrlScaledForPrint)" alt="@ViewDataTyped.KeyPhoto.CaptionOnFullView"/>
                    <br/>
                    <span class="photocaption">@ViewDataTyped.KeyPhoto.Caption</span>
                </span>
            }
            else
            {
                <div class="sectionTitle" style="max-height: 500px; width: 100%; text-align: center; background-color: #dbdbdb; border-radius: 10px;">
                    <div style="display: table;margin: auto;height: 100%;">
                        <div style="display: table-cell; vertical-align: middle; height: 100%;">
                            No Key Photo provided for this Project.
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
<div class="row" style="padding-top: 10px;">
    <div class="col-md-6">
        <div class="sectionTitle taxonomyTierThreeColor">Targeted Performance Measures</div>
        @if (ViewDataTyped.PerformanceMeasureExpectedValues.Any())
        {
            <table>
                @foreach (var eipPerformanceMeasureGroup in ViewDataTyped.PerformanceMeasureExpectedValues)
                {
                    <tr>
                        <td class="bullet">&bull;</td>
                        <td>@eipPerformanceMeasureGroup.Key.PerformanceMeasureDisplayName</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="systemText">No Expected Accomplishments provided.</div>
        }
    </div>
    <div class="col-md-6">
        <div class="sectionTitle taxonomyTierThreeColor">@ViewDataTyped.ClassificationDisplayNamePluralized</div>
        @if (ViewDataTyped.Project.ProjectClassifications.Any())
        {
            <table>
                @foreach (var classificationBatch in ViewDataTyped.Classifications.Batch(2))
                {
                    <tr>
                        @foreach (var classification in classificationBatch)
                        {
                            <td class="bullet">&bull;</td>
                            <td style="padding-right: 50px">@classification.DisplayName</td>
                        }
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="systemText">No @ViewDataTyped.ClassificationDisplayNamePluralized provided.</div>
        }
    </div>
</div>
    <div class="row">
        <div class="col-md-6" >
            <div style="width: 560px; margin-left: auto; margin-right: auto; page-break-inside: avoid">
                <div class="sectionTitle taxonomyTierThreeColor">Location</div>
                <div id="@ViewDataTyped.ProjectLocationSummaryViewData.ProjectLocationSummaryMapInitJson.MapDivID" class="ltInfoPanel mapPanel"></div>
                <script type="text/javascript">
                    jQuery(document).ready(function()
                    {
                        var projectLocationSummaryMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationSummaryViewData.ProjectLocationSummaryMapInitJson).ToString(Formatting.None));
                        // ReSharper disable once UnusedLocals
                        var firmaMap = new ProjectFirmaMaps.ProjectLocationSummary(projectLocationSummaryMapInitJson);
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6" >
            <div style="width: 560px; margin-left: auto; margin-right: auto; page-break-inside: avoid">
                <div class="sectionTitle taxonomyTierThreeColor">Funding</div>
                <div class="ltInfoPanel ltInfoPanelDimensions">
                    <div style="width: 100%; height: 600px; overflow: hidden">
                        @if (ViewDataTyped.FundingSourceRequestAmountGooglePieChartSlices.Any())
                        {
                            <div style="text-align: center;" class="expendituresChartTitle">
                                <span style="font-weight:bold">Expected Funding</span>
                            </div>
                            <div id="@ViewDataTyped.GoogleChartJson.ChartContainerID" class="googleChart" style="height: @(ViewDataTyped.CalculatedChartHeight)px;"></div>
                            <div class="legendPanel">
                                @Html.Raw(ViewDataTyped.LegendHtml)
                            </div>
                        }
                        else
                        {
                            <div class="systemText">No Expected Funding sources identified provided.</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionTitle taxonomyTierThreeColor photosSection">Photos</div>
    @if (ViewDataTyped.ProjectImagesExceptKeyPhotoGroupedByTiming.Any())
    {
        foreach (var projectImagesGroupedByTiming in ViewDataTyped.ProjectImagesExceptKeyPhotoGroupedByTiming)
        {
            <div class="row" style="padding-top: 5px">
                <div class="col-md-12 projectImageTiming">@projectImagesGroupedByTiming.Key.ProjectImageTimingDisplayName</div>
            </div>
            foreach (var projectImageBatch in projectImagesGroupedByTiming.OrderBy(x => x.FileResource.Orientation).Take(ViewDataTyped.ProjectImagesPerTimingGroup).Batch(2))
            {
                <div class="row">
                    @foreach (var projectImage in projectImageBatch)
                    {
                        <div class="col-md-6 col-sm-12 photoContainer">
                            <img src="@projectImage.PhotoUrlScaledForPrint" alt="@projectImage.CaptionOnFullView" />
                            <br />
                            <span class="photocaption">@projectImage.Caption</span>
                        </div>
                    }
                </div>
            }
        }
    }
    else
    {
        <div class="systemText">No photos provided.</div>
    }

    <div class="pull-left onlyOnPrint"><hr/>Fact Sheet Data as of @DateTime.Today.ToStringDate()</div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var chartJson = @Html.Raw(JObject.FromObject(ViewDataTyped.GoogleChartJson).ToString());
        window.GoogleCharts.drawCharts([chartJson]);
    });
</script>
