@*-----------------------------------------------------------------------
    <copyright file="FactSheet.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Project
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.Views
@using MoreLinq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@inherits ForwardLookingFactSheet

@{
    @SetLayout("~/Views/Shared/NavAndHeaderLayout.cshtml", ViewDataTyped)
}

@section JavascriptAndStylesContent
{

    <link href="@Url.Content("~/Content/css/ProjectFirmaPrint.css")" rel="stylesheet" type="text/css" media="print" />
    <style>
        .projectTaxonomy {
            background-color: @ViewDataTyped.TaxonomyColor !important;
            color: white !important;
        }

        h1, h2, h3, h4, h5 {
            color:  @ViewDataTyped.TaxonomyColor !important;
        }

        .headerPanel
        {
            border-left: 3px solid @ViewDataTyped.TaxonomyColor;
        }
    </style>

    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var chartJson = @Html.Raw(JObject.FromObject(ViewDataTyped.GoogleChartJson).ToString());
            var chartWrapper = new google.visualization.ChartWrapper(chartJson);
            chartWrapper.draw();
        }
    </script>
}

<div class="container noPrint">
    <div style="margin: 15px 0;">
        <div class="pull-right">
            <a class="btn btn-firma" href="@ViewDataTyped.Project.GetDetailUrl()">Project Details</a>
            <a class="btn btn-firma" href="@ViewDataTyped.FactSheetPdfUrl"><span class="glyphicon glyphicon-print"></span> Print to PDF</a>
        </div>
    </div>
</div>

<div class="container factSheet">
    <div class="row section">
        <div class="col-sm-2 col-md-2">
            <img style="max-height: 200px; margin: 20px auto" class="img-responsive" src="@MultiTenantHelpers.GetTenantSquareLogoUrl()" alt="@MultiTenantHelpers.GetTenantDisplayName()" />
            @if (MultiTenantHelpers.ShowLeadImplementerLogoOnFactSheet() && ViewDataTyped.Project.GetPrimaryContactOrganizationLogo() != null)
            {
                @*If the logo is not null then perforce the organization must not be null, so this is fine.*@
                <img style="max-height: 200px; margin: 20px auto" class="img-responsive" src="@ViewDataTyped.Project.GetPrimaryContactOrganizationLogo().FileResourceUrl" alt="@ViewDataTyped.Project.GetPrimaryContactOrganization().DisplayNameWithoutAbbreviation" />
            }
        </div>
        <div class="col-sm-10 col-md-10 headerPanel">
            <h2>@ViewDataTyped.Project.ProjectName</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <strong>@ViewDataTyped.TaxonomyLeafDisplayName</strong>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    @ViewDataTyped.TaxonomyLeafName
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <strong>Implementers</strong>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    @ViewDataTyped.Project.ProjectOrganizationNamesAndTypes
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <strong>Supporting Agencies</strong>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    @ViewDataTyped.SupportingAgenciesForDisplay
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <strong>Primary Contact</strong>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    @if (ViewDataTyped.Project.PrimaryContactPerson != null)
                    {
                        <span>
                            @ViewDataTyped.Project.PrimaryContactPerson.FullNameFirstLast (@ViewDataTyped.Project.PrimaryContactPerson.Email)
                        </span>
                    }
                    else
                    {
                        <span>@ViewUtilities.NoneString</span>
                    }
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <strong>@FieldDefinition.ProjectStage.GetFieldDefinitionLabel()</strong>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    @ViewDataTyped.Project.ProjectStage.ProjectStageDisplayName
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <strong>Duration</strong>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    @ViewDataTyped.Project.Duration
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <strong>@FieldDefinition.EstimatedTotalCost.GetFieldDefinitionLabel()</strong>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    @ViewDataTyped.EstimatedTotalCost
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <strong>Funding Request</strong>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    @ViewDataTyped.FundingRequest
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="projectTaxonomy">
                @if (MultiTenantHelpers.GetTaxonomyLevel() != TaxonomyLevel.Leaf)
                {
                    @ViewDataTyped.Project.TaxonomyLeaf.TaxonomyBranch.TaxonomyBranchName
                    <span class="glyphicon glyphicon-chevron-right"></span>
                }
                @ViewDataTyped.Project.TaxonomyLeaf.TaxonomyLeafName
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="col-xs-12 col-sm-12 col-md-7">
            <div class="row">
                <div class="col-xs-12">
                    <div class="projectDescription">@ViewDataTyped.Project.ProjectDescription</div>
                </div>
                <div class="col-xs-12" style="margin-top: 10px">
                    <h4>Targeted Performance Measures</h4>
                    @if (ViewDataTyped.PerformanceMeasureExpectedValues.Any())
                    {
                        <ul>
                            @foreach (var eipPerformanceMeasureGroup in ViewDataTyped.PerformanceMeasureExpectedValues)
                            {

                                <li>@eipPerformanceMeasureGroup.Key.PerformanceMeasureDisplayName</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="systemText">No Expected Accomplishments provided</div>
                    }
                </div>
                @foreach (var classificationSystem in MultiTenantHelpers.GetClassificationSystems())
                {
                    <div class="col-xs-6">
                        <h4>@classificationSystem.ClassificationSystemNamePluralized</h4>
                        @if (ViewDataTyped.Classifications.Any(x => x.ClassificationSystem == classificationSystem))
                        {
                            <ul>
                                @foreach (var classification in ViewDataTyped.Classifications.Where(x => x.ClassificationSystem == classificationSystem))
                                {

                                    <li style="padding-right: 50px">@classification.DisplayName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div class="systemText">No @classificationSystem.ClassificationSystemNamePluralized provided</div>
                        }
                    </div>
                }
            </div>
        </div>

        <div class="col-md-5">
            @if (ViewDataTyped.KeyPhoto != null)
            {
                <div class="keyPhoto">
                    <img class="img-responsive" src="@(ViewDataTyped.KeyPhoto.PhotoUrlScaledForPrint)" alt="@ViewDataTyped.KeyPhoto.CaptionOnFullView" />
                    <span class="captionText">@ViewDataTyped.KeyPhoto.Caption</span>
                </div>
            }
            else
            {
                <div class="text-center">
                    <p class="systemText">No Key Photo provided</p>
                </div>
            }
        </div>
    </div>
    <div class="row section">
        <div class="col-sm-12 col-md-6">
            <div style="margin-left: auto; margin-right: auto;">
                <h4>Location</h4>
                <div id="@ViewDataTyped.ProjectLocationSummaryViewData.ProjectLocationSummaryMapInitJson.MapDivID" class="locationPanel"></div>
                <script type="text/javascript">
                jQuery(document).ready(function()
                {
                    var projectLocationSummaryMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationSummaryViewData.ProjectLocationSummaryMapInitJson).ToString(Formatting.None));
                    var firmaMap = new ProjectFirmaMaps.ProjectLocationSummary(projectLocationSummaryMapInitJson);
                });
                </script>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div style="margin-left: auto; margin-right: auto; page-break-inside: avoid">
                <h4>Targeted Funding</h4>
                <div class="chartPanel">
                    @if (ViewDataTyped.FundingSourceRequestAmountGooglePieChartSlices.Any())
                    {
                        <div id="@ViewDataTyped.GoogleChartJson.ChartContainerID" class="googleChart" style="height: @(ViewDataTyped.CalculatedChartHeight)px;"></div>
                        <div class="captionText">
                            @Html.Raw(ViewDataTyped.LegendHtml)
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <p class="systemText">No Targeted Funding Sources identified</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row section" style="page-break-before: always">
        <div class="col-xs-12">
            <h4>Photos</h4>
        </div>
        @if (ViewDataTyped.ProjectImagesExceptKeyPhotoGroupedByTiming.Any())
        {
            foreach (var projectImagesGroupedByTiming in ViewDataTyped.ProjectImagesExceptKeyPhotoGroupedByTiming)
            {
                <div class="col-xs-12">
                    <strong>@projectImagesGroupedByTiming.Key.ProjectImageTimingDisplayName</strong>
                </div>
                <div class="col-xs-12" style="margin: 0 15px;">
                    @foreach (var projectImageBatch in projectImagesGroupedByTiming.OrderBy(x => x.FileResource.Orientation).Take(ViewDataTyped.ProjectImagesPerTimingGroup).Batch(2))
                    {
                        <div class="row">
                            @foreach (var projectImage in projectImageBatch)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <img class="img-responsive" src="@projectImage.PhotoUrlScaledForPrint" alt="@projectImage.CaptionOnFullView" />
                                    <div class="captionText">@projectImage.Caption</div>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="col-xs-12">
                <p class="systemText">No additional photos provided</p>
            </div>
        }
    </div>


    <div class="pull-right onlyOnPrint"><hr />Project Fact Sheet Data as of @DateTime.Today.ToStringDate()</div>
</div>

