@*-----------------------------------------------------------------------
<copyright file="FullProjectListSimple.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Security
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Project.FullProjectListSimple

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<table class="table table-striped table-hover table-condensed">
    <tr style="background-color: #999">     
        <th colspan="2">@Html.LabelWithSugarFor(FieldDefinitionEnum.ProjectName.ToType())</th>
        <th>@Html.LabelWithSugarFor(FieldDefinitionEnum.ProjectStage.ToType())</th>
        <th style="white-space: nowrap; text-align: right">@Html.LabelWithSugarFor(FieldDefinitionEnum.ImplementationStartYear.ToType())</th>
        <th style="white-space: nowrap; text-align: right">@Html.LabelWithSugarFor(FieldDefinitionEnum.CompletionYear.ToType())</th>
    </tr>
    @foreach (var project in ViewDataTyped.Projects)
    {
        <tr>
            @if (OfferProjectFactSheetLinkFeature.OfferProjectFactSheetLink(ViewDataTyped.CurrentFirmaSession, project))
            {
            <td><a href="@project.GetFactSheetUrl()">@FirmaDhtmlxGridHtmlHelpers.FactSheetIcon</a></td>
            }
            else
            {
            <td>%nbsp;</td>
            }
            <td><a href="@project.GetDetailUrl()">@project.ProjectName</a></td>
            <td style="white-space: nowrap">@project.ProjectStage.ProjectStageDisplayName</td>
            <td style="text-align: right">@project.ImplementationStartYear</td>
            <td style="text-align: right">@project.CompletionYear</td>
        </tr>
    }
</table>
