@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@inherits ProjectFirma.Web.Views.Project.FullProjectListSimple

<div>
    @ViewDataTyped.FirmaPage.FirmaPageContentHtmlString
</div>

<table class="table table-striped table-hover table-condensed">
    <tr style="background-color: #999">     
        <th colspan="2">@Html.LabelWithSugarFor(FieldDefinition.ProjectName)</th>        
        <th>@Html.LabelWithSugarFor(FieldDefinition.LeadImplementer)</th>
        <th>@Html.LabelWithSugarFor(FieldDefinition.ProjectStage)</th>
        <th style="white-space: nowrap; text-align: right">@Html.LabelWithSugarFor(FieldDefinition.ImplementationStartYear)</th>
        <th style="white-space: nowrap; text-align: right">@Html.LabelWithSugarFor(FieldDefinition.CompletionYear)</th>
    </tr>
    @foreach (var project in ViewDataTyped.Projects)
    {
        <tr>
            <td><a href="@project.GetFactSheetUrl()">@FirmaDhtmlxGridHtmlHelpers.FactSheetIcon</a>
            <td><a href="@project.GetDetailUrl()">@project.ProjectName</a></td>            
            <td style="width:250px">@if (project.LeadImplementerOrganizationID.HasValue) { @project.LeadImplementer.GetDisplayNameAsUrl() }</td>
            <td style="white-space: nowrap">@project.ProjectStage.ProjectStageDisplayName</td>
            <td style="text-align: right">@project.ImplementationStartYear</td>
            <td style="text-align: right">@project.CompletionYear</td>
        </tr>
    }
</table>