@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Project.MyOrganizationsProjects

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div>
    @ViewDataTyped.FirmaPage.FirmaPageContentHtmlString
</div>

<div class="summarySection" style="margin-top: 10px">
    <h2>@Html.LabelWithFieldDefinitionFor(FieldDefinition.Project, LabelForExtensions.DisplayStyle.HelpIconOnly) Projects</h2>
    <div class="contentWrapper">
        @Html.DhtmlxGrid(ViewDataTyped.ProjectsGridSpec, ViewDataTyped.ProjectsGridName, ViewDataTyped.ProjectsGridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div class="summarySection" style="margin-top: 10px">
    <h2>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ProposedProject, LabelForExtensions.DisplayStyle.HelpIconOnly) Proposed Projects</h2>
    <div class="contentWrapper">
        <div>
            <a class='btn btn-sm btn-firma' href="@ViewDataTyped.ProposeNewProjectUrl" title="Submit a project proposal">Propose New Project</a>
        </div>        <div>
            @Html.DhtmlxGrid(ViewDataTyped.ProposedProjectsGridSpec, ViewDataTyped.ProposedProjectsGridName, ViewDataTyped.ProposedProjectsGridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
        </div>
    </div>
</div>