@*-----------------------------------------------------------------------
<copyright file="MyOrganizationsProjects.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Project.MyOrganizationsProjects

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div>
    @ViewDataTyped.FirmaPage.FirmaPageContentHtmlString
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@Html.LabelWithSugarFor(FieldDefinition.Project, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) Projects</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.ProjectsGridSpec, ViewDataTyped.ProjectsGridName, ViewDataTyped.ProjectsGridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@Html.LabelWithSugarFor(FieldDefinition.ProposedProject, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) Proposed Projects</h2>
    </div>
    <div class="panel-body">
        <div>
            <a class='btn btn-sm btn-firma' href="@ViewDataTyped.ProposeNewProjectUrl" title="Submit a project proposal">Propose New Project</a>
        </div>
        <div>
            @Html.DhtmlxGrid(ViewDataTyped.ProposedProjectsGridSpec, ViewDataTyped.ProposedProjectsGridName, ViewDataTyped.ProposedProjectsGridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
        </div>
    </div>
</div>
