@*-----------------------------------------------------------------------
<copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@inherits ProjectFirma.Web.Views.WebServices.Index
@section JavascriptAndStylesContent
{
<script type="text/javascript">
    function enableWebServicesListLink()
    {
        jQuery("#notHaveWebServiceAccessTokenPanel").hide();
        jQuery("#haveWebServiceAccessTokenPanel").show();
    }
</script>    
}

<p>Web Services are functions that can be accessed over the web (using the http protocol), typically consumed by software or programs rather than humans. The services we provide here allow programmatic access to data such as list of Projects, details for a given Project, or the list of PerformanceMeasures. The intent of these web services is to facilitate coordination and information sharing between agencies, interested parties, and the public.</p>

<ul style="list-style: none; @(ViewDataTyped.WebServiceAccessToken.HasValue ? String.Empty : "display:none")" id="haveWebServiceAccessTokenPanel">
    <li>
        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.GetWebServiceAccessTokenUrl, "Web Service Access Token", "Close", "View Access Token", new List<string>(), null)
    </li>
    <li><a href="@ViewDataTyped.WebServicesListUrl">List of Web Services</a></li>
    @*<li><a href="/WebServices.svc?WSDL">Web Service WSDL</a></li>*@
</ul>

<ul style="list-style: none; @(ViewDataTyped.WebServiceAccessToken.HasValue ? "display:none" : String.Empty)" id="notHaveWebServiceAccessTokenPanel">
    <li id="getWebServicesAccessTokenLink">
        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.GetWebServiceAccessTokenUrl, "Web Service Access Token", "Close", "Get Access Token", new List<string>(), "enableWebServicesListLink")
    </li>
    <li id="webServicesListLink"><span class="disabled">List of Web Services<span class="alert"> (disabled; you must first request an Access Token)</span></span></li>
    @*<li><a href="/WebServices.svc?WSDL">Web Service WSDL</a></li>*@
</ul>
