@using LtInfo.Common.BootstrapWrappers
@inherits ProjectFirma.Web.Views.WebServices.Index
@section JavascriptAndStylesContent
{
<script type="text/javascript">
    function enableWebServicesListLink()
    {
        jQuery("#notHaveWebServiceAccessTokenPanel").hide();
        jQuery("#haveWebServiceAccessTokenPanel").show();
    }
</script>    
}

<p>Web Services are functions that can be accessed over the web (using the http protocol), typically consumed by software or programs rather than humans. The services we provide here allow programmatic access to LT Info data such as list of Projects, details for a given Project, or the list of Indicators. The intent of these web services is to facilitate coordination and information sharing between agencies, interested parties, and the public within and outside of the Lake Tahoe basin.</p>

<ul style="list-style: none; @(ViewDataTyped.WebServiceAccessToken.HasValue ? String.Empty : "display:none")" id="haveWebServiceAccessTokenPanel">
    <li>
        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.GetWebServiceAccessTokenUrl, "Web Service Access Token", "Close", "View Access Token", new List<string>(), null)
    </li>
    <li><a href="@ViewDataTyped.WebServicesListUrl">List of Web Services</a></li>
    <li><a href="/WebServices.svc?WSDL">Web Service WSDL</a></li>
</ul>

<ul style="list-style: none; @(ViewDataTyped.WebServiceAccessToken.HasValue ? "display:none" : String.Empty)" id="notHaveWebServiceAccessTokenPanel">
    <li id="getWebServicesAccessTokenLink">
        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.GetWebServiceAccessTokenUrl, "Web Service Access Token", "Close", "Get Access Token", new List<string>(), "enableWebServicesListLink")
    </li>
    <li id="webServicesListLink"><span class="disabled">List of Web Services<span class="alert"> (disabled; you must first request an Access Token)</span></span></li>
    <li><a href="/WebServices.svc?WSDL">Web Service WSDL</a></li>
</ul>