@*-----------------------------------------------------------------------
    <copyright file="List.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.Views
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared

@inherits ProjectFirma.Web.Views.WebServices.List

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>


@if (ViewDataTyped.GeoServerServiceDocumentationList.Any())
{
    <h3>Geospatial Services</h3>
    <table style="border: 0; font-size:14px" class="table table-condensed table-striped">
        <tr>
            <th>Name</th>
            <th>Short Description / Simple Use Case / URL</th>
        </tr>
        @foreach (var geoServerServiceDocumentation in ViewDataTyped.GeoServerServiceDocumentationList)
        {
            <tr>
                <td class="term">@geoServerServiceDocumentation.ServiceName</td>
                <td>
                    @geoServerServiceDocumentation.ServiceDescription
                    <div style="margin-top: 5px; font-size: 11px">
                        <a href="@geoServerServiceDocumentation.ServiceUrl">@geoServerServiceDocumentation.ServiceUrl</a>
                    </div>
                </td>
            </tr>
        }
    </table>
}



<h3>Tabular Services</h3>
<table style="border: 0; font-size:14px" class="table table-condensed table-striped">
    <tr>
        <th>Name</th>
        <th>Short Description / Simple Use Case / URL</th>
    </tr>
    @foreach (var doc in ViewDataTyped.ServiceDocumentationList)
    {
        <tr>
            <td class="term">@doc.Name</td>
            <td>
                @doc.Documentation
                Example URLs:
                <div style="margin-top: 5px; font-size: 11px">
                    @{ var exampleCsvUrl = doc.GetExampleCsvUrl(ViewDataTyped.UserWebServiceAccessToken); }
                    CSV:
                    @if (!string.IsNullOrWhiteSpace(exampleCsvUrl))
                    {
                        <a href="@exampleCsvUrl">@exampleCsvUrl</a>
                    }
                    else
                    {
                        @ViewUtilities.NaString
                    }
                    <br />
                    @{ var exampleJsonUrl = doc.GetExampleJsonUrl(ViewDataTyped.UserWebServiceAccessToken); }
                    JSON:
                    @if (!string.IsNullOrWhiteSpace(exampleJsonUrl))
                    {
                        <a href="@exampleJsonUrl">@exampleJsonUrl</a>
                    }
                    else
                    {
                        @ViewUtilities.NaString
                    }
                </div>
                @{ var parameters = doc.GetParameters(ViewDataTyped.UserWebServiceAccessToken); }
                <i>Parameters: @(!string.IsNullOrWhiteSpace(parameters) ? parameters : ViewUtilities.NaString)</i>
            </td>
        </tr>
    }
</table>
