@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Assessment.EditQuestion
@using (Html.BeginForm())
{
    <table class="dialogFormLayout">        
    <tr>
        <th>@Html.LabelFor(x => x.AssessmentQuestionText)</th>
        <td>
            @Html.TextBoxFor(m => m.AssessmentQuestionText, new { style = "width:522px" })
            @Html.ValidationMessageFor(m => m.AssessmentQuestionText)
        </td>
    </tr>
    <tr>
            <th>@Html.LabelFor(x => x.Archive)</th>
            <td>
               @Html.CheckBoxFor(x => x.Archive)
            </td>
        </tr>        
    </table>
}