@*-----------------------------------------------------------------------
<copyright file="EditSubGoal.cshtml" company="Sitka Technology Group">
Copyright (c) Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
<date>Wednesday, February 22, 2017</date>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Assessment.EditSubGoal
@using (Html.BeginForm())
{
    <table class="dialogFormLayout">        
        <tr>
            <th>@Html.LabelWithSugarFor(x => x.AssessmentSubGoalTitle)</th>
            <td>
                @Html.TextBoxFor(m => m.AssessmentSubGoalTitle, new { style = "width:503px" })
                @Html.ValidationMessageFor(m => m.AssessmentSubGoalTitle)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelWithSugarFor(x => x.AssessmentSubGoalDescription)</th>
            <td>
                @Html.TextAreaWithMaxLengthFor(m => m.AssessmentSubGoalDescription, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                @Html.ValidationMessageFor(m => m.AssessmentSubGoalDescription)
            </td>
        </tr>
    </table>
}
