@*-----------------------------------------------------------------------
<copyright file="NewQuestion.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Assessment.NewQuestion
              
<style>
    .bootstrap-select .disabled a, .bootstrap-select li.dropdown-header {
        cursor: default !important;
        font-size: 15px !important;
    }

    .bootstrap-select li:not(.disabled) > a {
        padding-left: 42px !important;
        font-size: 13px !important;
    }

    .bootstrap-select .dropdown-toggle {
        font-size: 13px !important;
        border-radius: 0 !important;
        border: 1px solid black;
    }

    .bootstrap-select {
        width: 500px;
    }

    .bootstrap-select .disabled a:hover, .bootstrap-select li.dropdown-header:hover {
        background-color: lightgray !important;
        color: gray !important;
    }         

    .bootstrap-select .dropdown-menu
    {
        background-color: white;
    }
</style>    

<script type="text/javascript">
    jQuery(document).ready(function ()
    {
        jQuery(@Html.IdFor(x => x.AssessmentSubGoalID))
            .selectpicker(
            {
                size: 12,
                title: 'Select an Associated Goal and PerformanceMeasure',
                width: '695px',
                dropupAuto: false
    });
    });
</script>

@using (Html.BeginForm())
{
    <div style="min-height: 400px">
        <div class="row">
            <div class="col-md-3"><strong>@Html.LabelWithSugarFor(x => x.AssessmentQuestionText)</strong></div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.AssessmentQuestionText, new { style = "width:503px" })
                @Html.ValidationMessageFor(m => m.AssessmentQuestionText)
            </div>
        </div>
        <div class="row">
             <div class="col-md-12">
                @Html.DropDownListFor(x => x.AssessmentSubGoalID, ViewDataTyped.SubGoalsGroup, new { style = "display: inline !important; height: 0; widdiv: 1px; border:0; box-shadow:none; color:white; margin-right:-1px; background-color: green;" })
                @Html.ValidationMessageFor(m => m.AssessmentSubGoalID)
            </div>
        </div>
    </div>
}
