@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.TransportationAssessment.EditTransportationSubGoal
@using (Html.BeginForm())
{
    <table class="dialogFormLayout">        
        <tr>
            <th>@Html.LabelFor(x => x.TransportationSubGoalTitle)</th>
            <td>
                @Html.TextBoxFor(m => m.TransportationSubGoalTitle, new { style = "width:503px" })
                @Html.ValidationMessageFor(m => m.TransportationSubGoalTitle)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(x => x.TransportationSubGoalDescription)</th>
            <td>
                @Html.TextAreaWithMaxLengthFor(m => m.TransportationSubGoalDescription, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                @Html.ValidationMessageFor(m => m.TransportationSubGoalDescription)
            </td>
        </tr>
    </table>
}