@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.TransportationAssessment.EditTransportationGoal
@using (Html.BeginForm())
{
    <table class="dialogFormLayout">        
        <tr>
            <th>@Html.LabelFor(x => x.TransportationGoalTitle)</th>
            <td>
                @Html.TextBoxFor(m => m.TransportationGoalTitle, new { style = "width:503px" })
                @Html.ValidationMessageFor(m => m.TransportationGoalTitle)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(x => x.TransportationGoalDescription)</th>
            <td>
                @Html.TextAreaWithMaxLengthFor(m => m.TransportationGoalDescription, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                @Html.ValidationMessageFor(m => m.TransportationGoalDescription)
            </td>
        </tr>
    </table>
}