@*-----------------------------------------------------------------------
    <copyright file="EditProjectUpdateConfiguration.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.ProjectUpdate.EditProjectUpdateConfiguration

<script>
    jQuery(document).ready(function() {
        $('.datepicker').datepicker();
    });
</script>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary()
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.EnableProjectUpdateReminders)</div>
            <div class="col-xs-8">
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.EnableProjectUpdateReminders, true) Yes
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.EnableProjectUpdateReminders, false) No
                    </label>
                </div>
                @Html.ValidationMessageFor(m => m.EnableProjectUpdateReminders)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.ProjectUpdateKickOffDate)</div>
            <div class="col-xs-8">
                @Html.EditorFor(m=>m.ProjectUpdateKickOffDate)
                @Html.ValidationMessageFor(m=>m.ProjectUpdateKickOffDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.ProjectUpdateKickOffIntroContent)</div>
            <div class="col-xs-8">
                @Html.CkEditorFor(m => m.ProjectUpdateKickOffIntroContent, CkEditorExtension.CkEditorToolbar.AllOnOneRowNoMaximize, true, true, null)
                @Html.ValidationMessageFor(m => m.ProjectUpdateKickOffIntroContent);
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.SendPeriodicReminders)</div>
            <div class="col-xs-8">
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.SendPeriodicReminders, true) Yes
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.SendPeriodicReminders, false) No
                    </label>
                </div>
                @Html.ValidationMessageFor(m => m.SendPeriodicReminders)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.ProjectUpdateReminderInterval)</div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m=>m.ProjectUpdateReminderInterval, new {@class="form-control", style="width:185px;"})
                @Html.ValidationMessageFor(m=>m.ProjectUpdateReminderInterval)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.ProjectUpdateReminderIntroContent)</div>
            <div class="col-xs-8">
                @Html.CkEditorFor(m => m.ProjectUpdateReminderIntroContent, CkEditorExtension.CkEditorToolbar.AllOnOneRowNoMaximize, true, true, null)
                @Html.ValidationMessageFor(m => m.ProjectUpdateReminderIntroContent);
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.SendCloseOutNotification)</div>
            <div class="col-xs-8">
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.SendCloseOutNotification, true) Yes
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.SendCloseOutNotification, false) No
                    </label>
                </div>
                @Html.ValidationMessageFor(m => m.SendCloseOutNotification)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.ProjectUpdateCloseOutDate)</div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.ProjectUpdateCloseOutDate)
                @Html.ValidationMessageFor(m => m.ProjectUpdateCloseOutDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelWithSugarFor(m => m.ProjectUpdateCloseOutIntroContent)</div>
            <div class="col-xs-8">
                @Html.CkEditorFor(m => m.ProjectUpdateCloseOutIntroContent, CkEditorExtension.CkEditorToolbar.AllOnOneRowNoMaximize, true, true, null)
                @Html.ValidationMessageFor(m=>m.ProjectUpdateCloseOutIntroContent);
            </div>
        </div>
    </div>
}