@*-----------------------------------------------------------------------
<copyright file="History.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using LtInfo.Common
@inherits ProjectFirma.Web.Views.ProjectUpdate.History

The following is the high-level summary of the history for this @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() update.
<div style="margin: 10px 0 10px 0">Last Updated: @ViewDataTyped.ProjectUpdateBatch.LastUpdateDate.ToStringDateTime() - @Html.Raw(ViewDataTyped.ProjectUpdateBatch.LastUpdatePerson.GetFullNameFirstLastAndOrgAsUrl())</div>
<hr/>
<table class="summaryLayout" style="margin-top: 10px">
    <tr>
        <th>Date</th>
        <th>Action</th>
        <th>User</th>
    </tr>
    @foreach (var projectUpdateHistory in ViewDataTyped.ProjectUpdateBatch.ProjectUpdateHistories)
    {
        <tr>
            <td>@projectUpdateHistory.TransitionDate.ToStringDateTime()</td>
            <td>@projectUpdateHistory.ProjectUpdateState.ProjectUpdateStateDisplayName</td>
            <td>@Html.Raw(projectUpdateHistory.UpdatePerson.GetFullNameFirstLastAndOrgAsUrl())</td>
        </tr>
    }
</table>
