@using ProjectFirma.Web.Models
@using LtInfo.Common
@inherits ProjectFirma.Web.Views.ProjectUpdate.History

The following is the high-level summary of the history for this project update.
<div style="margin: 10px 0 10px 0">Last Updated: @ViewDataTyped.ProjectUpdateBatch.LastUpdateDate.ToStringDateTime() - @Html.Raw(ViewDataTyped.ProjectUpdateBatch.LastUpdatePerson.GetFullNameFirstLastAndOrgAsUrl())</div>
<hr/>
<table class="summaryLayout" style="margin-top: 10px">
    <tr>
        <th>Date</th>
        <th>Action</th>
        <th>User</th>
    </tr>
    @foreach (var projectUpdateHistory in ViewDataTyped.ProjectUpdateBatch.ProjectUpdateHistories)
    {
        <tr>
            <td>@projectUpdateHistory.TransitionDate.ToStringDateTime()</td>
            <td>@projectUpdateHistory.ProjectUpdateState.ProjectUpdateStateDisplayName</td>
            <td>@Html.Raw(projectUpdateHistory.UpdatePerson.GetFullNameFirstLastAndOrgAsUrl())</td>
        </tr>
    }
</table>