@*-----------------------------------------------------------------------
<copyright file="Instructions.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.ProjectUpdate.Instructions

@section JavascriptAndStylesContent
{
    <style type="text/css">
        .iconDefinition {
            width: 40px;
            text-align: center;
            display: inline-block;
        }

        li.iconRow {
            margin-left: 20px;
            padding: 4px 4px 4px 0;
        }

        .instructionList li
        {
            padding: 2px 2px 2px 0;
        }
    </style>
}

<p>This @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Update wizard is used to submit annual @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() updates. All @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()
    in the Planning/Design, Implementation, or Post-Implementation stage are required to submit annual updates. @Html.LinkWithFieldDefinitionFor(FieldDefinitionEnum.ProjectStage.ToType(), String.Format("View {0} Definitions", FieldDefinitionEnum.ProjectStage.ToType().GetFieldDefinitionLabel()), LabelWithSugarForExtensions.DefaultPopupWidth, new List<string> {"fieldDefinitionLink"})</p>

<p>The various aspects of a @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() that are available for update can be seen on the left. Several of these sections are optional, but others are required:</p>
<ul class="instructionList">
    <li><strong>Basics:</strong> <i>You must enter the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()'s start and completion dates</i></li>
    <li><strong>Location - Simple:</strong> <i>You must input your @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()'s location via an interactive map or provide a short location description </i></li>
    <li><strong>@MultiTenantHelpers.GetPerformanceMeasureNamePluralized():</strong> <i>You must enter an accomplishment value for at least one @MultiTenantHelpers.GetPerformanceMeasureName()per year (or indicate you have no accomplishments)</i></li>
    <li><strong>Expenditures:</strong> <i>You must enter at least one Expenditure per year (if you spent nothing, enter a $0 expenditure)</i></li>
    <li><strong>Budgets:</strong> <i>You must enter @FieldDefinitionEnum.FundingSource.ToType().GetFieldDefinitionLabelPluralized() and @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() budgets</i></li>
</ul>
<p>In order to submit an update, all required information must be provided. You will see some icons next to some pages – here is what they mean:</p>
<ul style="list-style-type: none; padding: 0">
    <li class="iconRow">
        <div class="iconDefinition">
            @LtInfo.Common.BootstrapWrappers.BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-warning-sign red",
                "Required information has not been completely provided (not ready to submit)")</div> Required information has not been completely provided (you can't submit this update)
    </li>
    <li class="iconRow">
        <div class="iconDefinition">@LtInfo.Common.BootstrapWrappers.BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-flag", "This section has been updated")</div> This section has been updated - Use the "Show Changes" button to see changes
    </li>
</ul>

<p>Submitting this update will notify the reviewer. Your updates will be approved or returned to you for corrections/clarifications. The official @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() record will not be modified until the update is approved.</p>
<p>Click the <span class="helpicon glyphicon glyphicon-question-sign blue" title="Help"></span> icon to view field-specific help, and to see the reporting guidance for a specific @MultiTenantHelpers.GetPerformanceMeasureName(). You can also see this same guidance on the Detail pages available from the list of  <a href="@ViewDataTyped.PerformanceMeasuresUrl" target="_blank">@MultiTenantHelpers.GetPerformanceMeasureNamePluralized()</a>.
</p>
<p>
    If you have questions or run into problems, please @(ModalDialogFormHelper.ModalDialogFormLink("Request Support", ViewDataTyped.RequestSupportUrl, "request support", 800, "Submit Request", "Cancel", new List<string>(), null, null)).
</p>
@using (Html.BeginForm())
{
    <div class="text-right">
        <button class="btn btn-xs btn-firma" type="submit" style="margin-left: 10px">
            @(ViewDataTyped.ProjectUpdateBatch.IsNew() ? "Begin Update" : "Continue")<span class='glyphicon glyphicon-chevron-right'></span></button>
    </div>
}
