@*-----------------------------------------------------------------------
<copyright file="Manage.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using ProjectFirma.Web.Views.ProjectUpdate
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits Manage

@{
    SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <style>
        .firma-modal-dialog { max-width: 950px !important; }
        label.left_indent {
            margin-left: 35px;
        }
    </style>
}

@if (ViewDataTyped.ProjectsWithNoContactCount > 0)
{
    <p class="alert alert-danger" style="margin-top: 10px">There are @ViewDataTyped.ProjectsWithNoContactCount @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() which require an update but do not have a @(FieldDefinitionEnum.OrganizationPrimaryContact.ToType().GetFieldDefinitionLabel()). No reminders will be sent for these @(FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()).</p>
}
<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>
@if(ViewDataTyped.CurrentFirmaSession.Person.IsAdministrator()){
<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>
            @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditProjectUpdateConfigurationUrl, string.Format("Edit {0} Update Configuration", FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()), 950, true)
            Configure Notifications
        </h2>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-5">
                        <label>Enable @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Update Reminders?</label>
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.ProjectUpdateSetting.EnableProjectUpdateReminders.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="left_indent">@FieldDefinitionEnum.ProjectUpdateKickOffDate.ToType().GetFieldDefinitionLabel()</label>
                    </div>
                    <div class="col-xs-7">
                        @(ViewDataTyped.ProjectUpdateSetting.ProjectUpdateKickOffDate.HasValue ? ViewDataTyped.ProjectUpdateSetting.ProjectUpdateKickOffDate.Value.ToShortDateString() : "Not Set")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="left_indent">Kick-off Email Intro Content</label>
                    </div>
                    <div class="col-xs-7">
                        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.KickOffIntroPreviewUrl, "Preview Kick-Off Email Content", "Close", string.Format("Preview Email {0}", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window")), new List<string>(), null)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-5">
                        <label>Send Periodic Reminders?</label>
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.ProjectUpdateSetting.SendPeriodicReminders.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="left_indent">@FieldDefinitionEnum.ProjectUpdateReminderInterval.ToType().GetFieldDefinitionLabel()</label>
                    </div>
                    <div class="col-xs-7">
                        @(ViewDataTyped.ProjectUpdateSetting.ProjectUpdateReminderInterval.HasValue ? ViewDataTyped.ProjectUpdateSetting.ProjectUpdateReminderInterval.ToString() + " days" : "Not Set")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="left_indent">Reminder Email Intro Content</label>
                    </div>
                    <div class="col-xs-7">
                        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.ReminderIntroPreviewUrl, "Preview Kick-Off Email Content", "Close", string.Format("Preview Email {0}", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window")), new List<string>(), null)

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-5">
                        <label>Send Close-out Notification?</label>
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.ProjectUpdateSetting.SendCloseOutNotification.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="left_indent">@FieldDefinitionEnum.ProjectUpdateCloseOutDate.ToType().GetFieldDefinitionLabel()</label>
                    </div>
                    <div class="col-xs-7">
                        @(ViewDataTyped.ProjectUpdateSetting.ProjectUpdateCloseOutDate.HasValue ? ViewDataTyped.ProjectUpdateSetting.ProjectUpdateCloseOutDate.Value.ToShortDateString() : "Not Set")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="left_indent">Close-out Email Notification Intro Content</label>
                    </div>
                    <div class="col-xs-7">
                        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.CloseOutIntroPreviewUrl, "Preview Kick-Off Email Content", "Close", string.Format("Preview Email {0}", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window")), new List<string>(), null)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@FieldDefinitionEnum.OrganizationPrimaryContact.ToType().GetFieldDefinitionLabelPluralized() Receiving Notification</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.PeopleReceivingReminderGridSpec, ViewDataTyped.PeopleReceivingReminderGridName, ViewDataTyped.PeopleReceivingReminderGridDataUrl, "height:350px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Update Status</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.ProjectsRequiringUpdateGridSpec, ViewDataTyped.ProjectsRequiringUpdateGridName, ViewDataTyped.ProjectsRequiringUpdateGridDataUrl, "height:450px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>
