@*-----------------------------------------------------------------------
<copyright file="Manage.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using ProjectFirma.Web.Views.ProjectUpdate
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@inherits Manage

@{
    SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <style>
        .firma-modal-dialog { max-width: 950px !important; }
    </style>
}

@if (ViewDataTyped.ProjectsWithNoContactCount > 0)
{
    <p class="alert alert-danger" style="margin-top: 10px">There are @ViewDataTyped.ProjectsWithNoContactCount @FieldDefinition.Project.GetFieldDefinitionLabelPluralized() which require an update but do not have a @FieldDefinition.OrganizationPrimaryContact.GetFieldDefinitionLabel(). No reminders will be sent for these @FieldDefinition.Project.GetFieldDefinitionLabelPluralized().</p>
}
<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>
            @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditProjectUpdateConfigurationUrl, "Edit Project Update Configuration", 950, true)
            Configure Notifications
        </h2>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-5">
                        <label>Enable Project Update Reminders?</label>
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.ProjectUpdateConfiguration.EnableProjectUpdateReminders.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label>Project Update Kick-Off Date</label>
                    </div>
                    <div class="col-xs-7">
                        @(ViewDataTyped.ProjectUpdateConfiguration.ProjectUpdateKickOffDate.HasValue ? ViewDataTyped.ProjectUpdateConfiguration.ProjectUpdateKickOffDate.Value.ToShortDateString() : "Not Set")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label>Project Update Kick-Off Intro Content</label>
                    </div>
                    <div class="col-xs-7">
                        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.KickOffIntroPreviewUrl, "Preview Kick-Off Email Content", "Close", string.Format("Preview Email {0}", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window")), new List<string>(), null)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-5">
                        <label>Send Periodic Reminders?</label>
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.ProjectUpdateConfiguration.SendPeriodicReminders.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label>Project Update Reminder Interval</label>
                    </div>
                    <div class="col-xs-7">
                        @(ViewDataTyped.ProjectUpdateConfiguration.ProjectUpdateReminderInterval.HasValue ? ViewDataTyped.ProjectUpdateConfiguration.ProjectUpdateReminderInterval.ToString() + " days" : "Not Set")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label>Project Update Reminder Intro Content</label>
                    </div>
                    <div class="col-xs-7">
                        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.ReminderIntroPreviewUrl, "Preview Kick-Off Email Content", "Close", string.Format("Preview Email {0}", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window")), new List<string>(), null)

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-5">
                        <label>Send Close Out Notification?</label>
                    </div>
                    <div class="col-xs-7">
                        @ViewDataTyped.ProjectUpdateConfiguration.SendCloseOutNotification.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label>Project Update Close Out Date</label>
                    </div>
                    <div class="col-xs-7">
                        @(ViewDataTyped.ProjectUpdateConfiguration.ProjectUpdateCloseOutDate.HasValue ? ViewDataTyped.ProjectUpdateConfiguration.ProjectUpdateCloseOutDate.Value.ToShortDateString() : "Not Set")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <label>Project Update Close Out Notification Intro Content</label>
                    </div>
                    <div class="col-xs-7">
                        @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.CloseOutIntroPreviewUrl, "Preview Kick-Off Email Content", "Close", string.Format("Preview Email {0}", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window")), new List<string>(), null)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@FieldDefinition.OrganizationPrimaryContact.GetFieldDefinitionLabelPluralized() Receiving Notification</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.PeopleReceivingReminderGridSpec, ViewDataTyped.PeopleReceivingReminderGridName, ViewDataTyped.PeopleReceivingReminderGridDataUrl, "height:350px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@FieldDefinition.Project.GetFieldDefinitionLabel() Update Status</h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.ProjectsRequiringUpdateGridSpec, ViewDataTyped.ProjectsRequiringUpdateGridName, ViewDataTyped.ProjectsRequiringUpdateGridDataUrl, "height:450px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>
