@using ProjectFirma.Web.Views.ProjectUpdate
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@inherits Manage

@{
    SetLayout("~/Areas/EIP/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}
@if (ViewDataTyped.ProjectsWithNoContactCount > 0)
{
    <p class="validationWarning" style="margin-top: 10px">There are @ViewDataTyped.ProjectsWithNoContactCount projects which require an update but do not have a Primary Contact. No reminders will be sent for these projects.</p>
}
<div>
    @ViewDataTyped.ProjectFirmaPage.ProjectFirmaPageContentHtmlString
</div>

<div style="margin-top: 10px">
    @ModalDialogFormHelper.ModalDialogFormLink("Send Scheduled Reminders", ViewDataTyped.SendReminderEmailsUrl, "Send email reminders to project primary contacts", 500, "Continue", "Cancel", new List<string> {"btn btn-xs btn-trpa"}, null, null)
</div>

<div class="summarySection">
    <h2>Primary Contacts Receiving Notification</h2>
    <div class="contentWrapper">
        @Html.DhtmlxGrid(ViewDataTyped.PeopleReceivingReminderGridSpec, ViewDataTyped.PeopleReceivingReminderGridName, ViewDataTyped.PeopleReceivingReminderGridDataUrl, "height:350px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div class="summarySection">
    <h2>Project Update Status</h2>
    <div class="contentWrapper">
        @Html.DhtmlxGrid(ViewDataTyped.ProjectsRequiringUpdateGridSpec, ViewDataTyped.ProjectsRequiringUpdateGridName, ViewDataTyped.ProjectsRequiringUpdateGridDataUrl, "height:450px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>