@*-----------------------------------------------------------------------
<copyright file="MyProjects.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.ProjectCreate
@using ProjectFirma.Web.Views.ProjectUpdate
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@inherits MyProjects

@{
    SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

@section RightOfPageTitle
{
    @ProjectCreateHelper.AddProjectButton()
}

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<div style="margin-top: 10px">
    @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:450px", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
</div>

<div style="margin-top: 10px">
    <div style="float: right">@ModalDialogFormHelper.ModalDialogFormLink("Submit All", ViewDataTyped.SubmitAllUrl, "Submit all projects for review", 500, "Continue", "Cancel", new List<string> { "btn btn-xs btn-firma" }, null, null)</div>
    <p>
        <b>Why these @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()?</b> @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() appear here if they are your @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized(), you are the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Steward for the Organization they belong to, or your Organization proposed the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel().
    </p>
</div>

<span id="@ViewDataTyped.ArbitraryHtmlProjectFilterButtonsID" style="display: none">
    Show:
    <label>
        @Html.RadioButton("FilterProjectsBy", ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.MyProjectsRequiringAnUpdate, ViewDataTyped.ProjectUpdateStatusFilterType == ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.MyProjectsRequiringAnUpdate, new { onclick = string.Format("window.location.href = '{0}'", ViewDataTyped.MyProjectsRequiringAnUpdateUrl) })
        My @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() Requiring an Update
    </label>
    <label>
        @Html.RadioButton("FilterProjectsBy", ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.MySubmittedProjects, ViewDataTyped.ProjectUpdateStatusFilterType == ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.MySubmittedProjects, new { onclick = string.Format("window.location.href = '{0}'", ViewDataTyped.MySubmittedProjectsUrl) })
        My Recently Submitted @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()
    </label>
    <label>
        @Html.RadioButton("FilterProjectsBy", ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.AllMyProjects, ViewDataTyped.ProjectUpdateStatusFilterType == ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.AllMyProjects, new { onclick = string.Format("window.location.href = '{0}'", ViewDataTyped.AllMyProjectsUrl) })
        All My @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()
    </label>
    @if (ViewDataTyped.HasProjectUpdateAdminPermissions)
    {
        <label>
            @Html.RadioButton("FilterProjectsBy", ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.SubmittedProjects, ViewDataTyped.ProjectUpdateStatusFilterType == ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.SubmittedProjects, new { onclick = string.Format("window.location.href = '{0}'", ViewDataTyped.SubmittedProjectsUrl) })
            Submitted @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()
        </label>
        <label>
            @Html.RadioButton("FilterProjectsBy", ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.AllProjects, ViewDataTyped.ProjectUpdateStatusFilterType == ProjectUpdateStatusGridSpec.ProjectUpdateStatusFilterTypeEnum.AllProjects, new { onclick = string.Format("window.location.href = '{0}'", ViewDataTyped.AllProjectsUrl) })
            All @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()
        </label>
    }
</span>

<script>
    jQuery(document).ready(function()
    {
        var projectFilterRadioButtons = jQuery("#@ViewDataTyped.ArbitraryHtmlProjectFilterButtonsID");
        jQuery("#@ViewDataTyped.ArbitraryHtmlPlaceholderID").replaceWith(projectFilterRadioButtons);
        projectFilterRadioButtons.show();
        var grid = Sitka.@ViewDataTyped.GridName;
        grid.filterOnOtherColumn("Status", "ActionStatus");
    });
</script>
