@*-----------------------------------------------------------------------
<copyright file="ProjectUpdateBatchDiffLog.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.ProjectUpdate
@inherits ProjectUpdateBatchDiffLog

<style>
    #hidden-save-button {
        display: none;
    }
</style>

<div class="overflow-y: auto">
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Basics</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.BasicsDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.BasicsDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to Basics section</div>
        }
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Custom Attributes</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.CustomAttributesDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.CustomAttributesDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to Custom Attributes section</div>
        }
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@MultiTenantHelpers.GetPerformanceMeasureNamePluralized()</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.PerformanceMeasureDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.PerformanceMeasureDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to @MultiTenantHelpers.GetPerformanceMeasureNamePluralized() section</div>
        }
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Expenditures</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.ExpendituresDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.ExpendituresDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to Expenditures section</div>
        }
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Budgets</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.BudgetsDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.BudgetsDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to Budgets section</div>
        }
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@FieldDefinitionEnum.ExternalLinks.ToType().GetFieldDefinitionLabelPluralized()</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.ExternalLinksDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.ExternalLinksDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to @FieldDefinitionEnum.ExternalLinks.ToType().GetFieldDefinitionLabelPluralized() section</div>
        }
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Notes</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.NotesDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.NotesDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to Notes section</div>
        }
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@FieldDefinitionEnum.Organization.ToType().GetFieldDefinitionLabelPluralized()</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.OrganizationsDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.OrganizationsDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to @FieldDefinitionEnum.Organization.ToType().GetFieldDefinitionLabelPluralized() section</div>
        }
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Contacts</h2>
        </div>
        @if (ViewDataTyped.ProjectUpdateBatch.ContactsDiffLogHtmlString != null)
        {
            @Html.Raw(ViewDataTyped.ProjectUpdateBatch.ContactsDiffLogHtmlString)
        }
        else
        {
            <div class="panel-body">No changes to Contacts section</div>
        }
    </div>

</div>
