@*-----------------------------------------------------------------------
<copyright file="ProjectUpdateBatchDiffLog.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.ProjectUpdate
@inherits ProjectUpdateBatchDiffLog

<style>
    #hidden-save-button {
        display: none;
    }
</style>

<div class="overflow-y: auto">

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Basics</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.BasicsDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.BasicsDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@FieldDefinitionEnum.ProjectCustomAttribute.ToType().GetFieldDefinitionLabelPluralized()</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.CustomAttributesDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.CustomAttributesDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>
    
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Expected @MultiTenantHelpers.GetPerformanceMeasureNamePluralized()</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.ExpectedPerformanceMeasureDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.ExpectedPerformanceMeasureDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Reported @MultiTenantHelpers.GetPerformanceMeasureNamePluralized()</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.ReportedPerformanceMeasureDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.ReportedPerformanceMeasureDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Expenditures</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.ExpendituresDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.ExpendituresDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Budgets</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.BudgetsDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.BudgetsDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@FieldDefinitionEnum.ExternalLinks.ToType().GetFieldDefinitionLabelPluralized()</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.ExternalLinksDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.ExternalLinksDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Notes</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.NotesDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.NotesDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>@FieldDefinitionEnum.Organization.ToType().GetFieldDefinitionLabelPluralized()</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.OrganizationsDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.OrganizationsDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Contacts</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.ContactsDiffLogHtmlString != null)
            {
                @Html.Raw(ViewDataTyped.ProjectUpdateBatch.ContactsDiffLogHtmlString)
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>
    
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Simple Location</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.IsSimpleLocationUpdated == true)
            {
                <p>Changes were made to Simple Location, but not shown here.</p>
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>
    
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Detailed Location</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.IsDetailedLocationUpdated == true)
            {
                <p>Changes were made to Detailed Location, but not shown here.</p>
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>
    
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Spatial Information</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.IsSpatialInformationUpdated == true)
            {
                <p>Changes were made to Spatial Information, but not shown here.</p>
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Photos</h2>
        </div>
        <div class="panel-body">
            @if (ViewDataTyped.ProjectUpdateBatch.IsPhotosUpdated == true)
            {
                <p>Changes were made to Photos, but not shown here.</p>
            }
            else
            {
                <p class="systemText">No changes</p>
            }
        </div>
    </div>
</div>