@*-----------------------------------------------------------------------
    <copyright file="SiteLayout.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.ProjectUpdate
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@inherits SiteLayout

@{
    // ReSharper disable once MustUseReturnValue
    SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    <style>
        #main-container
        {
            @if (!ViewDataTyped.IsInstructionsPage)
            {
                <text>border-top-left-radius: 6px;</text>
            }

        }
        .validation-summary-errors {
            padding: 12px 0 0 15px;
        }
    </style>

    <style>
        hr {
            border-top: 1px solid #ddd;
        }

        .moreActionsToggle .open > .moreActionsToggle .dropdown-toggle {
            color: #3e72b0 !important;
        }


        .moreActionsToggle ul.dropdown-menu.moreActionsToggle li a,
        .moreActionsToggle ul.dropdown-menu.moreActionsToggle li a:hover {
            color: #3e72b0;
        }

        .moreActionsToggle .btn.dropdown-toggle {
            border: none;
            color: #3e72b0;
        }

        .glyphicon-chevron-down {
            margin-left: 7px;
            margin-top: 7px;
        }
    </style>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(".workflowSectionGroup").not(".active").not(" #instructions").click(function (event) {
                if (jQuery(this).hasClass("expanded")) {
                    if (!jQuery(event.target).is('a')) {
                        jQuery(this).removeClass("expanded");
                        jQuery(this).addClass("collapsed");
                        jQuery(this).children("ul").addClass("collapsed");
                        jQuery(this).children("ul").removeClass("expanded");

                    }
                }
                else {
                    jQuery(this).addClass("expanded");
                    jQuery(this).removeClass("collapsed");
                    jQuery(this).children("ul").removeClass("collapsed");
                    jQuery(this).children("ul").addClass("expanded");
                }
            }
            );
        })
    </script>

    @RenderSection("JavascriptAndStylesContent", false)
}

@section RightOfPageTitle
{
    <div class="dropdown moreActionsToggle">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            See more Actions
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <a href="@ViewDataTyped.Project.GetDetailUrl()">Go back to Project</a>
            </li>
            @if (ViewDataTyped.HasUpdateStarted)
            {
                <li>
                    @ModalDialogFormHelper.ModalDialogFormLink("Delete Entire Update", ViewDataTyped.DeleteProjectUpdateUrl, "Delete entire Update", new List<string>(), true)
                </li>
                <li>
                    @BootstrapHtmlHelpers.MakeModalDialogAlertLinkFromUrl(ViewDataTyped.ProjectUpdateHistoryUrl, "History", "Close", "Show Update History", new List<string>(), null)
                </li>
            }
            <li>
                <a href="@ViewDataTyped.ProjectUpdateMyProjectsUrl">Back to Update My Projects list</a>
            </li>
            <li>
                <a href="@ViewDataTyped.TrainingUrl" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Need Help?</a>
            </li>
        </ul>
    </div>
}

@if (!Html.ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("The page could not be saved because there were errors that need to be corrected:", new { @class = "validation-summary-errors" })
}

@if (Html.ViewData.ModelState.IsValid && ViewDataTyped.ValidationWarnings.Any())
{
    <div class="alert alert-warning">
        There are errors that need to be corrected before the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Update can be submitted:
        <ul>
            @foreach (string warning in ViewDataTyped.ValidationWarnings)
            {
                <li>
                    <span>@warning</span>
                </li>
            }
        </ul>
    </div>
}

<div id="projectWizardContent" class="row">
    <div class="col-xs-12 col-sm-4 col-md-3" style="padding: 0;">
        <nav id="wizardNav">
            <ul class="nav nav-stacked">
                <li class="@(ViewDataTyped.IsInstructionsPage ? "active" : null) workflowSectionGroup" id="instructions">
                    <a href="@ViewDataTyped.InstructionsPageUrl"
                       style="display: block;">
                        <span class="workflowStatusPlaceholder"></span>Instructions
                    </a>
                </li>
                @foreach (var projectWorkflowSectionGrouping in ViewDataTyped.ProjectWorkflowSectionGroupings.OrderBy(x => x.SortOrder))
                {
                    var projectUpdateSectionsForGroup = projectWorkflowSectionGrouping.GetProjectUpdateSections(ViewDataTyped.ProjectUpdateBatch, ViewDataTyped.ProjectUpdateStatus, false);
                    if (projectUpdateSectionsForGroup.Any())
                    {
                        var isGroupingActive = projectUpdateSectionsForGroup.Any(x => x.SectionDisplayName.Equals(ViewDataTyped.CurrentSectionDisplayName, StringComparison.InvariantCultureIgnoreCase));
                        var groupingHasCompletionStatus = ViewDataTyped.HasUpdateStarted && projectUpdateSectionsForGroup.Any(x => x.HasCompletionStatus);
                        <li class="@(isGroupingActive ? "active" : "collapsed") workflowSectionGroup">
                            @if (groupingHasCompletionStatus)
                            {
                                if (projectUpdateSectionsForGroup.All(x => !x.HasCompletionStatus || x.IsComplete))
                                {
                                    <span class="glyphicon glyphicon-ok field-validation-success text-left workflowStatusIndicator"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-exclamation-sign field-validation-warning text-left workflowStatusIndicator"></span>
                                }
                            }
                            else
                            {
                                <span class="workflowStatusPlaceholder"></span>
                            }
                            <span>@projectWorkflowSectionGrouping.ProjectWorkflowSectionGroupingDisplayName</span>
                            <ul class="@(!isGroupingActive ? "collapsed" : null)">
                                @foreach (var projectSectionSimple in projectUpdateSectionsForGroup)
                                {
                                    <li class="@(ViewDataTyped.CurrentSectionDisplayName.Equals(projectSectionSimple.SectionDisplayName, StringComparison.InvariantCultureIgnoreCase) ? "active" : null) workflowSection">
                                        <a href="@(projectSectionSimple.SectionUrl)"
                                           class="@(string.IsNullOrWhiteSpace(projectSectionSimple.SectionUrl) ? "disabled" : "")">
                                            <span style="display: inline-block; width: 15%; vertical-align: top">
                                                @if (projectSectionSimple.HasCompletionStatus && projectSectionSimple.SectionUrl != null)
                                                {
                                                    if (projectSectionSimple.IsComplete)
                                                    {
                                                        <span class="glyphicon glyphicon-ok field-validation-success text-left workflowStatusIndicator"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-exclamation-sign field-validation-warning text-left workflowStatusIndicator" title="Section is incomplete"></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="workflowStatusPlaceholder"></span>
                                                }
                                            </span>

                                            <span style="display: inline-block; width: 80%">
                                                <span>@projectSectionSimple.SectionDisplayName </span>
                                                @if (projectSectionSimple.SectionIsUpdated && projectSectionSimple.SectionUrl != null)
                                                {
                                                    <span style="margin-left: 4px">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-flag", "Section has been updated")</span>
                                                }
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }

            </ul>
        </nav>
    </div>

    <div id="main-container" class="col-sm-8 col-md-9">
        <div class="row"><div class="col-sm-12"><h3 style="margin-top: 5px; margin-bottom: 0px;">@ViewDataTyped.CurrentSectionDisplayName</h3></div></div>
        <hr style="border-top: 1px solid #ddd;" />
        @RenderBody()
        @if (!ViewDataTyped.IsInstructionsPage)
        {
            <span><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</span>
        }
    </div>
</div>

<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
    <div class="row">
        <div class="col-sm-12" style="padding-left: 0;">
            <div class="pull-left">
                @if (ViewDataTyped.ProjectUpdateBatch.IsSubmitted())
                {
                    <span>Submitted by @ViewDataTyped.ProjectUpdateBatch.GetLatestProjectUpdateHistorySubmitted().UpdatePerson.GetFullNameFirstLastAndOrgShortName() on @ViewDataTyped.ProjectUpdateBatch.GetLatestProjectUpdateHistorySubmitted().TransitionDate.ToStringDateTime()</span>
                }
                else if (ViewDataTyped.ProjectUpdateBatch.IsReturned())
                {
                    <span>Returned by @ViewDataTyped.ProjectUpdateBatch.GetLatestProjectUpdateHistoryReturned().UpdatePerson.GetFullNameFirstLastAndOrg() on @ViewDataTyped.ProjectUpdateBatch.GetLatestProjectUpdateHistoryReturned().TransitionDate.ToStringDateTime()</span>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-9 col-xs-9" style="padding-left: 0; padding-bottom: 10px;">
        </div>
        <div class="col-sm-3 col-md-3 col-xs-3">
            <div class="pull-right">
                @if (ViewDataTyped.ProjectUpdateBatch.IsReadyToSubmit())
                {
                    @ModalDialogFormHelper.ModalDialogFormLink("Submit", ViewDataTyped.SubmitUrl, string.Format("Submit {0} {1} for review", FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel(), ViewDataTyped.Project.GetDisplayName()), 500, "Continue", "Cancel", new List<string> { "submitProject btn btn-xs btn-firma" }, null, null)
                }
                else if (ViewDataTyped.ShowApproveAndReturnButton)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink("Return", ViewDataTyped.ReturnUrl, string.Format("Return {0} Updates for {0} {1}", FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel(), ViewDataTyped.Project.GetDisplayName()), 500, "Continue", "Cancel", new List<string> { "submitProject btn btn-xs btn-firma" }, null, null)
                    if (ViewDataTyped.IsReadyToApprove)
                    {
                        <span>
                            @ModalDialogFormHelper.ModalDialogFormLink("Approve", ViewDataTyped.ApproveUrl, string.Format("Approve {0} Updates for {0} {1}", FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel(), ViewDataTyped.Project.GetDisplayName()), 500, "Continue", "Cancel", new List<string> { "submitProject btn btn-xs btn-firma" }, null, null)
                        </span>
                    }
                    else
                    {
                        <button class="btn btn-xs btn-firma" disabled="disabled">Approve</button>
                    }
                }
                else if (ViewDataTyped.IsEditable)
                {
                    <button class="btn btn-xs btn-firma" disabled="disabled">Submit</button>
                }
            </div>
        </div>
    </div>
</div>