@*-----------------------------------------------------------------------
<copyright file="PerformanceMeasureExpectedSummary.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.Shared.PerformanceMeasureControls.PerformanceMeasureExpectedSummary

@if (ViewDataTyped.PerformanceMeasureExpecteds.Any())
{
    <table class="summaryLayout">
        <tr>
            <th>@Html.LabelWithSugarFor(FieldDefinition.PerformanceMeasure)</th>
            <th>@Html.LabelWithSugarFor(FieldDefinition.PerformanceMeasureSubcategory)</th>
            <th style="text-align: right">@Html.LabelWithSugarFor(FieldDefinition.ExpectedValue)</th>
            <th></th>
        </tr>
        @foreach (var performanceMeasureExpected in ViewDataTyped.PerformanceMeasureExpecteds.OrderBy(pm => pm.PerformanceMeasureID))
        {
            <tr>
                <td>@performanceMeasureExpected.PerformanceMeasure.GetDisplayNameAsUrl()</td>
                <td>@performanceMeasureExpected.PerformanceMeasureSubcategoriesAsString</td>
                <td @(performanceMeasureExpected.ReportedValue.HasValue ? "style='text-align: right'" : "")>@(performanceMeasureExpected.ReportedValue.HasValue ? new HtmlString(performanceMeasureExpected.ReportedValue.ToString()) : new HtmlString("<span class='systemText'>Not Provided</span>"))</td>
                <td>@(performanceMeasureExpected.ReportedValue.HasValue ? performanceMeasureExpected.PerformanceMeasure.MeasurementUnitType.MeasurementUnitTypeDisplayName : "")</td>
            </tr>
        }
    </table>
}
else
{
    <p class="systemText">No expected @MultiTenantHelpers.GetPerformanceMeasureNamePluralized().ToLower() set for this project.</p>
}
