@*-----------------------------------------------------------------------
<copyright file="FeaturedProjects.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.Home.FeaturedProjects

<style>
    .featuredProjectsPanel {
        width: 100%;
        background-color: transparent;
        margin-bottom: 30px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
    }

        .featuredProjectsPanel table.summaryLayout th {
            color: #000;
            white-space: nowrap;
        }
</style>


<div class="panel featuredProjectsPanel">
    @* ReSharper disable once UnknownCssClass *@
    <div id="featuredProjectsCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="height: 440px">
            @for (var index = 0; index < ViewDataTyped.FeaturedProjects.Count; ++index)
            {
                var featuredProject = ViewDataTyped.FeaturedProjects[index];
                <div class="item@((index == 0) ? " active" : String.Empty)">
                    <div style="width: 95%" class="summaryLayout">
                        <div>
                            <a href="@featuredProject.GetFactSheetUrl()" style="font-weight: bold">@featuredProject.ProjectName</a>
                        </div>
                        <div class="row">
                            @if (featuredProject.GetKeyPhoto() != null)
                            {
                                <div class="col-sm-6">
                                    <a class="gallery" href="@featuredProject.GetKeyPhoto().GetPhotoUrl()" title="@featuredProject.GetKeyPhoto().GetCaptionOnFullView()" data-caption="@Html.Raw(featuredProject.GetKeyPhoto().GetCaptionOnFullView().HtmlEncodeWithBreaks())">
                                        <img style="width: 100%" src="@featuredProject.GetKeyPhoto().FileResource.GetFileResourceUrlScaledForPrint()" alt="@featuredProject.GetKeyPhoto().GetCaptionOnFullView()" />
                                    </a>
                                    <br />
                                    <div>@featuredProject.GetKeyPhoto().Caption</div>
                                </div>
                            }
                            <div class="col-sm-6">
                                <table style="color: #000" class="summaryLayout">
                                    <tr>
                                        <th>@FieldDefinitionEnum.TaxonomyLeaf.ToType().GetFieldDefinitionLabel()</th>
                                        <td>@featuredProject.TaxonomyLeaf.TaxonomyLeafName</td>
                                    </tr>
                                    <tr>
                                        <th>@FieldDefinitionEnum.IsPrimaryContactOrganization.ToType().GetFieldDefinitionLabel()</th>
                                        <td>@featuredProject.GetPrimaryContactOrganization().OrganizationName</td>
                                    </tr>
                                    <tr>
                                        <th>Other @FieldDefinitionEnum.Organization.ToType().GetFieldDefinitionLabelPluralized()</th>
                                        <td>@featuredProject.GetProjectOrganizationNamesForFactSheet()</td>
                                    </tr>
                                    <tr>
                                        <th>Stage</th>
                                        <td>@featuredProject.ProjectStage.ProjectStageDisplayName</td>
                                    </tr>
                                    <tr>
                                        <th>Duration</th>
                                        <td>@featuredProject.GetDuration()</td>
                                    </tr>
                                </table>
                                <div style="margin-top: 20px">
                                    @Html.Raw(featuredProject.ProjectDescription.HtmlEncodeWithBreaks().ToEllipsifiedStringClean(700))
                                </div>
                                <div class="pull-right">
                                    <a href="@featuredProject.GetFactSheetUrl()">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <ol class="carousel-indicators">
            @if (ViewDataTyped.FeaturedProjects.Count > 1)
            {
                for (var index = 0; index < ViewDataTyped.FeaturedProjects.Count; ++index)
                {
                    <li @((index == 0) ? "class=active" : String.Empty) data-target="#featuredProjectsCarousel" data-slide-to="@index"></li>
                }
            }
        </ol>
    </div>
</div>
