@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Home.FeaturedProjects

<style>
    .featuredProjectsPanel {
        width: 100%;
        background-color: transparent;
        margin-bottom: 30px;
        border-radius: 8px;
        -khtml-border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        box-shadow: 0 1px 3px #2c3e50;
        -moz-box-shadow: 0 1px 3px #2c3e50;
        -webkit-box-shadow: 0 1px 3px #2c3e50;
        border: 2px solid #2c3e50;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
    }

        .featuredProjectsPanel table.summaryLayout th {
            color: #000;
            white-space: nowrap;
        }
</style>


<div class="panel featuredProjectsPanel">
    <div id="featuredProjectsCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="height: 390px">
            @for (var index = 0; index < ViewDataTyped.FeaturedProjects.Count; ++index)
            {
                var featuredProject = ViewDataTyped.FeaturedProjects[index];
                <div class="item@((index == 0) ? " active" : String.Empty)">
                    <div style="width: 95%" class="summaryLayout">
                        <div>
                            <a href="@featuredProject.GetFactSheetUrl()" style="font-weight: bold">@featuredProject.ProjectName</a>
                        </div>
                        <div class="row">
                            @if (featuredProject.KeyPhoto != null)
                            {
                                <div class="col-sm-6">
                                    <a class="gallery" href="@featuredProject.KeyPhoto.PhotoUrl" title="@featuredProject.KeyPhoto.CaptionOnFullView" data-caption="@Html.Raw(featuredProject.KeyPhoto.CaptionOnFullView.HtmlEncodeWithBreaks())">
                                        <img style="width: 100%" src="@featuredProject.KeyPhoto.FileResource.FileResourceUrlScaledForPrint" alt="@featuredProject.KeyPhoto.CaptionOnFullView" />
                                    </a>
                                    <br />
                                    <div>@featuredProject.KeyPhoto.Caption</div>
                                </div>
                            }
                            <div class="col-sm-6">
                                <table style="color: #000" class="summaryLayout">
                                    <tr>
                                        <th>@MultiTenantHelpers.GetTaxonomyTierThreeDisplayName()</th>
                                        <td>@featuredProject.TaxonomyTierOne.TaxonomyTierOneName</td>
                                    </tr>
                                    <tr>
                                        <th>Implementers</th>
                                        <td>@featuredProject.ProjectImplementingOrganizationNames</td>
                                    </tr>
                                    <tr>
                                        <th>Stage</th>
                                        <td>@featuredProject.ProjectStage.ProjectStageDisplayName</td>
                                    </tr>
                                    <tr>
                                        <th>Duration</th>
                                        <td>@featuredProject.Duration</td>
                                    </tr>
                                </table>
                                <div style="margin-top: 20px">
                                    @Html.Raw(featuredProject.ProjectDescription.HtmlEncodeWithBreaks().ToEllipsifiedStringClean(700))
                                </div>
                                <div class="pull-right">
                                    <a href="@featuredProject.GetFactSheetUrl()">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <ol class="carousel-indicators">
            @for (var index = 0; index < ViewDataTyped.FeaturedProjects.Count; ++index)
            {
                <li @((index == 0) ? "class=active" : String.Empty) data-target="#featuredProjectsCarousel" data-slide-to="@index"></li>
            }
        </ol>
    </div>
</div>