@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Home
@using ProjectFirma.Web.Views.ProjectCreate
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.ProjectLocationControls
@using SitkaController = ProjectFirma.Web.Common.SitkaController
@inherits Index
@{
    @SetLayout("~/Views/Shared/NavAndHeaderLayout.cshtml", ViewDataTyped)
}

@section JavascriptAndStylesContent
{
    <meta name="Description" content="ProjectFirma provides public access to program information and details on geospatialArea, habitat, stormwater, forestry, air quality, and projects implemented by ProjectFirma partners." />

    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}

@section BeforeBodyContainer
{
    @if (ViewDataTyped.FirmaHomePageCarouselImages.Any())
    {
        <div class="container-fluid">
            <div class="row">
                @* ReSharper disable once UnknownCssClass *@
                <div class="col-md-12 homepageCarouselFullWidthColumn">
                    @* ReSharper disable once UnknownCssClass *@
                    <div id="homepageCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                        <ol class="carousel-indicators">
                            @if (ViewDataTyped.FirmaHomePageCarouselImages.Count > 1)
                            {
                                for (var i = 0; i < ViewDataTyped.FirmaHomePageCarouselImages.Count; i++)
                                {
                                    <li data-target="#homepageCarousel" data-slide-to="@(i)" class="@(i == 0 ? "active" : null)"></li>
                                }
                            }
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            @for (var i = 0; i < ViewDataTyped.FirmaHomePageCarouselImages.Count; i++)
                            {
                                var firmaSiteImage = ViewDataTyped.FirmaHomePageCarouselImages[i];
                                <div class="item@(i == 0 ? " active" : null)" style="background-image: url('@firmaSiteImage.FileResource.GetFileResourceUrl()'">
                                    <div class="carousel-caption">
                                        <div class="container">
                                            <div class="col-md-7 col-md-offset-5 text-right">
                                                <p>@firmaSiteImage.Caption</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (ViewDataTyped.FirmaHomePageCarouselImages.Count > 1)
                        {
                            <a href="#homepageCarousel" class="carousel-control left" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a href="#homepageCarousel" class="carousel-control right" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }

                    </div>
                    @* ReSharper disable once UnknownCssClass *@
                    <div class="afterHomepageCarousel"></div>
                    <div class="main-text">
                        <div class="container">
                            <div class="col-md-5 text-left">
                                <h1>@ViewDataTyped.PageTitle</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<div class="container firmaContent">
    @if (!ViewDataTyped.FirmaHomePageCarouselImages.Any())
    {
        <h2 class="pageTitle">@ViewDataTyped.PageTitle</h2>
    }
    <style>
        #@ViewDataTyped.ProjectLocationsMapInitJson.MapDivID { height: 400px; }
    </style>

    @if (TempData.ContainsKey(SitkaController.StatusErrorIndex))
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData[SitkaController.StatusErrorIndex])
        </div>
    }
    @if (TempData.ContainsKey(SitkaController.StatusMessageIndex))
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData[SitkaController.StatusMessageIndex])
        </div>
    }
    @if (TempData.ContainsKey(SitkaController.InfoMessageIndex))
    {
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData[SitkaController.InfoMessageIndex])
        </div>
    }
    @if (TempData.ContainsKey(SitkaController.WarningMessageIndex))
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData[SitkaController.WarningMessageIndex])
        </div>
    }

    <div class="row">
        <div class="col-md-8">
            <div>
                @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.CustomHomePageTextViewData); }
            </div>
        </div>

        <div class="col-md-4 homepageActionButtons">
            @if (ViewDataTyped.DisplayActionButtons)
            {            
                @ProjectCreateHelper.AddProjectButton()
                <a class="btn btn-firma" href="@ViewDataTyped.ProjectUpdatesUrl" title="View @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() requiring an update">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit") Update @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()</a>
            }
            <h4 style="margin-bottom: 5px; margin-top: 10px;">@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Map</h4>
            <div>
                @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.CustomHomePageMapTextViewData); }
            </div>
            <div>
                <a href="@ViewDataTyped.FullMapUrl">
                    @{ ProjectLocationsMap.RenderPartialView(Html, ViewDataTyped.ProjectLocationsMapViewData); }
                </a>
            </div>
        </div>
    </div>

    @if (ViewDataTyped.FeaturedProjectsViewData.FeaturedProjects.Any())
    {
        <div class="row">
            <div class="col-md-12">
                <h4>Featured @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()</h4>
                @{ FeaturedProjects.RenderPartialView(Html, ViewDataTyped.FeaturedProjectsViewData); }
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div>
                @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.CustomHomePageAdditionalInfoTextViewData); }
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            
            var projectLocationsMapInitJson =
                    @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationsMapInitJson).ToString(Formatting.None));
            var map = window.Sitka.map = new ProjectFirmaMaps.Map(projectLocationsMapInitJson);

            map.initializeProjectLocations(projectLocationsMapInitJson);
            map.disableUserInteraction();

            jQuery('.leaflet-container').css('cursor', 'pointer');
        })
    </script>
</div>
