@*-----------------------------------------------------------------------
<copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Views.Home
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.ProjectLocationControls
@inherits Index
@section JavascriptAndStylesContent
{
    <meta name="Description" content="ProjectFirma provides public access to program information and details on watershed, habitat, stormwater, forestry, air quality, and projects implemented by ProjectFirma partners." />

    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}

@section RightOfPageTitle
{
    @if (ViewDataTyped.ShowEditButton)
    {
        <div style="margin-top: 10px">
            <a class="btn btn-xs btn-firma" href="@ViewDataTyped.EditUrl">Edit</a>
        </div>
    }

    <style>
        #@ViewDataTyped.ProjectLocationsMapInitJson.MapDivID
        {
            height: 400px;
        }
    </style>
}

<div class="carousel">
    It's gonna go here, promise
</div>

<div class="row">
    <div class="col-md-8">
        <div>
            @Html.Raw(ViewDataTyped.FirmaPage.FirmaPageContentHtmlString)
        </div>
    </div>

    <div class="col-md-4">
        <h4 style="margin-bottom: 5px;">Project Map</h4>
        <p style="margin-bottom: 5px">
            This map shows approximate project locations. For more detail, <a href="@ViewDataTyped.FullMapUrl">view the comprehensive map page</a>.
        </p>
        <div>
            <a href="@ViewDataTyped.FullMapUrl">
                @{ ProjectLocationsMap.RenderPartialView(Html, ViewDataTyped.ProjectLocationsMapViewData); }
            </a>
        </div>

    </div>
</div>

@if (ViewDataTyped.FeaturedProjectsViewData.FeaturedProjects.Any())
{
    <div class="row">
        <div class="col-md-12">
            <h4>Featured Projects</h4>
            @{ FeaturedProjects.RenderPartialView(Html, ViewDataTyped.FeaturedProjectsViewData); }

        </div>
    </div>
}

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationsMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationsMapInitJson).ToString(Formatting.None));
        var map = new ProjectFirmaMaps.Map(projectLocationsMapInitJson);
        map.initializeProjectLocations(projectLocationsMapInitJson);
        map.disableUserInteraction();
        jQuery('.leaflet-container').css('cursor','pointer');
    })
</script>
