@using ProjectFirma.Web.Views.Shared.ProjectLocationControls
@using ProjectFirma.Web.Controllers
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.Views
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Home.Index
@section JavascriptAndStylesContent
{
    <meta charset="utf-8" />
    <meta name="Description" content="The Lake Tahoe Project Tracker provides public access to program information and details on watershed, habitat, stormwater, forestry, air quality, and transportation projects implemented by the Lake Tahoe Environmental Improvement Program. This site replaces the Tahoe Information Management Systems (TIIMS). Sponsored by Tahoe Regional Planning Agency (TRPA) and Tahoe Metropolitan Planning Organization (TMPO)." />

    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        .featuredProjectsPanel
        {
            width: 100%;
            background-color: transparent;
            margin-bottom: 30px;
        }

        .featuredProjectsPanel table.summaryLayout th
        {
            color: #000;
            white-space: nowrap;
        }

        #@ViewDataTyped.ProjectLocationsMapInitJson.MapDivID
        {
            height: 400px;
        }

        .mapLegendElement
        {
            font-size: 12px;
            width: 100%;
            height: 33px;
            overflow: hidden;
        }

    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-sm-12" style="padding-right: 15px">
            <div>
                @ViewDataTyped.IntroNarrativeContent
            </div>

            <h2 class="homePage" style="margin-bottom: 10px">Featured Projects</h2>
            <div class="ltInfoPanel featuredProjectsPanel">
                <div id="featuredProjectsCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="height: 390px">
                        @for (var index = 0; index < ViewDataTyped.FeaturedProjects.Count; ++index)
                        {
                            var featuredProject = ViewDataTyped.FeaturedProjects[index];
                            <div class="item@((index == 0) ? " active" : String.Empty)">
                                <table style="width: 95%; padding-bottom: 20px" class="summaryLayout">
                                    <tr>
                                        @if (featuredProject.KeyPhoto != null)
                                        {
                                            <td>
                                                <a class="gallery" href="@featuredProject.KeyPhoto.PhotoUrl" title="@featuredProject.KeyPhoto.CaptionOnFullView" data-caption="@Html.Raw(featuredProject.KeyPhoto.CaptionOnFullView.HtmlEncodeWithBreaks())">
                                                    <img src="@(SitkaRoute<FileResourceController>.BuildUrlFromExpression(x => x.GetFileResourceResized(featuredProject.KeyPhoto.FileResource.FileResourceGUIDAsString, 500, 350)))" alt="@featuredProject.KeyPhoto.CaptionOnFullView"/>
                                                </a>
                                                <br/>
                                                <div class="pull-right">@featuredProject.KeyPhoto.Caption</div>
                                            </td>
                                        }
                                        <td style="padding: 0 20px">
                                            <div style="margin-bottom: 20px">
                                                <a href="@featuredProject.GetFactSheetUrl()" style="font-weight: bold">@featuredProject.ProjectName</a>
                                            </div>
                                            <table style="color: #000" class="summaryLayout">
                                                <tr>
                                                    <th>Project Number:</th>
                                                    <td>@featuredProject.ProjectNumberString</td>
                                                </tr>
                                                <tr>
                                                    <th>Action Priority:</th>
                                                    <td style="white-space: nowrap">@featuredProject.ActionPriority.ActionPriorityName</td>
                                                </tr>
                                                <tr>
                                                    <th>Implementers:</th>
                                                    <td>@featuredProject.ProjectImplementingOrganizationNames</td>
                                                </tr>
                                                <tr>
                                                    <th>Stage:</th>
                                                    <td>@featuredProject.ProjectStage.ProjectStageDisplayName</td>
                                                </tr>
                                                <tr>
                                                    <th>Duration:</th>
                                                    <td>@featuredProject.Duration</td>
                                                </tr>
                                            </table>
                                            <div style="margin-top: 20px">

                                                @Html.Raw(featuredProject.ProjectDescription.HtmlEncodeWithBreaks())
                                            </div>
                                            <div class="pull-right">
                                                <a href="@featuredProject.GetFactSheetUrl()">View More</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                    </div>
                    <ol class="carousel-indicators">
                        @for (var index = 0; index < ViewDataTyped.FeaturedProjects.Count; ++index)
                        {
                            <li @((index == 0) ? "class=active" : String.Empty) data-target="#featuredProjectsCarousel" data-slide-to="@index"></li>
                        }
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12" style="padding: 0 15px 10px 0">
            <h2 class="homePage" style="margin-bottom: 5px;">Project Overview Map</h2>
            <p style="margin-bottom: 5px">
                This map shows an overview of the approximate locations of projects. To zoom into a specific area hold down the Shift key and drag a rectangle, or
                <a href="@ViewDataTyped.FullMapUrl">view the comprehensive map page</a>.
            </p>
            <div class="ltInfoPanel" style="width: 100%; padding: 10px 10px 0 10px">
                @{ ProjectLocationsMap.RenderPartialView(Html, ViewDataTyped.ProjectLocationsMapViewData); }
            </div>

        </div>
    </div>
</div>
<div>
    <h2 class="homePage" style="margin-bottom: 5px;">Background</h2>
    @ViewDataTyped.AdditionalInfoContent
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationsMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationsMapInitJson).ToString(Formatting.None));
        var map = new ProjectFirmaMaps.Map(projectLocationsMapInitJson);
        map.initializeProjectLocations(projectLocationsMapInitJson);
        map.disableUserInteraction();
    })
</script>