@using ProjectFirma.Web.Areas.Sustainability.Controllers
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Indicator
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.HtmlHelperExtensions
@using Microsoft.Web.Mvc
@inherits ProjectFirma.Web.Areas.Sustainability.Views.Aspect.Edit

@section DashboardHeadContent
{
    <style>
        .dashboardButton {
            margin-right: 10px;
            margin-bottom: 5px;
        }
    </style>
}

@{
    SetLayout("~/Areas/Sustainability/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

<link href='@Url.Content("~/Areas/Sustainability/Content/trpa-screen.min.css")' rel='stylesheet' type='text/css' media='all' id='trpa-screen' />
<link href='@Url.Content("~/Areas/Sustainability/Content/trpa-bootstrap-overrides.min.css")' rel='stylesheet' type='text/css' media='all' />

@using (Html.BeginForm<AspectController>(x => x.Edit(ViewDataTyped.SustainabilityAspect.SustainabilityAspectName, null)))
{
    <header class="detail-header">
        <div class="row">
            @{ Html.RenderRazorSitkaPartial<LakeTahoeInfoSiteExplorer, LakeTahoeInfoSiteExplorerViewData>(ViewDataTyped.LakeTahoeInfoSiteExplorerViewData); }
        </div>
        <div class="row">
            <div class="intro large-12 columns text-center" style="margin-bottom: 0">
                <h1>@ViewDataTyped.SustainabilityAspect.DisplayName</h1>
                <p>
                    @Html.TextAreaWithMaxLengthFor(x => x.AspectBlurb, new TextAreaForExtensions.TextAreaDimensions(null, 3), null)
                </p>
                <span class="label @ViewDataTyped.SustainabilityAspect.SustainabilityPillar.KeyColor">@ViewDataTyped.SustainabilityAspect.SustainabilityPillar.SustainabilityPillarName</span>
            </div>
        </div>
    </header>

    <div id="dashboardAdmin" class="text-right" position="absolute">
        <button class="btn btn-blue dashboardButton" type="submit">Save</button>
        <button class="btn btn-blue dashboardButton" type="button" onclick="javascript:{window.location.href = '@ViewDataTyped.CancelUrl';}" style="margin-right:15px">Cancel</button>
    </div>

    <div class="container-fluid body">
        <div class="row">
            <div class="large-12 columns">
                <span id="chartDataToPost"></span>
                <h2 style="text-align: center">How Tahoe Measures @ViewDataTyped.SustainabilityAspect.DisplayName</h2>
                <div>
                    @Html.CkEditorFor(x => x.OutcomeIntroText, CkEditorExtension.CkEditorToolbar.AllOnOneRow, true, true, null)
                </div>

                @foreach (var sustainabilityIndicator in ViewDataTyped.SustainabilityAspect.SustainabilityIndicators.Where(x => x.Indicator.IndicatorType == IndicatorType.Outcome))
                {
                    <hr />
                    <h3>@sustainabilityIndicator.Indicator.IndicatorDisplayName</h3>
                    <div>
                        @sustainabilityIndicator.Indicator.IndicatorPublicDescriptionHtmlString
                        @{ IndicatorChart.RenderPartialView(Html, ViewDataTyped.IndicatorChartViewDataDictionary[sustainabilityIndicator.IndicatorID]);}
                        <br />
                        <em>SOURCE:</em>&nbsp;<a href="@sustainabilityIndicator.Indicator.DataSourceUrl">@sustainabilityIndicator.Indicator.DataSourceText</a>
                    </div>
                }

                <hr />
                <h2 style="text-align: center">What Tahoe is Doing to Improve @ViewDataTyped.SustainabilityAspect.DisplayName</h2>
                <div>
                    @Html.CkEditorFor(x => x.ActionIntroText, CkEditorExtension.CkEditorToolbar.AllOnOneRow, true, true, null)
                </div>

                @foreach (var sustainabilityIndicator in ViewDataTyped.SustainabilityAspect.SustainabilityIndicators.Where(x => x.Indicator.IndicatorType == IndicatorType.Action))
                {
                    <h3>@sustainabilityIndicator.Indicator.IndicatorDisplayName</h3>
                    <div>
                        @sustainabilityIndicator.Indicator.IndicatorPublicDescriptionHtmlString
                        @{ IndicatorChart.RenderPartialView(Html, ViewDataTyped.IndicatorChartViewDataDictionary[sustainabilityIndicator.IndicatorID]);}
                        @if (!string.IsNullOrWhiteSpace(sustainabilityIndicator.Indicator.DataSourceText))
                        {
                            <br /><em>SOURCE: </em><a href="@sustainabilityIndicator.Indicator.DataSourceUrl" target="_blank">@sustainabilityIndicator.Indicator.DataSourceText</a>
                        }
                    </div>
                }

                <hr />
                <h2 style="text-align: center">Learn More/Get Involved</h2>
                <div>
                    @Html.CkEditorFor(x => x.OutroText, CkEditorExtension.CkEditorToolbar.AllOnOneRow, true, true, null)
                </div>
            </div>
        </div>
    </div>
}

<script>
    var sustainabilityIndicatorJsons;
    jQuery(document).ready(function () {
        jQuery(window).scroll(adjustDashboardAdminScroll);
        adjustDashboardAdminScroll();
    });

    function adjustDashboardAdminScroll() {
        if (jQuery(this).scrollTop() > jQuery("header").height()) {
            document.getElementById("dashboardAdmin").style.width = "100%";
            document.getElementById("dashboardAdmin").style.position = "fixed";
            document.getElementById("dashboardAdmin").style.top = "0";
        }
        else {
            document.getElementById("dashboardAdmin").style.position = "static";
        }
    }
</script>