@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Indicator
@inherits ProjectFirma.Web.Areas.Sustainability.Views.Aspect.Summary

@section DashboardHeadContent
{
}

@section ExtraHeaderContent
{
    <div class="row">
        <div class="intro large-10 large-offset-1 end columns text-center">
            <h1>@ViewDataTyped.SustainabilityAspect.DisplayName</h1>
            <p>
                @ViewDataTyped.SustainabilityAspect.Blurb
            </p>
            <span class="label @ViewDataTyped.SustainabilityAspect.SustainabilityPillar.KeyColor">@ViewDataTyped.SustainabilityAspect.SustainabilityPillar.SustainabilityPillarName</span>
        </div>
    </div>
}

<div class="large-9 columns content">
    <article class="body">
        <h2 style="text-align: center">How Tahoe Measures @ViewDataTyped.SustainabilityAspect.DisplayName</h2>
        <div>
            @Html.Raw(ViewDataTyped.SustainabilityAspect.OutcomeIntroTextHtmlString)
        </div>
        @foreach (var sustainabilityIndicator in ViewDataTyped.SustainabilityAspect.SustainabilityIndicators.Where(x => x.Indicator.IndicatorType == IndicatorType.Outcome))
        {
            <h3>@sustainabilityIndicator.Indicator.IndicatorDisplayName</h3>
            <div>
                @Html.Raw(sustainabilityIndicator.Indicator.IndicatorPublicDescriptionHtmlString)
                @{ IndicatorChart.RenderPartialView(Html, ViewDataTyped.IndicatorChartViewDataDictionary[sustainabilityIndicator.IndicatorID]);}
                @if (!string.IsNullOrWhiteSpace(sustainabilityIndicator.Indicator.DataSourceText))
                {
                    <br /><em>SOURCE: </em><a href="@sustainabilityIndicator.Indicator.DataSourceUrl" target="_blank">@sustainabilityIndicator.Indicator.DataSourceText</a>
                }
            </div>
        }

        <h2 style="text-align: center">What Tahoe is Doing to Improve @ViewDataTyped.SustainabilityAspect.DisplayName</h2>
        <div>
            @Html.Raw(ViewDataTyped.SustainabilityAspect.ActionIntroTextHtmlString)
        </div>
        @foreach (var sustainabilityIndicator in ViewDataTyped.SustainabilityAspect.SustainabilityIndicators.Where(x => x.Indicator.IndicatorType == IndicatorType.Action))
        {
            <h3>@sustainabilityIndicator.Indicator.IndicatorDisplayName</h3>
            <div>
                @Html.Raw(sustainabilityIndicator.Indicator.IndicatorPublicDescriptionHtmlString)
                @{ IndicatorChart.RenderPartialView(Html, ViewDataTyped.IndicatorChartViewDataDictionary[sustainabilityIndicator.IndicatorID]);}
                @if (!string.IsNullOrWhiteSpace(sustainabilityIndicator.Indicator.DataSourceText))
                {
                    <br /><em>SOURCE: </em><a href="@sustainabilityIndicator.Indicator.DataSourceUrl" target="_blank">@sustainabilityIndicator.Indicator.DataSourceText</a>
                }
            </div>
        }

        <h2 style="text-align: center">Learn More/Get Involved</h2>
        <div>
            @Html.Raw(ViewDataTyped.SustainabilityAspect.OutroTextHtmlString)
        </div>

        <div style="margin: 30px 0 20px 0;">
            <p>
                <a class="button" href="@ViewDataTyped.SustainabilityAspect.GetNextAspect().GetUrl()">Continue to @ViewDataTyped.SustainabilityAspect.GetNextAspect().DisplayName</a>
            </p>
        </div>
    </article>
    <div class="content-border-right"></div>
</div>
<div class="sidebar large-3 columns hide-small">
    <ul class="bubble-nav">
        @foreach (var a in ViewDataTyped.SustainabilityCommonPageData.SustainabilityPillars.OrderBy(x => x.DisplayOrder))
        {
            <li class="bubble">
                <a href="@a.GetHomePageAnchorUrl()">
                    <img src="@a.GetKeyImageFullPath()" width="287" height="287" alt="">
                    <div class="dark-overlay"></div>
                    <span class="category">@a.SustainabilityPillarName</span>
                </a>
            </li>
        }
    </ul>
</div>