@*-----------------------------------------------------------------------
<copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.ProjectControls
@using ProjectFirma.Web.Views.Shared.ProjectLocationControls
@using ProjectFirma.Web.Views
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.TaxonomyTierThree.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        #@ViewDataTyped.ProjectLocationsMapInitJson.MapDivID
        {
            height: 420px;
        }
    </style>
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all @ViewDataTyped.TaxonomyTierThreeDisplayNamePluralized.</a>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditTaxonomyTierThreeUrl, string.Format("Edit {0} - {1}", ViewDataTyped.TaxonomyTierThreeDisplayName, ViewDataTyped.TaxonomyTierThree.DisplayName), ViewDataTyped.UserHasTaxonomyTierThreeManagePermissions) Basics
                </h2>
            </div>
            <div class="panel-body">
                <div>
                    @{ ProjectTaxonomy.RenderPartialView(Html, ViewDataTyped.ProjectTaxonomyViewData); }
                </div>
            </div>
        </div>

        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierThreeDescription)</h2>
            </div>
            <div class="panel-body">
                <div>
                    @ViewDataTyped.TaxonomyTierThree.TaxonomyTierThreeDescription
                </div>
            </div>
        </div>

        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    <a href="@ViewDataTyped.TaxonomyTierTwoIndexUrl">@ViewDataTyped.TaxonomyTierTwoDisplayNamePluralized</a>
                </h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.TaxonomyTierThree.TaxonomyTierTwos.Any())
                {
                    <table class="summaryLayout">
                        <tr>
                            <th>@Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierTwo, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)</th>
                        </tr>
                        @foreach (var taxonomyTierTwo in ViewDataTyped.TaxonomyTierThree.TaxonomyTierTwos.OrderBy(x => x.DisplayName))
                        {
                            <tr>
                                <td>
                                    @taxonomyTierTwo.GetDisplayNameAsUrl()
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>No @ViewDataTyped.TaxonomyTierTwoDisplayNamePluralized set for this @ViewDataTyped.TaxonomyTierThreeDisplayName.</p>
                }
            </div>
        </div>

        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    <a href="@ViewDataTyped.IndexUrl">@ViewDataTyped.TaxonomyTierOneDisplayNamePluralized</a>
                </h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.TaxonomyTierThree.TaxonomyTierOnes.Any())
                {
                    <table class="summaryLayout">
                        <tr>
                            <th>@Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierOne, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)</th>
                        </tr>
                        @foreach (var taxonomyTierOne in ViewDataTyped.TaxonomyTierThree.TaxonomyTierOnes)
                        {
                            <tr>
                                <td>
                                    @taxonomyTierOne.GetDisplayNameAsUrl()
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>No @ViewDataTyped.TaxonomyTierOneDisplayNamePluralized set for this @ViewDataTyped.TaxonomyTierThreeDisplayName.</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@ViewDataTyped.TaxonomyTierThreeDisplayName @FieldDefinition.Project.GetFieldDefinitionLabelPluralized() Map</h2>
            </div>
            <div style="padding: 10px">
                To zoom, hold down Shift and drag a rectangle.
                <div style="border-radius: 8px; background-color: white; margin: 5px 0 5px 0">
                    @{ ProjectLocationsMap.RenderPartialView(Html, ViewDataTyped.ProjectLocationsMapViewData); }
                </div>
                Some projects operate over larger areas and are not represented on the map, but are listed in the project grid below. A <a href="@ViewDataTyped.ProjectMapFilteredUrl">full-screen, filterable version of this map</a> is also available.
            </div>
        </div>
    </div>
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>
            <a href="@ViewDataTyped.FullProjectListUrl">@FieldDefinition.Project.GetFieldDefinitionLabelPluralized()</a>
        </h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.BasicProjectInfoGridSpec, ViewDataTyped.BasicProjectInfoGridName, ViewDataTyped.BasicProjectInfoGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationsMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationsMapInitJson).ToString(Formatting.None));
        var map = new ProjectFirmaMaps.Map(projectLocationsMapInitJson);
        map.initializeProjectLocations(projectLocationsMapInitJson);
    })
</script>
