@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.ExternalMapLayer.Edit
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.DisplayName)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.DisplayName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.LayerUrl)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.LayerUrl, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.LayerUrl)
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-9 systemText">E.g. https://hydro.nationalmap.gov/arcgis/rest/services/wbd/MapServer/3 (National 6-digit HUC boundaries)</div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.LayerDescription)
            </div>
            <div class="col-sm-9">
                @Html.TextAreaFor(m => m.LayerDescription, new { @class = "form-control", style = "width:100%", placeholder = "Add helpful background information for other administrators (E.g who to contact if there is a problem with this external map service in the future)." })
                @Html.ValidationMessageFor(m => m.LayerDescription)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.FeatureNameField)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.FeatureNameField, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.FeatureNameField)
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-9 systemText">Case-sensitive. E.g. Name or NAME</div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(@FieldDefinitionEnum.DisplayOnAllMaps.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)<label>@FieldDefinitionEnum.DisplayOnAllMaps.ToType().GetFieldDefinitionLabel()</label>
            </div>
            <div class="col-sm-9">
                @Html.CheckBoxFor(m => m.DisplayOnAllMaps)
                @Html.ValidationMessageFor(m => m.DisplayOnAllMaps)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.LayerIsOnByDefault)
            </div>
            <div class="col-sm-9">
                @Html.CheckBoxFor(m => m.LayerIsOnByDefault)
                @Html.ValidationMessageFor(m => m.LayerIsOnByDefault)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.IsActive)
            </div>
            <div class="col-sm-9">
                @Html.CheckBoxFor(m => m.IsActive)
                @Html.ValidationMessageFor(m => m.IsActive)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(@FieldDefinitionEnum.IsATiledMapService.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)<label>@FieldDefinitionEnum.IsATiledMapService.ToType().GetFieldDefinitionLabel()</label>
            </div>
            <div class="col-sm-9">
                @Html.CheckBoxFor(m => m.IsTiledMapService)
                @Html.ValidationMessageFor(m => m.IsTiledMapService)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.ExternalMapLayerID)
}

