@*-----------------------------------------------------------------------
<copyright file="ProjectTypeSelection.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.ProjectCreate
@using ProjectFirmaModels.Models
@inherits ProjectTypeSelection

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>
        Do you want to:
    </div>
    <div class="form-group">
        <div class="radio">
            <label>
                @Html.RadioButtonFor(m => m.CreateType, ProjectTypeSelectionViewModel.ProjectCreateType.Proposal)
                <strong>Add a @FieldDefinitionEnum.Proposal.ToType().GetFieldDefinitionLabel() for a future @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()</strong>
            </label>
            <div class="radioExplanationText">This will create a new @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() in @ProjectStage.ToType(ProjectStageEnum.Proposal).GetProjectStageDisplayName() stage. When a @FieldDefinitionEnum.Proposal.ToType().GetFieldDefinitionLabel() is reviewed and selected for implementation an administrator can advance the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() to the @ProjectStage.ToType(ProjectStageEnum.PlanningDesign).GetProjectStageDisplayName() stage.</div>
        </div>
        <div class="radio" style="margin-top: 10px;">
            <label>
                @Html.RadioButtonFor(m => m.CreateType, ProjectTypeSelectionViewModel.ProjectCreateType.Existing)
                <strong>Enter an existing @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() that is already underway or complete</strong>
            </label>
            <div class="radioExplanationText">This will create a new @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() record for an existing @(FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel()). You will be asked to select the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() stage (e.g. @ProjectStage.ToType(ProjectStageEnum.PlanningDesign).GetProjectStageDisplayName(), @ProjectStage.ToType(ProjectStageEnum.Implementation).GetProjectStageDisplayName(), or @ProjectStage.ToType(ProjectStageEnum.Completed).GetProjectStageDisplayName()). An administrator will review the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() before it becomes publicly visible.</div>
        </div>
        @if (ViewDataTyped.TenantAttribute.ProjectExternalDataSourceEnabled)
        {
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(m => m.CreateType, ProjectTypeSelectionViewModel.ProjectCreateType.ImportExternal)
                    <strong>Import @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() from an external data source (Proof of Concept)</strong>
                </label>
                <div class="radioExplanationText">This will import a @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() from another @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() tracking system using a URL for the external system API.</div>
            </div>
        }
    </div>
}
