@*-----------------------------------------------------------------------
    <copyright file="SiteLayout.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.ProjectCreate
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@inherits SiteLayout

@{
    SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(".workflowSectionGroup").not(".active").not(" #instructions").click(function (event) {
                if (jQuery(this).hasClass("expanded")) {
                    if (!jQuery(event.target).is('a')) {
                        jQuery(this).removeClass("expanded");
                        jQuery(this).addClass("collapsed")
                        jQuery(this).children("ul").addClass("collapsed");
                        jQuery(this).children("ul").removeClass("expanded");

                    }
                }
                else {
                    jQuery(this).addClass("expanded");
                    jQuery(this).removeClass("collapsed");
                    jQuery(this).children("ul").removeClass("collapsed");
                    jQuery(this).children("ul").addClass("expanded");
                }
            }
            );
        })
    </script>

    <style>
        hr {
            border-top: 1px solid #ddd;
        }

        .moreActionsToggle .open > .moreActionsToggle .dropdown-toggle {
            color: #3e72b0 !important;
        }


        .moreActionsToggle ul.dropdown-menu.moreActionsToggle li a,
        .moreActionsToggle ul.dropdown-menu.moreActionsToggle li a:hover {
            color: #3e72b0;
        }

        .moreActionsToggle .btn.dropdown-toggle {
            border: none;
            color: #3e72b0;
        }

        .glyphicon-chevron-down {
            margin-left: 7px;
            margin-top: 7px;
        }
    </style>

    @RenderSection("JavascriptAndStylesContent", false)
}

@section RightOfPageTitle{
    <div class="dropdown moreActionsToggle">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            See more Actions
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                @ModalDialogFormHelper.ModalDialogFormLink("<span class='glyphicon glyphicon-comment'></span> Provide Feedback", ViewDataTyped.ProvideFeedbackUrl, "Provide Feedback", 800, "Submit Request", "Cancel", new List<string>(), null, null)
            </li>
            @if (ViewDataTyped.Project != null)
            {
                <li>
                    <a href="@ViewDataTyped.ProposalDetailUrl"><span class="glyphicon glyphicon-chevron-left"></span>Proposal Details</a>
                </li>
            }
            @if (ViewDataTyped.CurrentPersonCanWithdraw && ViewDataTyped.Project != null && ViewDataTyped.Project.ProjectApprovalStatus == ProjectApprovalStatus.PendingApproval)
            {
                <li>
                    @ModalDialogFormHelper.ModalDialogFormLink("Withdraw this Proposal", ViewDataTyped.WithdrawUrl, "Withdraw Proposal", 500, "Withdraw", "Cancel", new List<string>(), null, null)
                </li>
            }
            <li>
                <a href="@ViewDataTyped.TrainingUrl" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Need Help?</a>
            </li>
        </ul>
    </div>
}

@if (!Html.ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("The page could not be saved because there were errors that need to be corrected:", new { @class = "validation-summary-errors" })
}

@if (!ViewDataTyped.ProjectStateIsValidInWizard && ViewDataTyped.Project != null)
{
    <div class="alert alert-info" style="margin-bottom: 10px">
        @if (ViewDataTyped.Project.ProjectApprovalStatus == ProjectApprovalStatus.Approved)
        {
            <span>This @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() has been approved and can no longer be edited through this wizard.</span>
        }
        @if (ViewDataTyped.Project.ProjectApprovalStatus == ProjectApprovalStatus.Rejected)
        {
            <span>This @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() has been rejected and can no longer be edited through this wizard.</span>
        }
    </div>
}

<div id="projectWizardContent" class="row">
    <div class="col-xs-12 col-sm-4 col-md-3" style="padding-right: 0;">
        <nav id="wizardNav">
            <ul class="nav nav-stacked">
                <li class="@(ViewDataTyped.IsInstructionsPage ? "active" : null) workflowSectionGroup" id="instructions">
                    <a href="@ViewDataTyped.InstructionsPageUrl"
                       style="display: block;">
                        <span class="workflowStatusPlaceholder"></span>
                        Instructions
                    </a>
                </li>
                @foreach (var projectWorkflowSectionGrouping in ViewDataTyped.ProjectWorkflowSectionGroupings.OrderBy(x => x.SortOrder))

                {
                    var projectCreateSectionsForGroup = projectWorkflowSectionGrouping.GetProjectCreateSections(ViewDataTyped.Project, false);
                    if (projectCreateSectionsForGroup.Any())
                    {
                        var isGroupingActive = projectCreateSectionsForGroup.Any(x => x.SectionDisplayName.Equals(ViewDataTyped.CurrentSectionDisplayName, StringComparison.InvariantCultureIgnoreCase));
                        var groupingHasCompletionStatus = projectCreateSectionsForGroup.Any(x => x.HasCompletionStatus);
                        <li class="@(isGroupingActive ? "active" : "collapsed") workflowSectionGroup">
                            @if (groupingHasCompletionStatus)
                            {
                                if (projectCreateSectionsForGroup.All(x => !x.HasCompletionStatus || x.IsComplete))
                                {
                                    <span class="glyphicon glyphicon-ok field-validation-success text-left workflowStatusIndicator"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-exclamation-sign field-validation-warning text-left workflowStatusIndicator"></span>
                                }
                            }
                            else
                            {
                                <span class="workflowStatusPlaceholder"></span>
                            }
                            <span>@projectWorkflowSectionGrouping.ProjectWorkflowSectionGroupingDisplayName</span>
                            <ul class="@(!isGroupingActive ? "collapsed" : null)">
                                @foreach (var projectSectionSimple in projectCreateSectionsForGroup)
                                {
                                    <li class="@(ViewDataTyped.CurrentSectionDisplayName.Equals(projectSectionSimple.SectionDisplayName, StringComparison.InvariantCultureIgnoreCase) ? "active" : null) workflowSection">
                                        <a href="@(projectSectionSimple.SectionUrl)"
                                           class="@(string.IsNullOrWhiteSpace(projectSectionSimple.SectionUrl) ? "disabled" : "")">
                                            <span style="display: inline-block; width: 15%; vertical-align: top">
                                                @if (projectSectionSimple.HasCompletionStatus && projectSectionSimple.SectionUrl != null)
                                                {
                                                    if (projectSectionSimple.IsComplete)
                                                    {
                                                        <span class="glyphicon glyphicon-ok field-validation-success text-left workflowStatusIndicator"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-exclamation-sign field-validation-warning text-left workflowStatusIndicator" title="Section is incomplete"></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="workflowStatusPlaceholder"></span>
                                                }
                                            </span>
                                            <span style="display: inline-block; width: 80%">
                                                <span>@projectSectionSimple.SectionDisplayName</span>
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                }
            </ul>
        </nav>
    </div>


    <div id="main-container" class="col-sm-8 col-md-9">
        <div class="row"><div class="col-sm-12"><h3 style="margin-top: 5px; margin-bottom: 0px;">@ViewDataTyped.CurrentSectionDisplayName</h3></div></div>
        <hr style="border-top: 1px solid #ddd;" />
        @RenderBody()
        @if (ViewDataTyped.IsInstructionsPage)
        {
            <span><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</span>
        }
    </div>
</div>
@if (ViewDataTyped.Project != null)
{
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
        <div class="row">
            <div class="col-xs-6" style="padding-left: 0;">
                <div class="pull-left">
                    <p>
                        Created by @ViewDataTyped.Project.ProposingPerson.GetFullNameFirstLastAndOrgShortName() on @ViewDataTyped.Project.ProposingDate
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <span>New @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() Status: <span style="font-weight: bold">@ViewDataTyped.Project.ProjectApprovalStatus.ProjectApprovalStatusDisplayName</span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" style="padding-left: 0;">
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    @if (ViewDataTyped.Project.ProjectApprovalStatus.ToEnum == ProjectApprovalStatusEnum.Draft || ViewDataTyped.Project.ProjectApprovalStatus.ToEnum == ProjectApprovalStatusEnum.Returned)
                    {
                        if (ViewDataTyped.CanAdvanceStage)
                        {
                            <span>
                                @ModalDialogFormHelper.ModalDialogFormLink("Submit", ViewDataTyped.SubmitUrl, "Submit Proposal for review", 500, "Continue", "Cancel", new List<string> { "submitProject btn btn-xs btn-firma" }, null, null)
                            </span>
                        }
                        else
                        {
                            <button class="btn btn-xs btn-firma" disabled>Submit</button>
                        }
                    }
                    else
                    {
                        if (ViewDataTyped.Project.ProjectApprovalStatus.ToEnum == ProjectApprovalStatusEnum.PendingApproval)
                        {
                            if (ViewDataTyped.CurrentPersonIsApprover)
                            {
                                if (ViewDataTyped.CanAdvanceStage)
                                {
                                    <span>
                                        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("<button class='btn btn-xs btn-firma'>{0} Approve</button>", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-open")), ViewDataTyped.ApproveUrl, "Approve Proposal", 400, "Approve", "Cancel", null, null, null)
                                    </span>
                                }
                                else
                                {
                                    <button class="btn btn-xs btn-firma" disabled>Approve</button>
                                }
                                <span>@ModalDialogFormHelper.ModalDialogFormLink("Return", ViewDataTyped.ReturnUrl, "Return Proposal to Submitter", 500, "Return", "Cancel", new List<string> { "submitProject btn btn-xs btn-firma" }, null, null)</span>
                                <span>@ModalDialogFormHelper.ModalDialogFormLink("Reject", ViewDataTyped.RejectUrl, "Reject Proposal", 500, "Reject", "Cancel", new List<string> { "submitProject btn btn-xs btn-firma" }, null, null)</span>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}