@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Role.Summary
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2 fieldLabel text-right">@Html.LabelWithFieldDefinitionFor(FieldDefinition.RoleName)</div>
                    <div class="col-xs-10">@(ViewDataTyped.RoleName)</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 fieldLabel text-right">Description:</div>
                    <div class="col-xs-10">@(ViewDataTyped.RoleDescription)</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                Approved Permissions
            </div>
            <table class="table table-striped" style="background-color: #d9d9f9;">
                @foreach (var featurePermission in ViewDataTyped.ApprovedFeatures.OrderByDescending(x => x.HasPermission).ThenBy(x => x.FeatureName))
                {
                    <tr>
                        <td>@featurePermission.FeatureName</td>
                        <td style="text-align: center">
                            @featurePermission.HasPermission.ToYesNo()
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                Denied Permissions
            </div>
            <table class="table table-striped">
                @if (ViewDataTyped.DeniedFeatures.Any())
                {
                    foreach (var featurePermission in ViewDataTyped.DeniedFeatures.OrderByDescending(x => x.HasPermission).ThenBy(x => x.FeatureName))
                    {
                        <tr>
                            <td><span style="color: lightgray">@featurePermission.FeatureName</span></td>
                            <td style="text-align: center">
                                <span style="color: lightgray">@featurePermission.HasPermission.ToYesNo()</span>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <span class="alert">This role has access to all permissions.</span>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                People with this role:
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
