@*-----------------------------------------------------------------------
<copyright file="EditOrganizations.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.ProjectOrganization.EditOrganizations
<script type="text/javascript">
    // <![CDATA[    
    angular.module("EditOrganizationsAngularApp", []).controller("ProjectOrganizationController", function($scope)
    {
        // AngularModel
        //    ProjectOrganizationsViewModelJson
        //       LeadOrganizationID
        //       ProjectOrganizations (ProjectOrganizationJson[])
        //          OrganizationID
        //          OrganizationDisplayName
        //          RelationshipTypeID
        //          RelationshipTypeName
        $scope.AngularModel = @Html.Raw(JObject.FromObject(Model));
        $scope.AngularViewData = @Html.Raw(JObject.FromObject(ViewDataTyped));
        $scope.OrganizationToAdd = null;

        jQuery("form").submit(function() { jQuery("#@Html.IdFor(x => x.ProjectOrganizationsViewModelJson)").val(JSON.stringify($scope.AngularModel.ProjectOrganizationsViewModelJson)); });

        $scope.lookupLeadPersonForOrganization = function(organizationId)
        {
            if (organizationId == null) {
                return "";
            }

            var leadOrg = _.find($scope.AngularViewData.AllOrganizations, function(o) { return o.OrganizationID == organizationId; });
            var primaryContactForLeadImplementerOrg = _.find($scope.AngularViewData.AllPeople, function(x) { return x.PersonID == leadOrg.PrimaryContactPersonID; });
            if (primaryContactForLeadImplementerOrg != null)
            {
                return primaryContactForLeadImplementerOrg.DisplayName;
            }
            return "None";
        };

        $scope.addTopTier = function()
        {
            var newPrimary = {
                OrganizationID: null,
                RelationshipTypes: []
            };
            $scope.AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations.push(newPrimary);
            $scope.addDetailTier(newPrimary);
        };


        $scope.removeTopTier = function (primarySimple) {
            Sitka.Methods.removeFromJsonArray($scope.AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations,
                primarySimple);
        };

        $scope.addDetailTier = function(primarySimple)
        {
            if (primarySimple.RelationshipTypes == undefined)
            {
                primarySimple.RelationshipTypes = [];
            }
            primarySimple.RelationshipTypes.push({});
        };

        $scope.removeDetailTier = function(primarySimple, detailSimple)
        {
            Sitka.Methods.removeFromJsonArray(primarySimple.DetailSimples, detailSimple);
        };

        $scope.updateModel = function(option)
        {                
            var primarySimple =
                Sitka.Methods.findElementInJsonArray($scope.AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations,
                    "OrganizationID",
                    option.OrganizationID);

            primarySimple.OrganizationID = Number.parseInt(option.OrganizationID);
        }
    });

    angular.bootstrap(jQuery("#EditOrganizationsAngularApp"), ["EditOrganizationsAngularApp"]);
    // ]]>
</script>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditOrganizationsAngularApp" ng-controller="ProjectOrganizationController">
    <div class="row">
        <div class="col-xs-12">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-xs-6">
                    <p>
                        Enter the Organizations Associated with this Project.
                    </p>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-sm btn-firma pull-right" ng-click="addTopTier()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Organization
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="!AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations || !AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations.length || AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations.length < 1">
                        <span class="systemText">No Organizations Added.</span>
                    </div>
                    <table class="table" style="margin-bottom: 50px;" ng-show="AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations && AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations.length && AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations.length > 0">
                        <thead>
                        <tr>
                            <th style="text-align: center">Remove<br/>Org.</th>
                            <th>@Html.LabelWithSugarFor(FieldDefinition.Organization)</th>
                            <th style="text-align: center">Remove<br/>Relationship</th>
                            <th>@Html.Label("Type of Relationship")</th>
                            <th>@Html.LabelWithSugarFor(FieldDefinition.PrimaryContact)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="primarySimple in AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations">
                        <tr>
                            <td style="text-align: center">                            
                                <a href="#" ng-click="removeTopTier(primarySimple); $event.preventDefault();" style="text-decoration: none">
                                    <i class="glyphicon glyphicon-trash" title="Remove Organization" alt="Remove Organization"></i>
                                </a>
                            </td>
                            <td>
                                <input type="hidden" value="{{primarySimple.OrganizationID}}"
                                       name="ProjectOrganizations[{{$index}}].OrganizationID"/>
                                <select style="width: 100%" ng-model="primarySimple.OrganizationID"
                                        name="ProjectOrganizations[{{$index}}].OrganizationID"
                                        ng-required="true"
                                        ng-change="updateModel(primarySimple)">
                                    <option value="" disabled selected>Select an Organization</option>
                                    <option ng-repeat="organization in AngularViewData.AllOrganizations"
                                            value="{{organization.OrganizationID}}"
                                            ng-selected="primarySimple.OrganizationID == organization.OrganizationID"
                                            ng-bind="organization.OrganizationName"></option>
                                </select>                                                                                                             
                            </td>
                            <td style="text-align: center">
                                <a href="#" ng-click="removeDetailTier(primarySimple, primarySimple.RelationshipTypes[0]); $event.preventDefault();" ng-class="primarySimple.RelationshipTypes.length <= 1 ? 'disabled' : ''">
                                    <i class="glyphicon glyphicon-trash" title="Remove Relationship" alt="Remove Relationship"></i>
                                </a>
                            </td>
                            <td>
                                <input type="hidden" value="{{primarySimple.RelationshipTypes[0].RelationshipTypeID}}"
                                       name="ProjectOrganizations[{{$index}}].RelationshipTypes[0].RelationshipTypeID"/>
                                <select style="width: 100%" ng-model="primarySimple.RelationshipTypes[0].RelationshipTypeID" name="ProjectOrganizations[{{$index}}].RelationshipTypes[0].RelationshipTypeID" ng-required="true">
                                    <option value="" disabled selected>Select a Relationship</option>
                                    <option ng-repeat="detailType in AngularViewData.AllRelationshipTypes"
                                            ng-selected="primarySimple.RelationshipTypes[0].RelationshipTypeID == detailType.RelationshipTypeID"
                                            ng-bind="detailType.RelationshipTypeName"
                                            value="{{detailType.RelationshipTypeID}}"></option>
                                </select>
                            </td>                        
                            <td>
                                {{lookupLeadPersonForOrganization(primarySimple.OrganizationID)}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-firma" ng-click="addDetailTier(primarySimple)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Add Relationship
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat="detailSimple in primarySimple.RelationshipTypes.slice(1)">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="text-align: center">
                                <input type="hidden" value="{{detailSimple.RelationshipTypeID}}"
                                       name="ProjectOrganizations[{{$parent.$index}}].RelationshipTypes[{{$index+1}}].RelationshipTypeID"/>
                                <a href="#" ng-click="removeDetailTier(primarySimple, detailSimple); $event.preventDefault();">
                                    <i class="glyphicon glyphicon-trash" title="Remove Relationship" alt="Remove Relationship"></i>
                                </a>
                            </td>
                            <td>
                                <select style="width: 100%" ng-model="detailSimple.RelationshipTypeID" name="ProjectOrganizations[{{$parent.$index}}].RelationshipTypes[{{$index+1}}].RelationshipTypeID" ng-required="true">
                                    <option value="" disabled selected>Select a Relationship</option>
                                    <option ng-repeat="detailType in AngularViewData.AllRelationshipTypes"
                                            ng-selected="detailSimple.RelationshipTypeID == detailType.RelationshipTypeID"
                                            ng-bind="detailType.RelationshipTypeName"
                                            value="{{detailType.RelationshipTypeID}}"></option>
                                </select>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.ProjectOrganizationsViewModelJson)
    }
</div>
