@*-----------------------------------------------------------------------
<copyright file="EditOrganizations.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.ProjectOrganization.EditOrganizations

<script type="text/javascript">
    // <![CDATA[    
    jQuery(document).ready(function ()
    {
        angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function ()
        {
            return {
                AngularModel: @Html.Raw(JObject.FromObject(Model)),
                AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped)),
                HiddenJsonElementID: @Html.IdFor(x => x.ProjectOrganizationsViewModelJson)
            };
        });

        angular.bootstrap(jQuery("#EditOrganizationsAngularApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");
        jQuery(".modal").on("hidden.bs.modal",
            function() {
                jQuery(".bootstrap-select.open").removeClass("open");
            });
    });
    // ]]>
</script>
<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />

<style>
    .table > tbody > tr.subRelationships > td {
        border-top: none;
        padding-top: 0;
    }
    .col-xs-5.organizationIdSelectGroup div.bootstrap-select.btn-group {
        width: 100%;
    }
</style>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditOrganizationsAngularApp" ng-controller="ProjectOrganizationController">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    Add @FieldDefinition.Organization.GetFieldDefinitionLabelPluralized() associated with your @FieldDefinition.Project.GetFieldDefinitionLabel(), and specify the nature of their association to it.
                    A single @FieldDefinition.Organization.GetFieldDefinitionLabel() can have more than one association.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-sm btn-firma pull-right" ng-click="addTopTier()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Organization
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table" style="margin-bottom: 50px;" ng-show="AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations && AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations.length && AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations.length > 0">
                        <thead>
                        <tr class="row">
                            <th class="col-xs-1"></th>
                            <th class="col-xs-5">@Html.LabelWithSugarFor(FieldDefinition.Organization)</th>
                            <th class="col-xs-1"></th>
                            <th class="col-xs-4">@Html.LabelWithSugarFor(FieldDefinition.ProjectRelationshipType)</th>
                            <th class="col-xs-1"></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="primarySimple in AngularModel.ProjectOrganizationsViewModelJson.ProjectOrganizations">
                        <tr class="row">
                            <td class="col-xs-1" style="text-align: center">
                                <a href="#" ng-click="removeTopTier(primarySimple); $event.preventDefault();" style="text-decoration: none">
                                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.Organization.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.Organization.GetFieldDefinitionLabel()"></i>
                                </a>
                            </td>
                            <td class="col-xs-5 organizationIdSelectGroup">
                                <input type="hidden" value="{{primarySimple.OrganizationID}}"
                                       name="ProjectOrganizations[{{$index}}].OrganizationID" />
                                <select style="width: 100%" ng-model="primarySimple.OrganizationID"
                                        name="ProjectOrganizations[{{$index}}].OrganizationID"
                                        ng-change="updateModel(primarySimple)"
                                        class="selectpicker"
                                        data-live-search="true"
                                        data-container="body"
                                        title="Select an Organization">
                                    <option ng-repeat="organization in getAvailableOrganizations(primarySimple)"
                                            value="{{organization.OrganizationID}}"
                                            ng-selected="primarySimple.OrganizationID == organization.OrganizationID"
                                            ng-bind="organization.OrganizationName"
                                            data-tokens="{{organization.OrganizationName}}"></option>
                                </select>
                            </td>
                            <td class="col-xs-1" style="text-align: center">
                                <a href="#" ng-click="removeDetailTier(primarySimple, primarySimple.RelationshipTypes[0]); $event.preventDefault();" ng-class="primarySimple.RelationshipTypes.length <= 1 ? 'disabled' : ''">
                                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()"></i>
                                </a>
                            </td>
                            <td class="col-xs-4">
                                <input type="hidden" value="{{primarySimple.RelationshipTypes[0].RelationshipTypeID}}"
                                       name="ProjectOrganizations[{{$index}}].RelationshipTypes[0].RelationshipTypeID" />
                                <select class="form-control" style="width: 100%" ng-model="primarySimple.RelationshipTypes[0].RelationshipTypeID" name="ProjectOrganizations[{{$index}}].RelationshipTypes[0].RelationshipTypeID" ng-required="true">
                                    <option value="" disabled selected>Select one</option>
                                    <option ng-repeat="detailType in validRelationshipTypes(primarySimple.OrganizationID)"
                                            ng-selected="primarySimple.RelationshipTypes[0].RelationshipTypeID == detailType.RelationshipTypeID"
                                            ng-bind="detailType.RelationshipTypeName"
                                            value="{{detailType.RelationshipTypeID}}"></option>
                                </select>
                            </td>
                            <td  class="col-xs-1">
                                <button type="button" class="btn btn-sm btn-firma" ng-click="addDetailTier(primarySimple)" ng-disabled="validRelationshipTypes(primarySimple.OrganizationID).length <= primarySimple.RelationshipTypes.length">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Add
                                </button>
                            </td>
                        </tr>
                        <tr class="row subRelationships" ng-repeat="detailSimple in primarySimple.RelationshipTypes.slice(1)">
                            <td class="col-xs-1">&nbsp;</td>
                            <td class="col-xs-5">&nbsp;</td>
                            <td class="col-xs-1" style="text-align: center">
                                <input type="hidden" value="{{detailSimple.RelationshipTypeID}}"
                                       name="ProjectOrganizations[{{$parent.$index}}].RelationshipTypes[{{$index+1}}].RelationshipTypeID" />
                                <a href="#" ng-click="removeDetailTier(primarySimple, detailSimple); $event.preventDefault();">
                                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()"></i>
                                </a>
                            </td>
                            <td  class="col-xs-4">
                                <select class="form-control" style="width: 100%" ng-model="detailSimple.RelationshipTypeID" name="ProjectOrganizations[{{$parent.$index}}].RelationshipTypes[{{$index+1}}].RelationshipTypeID" ng-required="true">
                                    <option value="" disabled selected>Select a Relationship</option>
                                    <option ng-repeat="detailType in validRelationshipTypes(primarySimple.OrganizationID)"
                                            ng-selected="detailSimple.RelationshipTypeID == detailType.RelationshipTypeID"
                                            ng-bind="detailType.RelationshipTypeName"
                                            value="{{detailType.RelationshipTypeID}}"></option>
                                </select>
                            </td>
                            <td  class="col-xs-1">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    @*TODO: New codes under this line*@
    <div class="row" ng-repeat="relationshipType in AngularViewData.AllRelationshipTypes">
        <div class="row">
            <div class="col-sm-4" style="text-align: right;" ng-bind="relationshipType.RelationshipTypeName"></div>
            <div class="col-sm-6">
                <select class="selectpicker" id="todo{{relationshipType.RelationshipTypeID}}" ng-model="selectedOrganizationID" ng-change="selectionChanged(selectedOrganizationID,relationshipType)">
                    <option value="" disabled selected>Select one</option>
                    <option ng-repeat="organization in getAvailableOrganizationsForRelationshipType(relationshipType)"
                            ng-bind="organization.OrganizationName"
                            ng-value="organization.OrganizationID"></option>
                </select>
                <button type="button" class="btn btn-sm btn-firma" ng-click="addProjectOrganizationSimple(selectedOrganizationID, relationshipType.RelationshipTypeID)" ng-disabled="!selectedOrganizationID" ng-show="!relationshipType.RelationshipTypeCanOnlyBeRelatedOnceToAProject">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </div>
        </div>
        <div class="row" ng-repeat="organization in chosenOrganizationsForRelationshipType(relationshipType.RelationshipTypeID)"  ng-show="!relationshipType.RelationshipTypeCanOnlyBeRelatedOnceToAProject">
            <div class="col-sm-4"></div>
            <div class="col-sm-6" ng-bind="organization.OrganizationName"></div>
            <div class="col-sm-2">
                <a href="#" ng-click="removeProjectOrganizationSimple(organization.OrganizationID, relationshipType.RelationshipTypeID); $event.preventDefault();">
                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()"></i>
                </a>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.ProjectOrganizationsViewModelJson)
    }
</div>
