@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.CustomPage.Edit
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.FirmaMenuItemID)
            </div>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.FirmaMenuItemID, ViewDataTyped.Menus, new { style = "width: auto", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirmaMenuItemID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.CustomPageDisplayName)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.CustomPageDisplayName, new { style = "width: 100%", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomPageDisplayName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.CustomPageVanityUrl)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.CustomPageVanityUrl, new { style = "width: auto", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomPageVanityUrl)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9"><p class="systemText">Please select all applicable roles.</p></div>
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(FieldDefinitionEnum.CustomPageViewableBy.ToType(), "Viewable By")
            </div>
            <div class="col-sm-9">
                @Html.CheckBoxFor(x => x.ViewableByAnonymous) @Html.LabelFor(x => x.ViewableByAnonymous, new {style = "font-weight : normal; padding-right : 10px;"}, true)
                @Html.CheckBoxFor(x => x.ViewableByUnassigned) @Html.LabelFor(x => x.ViewableByUnassigned, new {style = "font-weight : normal; padding-right : 10px;"}, true)
                @Html.CheckBoxFor(x => x.ViewableByNormal) @Html.LabelFor(x => x.ViewableByNormal, new {style = "font-weight : normal; padding-right : 10px;"}, true)
                @Html.CheckBoxFor(x => x.ViewableByProjectSteward) @Html.LabelFor(x => x.ViewableByProjectSteward, new {style = "font-weight : normal; padding-right : 10px;"}, true)
                @Html.CheckBoxFor(x => x.ViewableByAdmin) @Html.LabelFor(x => x.ViewableByAdmin, new {style = "font-weight : normal; padding-right : 10px;"}, true)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.CustomPageID)
}
