@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Controllers
@using Microsoft.Web.Mvc
@inherits ProjectFirma.Web.Views.ProjectImageUpdate.Edit
@using (Html.BeginForm<ProjectImageUpdateController>(x => x.Edit(ViewDataTyped.ProjectImageUpdate, null), FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <table class="dialogFormLayout">
        <tr>
            <td>@Html.LabelWithSugarFor(x => x.Caption): </td>
            <td>
                @Html.TextBoxFor(x => x.Caption, new {style = "width:450px"})
                <div class="smallExplanationText">Be concise yet still descriptive. Thumbnails above will display alphabetically by caption.</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>@Html.LabelWithSugarFor(x => x.Credit): </td>
            <td>
                @Html.TextBoxFor(x => x.Credit, new {style = "width:450px"})
            </td>
        </tr>
        <tr>
            <td>@Html.LabelWithSugarFor(x => x.ProjectImageTimingID): </td>
            <td>
                @Html.DropDownListFor(x => x.ProjectImageTimingID, ViewDataTyped.ProjectImageTimings)
                @Html.ValidationMessageFor(x => x.ProjectImageTimingID)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelWithSugarFor(x => x.ExcludeFromFactSheet): </td>
            <td>
                @Html.CheckBoxFor(x => x.ExcludeFromFactSheet)
            </td>
        </tr>
    </table>
}
