@using ProjectFirma.Web.Areas.Threshold.Views.ThresholdCategory
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Indicator
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Views
@inherits ProjectFirma.Web.Areas.Threshold.Views.ThresholdIndicator.InfoSheet

@{
    SetLayout("~/Areas/Threshold/Views/Shared/SiteLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    <link href="@Url.Content("~/Content/css/ProjectFirmaPrint.css")" rel="stylesheet" type="text/css" media="print" />
    <script src="@Url.Content("~/Content/bootstrap-toc/bootstrap-toc.min.js")" type="text/javascript"></script>
    <style>
        .infoSheet
        {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            font-size: 16px;
            padding: 0 10px 10px 10px;
        }

        .dividedSection
        {
            border-top: 1px solid @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdReportingCategory.ThresholdCategory.ThemeColor !important;
        }

        .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4
        {
            margin: 0;
            text-transform: none;
        }

        .panel.panel-primary
        {
            margin-right: 10px;
            border-radius: 0;
        }

        .panel-primary .panel-heading
        {
            background-color: @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdReportingCategory.ThresholdCategory.ThemeColor !important;
            border-radius: 0;

        }

        .panel-primary .panel-heading h4
        {
            color: #fff;
            font-weight: bold;
            font-size: 18px;
        }

        .panel-primary .panel-heading h4 .glyphicon
        {
            margin-right: 5px;
        }

        .panel
        {
            border: none;
            box-shadow: none;
        }

        .infoSheet .indicatorTaxonomy
        {
            padding: 5px 5px 5px 25px;
            color: #ffffff;
            font-weight: bold;
            background-color: @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdReportingCategory.ThresholdCategory.ThemeColor !important;
            font-size: 18px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .infoSheet h3.indicatorTaxonomy
        {
            margin-bottom: 0;
        }

        .infoSheet .indicatorTaxonomy a
        {
            color: white;
        }

        nav#tableOfContents ul.nav
        {
            background: #ffffff;
        }

        nav#tableOfContents ul.nav li a
        {
            margin: 0;
            padding: 8px 16px;
            border: none;
            background-color: transparent;
            border-radius: 0;
            color: #555;
            text-decoration: none;
        }

        nav#tableOfContents ul.nav li a:hover, nav#tableOfContents ul.nav li ul.nav li a:hover
        {
            color: #0066cc;
            cursor: pointer;
            text-decoration: none;
            background-color: #eee;
        }

        nav#tableOfContents ul.nav li.active a, nav#tableOfContents ul.nav li.active ul.nav li.active a
        {
            color: #fff;
            background: @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdReportingCategory.ThresholdCategory.ThemeColor;
            border: none;
            cursor: pointer;

        }

        nav#tableOfContents ul.nav li.active ul.nav li a
        {
            color: #0066cc;
            cursor: pointer;
            text-decoration: none;
            background-color: #eee;
        }

        nav#tableOfContents ul.nav li.active ul.nav li a
        {
            color: #555;
            background: transparent;
            cursor: pointer;
        }


        .scrollSpy
        {
            width: 220px;
            padding: 0px 16px;
        }

        .scrollSpy.affix
        {
            top: 117px;
        }

        .header
        {
            margin-bottom: 0;
        }

        .header.affix
        {
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px 60px;
            background-color: white;
            z-index: 1000000000;
        }


    </style>

    <style type="text/css" media="print">
        h3, h3:before, h3:after,
        h4, h4:before, h4:after,
        .glyphicon-chevron-right, .glyphicon-chevron-right:before, .glyphicon-chevron-right:after,
        .statusTrendConfidence a i, .statusTrendConfidence a i:before, .statusTrendConfidence a i:after,
        .chevronBase div, .chevronBase div:before, .chevronBase div:after,
        .chevron div, .chevron div:before, .chevron div:after {
            background: transparent !important;
            color: white !important;
        }

        div.infoSheet {
            overflow: visible;
            word-wrap: break-word;
            width: 1000px;
            margin: 0;
            padding: 0;
        }

        .panel {
            page-break-inside: avoid;
        }

        .infoSheet .indicatorTaxonomy a, .infoSheet .indicatorTaxonomy .glyphicon {
            color: white !important;
        }
    </style>
}

<div class="infoSheet">
    <div class="row">
        <div class="col-md-12">
            <div class="header" data-spy="affix" data-offset-top="132">
                <div class="hidden-xs pull-right hidden-print">
                    <a class="btn btn-blue" href="@ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.Indicator.GetSummaryUrl()">View Details</a>
                    <button class="btn btn-blue" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>
                </div>
                <h1 class="hidden-xs" style="margin-top: 0">@ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.Indicator.IndicatorDisplayName</h1>
                <h3 id="indicatorTaxonomySection" class="indicatorTaxonomy">
                    @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdReportingCategory.ThresholdCategory.GetDisplayNameAsUrl()
                    <span class="glyphicon glyphicon-chevron-right "></span>
                    @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdReportingCategory.GetDisplayNameAsUrl()
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.Indicator.IndicatorDisplayName
                </h3>
            </div>
        </div>
    </div>
    <div id="contentForTOC" class="row">
        <div data-target="#tableofcontents" id="scrollSpyContent" class="col-lg-2 col-md-3 hidden-sm hidden-xs hidden-print">
            <nav id="tableOfContents" data-spy="affix" data-offset-top="132" class="scrollSpy"></nav>
        </div>
        <div class="col-lg-10 col-md-9">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <h4 data-toc-text="Summary" style="display: none"></h4>
                    <div class="row" style="margin-top: 10px">
                        <h5 data-toc-text="2015 Evaluation" style="display: none"></h5>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="panel-heading"><h4 data-toc-skip class="panel-title">2015 Evaluation</h4></div>
                            <div class="pull-right" style="margin: 5px">
                                @ThresholdEvaluation.MakeLegendIconLink()
                            </div>
                            <div style="margin-right: auto; margin-left: auto; padding-top: 10px; width: 150px;">
                                @ViewDataTyped.ThresholdEvaluation.GenerateStatusIcon(ThresholdEvaluationModelExtensions.IconSize.Large)
                            </div>

                            <div style="margin-top: 20px">
                                @if (!ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.IsManagementOrPolicyStatement)
                                {
                                    <div style="display: table">
                                        <div style="display: table-row">
                                            <div style="display: table-cell">
                                                <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationStatus, "Status")</strong>:
                                                @(ViewDataTyped.ThresholdEvaluation.ThresholdEvaluationStatusType == null ? ViewUtilities.NotAvailableString : ViewDataTyped.ThresholdEvaluation.ThresholdEvaluationStatusType.ThresholdEvaluationStatusTypeDisplayName)
                                            </div>
                                        </div>
                                        <div style="display: table-row">
                                            <div style="display: table-cell">
                                                <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationTrend, "Trend")</strong>:
                                                @(ViewDataTyped.ThresholdEvaluation.ThresholdEvaluationTrendType == null ? ViewUtilities.NotAvailableString : ViewDataTyped.ThresholdEvaluation.ThresholdEvaluationTrendType.ThresholdEvaluationTrendTypeDisplayName)
                                            </div>
                                        </div>
                                        <div style="display: table-row">
                                            <div style="display: table-cell; white-space: nowrap; padding-right: 5px;">
                                                <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationConfidence, "Confidence")</strong>:
                                                @(ViewDataTyped.ThresholdEvaluation.ThresholdEvaluationConfidenceType == null ? ViewUtilities.NotAvailableString : ViewDataTyped.ThresholdEvaluation.ThresholdEvaluationConfidenceType.ThresholdEvaluationConfidenceTypeDisplayName)
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationManagementStatus, "Management Status")</strong>
                                        <p>@(ViewDataTyped.ThresholdEvaluation.ThresholdEvaluationManagementStatusType == null ? ViewUtilities.NotAvailableString : ViewDataTyped.ThresholdEvaluation.ThresholdEvaluationManagementStatusType.ThresholdEvaluationManagementStatusTypeDisplayName)</p>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div style="margin-left: 20px; margin-top: 10px;">
                                <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.Relevance, "Relevance")</strong>
                                <p>@Html.Raw(ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.Relevance.ToNotProvidedIfNull())</p>
                                <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.HumanAndEnvironmentalDrivers, "Human and Environmental Drivers")</strong>
                                <p>@Html.Raw(ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.HumanAndEnvironmentalDrivers.ToNotProvidedIfNull())</p>
                            </div>
                        </div>
                    </div>

                    <div class="row dividedSection">
                        <div class="col-lg-5">
                            <h5>Map</h5>
                            <div class="contentWrapper">
                                @if (ViewDataTyped.ThresholdEvaluation.MapFileResourceID.HasValue)
                                {
                                    <div>
                                        <a href="@ViewDataTyped.ThresholdEvaluation.MapFileResource.FileResourceUrl" rel="group" class="gallery">
                                            <p class="img">
                                                <img src="@ViewDataTyped.ThresholdEvaluation.MapFileResource.FileResourceUrlScaledForPrint">
                                            </p>
                                        </a>
                                        <p>
                                            @ViewDataTyped.ThresholdEvaluation.MapCaption
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <p class="systemText">Map image not provided.</p>
                                }
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <h5>Trend</h5>
                            <div class="contentWrapper" style="padding: 10px 0">
                                @{ IndicatorChart.RenderPartialView(Html, ViewDataTyped.IndicatorChartViewData); }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Indicator Relationships</h4>
                    </div>
                    <div class="panel-body " style="padding: 20px;">
                        @{ IndicatorRelationships.RenderPartialView(Html, ViewDataTyped.IndicatorRelationshipsViewData); }
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Implementation and Effectiveness</h4>
                    </div>

                    <div class="panel-body">
                        <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationProgramsAndActionsImplementedToImproveConditions, "Programs and Actions Implemented to Improve Conditions")</strong>
                        <p>
                            @ViewDataTyped.ThresholdEvaluation.ProgramsAndActionsImplementedToImproveConditions.ToHTMLFormattedString()
                        </p>
                        <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationEffectivenessOfProgramsAndActions, "Effectiveness of Programs and Actions")</strong>
                        <p> @ViewDataTyped.ThresholdEvaluation.EffectivenessOfProgramsAndActions.ToHTMLFormattedString()</p>
                        @if (!ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.IsManagementOrPolicyStatement)
                        {
                            <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationInterimTarget, "Interim Target")</strong>
                            <p>
                                @(string.IsNullOrWhiteSpace(ViewDataTyped.ThresholdEvaluation.InterimTarget) ? new HtmlString(ViewUtilities.NotApplicableIndicatorIsInAttainment) : ViewDataTyped.ThresholdEvaluation.InterimTarget.ToHTMLFormattedString())
                            </p>
                            <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationTargetAttainmentDate, "Target Attainment Date")</strong>
                            <p>
                                @(string.IsNullOrWhiteSpace(ViewDataTyped.ThresholdEvaluation.TargetAttainmentDate) ? new HtmlString(ViewUtilities.NotApplicableIndicatorIsInAttainment) : ViewDataTyped.ThresholdEvaluation.TargetAttainmentDate.ToHTMLFormattedString())
                            </p>
                        }
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Applicable Standard</h4>
                    </div>
                    <div class="panel-body ">
                        <div>
                            <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ApplicableStandard)</strong>
                            <p>
                                @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ApplicableStandard.ToHTMLFormattedString()
                            </p>

                        </div>
                        <div>
                            <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.StandardNarrative, "Narrative")</strong>
                            <p>
                                @ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.StandardNarrative.ToHTMLFormattedString()
                            </p>
                        </div>

                    </div>
                </div>
                @if (!ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.IsManagementOrPolicyStatement)
                {
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Status, Trend, and Confidence Details</h4>
                        </div>
                        <div class="panel-body">
                            <div>
                                <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationStatusRationale, "Status Rationale")</strong>
                                <p>@ViewDataTyped.ThresholdEvaluation.StatusRationale.ToHTMLFormattedString()</p>
                            </div>
                            <div>
                                <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationTrendRationale, "Trend Rationale")</strong>
                                <p>@ViewDataTyped.ThresholdEvaluation.TrendRationale.ToHTMLFormattedString()</p>
                            </div>
                            <div>
                                <strong>Confidence Rationale</strong>
                                <div style="margin-left: 10px;">
                                    <p><strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationConfidenceStatus, "Status"):</strong> @ViewDataTyped.ThresholdEvaluation.ConfidenceStatus.ToHTMLFormattedString()</p>

                                    <p><strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationConfidenceTrend, "Trend"):</strong> @ViewDataTyped.ThresholdEvaluation.ConfidenceTrend.ToHTMLFormattedString()</p>

                                    <p><strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationConfidenceOverall, "Overall"):</strong> @ViewDataTyped.ThresholdEvaluation.ConfidenceOverall.ToHTMLFormattedString()</p>
                                </div>

                            </div>
                        </div>
                    </div>

                }
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Recommendations</h4>
                    </div>
                    <div class="panel-body ">
                        <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationAnalyticApproach, "Analytic Approach")</strong>
                        <p>
                            @(string.IsNullOrWhiteSpace(ViewDataTyped.ThresholdEvaluation.AnalyticApproachRecommendation) ? new HtmlString(ViewUtilities.NoChangesRecommended) : ViewDataTyped.ThresholdEvaluation.AnalyticApproachRecommendation.ToHTMLFormattedString())
                        </p>
                        <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.MonitoringApproach, "Monitoring Approach")</strong>
                        <p>
                            @(string.IsNullOrWhiteSpace(ViewDataTyped.ThresholdEvaluation.MonitoringApproachRecommendation) ? new HtmlString(ViewUtilities.NoChangesRecommended) : ViewDataTyped.ThresholdEvaluation.MonitoringApproachRecommendation.ToHTMLFormattedString())
                        </p>
                        <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationModificationOfTheThresholdStandardOrIndicator, "Modification of the Threshold Standard or Indicator")</strong>
                        <p>
                            @(string.IsNullOrWhiteSpace(ViewDataTyped.ThresholdEvaluation.ModificationOfTheThresholdStandardOrIndicator) ? new HtmlString(ViewUtilities.NoChangesRecommended) : ViewDataTyped.ThresholdEvaluation.ModificationOfTheThresholdStandardOrIndicator.ToHTMLFormattedString())
                        </p>
                        <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.ThresholdEvaluationAttainOrMaintainThreshold, "Attain or Maintain Threshold")</strong>
                        <p>
                            @(string.IsNullOrWhiteSpace(ViewDataTyped.ThresholdEvaluation.AttainOrMaintainThreshold) ? new HtmlString(ViewUtilities.NoChangesRecommended) : ViewDataTyped.ThresholdEvaluation.AttainOrMaintainThreshold.ToHTMLFormattedString())
                        </p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Monitoring</h4>
                    </div>
                    <div class="panel-body">
                        <div class="contentWrapper">
                            @if (ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.Indicator.IndicatorMonitoringPrograms.Any())
                            {
                                foreach (var a in ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.Indicator.IndicatorMonitoringPrograms)
                                {
                                    <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.MonitoringProgram, "Program")</strong>
                                    <p>
                                        @a.MonitoringProgram.DisplayNameAsUrl
                                    </p>
                                    <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.MonitoringApproach, "Approach")</strong>
                                    <p>
                                        @a.MonitoringProgram.MonitoringApproach
                                    </p>

                                    <strong>@Html.LabelWithFieldDefinitionFor(FieldDefinition.MonitoringProgramPartner, "Partners")</strong>
                                    <p>
                                        <ul>
                                            @Html.Raw(string.Join("\r\n", a.MonitoringProgram.MonitoringProgramPartners.Select(y => y.Organization).OrderBy(x => x.DisplayName).Select(x => string.Format("<li>{0}</li>", x.GetDisplayNameAsUrl()))))
                                        </ul>
                                    </p>
                                    if (ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.Indicator.IndicatorMonitoringPrograms.Count > 1)
                                    {
                                        <hr />
                                    }
                                }
                            }
                            else
                            {
                                <span class="systemText">No monitoring programs for this indicator.</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Additional Figures</h4>
                    </div>
                    <div class="panel-body row">
                        @if (ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdIndicatorImages.Any())
                        {
                            foreach (var image in ViewDataTyped.ThresholdEvaluation.ThresholdIndicator.ThresholdIndicatorImages.OrderBy(x => x.Caption))
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div style="margin-left: 5px; margin-right: 5px;">
                                        <a class="gallery" href="@image.PhotoUrl" title="@image.CaptionOnFullView" data-caption="@Html.Raw(image.CaptionOnFullView.HtmlEncode())">
                                            <img src="@image.PhotoUrlScaledForPrint" alt="@image.CaptionOnFullView" />
                                        </a>
                                        <br />
                                        <span class="photocaption">@image.Caption</span>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="systemText">No additional figures for this indicator.</p>
                        }

                    </div>
                </div>
            </div>
            <div class="hidden-print" style="margin-top: 20px">
                <hr />
                <a class="btn btn-blue" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Index</a>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    jQuery(document)
        .ready(function () {
            Toc.init({
                $nav: jQuery('#tableOfContents'),
                $scope: jQuery('#contentForTOC')
            });
            jQuery('body').scrollspy({
                target: '#tableOfContents'
            });
        });
</script>