@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using Microsoft.Web.Mvc
@using ProjectFirma.Web.Views.Tenant
@inherits Detail

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">
        @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left")
        Back to all Tenants
    </a>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @ModalDialogFormHelper.MakeLtInfoEditIconLink(ViewDataTyped.EditUrl, string.Format("Edit Tenant: {0}", ViewDataTyped.Tenant.TenantName), 800, ViewDataTyped.UserHasTenantManagePermissions)
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Tenant Name</div>
                    <div class="col-xs-7">@ViewDataTyped.Tenant.TenantName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Tenant</div>
                    <div class="col-xs-7">@ViewDataTyped.Tenant.TenantDomain</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Primary Contact</div>
                    <div class="col-xs-7">
                        @if (ViewDataTyped.PrimaryContactRoute != null)
                        {
                            @(new HtmlString(ViewDataTyped.PrimaryContactRoute.BuildLinkFromExpression(ViewDataTyped.TenantAttribute.PrimaryContactPerson.FullNameFirstLast)))
                        }
                        else
                        {
                            <em>Primary Contact not set.</em>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                Attributes
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Taxonomy System Name</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.TaxonomySystemName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Taxonomy Tier One Display Name For Project</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.TaxonomyTierOneDisplayNameForProject</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Performance Measure Display Name</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.PerformanceMeasureDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Classification Display Name</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.ClassificationDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Number Of Taxonomy Tiers To Use</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.NumberOfTaxonomyTiersToUse</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Minimum Year</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.MinimumYear</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">
                        @if (@ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource != null)
                        {
                            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), @ViewDataTyped.DeleteTenantStyleSheetFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                        }
                        Tenant Style Sheet
                    </div>
                    <div class="col-xs-7">
                        @if (@ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource != null)
                        {
                            <a href="@ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource.FileResourceUrl" target="_blank">
                                @ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource.OriginalCompleteFileName
                            </a>
                        }
                        else
                        {
                            <em>Tenant Style Sheet is set to the default.</em>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">
                        @if (@ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource != null)
                        {
                            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), @ViewDataTyped.DeleteTenantSquareLogoFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                        }
                        Tenant Square Logo
                    </div>
                    <div class="col-xs-7">
                        @if (@ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource != null)
                        {
                            @Html.Image(@ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource.FileResourceUrl, new {style = "max-width: 100%;"})
                        }
                        else
                        {
                            <em>Tenant Square Logo is set to the default.</em>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">
                        @if (@ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource != null)
                        {
                            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), @ViewDataTyped.DeleteTenantBannerLogoFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                        }
                        Tenant Banner Logo
                    </div>
                    <div class="col-xs-7">
                        @if (@ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource != null)
                        {
                            @Html.Image(@ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource.FileResourceUrl, new {style = "max-width: 100%;"})
                        }
                        else
                        {
                            <em>Tenant Banner Logo is set to the default.</em>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>