@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using Microsoft.Web.Mvc
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Tenant.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Views/Tenant/EditBudgetTypeController.js")"></script>

    <script type="text/javascript">
        //<![CDATA[
        jQuery(function()
        {
            var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
            var firmaMap = new ProjectFirmaMaps.Map(mapInitJson);
        });
        //]]>
    </script>
}

<div class="row">
    <div class="col-md-7 col-lg-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @if (ViewDataTyped.IsCurrentTenant)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), ViewDataTyped.EditBasicsUrl, string.Format("Edit Tenant: {0}", ViewDataTyped.TenantAttribute.TenantShortDisplayName), 800, "Save", "Cancel", new List<string>(), null, null)
                }
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">Tenant Name</div>
                    <div class="col-sm-7">@ViewDataTyped.Tenant.TenantName</div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">@Html.LabelWithSugarFor(@FieldDefinitionEnum.TenantShortDisplayName.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)@FieldDefinitionEnum.TenantShortDisplayName.ToType().GetFieldDefinitionLabel()</div>
                    <div class="col-sm-7">@ViewDataTyped.TenantAttribute.TenantShortDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">@Html.LabelWithSugarFor(@FieldDefinitionEnum.ToolDisplayName.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)@FieldDefinitionEnum.ToolDisplayName.ToType().GetFieldDefinitionLabel()</div>
                    <div class="col-sm-7">@ViewDataTyped.TenantAttribute.ToolDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">Tenant Domains</div>
                    <div class="col-sm-7">
                        <ul class="list-unstyled">
                            <li>@ViewDataTyped.Tenant.CanonicalHostNameLocal</li>
                            <li>@ViewDataTyped.Tenant.CanonicalHostNameQa</li>
                            <li>@ViewDataTyped.Tenant.CanonicalHostNameProd</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">Primary Contact</div>
                    <div class="col-sm-7">
                        @if (ViewDataTyped.PrimaryContactRoute != null)
                        {
                            @(new HtmlString(ViewDataTyped.PrimaryContactRoute.BuildLinkFromExpression(ViewDataTyped.TenantAttribute.PrimaryContactPerson.GetFullNameFirstLast())))
                        }
                        else
                        {
                            <em>Primary Contact not set.</em>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">Number Of Taxonomy Tiers To Use</div>
                    <div class="col-sm-7">@ViewDataTyped.TenantAttribute.TaxonomyLevel.TaxonomyLevelDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">Associate Performance Measures to Taxonomy Tier</div>
                    <div class="col-sm-7">@ViewDataTyped.TenantAttribute.AssociatePerfomanceMeasureTaxonomyLevel.TaxonomyLevelDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">Minimum Year</div>
                    <div class="col-sm-7">@ViewDataTyped.TenantAttribute.MinimumYear</div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">Budget Type</div>
                    <div class="col-sm-7">
                        @ViewDataTyped.TenantAttribute.BudgetType.BudgetTypeDisplayName
                    </div>
                </div>
                @if (ViewDataTyped.UsesCostTypes)
                {
                    <div class="row">
                        <div class="col-sm-5 fieldLabel text-right">Cost Types</div>
                        <div class="col-sm-7">
                            @ViewDataTyped.CostTypes
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.ShowProposalsToThePublic.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) @FieldDefinitionEnum.ShowProposalsToThePublic.ToType().GetFieldDefinitionLabel()</div>
                    <div class="col-sm-7">@ViewDataTyped.TenantAttribute.ShowProposalsToThePublic.ToYesNo()</div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() External Data Source Enabled</div>
                    <div class="col-sm-7">
                        @ViewDataTyped.TenantAttribute.ProjectExternalDataSourceEnabled.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">
                        @Html.LabelWithSugarFor(FieldDefinitionEnum.ShowLeadImplementerLogoOnFactSheet.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) @FieldDefinitionEnum.ShowLeadImplementerLogoOnFactSheet.ToType().GetFieldDefinitionLabel()
                    </div>
                    <div class="col-sm-7">
                        @ViewDataTyped.TenantAttribute.ShowLeadImplementerLogoOnFactSheet.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">
                        Enable Accomplishments Dashboard?
                    </div>
                    <div class="col-sm-7">
                        @ViewDataTyped.TenantAttribute.EnableAccomplishmentsDashboard.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">
                        Enable @FieldDefinitionEnum.SecondaryProjectTaxonomyLeaf.ToType().GetFieldDefinitionLabelPluralized()
                    </div>
                    <div class="col-sm-7">
                        @ViewDataTyped.TenantAttribute.EnableSecondaryProjectTaxonomyLeaf.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">
                        Can Manage Custom Attributes?
                    </div>
                    <div class="col-sm-7">
                        @ViewDataTyped.TenantAttribute.CanManageCustomAttributes.ToYesNo()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">
                        Project Stewardship Area
                    </div>
                    <div class="col-sm-7">
                        @if (ViewDataTyped.TenantAttribute.ProjectStewardshipAreaType != null)
                        {
                            @ViewDataTyped.TenantAttribute.ProjectStewardshipAreaType.GetProjectStewardshipAreaTypeDisplayName()

                        }
                        else
                        {
                            <p class="systemText">None</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 fieldLabel text-right">
                        Exclude Targeted Funding Organizations from List of Funders?
                    </div>
                    <div class="col-sm-7">
                        @ViewDataTyped.TenantAttribute.ExcludeTargetedFundingOrganizations.ToYesNo()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @if (ViewDataTyped.IsCurrentTenant)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink(null, BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), ViewDataTyped.EditBoundingBoxUrl, string.Format("Edit Default Map Extent: {0}", ViewDataTyped.TenantAttribute.TenantShortDisplayName), 800, ModalDialogFormHelper.SaveButtonID, "Save", "Cancel", new List<string>(), null, null, ViewDataTyped.EditBoundingBoxFormID, null)
                }
                Default Map Extent
            </div>
            <div class="panel-body" id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 400px;">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7 col-lg-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @if (ViewDataTyped.IsCurrentTenant)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), ViewDataTyped.EditTenantLogoUrl, string.Format("Edit Tenant: {0}", ViewDataTyped.TenantAttribute.TenantShortDisplayName), 800, "Save", "Cancel", new List<string>(), null, null)
                }
                Logos
            </div>
            <div class="row panel-body">
                <div class="col-sm-4 fieldLabel text-right">
                    @if (ViewDataTyped.IsCurrentTenant && ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource != null)
                    {
                        @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), ViewDataTyped.DeleteTenantSquareLogoFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                    }
                    @Html.LabelWithSugarFor(@FieldDefinitionEnum.TenantSquareLogo.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)@FieldDefinitionEnum.TenantSquareLogo.ToType().GetFieldDefinitionLabel()
                </div>
                <div class="col-sm-7">
                    @if (ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource != null)
                    {
                        <div style="margin-bottom: 15px;">
                            @Html.Image(ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource.GetFileResourceUrl(), new { style = "max-width: 100%;" })
                        </div>
                    }
                    else
                    {
                        <em>Square Logo is set to the default.</em>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 fieldLabel text-right">
                    @if (ViewDataTyped.IsCurrentTenant && ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource != null)
                    {
                        @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), ViewDataTyped.DeleteTenantBannerLogoFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                    }
                    Banner Logo
                </div>
                <div class="col-sm-7">
                    @if (ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource != null)
                    {
                        <div style="margin-bottom: 15px;">
                            @Html.Image(ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource.GetFileResourceUrl(), new { style = "max-width: 100%;" })
                        </div>
                    }
                    else
                    {
                        <em>Tenant Banner Logo is set to the default.</em>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @if (ViewDataTyped.IsCurrentTenant)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), ViewDataTyped.EditStylesheetUrl, string.Format("Edit Tenant: {0}", ViewDataTyped.TenantAttribute.TenantShortDisplayName), 800, "Save", "Cancel", new List<string>(), null, null)
                }
                Tenant Style Sheet
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2 fieldLabel text-right">
                        @if (ViewDataTyped.IsCurrentTenant && ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource != null)
                        {
                            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), ViewDataTyped.DeleteTenantStyleSheetFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                        }
                    </div>
                    <div class="col-sm-7">
                        @if (ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource != null)
                        {
                            <a href="@ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource.GetFileResourceUrl()" target="_blank">
                                @ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource.GetOriginalCompleteFileName()
                            </a>
                        }
                        else
                        {
                            <em>No custom style sheet provided</em>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @if (ViewDataTyped.IsCurrentTenant)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), ViewDataTyped.EditClassificationSystemsUrl, string.Format("Edit {0} Tenant: {1}", FieldDefinitionEnum.ClassificationSystem.ToType().GetFieldDefinitionLabelPluralized(), ViewDataTyped.TenantAttribute.TenantShortDisplayName), 800, "Save", "Cancel", new List<string>(), null, null)
                }
                @Html.LabelWithSugarFor(FieldDefinitionEnum.ClassificationSystem.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)
                @FieldDefinitionEnum.ClassificationSystem.ToType().GetFieldDefinitionLabel()
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.LabelWithSugarFor(FieldDefinitionEnum.ClassificationSystemName.ToType())</th>
                            <th>@Html.Label("Description")</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var classificationSystem in MultiTenantHelpers.GetClassificationSystems())
                        {
                            <tr>
                                <td>@classificationSystem.ClassificationSystemName</td>
                                <td>@Html.Raw(classificationSystem.ClassificationSystemDefinition)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                All Tenants
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>