@*-----------------------------------------------------------------------
<copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using Microsoft.Web.Mvc
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Tenant.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript">
        //<![CDATA[
        jQuery(function()
        {
            var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None)),
                firmaMap = new ProjectFirmaMaps.Map(mapInitJson);
        });
        //]]>
    </script>
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @if (ViewDataTyped.IsCurrentTenant)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), ViewDataTyped.EditBasicsUrl, string.Format("Edit Tenant: {0}", ViewDataTyped.TenantAttribute.TenantDisplayName), 800, "Save", "Cancel", new List<string>(), null, null)
                }
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Tenant Name</div>
                    <div class="col-xs-7">@ViewDataTyped.Tenant.TenantName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Tenant Display Name</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.TenantDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Tool Display Name</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.ToolDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Tenant Domain</div>
                    <div class="col-xs-7">@ViewDataTyped.Tenant.TenantDomain</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@FieldDefinition.PrimaryContact.GetFieldDefinitionLabel()</div>
                    <div class="col-xs-7">
                        @if (ViewDataTyped.PrimaryContactRoute != null)
                        {
                            @(new HtmlString(ViewDataTyped.PrimaryContactRoute.BuildLinkFromExpression(ViewDataTyped.TenantAttribute.PrimaryContactPerson.FullNameFirstLast)))
                        }
                        else
                        {
                            <em>@FieldDefinition.PrimaryContact.GetFieldDefinitionLabel() not set.</em>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Number Of Taxonomy Tiers To Use</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.NumberOfTaxonomyTiersToUse</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Minimum Year</div>
                    <div class="col-xs-7">@ViewDataTyped.TenantAttribute.MinimumYear</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">
                        @if (ViewDataTyped.IsCurrentTenant && ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource != null)
                        {
                            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), ViewDataTyped.DeleteTenantStyleSheetFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                        }
                        Tenant Style Sheet
                    </div>
                    <div class="col-xs-7">
                        @if (ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource != null)
                        {
                            <a href="@ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource.FileResourceUrl" target="_blank">
                                @ViewDataTyped.TenantAttribute.TenantStyleSheetFileResource.OriginalCompleteFileName
                            </a>
                        }
                        else
                        {
                            <em>No custom style sheet provided</em>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">
                        @if (ViewDataTyped.IsCurrentTenant && ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource != null)
                        {
                            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), ViewDataTyped.DeleteTenantSquareLogoFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                        }
                        Fact Sheet Logo
                    </div>
                    <div class="col-xs-7">
                        @if (ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource != null)
                        {
                            <div style="margin-bottom: 15px;">
                                @Html.Image(ViewDataTyped.TenantAttribute.TenantSquareLogoFileResource.FileResourceUrl, new {style = "max-width: 100%;"})
                            </div>
                        }
                        else
                        {
                            <em>Fact Sheet Logo is set to the default.</em>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">
                        @if (ViewDataTyped.IsCurrentTenant && ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource != null)
                        {
                            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), ViewDataTyped.DeleteTenantBannerLogoFileResourceUrl, null, ViewDataTyped.UserHasTenantManagePermissions)
                        }
                        Tenant Banner Logo
                    </div>
                    <div class="col-xs-7">
                        @if (ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource != null)
                        {
                            <div style="margin-bottom: 15px;">
                                @Html.Image(ViewDataTyped.TenantAttribute.TenantBannerLogoFileResource.FileResourceUrl, new {style = "max-width: 100%;"})
                            </div>
                        }
                        else
                        {
                            <em>Tenant Banner Logo is set to the default.</em>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @if (ViewDataTyped.IsCurrentTenant)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink(null, BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), ViewDataTyped.EditBoundingBoxUrl, string.Format("Edit Default Map Extent: {0}", ViewDataTyped.TenantAttribute.TenantDisplayName), 800, ModalDialogFormHelper.SaveButtonId, "Save", ModalDialogFormHelper.CancelButtonId, "Cancel", new List<string>(), null, null, ViewDataTyped.EditBoundingBoxFormID, null)
                }
                Default Map Extent
            </div>
            <div class="panel-body" id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 400px;">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                All Tenants
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
