@*-----------------------------------------------------------------------
<copyright file="EditBasics.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Mvc
@using ProjectFirma.Web.Views.Tenant
@inherits EditBasics

@using (Html.BeginForm())
{
<div class="form-horizontal">
    @Html.HiddenFor(m => m.TenantID)
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.TenantDisplayName)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.TenantDisplayName, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.TenantDisplayName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.ToolDisplayName)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.ToolDisplayName, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.ToolDisplayName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.PrimaryContactPersonID)</div>
        <div class="col-md-8">
            @Html.SearchableDropDownListFor(m => m.PrimaryContactPersonID, ViewDataTyped.TenantPeople)
            @Html.ValidationMessageFor(x => x.PrimaryContactPersonID)
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-7 text-right">@Html.LabelFor(m => m.TaxonomyLevelID)</div>
                <div class="col-md-5">
                    @Html.DropDownListFor(x => x.TaxonomyLevelID, ViewDataTyped.TaxonomyLevels, new {@class = "form-control", style = "width:auto;"})
                    @Html.ValidationMessageFor(m => m.TaxonomyLevelID)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 text-right">@Html.LabelFor(m => m.AssociatePerfomanceMeasureTaxonomyLevelID)</div>
                <div class="col-md-5">
                    @Html.DropDownListFor(x => x.AssociatePerfomanceMeasureTaxonomyLevelID, ViewDataTyped.TaxonomyLevels, new {@class = "form-control", style = "width:auto;"})
                    @Html.ValidationMessageFor(m => m.AssociatePerfomanceMeasureTaxonomyLevelID)
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin: 20px 0;">
            <span class="smallExplanationText">Changing the number of Taxonomy Tiers or which Taxonomy Tier to associate Performance Measures to will result in the deletion of any relationships to Performance Measures</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.MinimumYear)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.MinimumYear, new {type= "number", @class= "form-control", style= "width: auto;"})
            @Html.ValidationMessageFor(m => m.MinimumYear)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelWithSugarFor(m => m.ShowProposalsToThePublic)</div>
        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.ShowProposalsToThePublic, true) Yes
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.ShowProposalsToThePublic, false) No
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.ProjectExternalDataSourceEnabled)</div>
        <div class="col-md-8">
            <div>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.ProjectExternalDataSourceEnabled, true) Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.ProjectExternalDataSourceEnabled, false) No
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.ProjectExternalDataSourceEnabled)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelWithSugarFor(m => m.ShowLeadImplementerLogoOnFactSheet)</div>
        <div class="col-md-8">
            @Html.CheckBoxFor(x => x.ShowLeadImplementerLogoOnFactSheet)
            @Html.ValidationMessageFor(x => x.ShowLeadImplementerLogoOnFactSheet)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelWithSugarFor(m => m.EnableAccomplishmentsDashboard)</div>
        <div class="col-md-8">
            @Html.CheckBoxFor(x => x.EnableAccomplishmentsDashboard)
            @Html.ValidationMessageFor(x => x.ShowLeadImplementerLogoOnFactSheet)
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.MapServiceUrl)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.MapServiceUrl, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.MapServiceUrl)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.GeospatialAreaLayerName)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.GeospatialAreaLayerName, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.GeospatialAreaLayerName)
        </div>
    </div>
</div>
}
