@*-----------------------------------------------------------------------
<copyright file="EditBasics.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.Mvc
@using ProjectFirma.Web.Views.Tenant
@inherits EditBasics

@using (@Html.BeginForm())
{
<div class="form-horizontal">
    @Html.HiddenFor(m => m.TenantID)
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.TenantDisplayName)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.TenantDisplayName, new Dictionary<string, object> { { "class", "form-control" }, { "style", "width:auto;" } })
            @Html.ValidationMessageFor(x => x.TenantDisplayName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.PrimaryContactPersonID)</div>
        <div class="col-md-8">
            <select id="@Html.IdFor(m => m.PrimaryContactPersonID)" name="@Html.NameFor(m => m.PrimaryContactPersonID)"
                    class="selectpicker" title="Select person for primary contact."
                    data-live-search="true" data-live-search-placeholder="Firstname Lastname">
                @foreach (var person in ViewDataTyped.TenantPeople)
                {
                    <option value="@person.PersonID" data-tokens="@person.FullNameFirstLast" selected="@(Model.PrimaryContactPersonID == person.PersonID ? "selected" : null)">
                        @person.FullNameFirstLast
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(x => x.PrimaryContactPersonID)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.NumberOfTaxonomyTiersToUse)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.NumberOfTaxonomyTiersToUse, new Dictionary<string, object> {{"type", "number"}, {"class", "form-control"}, {"style", "width:auto;"}})
            @Html.ValidationMessageFor(m => m.NumberOfTaxonomyTiersToUse)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.MinimumYear)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.MinimumYear, new Dictionary<string, object> {{"type", "number"}, {"class", "form-control"}, {"style", "width:auto;"}})
            @Html.ValidationMessageFor(m => m.MinimumYear)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.TenantStyleSheetFileResourceData)</div>
        <div class="col-md-8">
            @Html.EditorFor(x => x.TenantStyleSheetFileResourceData)
            <span class="smallExplanationText">
                Allowed Extensions: @Model.GetFileExtensions(x => x.TenantStyleSheetFileResourceData)
            </span>
            @Html.ValidationMessageFor(x => x.TenantStyleSheetFileResourceData)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.TenantSquareLogoFileResourceData)</div>
        <div class="col-md-8">
            @Html.EditorFor(x => x.TenantSquareLogoFileResourceData)
            <span class="smallExplanationText">
                Allowed Extensions: @Model.GetFileExtensions(x => x.TenantSquareLogoFileResourceData)
            </span>
            @Html.ValidationMessageFor(x => x.TenantSquareLogoFileResourceData)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right">@Html.LabelFor(m => m.TenantBannerLogoFileResourceData)</div>
        <div class="col-md-8">
            @Html.EditorFor(x => x.TenantBannerLogoFileResourceData)
            <span class="smallExplanationText">
                Allowed Extensions: @Model.GetFileExtensions(x => x.TenantBannerLogoFileResourceData)
            </span>
            @Html.ValidationMessageFor(x => x.TenantBannerLogoFileResourceData)
        </div>
    </div>
</div>
}

<script type="text/javascript" language="javascript">
    // <![CDATA[
    jQuery(".selectpicker").selectpicker("refresh");
    // ]]>
</script>
