@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.ProjectControls
@using ProjectFirma.Web.Views.Shared.ProjectLocationControls
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Views
@inherits ProjectFirma.Web.Views.TaxonomyTierOne.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        #@ViewDataTyped.ProjectLocationsMapInitJson.MapDivID
        {
            height: 420px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditTaxonomyTierOneUrl, string.Format("Edit {0} - {1}", MultiTenantHelpers.GetTaxonomyTierOneDisplayName(), ViewDataTyped.TaxonomyTierOne.DisplayName), ViewDataTyped.UserHasTaxonomyTierOneManagePermissions) Basics</h2>
                </div>
                <div class="panel-body">
                    <table class="summaryLayout">
                        <tr>
                            <td>
                                @{ ProjectTaxonomy.RenderPartialView(Html, ViewDataTyped.ProjectTaxonomyViewData); }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditDescriptionUrl, string.Format("Edit Description - {0}", ViewDataTyped.TaxonomyTierOne.DisplayName), ViewDataTyped.UserHasTaxonomyTierOneManagePermissions) Description</h2>
                </div>
                <div class="panel-body">
                    <div>
                        @ViewDataTyped.TaxonomyTierOne.TaxonomyTierOneDescriptionHtmlString
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panelFirma" style="height: auto">
                <div class="panel-heading panelTitle">
                    <h2>@MultiTenantHelpers.GetTaxonomyTierOneDisplayName() Projects Map</h2>
                </div>
                <div style="padding: 10px">
                    To zoom into a specific area, hold down the Shift key and drag a rectangle.
                    <div style="border-radius: 8px; background-color: white; margin: 5px 0 5px 0">
                        @{ ProjectLocationsMap.RenderPartialView(Html, ViewDataTyped.ProjectLocationsMapViewData); }
                    </div>
                    Some projects operate over larger areas and are not represented on the map, but are listed in the project grid below. A <a href="@ViewDataTyped.ProjectMapFilteredUrl">full-screen, filterable version of this map</a> is also available.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h2>
                        <a href="@ViewDataTyped.FullProjectListUrl">Projects</a>
                    </h2>
                </div>
                <div class="panel-body">
                    @Html.DhtmlxGrid(ViewDataTyped.BasicProjectInfoGridSpec, ViewDataTyped.BasicProjectInfoGridName, ViewDataTyped.BasicProjectInfoGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>

</div>

<div style="margin-top: 20px">
    <a class="btn btn-sm btn-firma" href="@ViewDataTyped.ManageTaxonomyTierOneIndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Index</a>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationsMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationsMapInitJson).ToString(Formatting.None));
        var map = new ProjectFirmaMaps.Map(projectLocationsMapInitJson);
        map.initializeProjectLocations(projectLocationsMapInitJson);
    })
</script>