@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.TaxonomyTierOne.Edit
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithFieldDefinitionFor(m => m.TaxonomyTierOneName)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.TaxonomyTierOneName, new { style = "width:522px" })
                @Html.ValidationMessageFor(m => m.TaxonomyTierOneName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithFieldDefinitionFor(m => m.TaxonomyTierTwoID)
            </div>
            <div class="col-sm-9">
                @if (ViewDataTyped.HasProjects)
                {
                    @ViewDataTyped.TaxonomyTierTwoDisplayName
                    @Html.HiddenFor(x => x.TaxonomyTierTwoID)
                }
                else
                {
                    @Html.DropDownListFor(m => m.TaxonomyTierTwoID, ViewDataTyped.TaxonomyTierTwos)
                    @Html.ValidationMessageFor(m => m.TaxonomyTierTwoID)
                }
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.TaxonomyTierOneID)
}