@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.TaxonomyTierOne.Edit
@using (Html.BeginForm())
{
    <table class="dialogFormLayout">
        <tr>
            <th>@Html.LabelWithFieldDefinitionFor(m => m.TaxonomyTierOneName):</th>
            <td>
                @Html.TextBoxFor(m => m.TaxonomyTierOneName, new {style = "width:522px"})
                @Html.ValidationMessageFor(m => m.TaxonomyTierOneName)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelWithFieldDefinitionFor(m => m.TaxonomyTierTwoID):</th>
            <td>
                @if (ViewDataTyped.HasProjects)
                {
                    @ViewDataTyped.TaxonomyTierTwoDisplayName
                    @Html.HiddenFor(x => x.TaxonomyTierTwoID)
                }
                else
                {
                    @Html.DropDownListFor(m => m.TaxonomyTierTwoID, ViewDataTyped.TaxonomyTierTwos)
                    @Html.ValidationMessageFor(m => m.TaxonomyTierTwoID)
                }
            </td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.TaxonomyTierOneID)
}