@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.TaxonomyTierOne.Edit
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.TaxonomyTierOneName)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.TaxonomyTierOneName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TaxonomyTierOneName)
            </div>
        </div>
        @if (MultiTenantHelpers.GetNumberOfTaxonomyTiers() >= 2)
        {
            <div class="form-group">
                <div class="col-sm-3 control-label">
                    @Html.LabelWithSugarFor(m => m.TaxonomyTierTwoID)
                </div>
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.TaxonomyTierTwoID, ViewDataTyped.TaxonomyTierTwos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TaxonomyTierTwoID)
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-sm-3 control-label">@Html.LabelWithSugarFor(m => m.TaxonomyTierOneDescription)</div>
            <div class="col-sm-8">
                @Html.TextAreaWithMaxLengthFor(m => m.TaxonomyTierOneDescription, new TextAreaForExtensions.TextAreaDimensions(null, 4), null)
                @Html.ValidationMessageFor(m => m.TaxonomyTierOneDescription)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.TaxonomyTierOneID)
}
