@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views

@inherits ProjectFirma.Web.Views.Shared.ProjectDocument.ProjectDocumentsDetail

<div class="pull-right">
    @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Add Document", FirmaDhtmlxGridHtmlHelpers.PlusIcon), ViewDataTyped.AddDocumentUrl, "Upload New Document", new List<string>{"btn", "btn-firma", "btn-sm"}, ViewDataTyped.CanEditDocuments)
</div>

@if (!ViewDataTyped.Documents.Any())
{
    <p class="systemText">No documents associated with this @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel().</p>
}

@foreach (var projectDocument in ViewDataTyped.Documents)
{
    <div class="@projectDocument.GetDisplayCssClass()">
        @if (ViewDataTyped.CanEditDocuments)
        {
        <span style="margin-left: 7px;">
            @ModalDialogFormHelper.ModalDialogFormLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), projectDocument.GetEditUrl(), "Edit Document", null, true)
        </span>
        <span style="margin-left: 8px; margin-right: 8px;">
            @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), projectDocument.GetDeleteUrl(), null, true)
        </span>
        }

        @if (ViewDataTyped.ShowDownload)
        {
        <a href="@projectDocument.FileResource.FileResourceUrl">
            @projectDocument.DisplayName
            @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download")
        </a>
        }
        else
        {
            <span>@projectDocument.DisplayName</span>
        }

        <dl class="dl-horizontal">
            <dt>Uploaded On</dt>
            <dd title="@projectDocument.FileResource.CreateDate.ToLongDateString() @projectDocument.FileResource.CreateDate.ToLongTimeString()">@projectDocument.FileResource.CreateDate.ToShortDateString()</dd>

            <dt>File Type</dt>
            <dd>@projectDocument.FileResource.FileResourceMimeType.FileResourceMimeTypeDisplayName</dd>

            <dt>Description</dt>
            <dd>@projectDocument.Description</dd>
        </dl>
    </div>
}