@*-----------------------------------------------------------------------
<copyright file="EditProjectGeospatialAreas.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared.ProjectGeospatialAreaControls
@inherits EditProjectGeospatialAreas

<script type="text/javascript" src="@Url.Content("~/Views/Shared/ProjectGeospatialAreaControls/EditProjectGeospatialAreasController.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/typeahead/typeahead.min.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData",
        function() {
            return {
                "AngularModel": @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None)),
                "AngularViewData":
                    @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
            };
        });
    angular.bootstrap(jQuery("[ng-controller=\"EditProjectGeospatialAreasController\"]"), ["ProjectFirmaApp"]);
    // ]]>
</script>
<style>
    #@ViewDataTyped.ViewDataForAngular.MapInitJson.MapDivID {
        height: 500px;
        margin: 0;
    }

    .firma-modal .modal-body {
        overflow-y: visible;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <p>
            Select one or more @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeNamePluralized.ToLower() to associate with this @(FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel().ToLower()).
            You can select @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeNamePluralized.ToLower() by clicking on the map or searching by @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeName.ToLower() name.
            If your @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel().ToLower() is not associated with any @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeNamePluralized.ToLower(), please provide an explanation in the @Html.DisplayNameFor(m => m.ProjectGeospatialAreaNotes).ToString().ToLower() field.
        </p>
    </div>
</div>

@Html.ValidationSummary()
<div class="row" ng-app="ProjectFirmaApp" ng-controller="EditProjectGeospatialAreasController">
    <div class="col-xs-12 col-md-4">
        <form action="@ViewDataTyped.EditProjectGeospatialAreasUrl" method="POST" id="@ViewDataTyped.EditProjectGeospatialAreasFormID">
            <div class="input-group">
                <button type="button" class="btn btn-sm btn-firma" ng-click="setGeospatialAreaFromProjectLocation()" ng-disabled="!canSetGeospatialAreaFromProjectLocation()">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    Set from Simple Location
                </button>
                <div class="alert alert-warning" ng-if="selectedGeospatialAreaDoesNotMatchProjectLocation() && canSetGeospatialAreaFromProjectLocation() && !noGeospatialAreasSelected()">
                    <span>The currently selected @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeName does not match the project simple location - this may be OK if the project location is outside the associated boundary, or may require updating either the simple location or the associated area.</span>
                </div>
                <div class="alert alert-warning" ng-if="!canSetGeospatialAreaFromProjectLocation()">
                    <span>The Project Simple Location is not set or is outside the @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeName boundaries, so it is not be set automatically.</span>
                </div>
            <hr/>
            </div>
            <div class="input-group" id="scrollable-dropdown-menu" style="margin-bottom: 10px;">
                @* ReSharper disable once UnknownCssClass *@
                <input type="text"
                       id="@ViewDataTyped.ViewDataForAngular.TypeAheadInputId"
                       class="typeahead form-control"
                       placeholder="Search by @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeName name"
                       autocomplete="off" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" id="@string.Format("{0}Button", ViewDataTyped.ViewDataForAngular.TypeAheadInputId)" ng-click="selectFirstSuggestionFunction()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <div class="alert alert-warning" ng-if="noGeospatialAreasSelected()">
                No @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeNamePluralized selected for this @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel(), provide an explanation in the @Html.DisplayNameFor(m => m.ProjectGeospatialAreaNotes) field or select a @ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeName.
            </div>
            <div ng-if="AngularModel.GeospatialAreaIDs.length >= 1"  style="{{getGeospatialAreaTableStyles()}}">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@ViewDataTyped.GeospatialAreaType.GeospatialAreaTypeName Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="geospatialAreaId in AngularModel.GeospatialAreaIDs">
                            <td>
                                <input type="hidden" name="@Html.NameFor(x => x.GeospatialAreaIDs)" value="{{geospatialAreaId}}" />
                                <a ng-click="toggleGeospatialArea(geospatialAreaId)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                            <td ng-bind="getGeospatialAreaName(geospatialAreaId)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(m => m.ProjectGeospatialAreaNotes)</label>
                    <textarea class="form-control" style="resize: none;" name="@Html.NameFor(m => m.ProjectGeospatialAreaNotes)"
                              ng-model="AngularModel.@Html.NameFor(m => m.ProjectGeospatialAreaNotes)"></textarea>
                    @Html.ValidationMessageFor(m => m.ProjectGeospatialAreaNotes)
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div id="mapContainer">
            <div id="@ViewDataTyped.ViewDataForAngular.MapInitJson.MapDivID"></div>
        </div>
        @if (ViewDataTyped.HasProjectLocationPoint || ViewDataTyped.HasProjectLocationDetail)
        {
            <div>
                <img style="margin-top: 10px; margin-right: 5px;" src="@ViewDataTyped.SimplePointMarkerImg"> Simple and/or Detailed @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() location (for reference)
            </div>
        }        
    </div>

</div>