@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.ProjectCustomAttributeType.Detail
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

@section RightOfPageTitle
{
    @if (new FirmaAdminFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
    {
        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Edit Attribute", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit")), ViewDataTyped.ProjectCustomAttributeType.GetEditUrl(), "Edit Attribute", new List<string> {"btn btn-firma headerButtonText customAttributeTypeButton"}, true)
    }
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.ManageUrl">
        @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left")
        Back to all @FieldDefinitionEnum.ProjectCustomAttribute.ToType().GetFieldDefinitionLabelPluralized()
    </a>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Name")</label>
                    <div class="col-sm-9">@ViewDataTyped.ProjectCustomAttributeType.ProjectCustomAttributeTypeName</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.ProjectCustomAttributeDataType.ToType())</label>
                    <div class="col-sm-9">@ViewDataTyped.ProjectCustomAttributeType.ProjectCustomAttributeDataType.ProjectCustomAttributeDataTypeDisplayName</div>
                </div>
                @if (ViewDataTyped.ProjectCustomAttributeType.MeasurementUnitTypeID != null)
                {
                    <div class="row">
                        <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.MeasurementUnit.ToType())</label>
                        <div class="col-sm-9">@ViewDataTyped.ProjectCustomAttributeType.GetMeasurementUnitDisplayName()</div>
                    </div>
                }
                @if (ViewDataTyped.ProjectCustomAttributeType.ProjectCustomAttributeTypeOptionsSchema != null)
                {
                    <div class="row">
                        <label class="col-sm-3 control-label text-right">@Html.Label("Options")</label>
                        <div class="col-sm-9">@string.Join(", ", ViewDataTyped.ProjectCustomAttributeType.GetOptionsSchemaAsListOfString())</div>
                    </div>
                }
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Required?")</label>
                    <div class="col-sm-9">@ViewDataTyped.ProjectCustomAttributeType.IsRequired.ToYesNo()</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Description")</label>
                    <div class="col-sm-9">@ViewDataTyped.ProjectCustomAttributeType.ProjectCustomAttributeTypeDescription</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.ProjectCustomAttributeTypeEditableBy.ToType())</label>
                    <div class="col-sm-9">@ViewDataTyped.ProjectCustomAttributeType.GetEditableRoles()</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.ProjectCustomAttributeTypeViewableBy.ToType())</label>
                    <div class="col-sm-9">@ViewDataTyped.ProjectCustomAttributeType.GetViewableRoles()</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Viewable on fact sheet?")</label>
                    <div class="col-sm-9">@ViewDataTyped.ProjectCustomAttributeType.IsViewableOnFactSheet.ToYesNo()</div>
                </div>
            </div>
        </div>
    </div>
</div>
