@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@inherits ProjectFirma.Web.Views.ThresholdCategory.Summary

@{
    SetLayout("~/Areas/Threshold/Views/Shared/NavAndHeaderLayout.cshtml", ViewDataTyped);
}

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        .thresholdCategoryHeader
        {
            background-color: @ViewDataTyped.ThresholdCategory.ThemeColor;
            margin-top: 10px;
            border-radius: 10px;
        }
        .thresholdCategoryHeader h1, .thresholdCategoryHeader h3, .thresholdCategoryHeader p
        {
            color: white;

        }

        .thresholdCategoryHeader h1
        {
            font-size: 42px;
            margin-top: 0;
            margin-bottom: 5px;
        }

        .thresholdCategoryHeader .glyphicon-edit
        {
            color: white;
            font-size: 15px;
        }

        .borderCell
        {
            border-right: 2px solid black;
            text-align: center;
        }

        .firmaChartControls
        {
            margin-top: 6px;
            margin-right: 6px;
        }
    </style>
}

<div class="thresholdCategoryHeader">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <div style="padding: 20px;">
                <h3 style="margin-top: 0; margin-bottom: 0">@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditThresholdCategoryUrl, string.Format("Edit Threshold Category - {0}", ViewDataTyped.ThresholdCategory.DisplayName), ViewDataTyped.UserHasThresholdCategoryManagePermissions) Threshold Category</h3>
                <h1>@ViewDataTyped.ThresholdCategory.DisplayName</h1>
                <p style="font-style: italic; border-top: 2px solid white; margin-top: 5px; margin-bottom: 5px; padding-top: 10px">@ViewDataTyped.ThresholdCategory.GoalStatement</p>
            </div>

        </div>
        <div class="col-lg-4 col-sm-6">
            <div style="margin-right: 10px">
                <img src="@ViewDataTyped.ThresholdCategory.KeyImageUrlLarge" style="max-height: 250px; padding: 20px 10px; margin: auto; display: block" />
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 20px">
    <a class="btn btn-blue" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Index</a>
</div>