@*-----------------------------------------------------------------------
    <copyright file="ProjectResults.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Common
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.Results.AccomplishmentsDashboard
@section JavascriptAndStylesContent
{
    <style>
    .pageTitle {
        display: none;
    }

    div.star-primary:after {
        content: url("@MultiTenantHelpers.GetTenantSquareLogScaledAsIconoUrl()");
    }
    </style>
    <script src="/Scripts/waypoints.min.js"></script>
    <script src="/Scripts/jquery.counterup.min.js"></script>
}

@section RightOfPageTitle
{
    @if (ViewDataTyped.HasSitkaAdminPermissions)
    {
        @ModalDialogFormHelper.ModalDialogFormLink("<span class=\"glyphicon glyphicon-edit\"></span> Configure", ViewDataTyped.ConfigureAccomplishmentsDashboardUrl, "Configure Accomplishments Dashboard", new List<string>(), true)
    }
}

    <div id="accomplishmentsDashboard">
        <div class="homepageHeader">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                    <div class="intro-text">
                        <h1 class="subSectionName">Accomplishments Dashboard</h1>
                        <div class="star-primary"></div>
                    </div>
                </div>
            </div>
        </div>

        @if (!ViewDataTyped.Organizations.Any() || !ViewDataTyped.TaxonomyTiers.Any() || !ViewDataTyped.CalendarYears.Any())
        {
            <div class="alert alert-info">Please define your Funding Sources, Organizations, and Taxonomy.  The Accomplishments Dashboard will be functional when those are all defined.</div>
        }
        else
        {
            <div class="row counterHeader">
                <div class="col-xs-12 text-center">
                    <h4>Showing Results for</h4>
                </div>
            </div>
            <div class="row counterSection">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-right">
                    <select id="organizationDropdown" onchange="reloadWithNewOrganization(false)" class="selectpicker" data-live-search="true" data-width="100%">
                        <option value="-1">All @ViewDataTyped.AccomplishmentsDashboardOrganizationTypeName</option>
                        @foreach (var organization in ViewDataTyped.Organizations)
                        {
                            <option value="@organization.OrganizationID">@organization.OrganizationName</option>
                        }
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <a id="orgLink" href="#" target="_blank" style="font-size: 11px">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window") View @FieldDefinitionEnum.Organization.ToType().GetFieldDefinitionLabel() Details</a>
                </div>
            </div>
            <br style="margin: 20px 0;" />

            <div class="row counterHeader">
                <div class="col-xs-12 text-center">
                    <h4>Currently Tracking</h4>
                </div>
            </div>
            <div class="row counterSection">
                <div class="col-sm-12 text-center">
                    <div id="counterLoader">
                        <p class="systemText" style="font-size: 14px; font-weight: normal">Calculating...</p>
                    </div>
                    <div id="counterNumbers">
                        <span id="projectCount" class="counter"></span> @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()
                        <span class="bullet" style="margin: 0 10px;">&bull;</span><br class="break" />
                        <span>$</span><span id="totalInvestment" class="counter"></span> Total Investment
                        <span class="bullet" style="margin: 0 10px;">&bull;</span><br class="break" />
                        <span id="partnerCount" class="counter"></span> Partners
                    </div>
                </div>
            </div>

            <div class="row resultsQuestions">
                <div class="col-xs-12 col-sm-4 text-center">
                    <button type="button" class="btn btn-lg btn-block btn-firma questionButton" onclick="jQuery('#accomplishmentsTab').tab('show')">
                        @ViewDataTyped.TenantAttribute.AccomplishmentsDashboardAccomplishmentsButtonTextHtmlString
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <button type="button" class="btn btn-lg btn-block btn-firma questionButton" onclick="jQuery('#expendituresTab').tab('show')">
                        @ViewDataTyped.TenantAttribute.AccomplishmentsDashboardExpendituresButtonTextHtmlString
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <button type="button" class="btn btn-lg btn-block btn-firma questionButton" onclick="jQuery('#organizationsTab').tab('show')">
                        @ViewDataTyped.TenantAttribute.AccomplishmentsDashboardOrganizationsButtonTextHtmlString
                    </button>
                </div>
                <div style="display: none;">
                    @*We need to put content into the tab buttons that can't exist in an anchor tag (i.e. edit firma page content), but bootstrap doesn't
                    support tabs triggered by buttons, so we're using the buttons above as a proxy for toggling the tab content*@
                    <a href="#accomplishmentsPanel" aria-controls="results" role="tab" data-toggle="tab" id="accomplishmentsTab"></a>
                    <a href="#expendituresPanel" aria-controls="fundingAndProjects" role="tab" data-toggle="tab" id="expendituresTab"></a>
                    <a href="#organizationsPanel" aria-controls="organizations" role="tab" data-toggle="tab" id="organizationsTab"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="nothingPanel">
                            @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="accomplishmentsPanel">
                            <div class="row counterHeader">
                                <div class="col-xs-12 text-center">
                                    <h4>Showing Results By</h4>
                                </div>
                            </div>
                            <div class="row counterSection">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                    <select id="taxonomyTierDropdown" onchange="loadOrganizationAccomplishments()" class="selectpicker" data-live-search="true" data-width="100%">
                                        @foreach (var taxonomyTier in ViewDataTyped.TaxonomyTiers)
                                        {
                                            <option value="@taxonomyTier.GetTaxonomyTierID()" data-detailUrl="@taxonomyTier.GetDetailUrl()">@taxonomyTier.GetDisplayName()</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                    <a id="taxonomyTierLink" href="#" target="_blank" style="font-size: 11px">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-new-window") View @ViewDataTyped.TaxonomyTierDisplayName Details</a>
                                </div>
                            </div>
                            <div id="organizationAccomplishments" class="contentWrapper">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="expendituresPanel">
                            <div class="row counterHeader">
                                <div class="col-xs-12 text-center">
                                    <h4>Show Results From</h4>
                                </div>
                            </div>
                            <div class="row counterSection">
                                <div class="col-xs-12 text-center">
                                    <select id="beginYearDropdown" onchange="loadSpendingByOrganizationTypeAndOrganization()" class="selectpicker" data-width="100px">
                                        @foreach (var calendarYear in ViewDataTyped.CalendarYears)
                                        {
                                            <option value="@calendarYear" @((ViewDataTyped.DefaultBeginYear == calendarYear).ToSelectedOrEmpty())>@calendarYear</option>
                                        }
                                    </select>
                                    <span style="font-size: 14px">To</span>
                                    <select id="endYearDropdown" onchange="loadSpendingByOrganizationTypeAndOrganization()" class="selectpicker" data-width="100px">
                                        @foreach (var calendarYear in ViewDataTyped.CalendarYears)
                                        {
                                            <option value="@calendarYear" @((ViewDataTyped.DefaultEndYear == calendarYear).ToSelectedOrEmpty())>@calendarYear</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div id="spendingByOrganizationTypeAndOrganization" class="contentWrapper">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="organizationsPanel">
                            <div class="row counterHeader">
                                <div class="col-xs-12 text-center">
                                    <h4>Showing Top Partners</h4>
                                </div>
                            </div>
                            <div id="participatingOrganizations" class="contentWrapper">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
        // <![CDATA[
        function loadOrganizationDashboardSummary(countUp)
        {
            var organizationID = jQuery("#organizationDropdown").val();
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.OrganizationDashboardSummaryUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(organizationID);

            SitkaAjax.get(newUrl, function (result) {
                jQuery("#projectCount").html(result.ProjectCount);
                jQuery("#partnerCount").html(result.PartnerCount);
                jQuery("#totalInvestment").html(result.TotalInvestment);

                jQuery("#counterLoader").hide();
                jQuery("#counterNumbers").show();
                if (countUp) {
                    jQuery('.counter').counterUp({
                        delay: 10,
                        time: 1000
                    });
                }

            });
        };

        function loadParticipatingOrganizations()
        {
            var organizationID = jQuery("#organizationDropdown").val();
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.ParticipatingOrganizationsUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(organizationID);
            SitkaAjax.load(jQuery("#participatingOrganizations"), newUrl);
        }

        function loadOrganizationAccomplishments()
        {
            var organizationID = jQuery("#organizationDropdown").val();
            var taxonomyTierDropdown = jQuery("#taxonomyTierDropdown");
            var taxonomyTierID = taxonomyTierDropdown.val();
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.OrganizationAccomplishmentsUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(organizationID, taxonomyTierID);

            var newDetailPageUrl = taxonomyTierDropdown.find(":selected").data("detailurl");
            jQuery("#taxonomyTierLink").attr("href", newDetailPageUrl);

            SitkaAjax.load(jQuery("#organizationAccomplishments"), newUrl);
        }

        function loadSpendingByOrganizationTypeAndOrganization()
        {
            var organizationID = jQuery("#organizationDropdown").val();
            var beginYear = jQuery("#beginYearDropdown").val();
            var endYear = jQuery("#endYearDropdown").val();
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.SpendingByOrganizationTypeAndOrganizationUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(organizationID, beginYear, endYear);
            SitkaAjax.load(jQuery("#spendingByOrganizationTypeAndOrganization"), newUrl);
        }

        function reloadWithNewOrganization(countUp) {

            jQuery("#counterLoader").show();
            jQuery("#counterNumbers").hide();

            var organizationID = jQuery("#organizationDropdown").val();

            if (organizationID == -1) {
                jQuery("#orgLink").hide();
            } else {
                var orgDetailPageUrlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.OrganizationDetailUrl.ToJS()));
                var newOrgDetailPageUrl = orgDetailPageUrlTemplate.ParameterReplace(organizationID);
                jQuery("#orgLink").attr("href", newOrgDetailPageUrl);
                jQuery("#orgLink").show();
            }

            loadOrganizationAccomplishments();
            loadSpendingByOrganizationTypeAndOrganization();
            loadOrganizationDashboardSummary(countUp);
            loadParticipatingOrganizations();
        }

        jQuery(document).ready(function () {
            reloadWithNewOrganization(true);

            jQuery("#accomplishmentsTab").on("shown.bs.tab", function () {
                _.forOwn(window.GoogleCharts.chartWrappers,
                    function (chartWrapper) {
                        if (jQuery('#' + chartWrapper.getContainerId()).is(':visible')) {
                            chartWrapper.getChart().clearChart();
                            chartWrapper.draw();
                        }
                    });
            });
            jQuery("#expendituresTab").on("shown.bs.tab", function() {
                _.forOwn(window.GoogleCharts.chartWrappers,
                    function (chartWrapper) {
                        if (jQuery('#' + chartWrapper.getContainerId()).is(':visible')) {
                            chartWrapper.getChart().clearChart();
                            chartWrapper.draw();
                        }
                    });
            });
            jQuery("#organizationsTab").on("shown.bs.tab", function() {
                _.forOwn(window.GoogleCharts.chartWrappers,
                    function (chartWrapper) {
                        if (jQuery('#' + chartWrapper.getContainerId()).is(':visible')) {
                            chartWrapper.getChart().clearChart();
                            chartWrapper.draw();
                        }
                    });
            });

            jQuery('.questionButton').on("click", function () {
                jQuery('.questionButton').removeClass("active");
                jQuery(this).addClass("active");

            });
        });
        // ]]>
        </script>
    }
</div>
