@using ProjectFirma.Web.Views.Results
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits CalendarYearExpendituresLineChart

<div class="lineChartSection" style="width: 100%; height: 420px">
    @if (ViewDataTyped.GoogleChartJson == null || !ViewDataTyped.GoogleChartJson.HasData())
    {
        <p class="alert">No expenditure data available</p>
    }
    else
    {
        <div class="firmaChartControls" style="margin-right: 10px; z-index: 2;">
            <a class="expandBox" style="font-size: small" href="@ViewDataTyped.GoogleChartJson.ChartPopupUrl">
                <span class="glyphicon glyphicon-fullscreen" style="margin-right: 5px"></span>Enlarge
            </a>
        </div>
        <div id="@ViewDataTyped.GoogleChartJson.ChartName"
             class="ReportedValueChart"
             style="height: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Height)px; width: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Width)px;"></div>
    }

    
</div>

<script>
    jQuery(document).ready(function()
    {
        @if (ViewDataTyped.GoogleChartJson != null && ViewDataTyped.GoogleChartJson.HasData())
        {
            <text>   
                var googleChartJson = @Html.Raw(JObject.FromObject(ViewDataTyped.GoogleChartJson).ToString(Formatting.None));
                GoogleCharts.drawCharts([googleChartJson]);
            </text>
        }
    });
</script>