@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Results.InvestmentByFundingSector
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

    <script type="text/javascript">
        // <![CDATA[
        angular.module("InvestmentByFundingSectorApp", [])
            .filter("nfcurrency", [
                "$filter", "$locale", function($filter, $locale)
                {
                    var currency = $filter("currency"), formats = $locale.NUMBER_FORMATS;
                    return function(amount, symbol)
                    {
                        var value = currency(amount, symbol);
                        if (Sitka.Methods.isUndefinedNullOrEmpty(value))
                        {
                            return value;
                        }
                        return value.replace(new RegExp("\\" + formats.DECIMAL_SEP + "\\d{2}"), "");
                    };
                }
            ])
            .controller("InvestmentByFundingSectorController", function($scope)
            {
                $scope.FundingSectorExpenditures = @Html.Raw(JArray.FromObject(ViewDataTyped.FundingSectorExpenditures));

                $scope.loadSectorExpenditureDetails = function(sectorCalendarYear)
                {
                    // only reload details if there is a change in the selection
                    if ($scope.SelectedSector != sectorCalendarYear.SectorDisplayName)
                    {
                        $scope.SelectedSector = sectorCalendarYear.SectorDisplayName;
                        $scope.loadProjectFundingSourceExpenditureDetails(sectorCalendarYear);
                        $scope.loadSpendingBySectorAndOrganization(sectorCalendarYear);
                    }
                };

                $scope.loadProjectFundingSourceExpenditureDetails = function(sectorCalendarYear)
                {
                    var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.ProjectFundingSourceExpendituresBySectorUrl.ToJS()));
                    var newUrl = urlTemplate.ParameterReplace(sectorCalendarYear.SectorID, sectorCalendarYear.CalendarYear);
                    SitkaAjax.load(jQuery("#projectFundingSectorExpenditureGrid"), newUrl);                };

                $scope.loadSpendingBySectorAndOrganization = function(sectorCalendarYear)
                {
                    var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.SpendingBySectorAndOrganizationUrl.ToJS()));
                    var newUrl = urlTemplate.ParameterReplace(sectorCalendarYear.SectorID, sectorCalendarYear.CalendarYear);
                    SitkaAjax.load(jQuery("#spendingBySectorAndOrganization"), newUrl);
                };

                $scope.getTotalForColumn = function(columnName) { return _.reduce($scope.FundingSectorExpenditures, function(m, x) { return m + x[columnName]; }, 0); };

                $scope.loadSectorExpenditureDetails($scope.FundingSectorExpenditures[0]);
            });

        function reloadWithNewCalendarYear(ddl, selectedValue)
        {
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.InvestmentByFundingSectorUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(jQuery("#@Html.IdFor(x => x.CalendarYear)").val());
            document.location = newUrl;
        }
        // ]]>
    </script>
}

<div style="margin-top: 10px">
    @Html.LabelFor(x => x.CalendarYear):
    @Html.DropDownListFor(x => x.CalendarYear, ViewDataTyped.CalendarYears, new { onchange = "reloadWithNewCalendarYear()" })
</div>

<div>
    @ViewDataTyped.FirmaPage.FirmaPageContentHtmlString
</div>

<div ng-app="InvestmentByFundingSectorApp" ng-controller="InvestmentByFundingSectorController">
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Investment by Funding Sector</h2>
        </div>
        <div class="panel-body">
            <table>
                <tr style="vertical-align: top">
                    <td>
                        <p>Select a Sector to view the projects it funded.</p>
                        <table class="gridLayout">
                            <tr>
                                <th style="text-align: left" colspan="2">Funding Sector</th>
                                <th># of Funding Sources</th>
                                <th># of Funding Organizations</th>
                                <th style="text-align: right; white-space: nowrap">$ in @ViewDataTyped.ReportingYearRangeTitle</th>
                            </tr>
                            <tr ng-repeat="sectorCalendarYear in FundingSectorExpenditures" ng-click="loadSectorExpenditureDetails(sectorCalendarYear)" ng-class="{selectedRow: SelectedSector == sectorCalendarYear.SectorDisplayName}" style="cursor: pointer">
                                <td style="width: 20px;">
                                    <div style="margin-top: 3px; width: 16px; height: 10px;" ng-style="{ 'background-color': sectorCalendarYear.LegendColor }"></div>
                                </td>
                                <td style="text-align: left; white-space: nowrap" ng-bind="sectorCalendarYear.SectorDisplayName"></td>
                                <td ng-bind="sectorCalendarYear.FundingSourceCount"></td>
                                <td ng-bind="sectorCalendarYear.FundingOrganizationCount"></td>
                                <td style="text-align: right" ng-bind="sectorCalendarYear.CalendarYearExpenditureAmount | nfcurrency"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left" colspan="2">Total</th>
                                <th ng-bind="getTotalForColumn('FundingSourceCount')"></th>
                                <th ng-bind="getTotalForColumn('FundingOrganizationCount')"></th>
                                <th ng-bind="getTotalForColumn('CalendarYearExpenditureAmount') | nfcurrency"></th>
                            </tr>
                        </table>

                    </td>
                    <td>
                        <div style="height: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Height + 30)px; width: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Width)px overflow:hidden; margin-top: 10px">
                            <div style="font-weight: bold; max-width: 280px;">Investment by Funding Sector for: @ViewDataTyped.ReportingYearRangeTitle</div>
                            <div class="firmaChartControls">
                                <a class="expandBox" style="font-size: small" href="@ViewDataTyped.GoogleChartJson.ChartPopupUrl">
                                    <span class="glyphicon glyphicon-fullscreen" style="margin-right: 5px"></span>Enlarge
                                </a>
                            </div>
                            <div id="InvestmentByFundingSector@(ViewDataTyped.SelectedCalendarYear)PieChart"
                                 class="ReportedValueChart"
                                 style="height: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Height)px; width: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Width)px"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Organization/Funding Source spending by selected Sector: <span ng-bind="SelectedSector"></span></h2>
        </div>
        <div class="panel-body">
            <div id="spendingBySectorAndOrganization">
            </div>
        </div>
    </div>


    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Projects Funded by selected Sector: <span ng-bind="SelectedSector"></span></h2>
        </div>
        <div class="panel-body">
            <p>These projects are funded in full or in part by a Funding Source that falls under the selected Funding Sector. If a project is funded by more than one Funding Source within the selected Sector, it will be listed multiple times.</p>
            <div id="projectFundingSectorExpenditureGrid" style="width: 100%">
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function()
    {
        var chartJson = @Html.Raw(JObject.FromObject(ViewDataTyped.GoogleChartJson).ToString());
        GoogleCharts.drawCharts([chartJson]);
    });
</script>t>
