@*-----------------------------------------------------------------------
<copyright file="InvestmentByOrganizationType.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Results.InvestmentByOrganizationType
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

    <script type="text/javascript">
        // <![CDATA[
        angular.module("InvestmentByOrganizationTypeApp", [])
            .filter("nfcurrency", [
                "$filter", "$locale", function($filter, $locale)
                {
                    var currency = $filter("currency"), formats = $locale.NUMBER_FORMATS;
                    return function(amount, symbol)
                    {
                        var value = currency(amount, symbol);
                        if (Sitka.Methods.isUndefinedNullOrEmpty(value))
                        {
                            return value;
                        }
                        return value.replace(new RegExp("\\" + formats.DECIMAL_SEP + "\\d{2}"), "");
                    };
                }
            ])
            .controller("InvestmentByOrganizationTypeController", function($scope)
            {
                $scope.OrganizationTypeExpenditures = @Html.Raw(JArray.FromObject(ViewDataTyped.OrganizationTypeExpenditures));

                $scope.loadOrganizationTypeExpenditureDetails = function(organizationTypeCalendarYear)
                {
                    // only reload details if there is a change in the selection
                    if ($scope.SelectedOrganizationType != organizationTypeCalendarYear.OrganizationTypeDisplayName)
                    {
                        $scope.SelectedOrganizationType = organizationTypeCalendarYear.OrganizationTypeDisplayName;
                        $scope.loadProjectFundingSourceExpenditureDetails(organizationTypeCalendarYear);
                        $scope.loadSpendingByOrganizationTypeAndOrganization(organizationTypeCalendarYear);
                    }
                };

                $scope.loadProjectFundingSourceExpenditureDetails = function(organizationTypeCalendarYear)
                {
                    var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.ProjectFundingSourceExpendituresByOrganizationTypeUrl.ToJS()));
                    var newUrl = urlTemplate.ParameterReplace(organizationTypeCalendarYear.OrganizationTypeID, organizationTypeCalendarYear.CalendarYear);
                    SitkaAjax.load(jQuery("#projectOrganizationTypeExpenditureGrid"), newUrl);                };

                $scope.loadSpendingByOrganizationTypeAndOrganization = function(organizationTypeCalendarYear)
                {
                    var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.SpendingByOrganizationTypeAndOrganizationUrl.ToJS()));
                    var newUrl = urlTemplate.ParameterReplace(organizationTypeCalendarYear.OrganizationTypeID, organizationTypeCalendarYear.CalendarYear);
                    SitkaAjax.load(jQuery("#spendingByOrganizationTypeAndOrganization"), newUrl);
                };

                $scope.getTotalForColumn = function(columnName) { return _.reduce($scope.OrganizationTypeExpenditures, function(m, x) { return m + x[columnName]; }, 0); };

                $scope.loadOrganizationTypeExpenditureDetails($scope.OrganizationTypeExpenditures[0]);
            });

        function reloadWithNewCalendarYear(ddl, selectedValue)
        {
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.InvestmentByFundingOrganizationTypeUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(jQuery("#@Html.IdFor(x => x.CalendarYear)").val());
            document.location = newUrl;
        }
        // ]]>
    </script>
}

<div style="margin-top: 10px">
    @Html.LabelWithSugarFor(x => x.CalendarYear):
    @Html.DropDownListFor(x => x.CalendarYear, ViewDataTyped.CalendarYears, new { onchange = "reloadWithNewCalendarYear()" })
</div>

<div>
    @ViewDataTyped.FirmaPage.FirmaPageContentHtmlString
</div>

<div ng-app="InvestmentByOrganizationTypeApp" ng-controller="InvestmentByOrganizationTypeController">
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Investment by Funding OrganizationType</h2>
        </div>
        <div class="panel-body">
            <table>
                <tr style="vertical-align: top">
                    <td>
                        <p>Select a OrganizationType to view the projects it funded.</p>
                        <table class="gridLayout">
                            <tr>
                                <th style="text-align: left" colspan="2">Funding OrganizationType</th>
                                <th># of Funding Sources</th>
                                <th># of Funding Organizations</th>
                                <th style="text-align: right; white-space: nowrap">$ in @ViewDataTyped.ReportingYearRangeTitle</th>
                            </tr>
                            <tr ng-repeat="organizationTypeCalendarYear in OrganizationTypeExpenditures" ng-click="loadOrganizationTypeExpenditureDetails(organizationTypeCalendarYear)" ng-class="{selectedRow: SelectedOrganizationType == organizationTypeCalendarYear.OrganizationTypeDisplayName}" style="cursor: pointer">
                                <td style="width: 20px;">
                                    <div style="margin-top: 3px; width: 16px; height: 10px;" ng-style="{ 'background-color': organizationTypeCalendarYear.LegendColor }"></div>
                                </td>
                                <td style="text-align: left; white-space: nowrap" ng-bind="organizationTypeCalendarYear.OrganizationTypeDisplayName"></td>
                                <td ng-bind="organizationTypeCalendarYear.FundingSourceCount"></td>
                                <td ng-bind="organizationTypeCalendarYear.FundingOrganizationCount"></td>
                                <td style="text-align: right" ng-bind="organizationTypeCalendarYear.CalendarYearExpenditureAmount | nfcurrency"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left" colspan="2">Total</th>
                                <th ng-bind="getTotalForColumn('FundingSourceCount')"></th>
                                <th ng-bind="getTotalForColumn('FundingOrganizationCount')"></th>
                                <th ng-bind="getTotalForColumn('CalendarYearExpenditureAmount') | nfcurrency"></th>
                            </tr>
                        </table>

                    </td>
                    <td>
                        <div style="height: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Height + 30)px; width: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Width)px overflow:hidden; margin-top: 10px">
                            <div style="font-weight: bold; max-width: 280px;">Investment by Funding OrganizationType for: @ViewDataTyped.ReportingYearRangeTitle</div>
                            <div class="firmaChartControls">
                                <a class="expandBox" style="font-size: small" href="@ViewDataTyped.GoogleChartJson.ChartPopupUrl">
                                    <span class="glyphicon glyphicon-fullscreen" style="margin-right: 5px"></span>Enlarge
                                </a>
                            </div>
                            <div id="InvestmentByOrganizationType@(ViewDataTyped.SelectedCalendarYear)PieChart"
                                 class="ReportedValueChart"
                                 style="height: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Height)px; width: @(ViewDataTyped.GoogleChartJson.GoogleChartConfiguration.Width)px"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Organization/Funding Source spending by selected OrganizationType: <span ng-bind="SelectedOrganizationType"></span></h2>
        </div>
        <div class="panel-body">
            <div id="spendingByOrganizationTypeAndOrganization">
            </div>
        </div>
    </div>


    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Projects Funded by selected OrganizationType: <span ng-bind="SelectedOrganizationType"></span></h2>
        </div>
        <div class="panel-body">
            <p>These projects are funded in full or in part by a Funding Source that falls under the selected Funding OrganizationType. If a project is funded by more than one Funding Source within the selected OrganizationType, it will be listed multiple times.</p>
            <div id="projectOrganizationTypeExpenditureGrid" style="width: 100%">
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function()
    {
        var chartJson = @Html.Raw(JObject.FromObject(ViewDataTyped.GoogleChartJson).ToString());
        GoogleCharts.drawCharts([chartJson]);
    });
</script>t>
