@*-----------------------------------------------------------------------
    <copyright file="ProgressDashboard.cshtml" company="Tahoe Regional Planning Agency & Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency & Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Results.ProgressDashboard


<style>
    .progressDashboardNavBar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .stickyHeaderNavBar {

        text-transform: uppercase;
        text-align: center;
        @*display: flex;*@
        padding-left: 0;
        padding-right: 0;
    }

    .stickyHeaderNavBar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .progressDashboardNavBar .nav li a {
        color: white;
    }

    .progressDashboardNavBar .nav li {
        background-color: #446a7c;
        color: white;
        display: flex;
        flex-grow: 1;
        align-self: center;
        justify-content: center;
        border: 1px #1C2329 solid;
    }

        .progressDashboardNavBar .nav li.active {
            color: #446a7c;
            background-color: #edf6fb;
            text-decoration: none;
        }
            .progressDashboardNavBar .nav li.active a {
                color: #446a7c;
            }

        .progressDashboardNavBar .nav li:hover, .progressDashboardNavBar .nav li a:hover {
            color: #446a7c;
            background-color: #edf6fb;
            text-decoration: none;
        }

    .pageTitle {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 35px;
        scroll-margin-top: 125px;
    }

    .progressOverviewIcon img {
        margin: auto;
        max-width: 85px;
    }

    .progressOverviewNumber, .acresConstructedCardNumber, .arcesConstructedDetailNumber {
        font-weight: bold;
        font-size: 45px;
    }

    .progressOverviewNumber {
        line-height: 36px;
        margin-bottom: 15px;
    }

    .progressOverviewLabel {
        text-transform: uppercase;
        font-size: 20px
    }

    .progressOverviewLabel div {
        max-width: 200px;
        margin: auto;
    }

    .progress {
        margin-bottom: 0;
        height: 50px;
        border-radius: 0;
    }
    .progressBarMinMaxNumbers {
        font-size: 24px;
        font-weight: bold;
    }

    .progress-bar-in-construction {
        background-color: #FEC51F;
    }

    .progress-bar-completed {
        background-color: #0E3F77;
    }

    .progressBarLegendPanel.inConstruction {
        border-color: #FEC51F;
        border-radius: 0;
    }
    .progressBarLegendPanel.completed {
        border-color: #0E3F77;
        border-radius: 0;
    }

    .progressBarLegendPanel .panel-heading {
        padding: 6px 0;
        border-radius: 0;
    }

    .progressBarLegendPanel .inConstruction {
        background-color: #FEC51F;
        border-color: #FEC51F;
    }

    .progressBarLegendPanel .completed {
        background-color: #0E3F77;
        border-color: #0E3F77;
    }

    .progressBarLegendPanel .panel-body {
        padding: 10px 5px;
    }

    .acresConstructedCardWrapper {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 25px;
        font-size: 24px;
    }

    .acresConstructedCard {
        color: white;
        @*background-color: #446a7c;*@
        @*background-color: #0F4075;
        background-color: #0E3F77;*@
        @*background-color: #00849C;*@
        background-color: #666FAF;
        height: 150px;
        border-radius: 4px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

        a.acresConstructedCard {
            color: white;
        }

        .acresConstructedCard div {
            display: flex;
            align-items: center;
            margin: auto;
            flex-basis: 33%;
        }

    .acresConstructedCardLabel {
        flex-basis: 40% !important;
    }

    .acresConstructedCardNumber {
        line-height: 45px;
        align-items: flex-start !important;
    }

    .acresConstructedPieChartWrapper, .acresConstructedColumnChartWrapper {
        border: #D9D9D9 4px solid;
        padding: 5px;
        border-radius: 5px;
    }


    .acresConstructedColumnChartWrapper {
        padding-top: 20px;
    }

    .acresConstructedLegend {
        margin-right: 5px;
        margin-left: 5px;
    }

    .acresConstructedLegend div {
        padding: 0;
    }

    .acresConstructedLegend .acresCompletedLegend, .acresConstructedLegend .acresInConstructionLegend, .acresConstructedLegend .acresPlannedLegend {
        height: 15px;
        width: 20px;
        display: inline-block;
        margin-right: 5px;
    }

    .acresConstructedLegend .col-xs-3 {
        text-align: right;
    }

    .acresConstructedLegend br {
        display: none;
    }

    .acresCompletedLegend {
        background-color: #00849C;
    }

    .acresInConstructionLegend {
        background-color: #30ACBB;
    }

    .acresPlannedLegend {
        background-color: #A3D6D7;
    }

    .chartTitle {
        font-size: 20px;
        width: 75%;
        min-height: 46.4px; @* 2 line heights *@
    }

    .leftHandChart {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .rightHandChart {
        margin-left: auto;
        margin-right: auto;
        page-break-inside: avoid;
        padding-left: 0;
        padding-right: 0;
    }

    .topRowChart {
        padding-bottom: 15px;
    }

    .bottomRowChart {
        padding-top: 0;
        padding-bottom: 15px;
    }

    .chartWithOverlay {
        position: relative;

    }
    .overlay {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 200px;
        left: 0;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
    }

    .arcesConstructedDetailNumber {
        line-height: 50px
    }

    .legendTableWithScroll {
        overflow-y: auto;
        max-height: 366px;
    }

    .firmaChartControls {
        display: none;
    }


</style>

<style type="text/css" media="only screen and (min-width: 452px)">
    .acresConstructedCardRow, .acresConstructedChartRow, .detailedNumberRow {
        width: 85%;
        margin: auto;
    }

    .acresConstructedChartRow {
        margin-bottom: 15px;
    }

    .detailedNumberRow {
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>

<style type="text/css" media="only screen and (min-width: 533px) and (max-width: 580px)">
    .nav > li > a.vegetationNavLink, .navbar-nav > li > a.vegetationNavLink {
        padding: 10px 10px 10px 10px;
    }
</style>

<style type="text/css" media="only screen and  (min-width: 581px)">
    .nav > li > a.vegetationNavLink, .navbar-nav > li > a.vegetationNavLink {
        padding: 20px 10px 20px 10px;
    }
</style>


<style type="text/css" media="only screen and (min-width: 768px)">
    .progressOverviewLabel div {
        max-width: 150px;
        margin: auto;
    }

    .acresConstructedLegend br {
        display: block;
    }

    .acresConstructedCard {
        height: 180px;
    }

    .acresConstructedCard div {
        display: flex;
        align-items: center;
        margin: auto;
        flex-basis: 25%;
    }

    .legendSpacer {
        min-height: 98px;
    }

    .nav > li > a.endangeredNavLink, .navbar-nav > li > a.endangeredNavLink, .nav > li > a.vegetationNavLink, .navbar-nav > li > a.vegetationNavLink {
        padding: 5px 0 5px 0;
    }
</style>

<style type="text/css" media="only screen and (min-width: 992px)">
    .leftHandChart {
        padding-right: 15px;
    }

    .rightHandChart {
        padding-left: 15px;
    }

    .topRowChart {
        padding-bottom: 15px;
    }

    .bottomRowChart {
        padding-top: 15px;
    }

    .stickyHeaderNavBar ul {
        display: flex;
        flex-wrap: nowrap;
    }

    .pageTitle {
        scroll-margin-top: 100px;
    }

    .nav > li > a.endangeredNavLink, .navbar-nav > li > a.endangeredNavLink {
        padding: 5px 0 5px 0;
    }

    .nav > li > a.vegetationNavLink, .navbar-nav > li > a.vegetationNavLink {
        padding: 15px 10px 15px 10px;
    }
</style>

<style type="text/css" media="only screen and (min-width: 768px) and (max-width: 992px)">
    .acresConstructedCardLabel {
        flex-basis: 50% !important;
    }

    .acresConstructedCardNumber {
        flex-basis: 25% !important;
    }
</style>


<style type="text/css" media="only screen and  (max-width: 532px)">
    .progressDashboardNavBar > nav > ul > li {
        width: 100%;
    }
</style>

<div class="progressDashboardNavBar container-fluid">
    <nav class="stickyHeaderNavBar container">
        <ul class="nav navbar-nav ">
            <li class="col-md-2 col-sm-4 col-xs-3"><a href="#progressOverview">Progress Overview</a></li>
            <li class="col-md-2 col-sm-4 col-xs-3"><a href="#acresConstructed">Acres Constructed</a></li>
            <li class="col-md-2 col-sm-4 col-xs-3"><a href="#dustSuppression">Dust Suppression</a></li>
            <li class="col-md-2 col-sm-4 col-xs-3"><a href="#aquaticHabitat" class="aquaticNavLink">Aquatic Habitat</a></li>
            <li class="col-md-2 col-sm-4 col-xs-6"><a href="#vegetationEnhancement" class="vegetationNavLink">Vegetation Enhancement</a></li>
            <li class="col-md-2 col-sm-4 col-xs-6"><a href="#endangeredSpecies" class="endangeredNavLink">Endangered & Special Status Species</a></li>
        </ul>
    </nav>
</div>

<div class="container" >
<h2 class="pageTitle" id="progressOverview">Progress Overview</h2>
<div class="row">
    <div class="col-xs-12" style="margin-bottom: 20px;">
        @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
    </div>

</div>
<div class="row" style="text-align: center; margin: auto">
    <div class="col-xs-6 col-sm-4">
        <div class="progressOverviewIcon">
            <img class="img-responsive" style="padding: 8px" src="~/Content/img/SSMPProjectTracker/project-dashboard-projects-icon.png" />
        </div>
        <div class="progressOverviewNumber">@ViewDataTyped.ProjectCount</div>
        <div class="progressOverviewLabel">
            <div>Projects</div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="progressOverviewIcon">
            <img class="img-responsive" style="padding: 9px" src="~/Content/img/SSMPProjectTracker/progress-dashboard-funds-icon.png" />
        </div>
        <div class="progressOverviewNumber">@ViewDataTyped.FundsCommittedToProgram M</div>
        <div class="progressOverviewLabel">
            <div>Funds Committed to Program</div>
        </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0">
        <div class="progressOverviewIcon">
            <img class="img-responsive" style="padding: 11px" src="~/Content/img/SSMPProjectTracker/progress-dashboard-partnerships-icon.png" />
        </div>
        <div class="progressOverviewNumber">@ViewDataTyped.PartnershipCount</div>
        <div class="progressOverviewLabel">
            <div>Partnerships</div>
        </div>
    </div>
</div>
<div style="margin-top: 75px">
    <div class="row" style="margin-top: 40px;">
        <div class="col-xs-12 col-sm-3" style="text-align: center">
            <div class="progressOverviewNumber">@ViewDataTyped.TotalAcresConstructed.ToGroupedNumeric()</div>
            <div style="text-transform: uppercase; font-size: 20px">
                <div>Total Acres Constructed</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-completed" role="progressbar" style="width: @(ViewDataTyped.AcresConstructedCompletedPercent)%" aria-valuenow="@ViewDataTyped.TotalAcresConstructedCompleted"
                     aria-valuemin="0" aria-valuemax="@ViewDataTyped.AcresConstructedTarget"></div>
                <div class="progress-bar progress-bar-in-construction" role="progressbar" style="width: @(ViewDataTyped.AcresConstructedInConstructionPercent)%" aria-valuenow="@ViewDataTyped.TotalAcresConstructedInConstruction"
                     aria-valuemin="0" aria-valuemax="@ViewDataTyped.AcresConstructedTarget"></div>
            </div>
            <div class="progressBarMinMaxNumbers">
                <span>0</span>
                <span class="pull-right">@ViewDataTyped.AcresConstructedTarget.ToGroupedNumeric()</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-3 col-sm-9">
            <div class="row" style="margin-top: 15px; text-align: center">
                <div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-offset-2 col-md-4">
                    <div class="panel progressBarLegendPanel completed">
                        <div class="panel-heading panelTitle completed"></div>
                        <div class="panel-body">
                            <div>
                                <div class="progressBarMinMaxNumbers">@ViewDataTyped.TotalAcresConstructedCompleted.ToGroupedNumeric()</div>
                                <div style="text-transform: uppercase">
                                    <div>Construction Complete</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-5 col-md-4">
                    <div class="panel progressBarLegendPanel inConstruction">
                        <div class="panel-heading panelTitle inConstruction"></div>
                        <div class="panel-body">
                            <div>
                                <div class="progressBarMinMaxNumbers">@ViewDataTyped.TotalAcresConstructedInConstruction.ToGroupedNumeric()</div>
                                <div style="text-transform: uppercase">
                                    <div>In Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="margin-top: 40px; margin-bottom: 25px">
            @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.AcresConstructedByTheNumbersViewPageContentViewData); }
        </div>
    </div>
</div>

<div>
    <div class="row acresConstructedCardRow">
        <div class="col-xs-12 col-sm-6 acresConstructedCardWrapper">
            <a class="acresConstructedCard" href="#dustSuppression">
                <div class="acresConstructedCardLabel">Area Treated for Dust Suppression</div>
                <div class="acresConstructedCardNumber">@ViewDataTyped.AreaTreatedForDustSuppression.ToGroupedNumeric()</div>
                <div>Acres</div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 acresConstructedCardWrapper">
            <a class="acresConstructedCard" href="#vegetationEnhancement">
                <div class="acresConstructedCardLabel">Area Treated for Vegetation Enhancement</div>
                <div class="acresConstructedCardNumber">@ViewDataTyped.AreaTreatedForVegetationEnhancement.ToGroupedNumeric()</div>
                <div>Acres</div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 acresConstructedCardWrapper">
            <a class="acresConstructedCard" href="#aquaticHabitat">
                <div class="acresConstructedCardLabel">Aquatic Habitat Created</div>
                <div class="acresConstructedCardNumber">@ViewDataTyped.AquaticHabitatCreated.ToGroupedNumeric()</div>
                <div>Acres</div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 acresConstructedCardWrapper">
            <a class="acresConstructedCard" href="#endangeredSpecies">
                <div class="acresConstructedCardLabel">Endangered & Special Status Species Habitat Created</div>
                <div class="acresConstructedCardNumber">@ViewDataTyped.EndangeredSpeciesHabitatCreated.ToGroupedNumeric()</div>
                <div>Acres</div>
            </a>
        </div>
    </div>
</div>

<div style="margin-top: 75px">
    <h2 class="pageTitle" id="acresConstructed" style="margin-bottom: 25px">Acres Constructed</h2>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.AcresConstructedPieChartViewPageContentViewData); }
        </div>
    </div>
    <div class="row acresConstructedChartRow">
        <div class="col-xs-12">
            <div class="col-md-6 leftHandChart topRowChart">
                <div class="chartPanel acresConstructedPieChartWrapper">
                    @if (ViewDataTyped.DustSuppressionHasData)
                    {
                        <div class="chartWithOverlay">
                            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.DustSuppressionPieChart); }
                            <div class="overlay">
                                @if (ViewDataTyped.DustSuppressionValues.All(x => x > 0)
                                     || (ViewDataTyped.DustSuppressionValues[0] > 0 && ViewDataTyped.DustSuppressionValues[1] > 0)
                                     || (ViewDataTyped.DustSuppressionValues[0] > 0 && ViewDataTyped.DustSuppressionValues[2] > 0)
                                     || (ViewDataTyped.DustSuppressionValues[1] > 0 && ViewDataTyped.DustSuppressionValues[2] > 0))
                                {
                                    <div>Total</div>
                                    <div>@(ViewDataTyped.DustSuppressionValues.Sum().ToGroupedNumeric())</div>
                                }
                            </div>
                        </div>

                        <div class="row acresConstructedLegend">
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresCompletedLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres Completed</span><br /> @ViewDataTyped.DustSuppressionValues[0].ToGroupedNumeric() acres</div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresInConstructionLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres In Construction</span><br /> @ViewDataTyped.DustSuppressionValues[1].ToGroupedNumeric() acres</div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresPlannedLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres Planned</span><br /> @ViewDataTyped.DustSuppressionValues[2].ToGroupedNumeric() acres</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <p class="systemText">No Area Treated for Dust Suppression</p>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6 rightHandChart topRowChart">
                <div class="chartPanel acresConstructedPieChartWrapper">
                    @if (ViewDataTyped.VegetationEnhancementHasData)
                    {
                        <div class="chartWithOverlay">
                            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.VegetationEnhancementPieChart); }
                            <div class="overlay">
                                @if (ViewDataTyped.VegetationEnhancementValues.All(x => x > 0)
                                     || (ViewDataTyped.VegetationEnhancementValues[0] > 0 && ViewDataTyped.VegetationEnhancementValues[1] > 0)
                                     || (ViewDataTyped.VegetationEnhancementValues[0] > 0 && ViewDataTyped.VegetationEnhancementValues[2] > 0)
                                     || (ViewDataTyped.VegetationEnhancementValues[1] > 0 && ViewDataTyped.VegetationEnhancementValues[2] > 0))
                                {
                                    <div>Total</div>
                                    <div>@(ViewDataTyped.VegetationEnhancementValues.Sum().ToGroupedNumeric())</div>
                                }
                            </div>

                        </div>
                        <div class="row acresConstructedLegend">
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresCompletedLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres Completed</span><br /> @ViewDataTyped.VegetationEnhancementValues[0].ToGroupedNumeric() acres</div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresInConstructionLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres In Construction</span><br /> @ViewDataTyped.VegetationEnhancementValues[1].ToGroupedNumeric() acres</div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresPlannedLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres Planned</span><br /> @ViewDataTyped.VegetationEnhancementValues[2].ToGroupedNumeric() acres</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <p class="systemText">No Area Treated for Vegetation Enhancement</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-md-6 leftHandChart bottomRowChart">
                <div class="chartPanel acresConstructedPieChartWrapper">
                    @if (ViewDataTyped.AquaticHabitatCreatedHasData)
                    {
                        <div class="chartWithOverlay">
                            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.AquaticHabitatCreatedPieChart); }
                            <div class="overlay">
                                @if (ViewDataTyped.AquaticHabitatCreatedValues.All(x => x > 0)
                                     || (ViewDataTyped.AquaticHabitatCreatedValues[0] > 0 && ViewDataTyped.AquaticHabitatCreatedValues[1] > 0)
                                     || (ViewDataTyped.AquaticHabitatCreatedValues[0] > 0 && ViewDataTyped.AquaticHabitatCreatedValues[2] > 0)
                                     || (ViewDataTyped.AquaticHabitatCreatedValues[1] > 0 && ViewDataTyped.AquaticHabitatCreatedValues[2] > 0))
                                {
                                    <div>Total</div>
                                    <div>@(ViewDataTyped.AquaticHabitatCreatedValues.Sum().ToGroupedNumeric())</div>
                                }
                            </div>
                        </div>
                        <div class="row acresConstructedLegend">
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresCompletedLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres Completed</span><br /> @ViewDataTyped.AquaticHabitatCreatedValues[0].ToGroupedNumeric() acres</div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresInConstructionLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres In Construction</span><br /> @ViewDataTyped.AquaticHabitatCreatedValues[1].ToGroupedNumeric() acres</div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresPlannedLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres Planned</span><br /> @ViewDataTyped.AquaticHabitatCreatedValues[2].ToGroupedNumeric() acres</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <p class="systemText">No Aquatic Habitat Created</p>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6 rightHandChart bottomRowChart">
                <div class="chartPanel acresConstructedPieChartWrapper">
                    @if (ViewDataTyped.EndangeredSpeciesHabitatCreatedHasData)
                    {
                        <div class="chartWithOverlay">
                            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.EndangeredSpeciesHabitatCreatedPieChart); }
                            <div class="overlay">
                                @if (ViewDataTyped.EndangeredSpeciesHabitatCreatedValues.All(x => x > 0)
                                     || (ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[0] > 0 && ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[1] > 0)
                                     || (ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[0] > 0 && ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[2] > 0)
                                     || (ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[1] > 0 && ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[2] > 0))
                                {
                                    <div>Total</div>
                                    <div>@(ViewDataTyped.EndangeredSpeciesHabitatCreatedValues.Sum().ToGroupedNumeric())</div>
                                }
                            </div>
                        </div>
                        <div class="row acresConstructedLegend">
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresCompletedLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres Completed</span><br /> @ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[0].ToGroupedNumeric() acres</div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresInConstructionLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres In Construction</span><br /> @ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[1].ToGroupedNumeric() acres</div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="col-xs-3"><span class="acresPlannedLegend"></span></div>
                                <div class="col-xs-9"><span style="font-weight: bold;">Acres Planned</span><br /> @ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[2].ToGroupedNumeric() acres</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <p class="systemText">No Endangered & Special Status Species Habitat Created</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 75px;">
    <h2 class="pageTitle" id="dustSuppression">Area Treated for Dust Suppression</h2>
    <div class="row detailedNumberRow" style="text-align: center">
        <div class="col-sm-4 col-xs-6">
            <div>Completed</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.DustSuppressionValues[0].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div>In Construction</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.DustSuppressionValues[1].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div>Planned</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.DustSuppressionValues[2].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
    </div>
    <div class="row acresConstructedColumnChartWrapper">
        <div class="col-sm-6">
            <div id="@(ViewDataTyped.DustSuppressionColumnChart.ChartUniqueName)" >
                <div >
                    @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.DustSuppressionColumnChart); }

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="overflow-y: hidden; vertical-align: top; min-height: 30px;">
                <div class="chartTitle">
                    <b>Total Completed Acres by Project</b>
                </div>
            </div>
            <div class="legendSpacer"></div>
            <div class="legendTableWithScroll">
                <table class="table table-condensed table-borderless">
                    <tbody>
                    @foreach (var projectColorAndValue in ViewDataTyped.DustSuppressionProjectToColorAndValue)
                    {
                        <tr>
                            <td>
                                <div style="background-color: @(projectColorAndValue.Value.Item1); height: 15px; width: 20px; margin-top: 3px;"></div>
                            </td>
                            <td>@projectColorAndValue.Key.GetDisplayNameAsUrl()</td>
                            <td>@projectColorAndValue.Value.Item2.ToGroupedNumeric() acres</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div style="margin-top: 75px;">
    <h2 class="pageTitle" id="aquaticHabitat">Aquatic Habitat Created</h2>
    <div class="row detailedNumberRow" style="text-align: center">
        <div class="col-sm-4 col-xs-6">
            <div>Completed</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.AquaticHabitatCreatedValues[0].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div>In Construction</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.AquaticHabitatCreatedValues[1].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div>Planned</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.AquaticHabitatCreatedValues[2].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
    </div>
    <div class="row acresConstructedColumnChartWrapper">
        <div class="col-sm-6">
            <div id="@(ViewDataTyped.AquaticHabitatCreatedColumnChart.ChartUniqueName)">
                <div>
                    @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.AquaticHabitatCreatedColumnChart); }

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="overflow-y: hidden; vertical-align: top; min-height: 30px;">
                <div class="chartTitle">
                    <b>Total Completed Acres by Project</b>
                </div>
            </div>
            <div class="legendSpacer"></div>
            <div class="legendTableWithScroll">
                <table class="table table-condensed table-borderless">
                    <tbody>
                    @foreach (var projectColorAndValue in ViewDataTyped.AquaticHabitatCreatedProjectToColorAndValue)
                    {
                        <tr>
                            <td>
                                <div style="background-color: @(projectColorAndValue.Value.Item1); height: 15px; width: 20px; margin-top: 3px;"></div>
                            </td>
                            <td>@projectColorAndValue.Key.GetDisplayNameAsUrl()</td>
                            <td>@projectColorAndValue.Value.Item2.ToGroupedNumeric() acres</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 75px;">
    <h2 class="pageTitle" id="vegetationEnhancement">Area Treated for Vegetation Enhancement</h2>
    <div class="row detailedNumberRow" style="text-align: center">
        <div class="col-sm-4 col-xs-6">
            <div>Completed</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.VegetationEnhancementValues[0].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div>In Construction</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.VegetationEnhancementValues[1].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div>Planned</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.VegetationEnhancementValues[2].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
    </div>
    <div class="row acresConstructedColumnChartWrapper">
        <div class="col-sm-6">
            <div id="@(ViewDataTyped.VegetationEnhancementColumnChart.ChartUniqueName)">
                <div>
                    @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.VegetationEnhancementColumnChart); }

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="overflow-y: hidden; vertical-align: top; min-height: 30px;">
                <div class="chartTitle">
                    <b>Total Completed Acres by Project</b>
                </div>
            </div>
            <div class="legendSpacer"></div>
            <div class="legendTableWithScroll">
                <table class="table table-condensed table-borderless">
                    <tbody>
                    @foreach (var projectColorAndValue in ViewDataTyped.VegetationEnhancementProjectToColorAndValue)
                    {
                        <tr>
                            <td>
                                <div style="background-color: @(projectColorAndValue.Value.Item1); height: 15px; width: 20px; margin-top: 3px;"></div>
                            </td>
                            <td>@projectColorAndValue.Key.GetDisplayNameAsUrl()</td>
                            <td>@projectColorAndValue.Value.Item2.ToGroupedNumeric() acres</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 75px;">
    <h2 class="pageTitle" id="endangeredSpecies">Endangered & Special Status Species Habitat Created</h2>
    <div class="row detailedNumberRow" style="text-align: center">
        <div class="col-sm-4 col-xs-6">
            <div>Completed</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[0].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div>In Construction</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[1].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div>Planned</div>
            <div class="arcesConstructedDetailNumber">@ViewDataTyped.EndangeredSpeciesHabitatCreatedValues[2].ToGroupedNumeric()</div>
            <div>Acres</div>
        </div>
    </div>
    <div class="row acresConstructedColumnChartWrapper">
        <div class="col-sm-6">
            <div id="@(ViewDataTyped.EndangeredSpeciesHabitatCreatedColumnChart.ChartUniqueName)">
                <div>
                    @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.EndangeredSpeciesHabitatCreatedColumnChart); }

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="overflow-y: hidden; vertical-align: top; min-height: 30px;">
                <div class="chartTitle">
                    <b>Total Completed Acres by Project</b>
                </div>
            </div>
            <div class="legendSpacer"></div>
            <div class="legendTableWithScroll">
                <table class="table table-condensed table-borderless">
                    <tbody>
                        @foreach (var projectColorAndValue in ViewDataTyped.EndangeredSpeciesHabitatCreatedProjectToColorAndValue)
                        {
                            <tr>
                                <td>
                                    <div style="background-color: @(projectColorAndValue.Value.Item1); height: 15px; width: 20px; margin-top: 3px;"></div>
                                </td>
                                <td>@projectColorAndValue.Key.GetDisplayNameAsUrl()</td>
                                <td>@projectColorAndValue.Value.Item2.ToGroupedNumeric() acres</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    jQuery(document)
        .ready(function () {

            jQuery('body').scrollspy({
                target: '.stickyHeaderNavBar',
                offset: 150
            });


        });
</script>
