@*-----------------------------------------------------------------------
    <copyright file="ProjectResults.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.Results.ProjectResults
@section JavascriptAndStylesContent
{
    <style>
        #organizationDropdown {
            font-size: 20px;
            font-weight: bold;
        }

         .counter {
             font-weight: bold;
             font-size: 24px;
         }

        .counterHeader h4 {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: #3670c5;
            margin-top: 20px;
        }

        .counterSection {
            font-weight: bold;
            font-size: 24px;
        }

        .resultsQuestions {
            margin-top: 40px;
        }

        .resultsQuestions .btn {
            font-size: 24px;
            margin-bottom: 20px;
            white-space: normal;
        }

        .resultsQuestions .active {
            color: white;
            background-color: #7E9A2C;
        }

        .tab-content {
            padding: 15px;
        }

        .contentWrapper {
            margin-top: 20px;
        }

        .list-group-item {
            height: 120px;

        } 
        
        .img-responsive {
            display: inline-block;
        }

        .col-xs-5, .col-xs-7 {
            float: none;
            display: inline-block;
            vertical-align: middle;
            margin-right: -4px;
        }
    </style>
    <script src="/Scripts/waypoints.min.js"></script>
    <script src="/Scripts/jquery.counterup.min.js"></script>
    <script type="text/javascript">
        // <![CDATA[
        function loadOrganizationDashboardSummary()
        {
            var organizationID = jQuery("#organizationDropdown").val();
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.OrganizationDashboardSummaryUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(organizationID);

            SitkaAjax.get(newUrl, function (result) {
                jQuery("#projectCount").html(result.ProjectCount);
                jQuery("#partnerCount").html(result.PartnerCount);
                jQuery("#totalInvestment").html(result.TotalInvestment);
                jQuery('.counter').counterUp({
                    delay: 10,
                    time: 1500
                });
            });
        };

        function loadParticipatingOrganizations()
        {
            var organizationID = jQuery("#organizationDropdown").val();
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.ParticipatingOrganizationsUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(organizationID);
            SitkaAjax.load(jQuery("#participatingOrganizations"), newUrl);
        };

        function loadOrganizationAccomplishments()
        {
            var organizationID = jQuery("#organizationDropdown").val();
            var taxonomyTierTwoID = jQuery("#taxonomyTierTwoDropdown").val();
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.OrganizationAccomplishmentsUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(organizationID, taxonomyTierTwoID);
            SitkaAjax.load(jQuery("#organizationAccomplishments"), newUrl);
        };

        function loadSpendingByOrganizationTypeAndOrganization()
        {
            var organizationID = jQuery("#organizationDropdown").val();
            var beginYear = jQuery("#beginYearDropdown").val();
            var endYear = jQuery("#endYearDropdown").val();
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.SpendingByOrganizationTypeAndOrganizationUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(organizationID, beginYear, endYear);
            SitkaAjax.load(jQuery("#spendingByOrganizationTypeAndOrganization"), newUrl);
        };

        function reloadWithNewOrganization() {
            loadOrganizationAccomplishments();
            loadSpendingByOrganizationTypeAndOrganization();
            loadOrganizationDashboardSummary();
            loadParticipatingOrganizations();
        }

        jQuery(document).ready(function () {
            reloadWithNewOrganization();

            jQuery("#accomplishmentsTab").on("shown.bs.tab", function () {
                _.forOwn(window.GoogleCharts.chartWrappers,
                    function (chartWrapper) {
                        if (jQuery('#' + chartWrapper.getContainerId()).is(':visible')) {
                            chartWrapper.getChart().clearChart();
                            chartWrapper.draw();
                        }
                    });
            });
            jQuery("#expendituresTab").on("shown.bs.tab", function() {
                _.forOwn(window.GoogleCharts.chartWrappers,
                    function (chartWrapper) {
                        if (jQuery('#' + chartWrapper.getContainerId()).is(':visible')) {
                            chartWrapper.getChart().clearChart();
                            chartWrapper.draw();
                        }
                    });
            });
            jQuery("#organizationsTab").on("shown.bs.tab", function() {
                _.forOwn(window.GoogleCharts.chartWrappers,
                    function (chartWrapper) {
                        if (jQuery('#' + chartWrapper.getContainerId()).is(':visible')) {
                            chartWrapper.getChart().clearChart();
                            chartWrapper.draw();
                        }
                    });
            });

            jQuery('.questionButton').on("click", function () {
                jQuery('.questionButton').removeClass("active");
                jQuery(this).addClass("active");

            });
        });
        // ]]>
    </script>
}

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<div class="row counterHeader">
    <div class="col-xs-12 text-center">
        <h4>Showing Results for</h4>
    </div>
</div>
<div class="row counterSection">
    <div class="col-xs-12 text-center">
        <select id="organizationDropdown" onchange="reloadWithNewOrganization()" class="selectpicker" data-live-search="true" data-width="auto">
            <option value="-1">All @ViewDataTyped.ProjectStewardOrganizationTypeName</option>
            @foreach (var organization in ViewDataTyped.Organizations)
            {
                <option value="@organization.OrganizationID">@organization.OrganizationName</option>
            }
        </select>
    </div>
</div>
<br style="margin: 20px 0;" />

<div class="row counterHeader">
    <div class="col-xs-12 text-center">
        <h4>Currently Tracking</h4>
    </div>
</div>
<div class="row counterSection">
    <div class="col-xs-12 text-center">
        <span id="projectCount" class="counter"></span> Projects
        <span style="margin: 0 10px;">&bull;</span>
        <span>$</span><span id="totalInvestment" class="counter"></span> Total Investment
        <span style="margin: 0 10px;">&bull;</span>
        <span id="partnerCount" class="counter"></span> Partners
    </div>
</div>

<div class="row resultsQuestions">
    <div class="col-xs-12 col-sm-4 text-center">
        <a href="#accomplishmentsPanel" aria-controls="results" role="tab" data-toggle="tab" id="accomplishmentsTab" class="btn btn-lg btn-block btn-firma questionButton">What type of work do<br />RCDs do?</a>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
        <a href="#expendituresPanel" aria-controls="fundingAndProjects" role="tab" data-toggle="tab" id="expendituresTab" class="btn btn-lg btn-block btn-firma questionButton">Where does RCD funding<br />come from?</a>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
        <a href="#organizationsPanel" aria-controls="organizations" role="tab" data-toggle="tab" id="organizationsTab" class="btn btn-lg btn-block btn-firma questionButton">Who do RCDs<br />work with?</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="nothingPanel">
                <div class="text-center">
                    <p class="systemText" style="margin: 10px">Select a question to see current results from the @MultiTenantHelpers.GetTenantDisplayName()</p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="accomplishmentsPanel">
                <div class="row counterHeader">
                    <div class="col-xs-12 text-center">
                        <h4>Showing Results By</h4>
                    </div>
                </div>
                <div class="row counterSection">
                    <div class="col-xs-12 text-center">
                        <select id="taxonomyTierTwoDropdown" onchange="loadOrganizationAccomplishments()" class="selectpicker" data-live-search="true" data-width="auto">
                            @foreach (var taxonomyTierTwo in ViewDataTyped.TaxonomyTierTwos)
                            {
                                <option value="@taxonomyTierTwo.TaxonomyTierTwoID">@taxonomyTierTwo.TaxonomyTierTwoName</option>
                            }
                        </select>
                    </div>
                </div>
                <div id="organizationAccomplishments" class="contentWrapper">
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="expendituresPanel">
                <div class="row counterHeader">
                    <div class="col-xs-12 text-center">
                        <h4>Show Results From</h4>
                    </div>
                </div>
                <div class="row counterSection">
                    <div class="col-xs-12 text-center">
                        <select id="beginYearDropdown" onchange="loadSpendingByOrganizationTypeAndOrganization()" class="selectpicker" data-width="auto">
                            @foreach (var calendarYear in ViewDataTyped.CalendarYears)
                            {
                                <option value="@calendarYear" @((ViewDataTyped.DefaultBeginYear == calendarYear).ToSelectedOrEmpty())>@calendarYear</option>
                            }
                        </select>
                        <span style="font-size: 14px">To</span>
                        <select id="endYearDropdown" onchange="loadSpendingByOrganizationTypeAndOrganization()" class="selectpicker" data-width="auto">
                            @foreach (var calendarYear in ViewDataTyped.CalendarYears)
                            {
                                <option value="@calendarYear" @((ViewDataTyped.DefaultEndYear == calendarYear).ToSelectedOrEmpty())>@calendarYear</option>
                            }
                        </select>
                    </div>
                </div>
                <div id="spendingByOrganizationTypeAndOrganization" class="contentWrapper">
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="organizationsPanel">
                <div class="row counterHeader">
                    <div class="col-xs-12 text-center">
                        <h4>Showing Top 10 Partners</h4>
                    </div>
                </div>
                <div id="participatingOrganizations" class="contentWrapper">
                </div>
            </div>
        </div>
    </div>
</div>


