@*-----------------------------------------------------------------------
    <copyright file="ProjectDashboardCharts.cshtml" company="Tahoe Regional Planning Agency & Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency & Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Results.ProjectDashboardCharts

<style>
    .google-visualization-tooltip {
        z-index: 10000;
    }

    .googleTooltipDiv {
        padding: 5px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    .googleTooltipDiv p {
        margin-bottom: 8px;
        margin-left: 5px;
    }

    table.googleTooltipTable {
        margin-bottom: 5px;
    }

    table.googleTooltipTable tr td {
        margin: 0;
        padding: 2px 4px;
        white-space: nowrap;
    }

    .googleTooltipTableTotalRow {
        border-top: solid 2px #666;
    }

    #underservedCommunitiesPieChartPanel .chartBody {
        display: @(ViewDataTyped.UnderservedCommunitiesHasData ? "inherit" : "none" )
    }

    #projectStagesPieChartPanel .chartBody {
        display: @(ViewDataTyped.UnderservedCommunitiesHasData ? "inherit" : "none" )
    }

    .chartPanel {
        padding-top: 50px;
    }

    .chartWithOverlay {
        position: relative;
    }

    .overlay {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 182px;
        left: 0;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
    }

    .pieChartLegend div {
        padding: 0;
        line-height: 22px;
    }

    .pieChartLegend .notDisadvantagedLegend, .pieChartLegend .disadvantagedLegend, .pieChartLegend .severlyDisadvantagedLegend,
    .pieChartLegend .planningDesignLegend, .pieChartLegend .implementationLegend, .pieChartLegend .postImplementationLegend, .pieChartLegend .completedLegend {
        height: 15px;
        width: 20px;
        display: inline-block;
        margin-right: 5px;
    }

    .pieChartLegend .col-xs-4 {
        text-align: right;
    }

    .pieChartLegend br {
        display: none;
    }

    .notDisadvantagedLegend {
        background-color: #424142;
    }

    .disadvantagedLegend {
        background-color: #b6430f;
    }

    .severlyDisadvantagedLegend {
        background-color: #4b5c14;
    }

    .planningDesignLegend {
        background-color: #e0871a;
    }

    .implementationLegend {
        background-color: #424142;
    }

    .postImplementationLegend {
        background-color: #ffe293;
    }

    .completedLegend {
        background-color: #94c5e3;
    }

    /* New dashboard statistic boxes */
    /* Use flex so all stat boxes match height and respect bootstrap breakpoints */
    .statRow {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        align-items: stretch; /* ensure columns match height */
    }

    .statCol {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
        box-sizing: border-box;
        display: flex; /* allow child to stretch vertically */
        flex-direction: column;
    }

    .dashboardStat {
        color: #ffffff;
        padding: 18px 12px;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        /* fill the available height provided by parent */
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 130px;
    }

    .dashboardStat .statValue {
        display: block;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 12px; /* space between value and label */
    }

    .dashboardStat .statLabel {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding: 0 6px; /* little horizontal padding to avoid wrap overflow */
    }

    @@media (min-width: 992px) {
        .statColFirstRowOffset {
            margin-left: 12.5%;
        }
        .statColSecondRowOffset {
            margin-left: 25%;
        }
    }

    @@media (min-width: 768px and max-width: 991px) {
        .statColLastRowOffset {
             margin-left: 25%;
        }
    }
}

</style>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div id="underservedCommunitiesPieChartPanel" class="chartPanel">
            @if (ViewDataTyped.UnderservedCommunitiesHasData)
            {
                <div class="chartWithOverlay">
                    @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.UnderservedCommunitiesViewGoogleChartViewData); }
                    <div class="overlay">
                        <div>Total</div>
                        <div>@(ViewDataTyped.UnderservedTotal.ToGroupedNumeric())</div>
                    </div>
                </div>
                <div class="row pieChartLegend">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="col-xs-4"><span class="notDisadvantagedLegend"></span></div>
                        <div class="col-xs-8"><span style="font-weight: bold;">Not in a Disadvantaged Community</span></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="col-xs-4"><span class="disadvantagedLegend"></span></div>
                        <div class="col-xs-8"><span style="font-weight: bold;">Disadvantaged Community</span></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="col-xs-4"><span class="severlyDisadvantagedLegend"></span></div>
                        <div class="col-xs-8"><span style="font-weight: bold;">Severely Disadvantaged Community</span></div>
                    </div>
                </div>
            }
            else
            {
                <div style="padding: 20px 5px; font-style: italic">No reported data available</div>
            }
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div id="projectStagesPieChartPanel" class="chartPanel">
            @if (ViewDataTyped.ProjectStagesHasData)
            {
                <div class="chartWithOverlay">
                    @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ProjectStagesViewGoogleChartViewData); }
                    <div class="overlay">
                        <div>Total</div>
                        <div>@(ViewDataTyped.ProjectStagesTotal.ToGroupedNumeric())</div>
                    </div>
                </div>

                <div class="row pieChartLegend">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                        <div class="col-xs-4"><span class="planningDesignLegend"></span></div>
                        <div class="col-xs-8"><span style="font-weight: bold;">Planning/Design</span></div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="col-xs-4"><span class="implementationLegend"></span></div>
                        <div class="col-xs-8"><span style="font-weight: bold;">Implementation</span></div>
                    </div>
                </div>
                <div class="row pieChartLegend">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                        <div class="col-xs-4"><span class="postImplementationLegend"></span></div>
                        <div class="col-xs-8"><span style="font-weight: bold;">Post Implementation</span></div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="col-xs-4"><span class="completedLegend"></span></div>
                        <div class="col-xs-8"><span style="font-weight: bold;">Completed</span></div>
                    </div>
                </div>

            }
            else
            {
                <div style="padding: 20px 5px; font-style: italic">No reported data available</div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="chartPanel">
            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ProjectsByOwnerOrgTypeViewGoogleChartViewData); }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="chartPanel">
            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ProjectsByCountyAndTribalLandViewGoogleChartViewData); }

            <strong class="chartHeader">Tribal Projects: @(ViewDataTyped.NumberOfTribalProjects)</strong>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="chartPanel">
            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ProjectsByProjectTypeViewGoogleChartViewData); }
        </div>
    </div>
</div>

<div class="row counterHeader">
    <div class="col-xs-12 text-center">
        <h4>Thematic Benefits</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <strong class="chartHeader">Capacity Enhancement and Technical Assistance</strong>
        <div class="row statRow" style="margin-top:10px;">
            <div class="statCol col-xs-12 col-sm-6 col-md-3">
                <div class="dashboardStat" style="background-color: #4B5B13;">
                    <span class="statValue">@ViewDataTyped.AwardedTAAndCapacityEnhancementProjectCount</span>
                    <span class="statLabel">Awarded TA &amp; Capacity Enhancement Projects</span>
                </div>
            </div>
            <div class="statCol col-xs-12 col-sm-6 col-md-3">
                <div class="dashboardStat" style="background-color: #4B5B13;">
                    <span class="statValue"><span>$</span>@ViewDataTyped.TAInvestment.ToGroupedNumeric()</span>
                    <span class="statLabel">NCRP TA Investment</span>
                </div>
            </div>
            <div class="statCol col-xs-12 col-sm-6 col-md-3">
                <div class="dashboardStat" style="background-color: #4B5B13;">
                    <span class="statValue">@ViewDataTyped.TotalLeveraged.ToGroupedNumeric()</span>
                    <span class="statLabel">Amount leveraged by TA investment</span>
                </div>
            </div>
            <div class="statCol col-xs-12 col-sm-6 col-md-3">
                <div class="dashboardStat" style="background-color: #4B5B13;">
                    <span class="statValue">@ViewDataTyped.AcresImpactedViaTAProjects.ToGroupedNumeric()</span>
                    <span class="statLabel">Acres impacted via TA Projects</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="chartPanel">
            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ProjectsByTATypeViewGoogleChartViewData); }
        </div>
    </div>
    <div class="col-xs-12">
        <strong class="chartHeader">Habitat and Climate Resilience & Nature Based Solutions Improvement</strong>
        <div class="thematicBenefitschartPanel">
            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.AcresCompletedViaImplementationProjectsViewGoogleChartViewData); }
        </div>
    </div>
    <div class="col-xs-12" style="margin-top:15px;">
        <strong class="chartHeader">Water Supply and Quality</strong>
        <div class="row statRow" style="margin-top:10px;">
            <div class="statCol col-xs-12 col-sm-6 col-md-3 col-md-offset-1 statColFirstRowOffset">
                <div class="dashboardStat" style="background-color: #156082;">
                    <span class="statValue">@ViewDataTyped.ImprovedWaterSupplyOrQualityProjectCount</span>
                    <span class="statLabel">Improved water supply or quality projects</span>
                </div>
            </div>
            <div class="statCol col-xs-12 col-sm-6 col-md-3">
                <div class="dashboardStat" style="background-color: #156082;">
                    <span class="statValue">@ViewDataTyped.WaterQualitySedimentStabilization.ToGroupedNumeric()</span>
                    <span class="statLabel">Water quality: sediment stabilization (tons)</span>
                </div>
            </div>
            <div class="statCol col-xs-12 col-sm-6 col-md-3">
                <div class="dashboardStat" style="background-color: #156082;">
                    <span class="statValue">@ViewDataTyped.WaterSupplyImprovedReliabilityAFY.ToGroupedNumeric()</span>
                    <span class="statLabel">Water supply: improved reliability (AFY)</span>
                </div>
            </div>
            <div class="statCol col-xs-12 col-sm-6 col-md-3 statColSecondRowOffset">
                <div class="dashboardStat" style="background-color: #156082;">
                    <span class="statValue">@ViewDataTyped.WaterSupplyImprovedReliabilityNumberOfHouseholds.ToGroupedNumeric()</span>
                    <span class="statLabel">Water supply: improved reliability (no. of households)</span>
                </div>
            </div>
            <div class="statCol col-xs-12 col-sm-6 col-md-3 statColLastRowOffset">
                <div class="dashboardStat" style="background-color: #156082;">
                    <span class="statValue"><span>$</span>@ViewDataTyped.AvoidedCosts.ToGroupedNumeric()</span>
                    <span class="statLabel">Avoided Costs</span>
                </div>
            </div>
        </div>
    </div>
</div>