@*-----------------------------------------------------------------------
<copyright file="ResultsByTaxonomyTierTwo.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Results
@using ProjectFirma.Web.Views.PerformanceMeasure
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Views.Shared
@inherits ResultsByTaxonomyTierTwo

@section JavascriptAndStylesContent
{
    <script type="text/javascript">
        function reloadWithNewTaxonomyTierTwo(ddl)
        {
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.ResultsByTaxonomyTierTwoUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(ddl.value);
            document.location = newUrl;
        }
    </script>
}

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <span class="stylizeLikeTH">@Html.LabelWithSugarFor(FieldDefinition.TaxonomyTierTwo, LabelWithSugarForExtensions.DisplayStyle.HelpIconWithLabel)</span>
        </div>

        <div class="col-md-10">
            <select onchange="reloadWithNewTaxonomyTierTwo(this)">
                @foreach (var taxonomyTierThree in ViewDataTyped.TaxonomyTierThrees)
                {
                    <optgroup label="@taxonomyTierThree.DisplayName">
                        @foreach (var taxonomyTierTwo in taxonomyTierThree.TaxonomyTierTwos.OrderBy(x => x.TaxonomyTierTwoSortOrder))
                        {
                            <option value="@taxonomyTierTwo.TaxonomyTierTwoID" @((ViewDataTyped.SelectedTaxonomyTierTwo.TaxonomyTierTwoID == taxonomyTierTwo.TaxonomyTierTwoID).ToSelectedOrEmpty())>@taxonomyTierTwo.DisplayName</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
    </div>
</div>
<hr/>
@foreach (var performanceMeasureChartViewData in ViewDataTyped.PerformanceMeasureChartViewDatas)
{
    PerformanceMeasureChart.RenderPartialView(Html, performanceMeasureChartViewData);
}
