@*-----------------------------------------------------------------------
<copyright file="SpendingByOrganizationTypeByOrganization.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Results.SpendingByOrganizationTypeByOrganization

<table class="table table-striped table-responsive">
    <tr>
        <th>@FieldDefinition.TaxonomyTierTwo.GetFieldDefinitionLabel()</th>
        @foreach (var organizationType in ViewDataTyped.OrganizationTypes)
        {
            <th style="text-align: right">@organizationType.OrganizationTypeName</th>
        }
        <th style="text-align: right">Total</th>
    </tr>
    @foreach (var taxonomyTierTwo in ViewDataTyped.TaxonomyTierTwos.OrderBy(x => x.TaxonomyTierTwoName))
    {
        <tr>
            <td>@taxonomyTierTwo.GetDisplayNameAsUrl()</td>
            @foreach (var organizationType in ViewDataTyped.OrganizationTypes)
            {
                <td style="text-align: right">@ViewDataTyped.ProjectFundingSourceExpenditures.Where(x => x.Project.TaxonomyLeaf.TaxonomyTierTwoID == taxonomyTierTwo.TaxonomyTierTwoID && x.FundingSource.Organization.OrganizationTypeID == organizationType.OrganizationTypeID).Sum(x => x.ExpenditureAmount).ToStringCurrency()</td>
            }
            <td style="text-align: right">@ViewDataTyped.ProjectFundingSourceExpenditures.Where(x => x.Project.TaxonomyLeaf.TaxonomyTierTwoID == taxonomyTierTwo.TaxonomyTierTwoID).Sum(x => x.ExpenditureAmount).ToStringCurrency()</td>
        </tr>
    }
    <tr>
        <th>Grand Total</th>
        @foreach (var organizationType in ViewDataTyped.OrganizationTypes)
        {
            <th style="text-align: right">@ViewDataTyped.ProjectFundingSourceExpenditures.Where(x => x.FundingSource.Organization.OrganizationTypeID == organizationType.OrganizationTypeID).Sum(x => x.ExpenditureAmount).ToStringCurrency()</th>
        }
        <th style="text-align: right">@ViewDataTyped.ProjectFundingSourceExpenditures.Sum(x => x.ExpenditureAmount).ToStringCurrency()</th>
    </tr>
</table>
