@*-----------------------------------------------------------------------
<copyright file="SpendingByOrganizationTypeByTaxonomyTierThreeByTaxonomyTierTwo.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Results
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@inherits SpendingByOrganizationTypeByTaxonomyTierThreeByTaxonomyTierTwo

@section JavascriptAndStylesContent
{
    <script type="text/javascript">
        // <![CDATA[
        function reloadWithNewCalendarYear() {
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.SpendingByOrganizationTypeByTaxonomyTierThreeByTaxonomyTierTwoUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(jQuery("#@Html.IdFor(x => x.CalendarYear)").val());
            document.location = newUrl;
        }
        // ]]>
    </script>
}

<div style="margin-top: 10px">
    @Html.LabelWithSugarFor(x => x.CalendarYear):
    @Html.DropDownListFor(x => x.CalendarYear, ViewDataTyped.CalendarYears, new { onchange = "reloadWithNewCalendarYear()" })
</div>

<div>
    @ViewDataTyped.FirmaPage.FirmaPageContentHtmlString
</div>

<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>@(ViewDataTyped.SelectedCalendarYear.HasValue ? ViewDataTyped.SelectedCalendarYear.ToString() : "All") Investments</h2>
    </div>
    <div class="panel-body">
        <table class="gridLayout" style="width: 1050px">
            <tr>
                <th style="text-align: left">@ViewDataTyped.TaxonomyTierTwoDisplayNamePluralized</th>
                @foreach (var organizationType in ViewDataTyped.OrganizationTypes)
                {
                    <th style="white-space: nowrap">
                        <div style="display: inline-block; margin-right: 4px; width: 16px; height: 10px; background-color: @organizationType.LegendColor"></div>@organizationType.OrganizationTypeName
                    </th>
                }
                <th>Total</th>
            </tr>
            @foreach (var groupedByTaxonomyTierThree in ViewDataTyped.TaxonomyTierTwoOrganizationTypeExpenditures.GroupBy(x => x.TaxonomyTierThreeName.ToString()).OrderBy(x => x.Key))
            {
                <tr style="border: solid black; border-width: 1px 0 1px 1px; background-color: #cecece">
                    <td style="text-align: left" colspan="@(ViewDataTyped.OrganizationTypes.Count + 1)">@Html.Raw(groupedByTaxonomyTierThree.Key)</td>
                    <td>@groupedByTaxonomyTierThree.Sum(x => x.ExpenditureAmount).ToStringCurrency()</td>
                </tr>
                foreach (var groupedByTaxonomyTierTwo in groupedByTaxonomyTierThree.GroupBy(x => x.TaxonomyTierTwoName.ToString()).OrderBy(x => x.Key))
                {
                    <tr>
                        <td style="text-align: left; padding-left: 20px;">@Html.Raw(groupedByTaxonomyTierTwo.Key)</td>
                        @foreach (var organizationType in ViewDataTyped.OrganizationTypes)
                        {
                            <td>@groupedByTaxonomyTierTwo.Where(x => x.OrganizationType == organizationType).Sum(x => x.ExpenditureAmount).ToStringCurrency()</td>
                        }
                        <td>@groupedByTaxonomyTierTwo.Sum(x => x.ExpenditureAmount).ToStringCurrency()</td>
                    </tr>
                }
            }
            <tr>
                <th style="text-align: left">Grand Total</th>
                @foreach (var organizationType in ViewDataTyped.OrganizationTypes)
                {
                    <th>@ViewDataTyped.TaxonomyTierTwoOrganizationTypeExpenditures.Where(x => x.OrganizationType == organizationType).Sum(x => x.ExpenditureAmount).ToStringCurrency()</th>
                }
                <th>@ViewDataTyped.TaxonomyTierTwoOrganizationTypeExpenditures.Sum(x => x.ExpenditureAmount).ToStringCurrency()</th>
            </tr>
        </table>
    </div>
</div>
