@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Results
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.PerformanceMeasure
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@inherits SpendingByPerformanceMeasureByProject

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

    <script type="text/javascript">
        // <![CDATA[
        function reloadWithNewPerformanceMeasure() {
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.SpendingByPerformanceMeasureByProjectUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(jQuery("#@Html.IdFor(x => x.PerformanceMeasureID)").val());
            document.location = newUrl;
        }
        // ]]>
    </script>
}

<div style="margin-top: 10px">
    @Html.LabelFor(x => x.PerformanceMeasure):
    @Html.DropDownListFor(x => x.PerformanceMeasureID, new SelectList(ViewDataTyped.PerformanceMeasures, "PerformanceMeasureID", "DisplayName", ViewDataTyped.SelectedPerformanceMeasure.PerformanceMeasureID), new { onchange = "reloadWithNewPerformanceMeasure()" })
</div>

<div>
    @ViewDataTyped.FirmaPage.FirmaPageContentHtmlString
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="summarySection" style="margin-right: 10px">
                <h2>Summary Statistics</h2>
                <div>
                    <table class="summaryLayout" style="width: 100%">
                        <colgroup>
                            <col style="width: 250px"/>
                            <col style="width: auto"/>
                        </colgroup>
                        <tr>
                            <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.PerformanceMeasure)</th>
                            <td>
                                <span class="helpicon glyphicon glyphicon-question-sign blue" title="Click to get more info on this PM" onmouseover="ProjectFirma.Views.Methods.addHelpTooltipPopup(jQuery(this), @ViewDataTyped.SelectedPerformanceMeasure.DisplayName.ToJS(), @ViewDataTyped.SelectedPerformanceMeasure.GetDefinitionAndGuidanceUrl().ToJS(), 430)"></span>
                                <a href="@ViewDataTyped.SelectedPerformanceMeasure.GetSummaryUrl()" class="chartHeader">@ViewDataTyped.SelectedPerformanceMeasure.DisplayName</a>
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.SpendingAssociatedWithPM)</th>
                            <td>
                                @ViewDataTyped.SelectedPerformanceMeasure.TotalExpenditure().ToStringCurrency() - This includes all project expenditures, even for projects that have multiple performance measure accomplishments
                            </td>
                        </tr>
                        <tr>
                            <th>Total @ViewDataTyped.SelectedPerformanceMeasure.MeasurementUnitType.MeasurementUnitTypeDisplayName Completed</th>
                            <td>
                                @ViewDataTyped.SelectedPerformanceMeasure.TotalReportedValueWithNonZeroExpenditures().ToString()
                            </td>
                        </tr>
                        <tr>
                            <th>@string.Format("Spending Per {0} ", ViewDataTyped.SelectedPerformanceMeasure.MeasurementUnitType.SingularDisplayName)</th>
                            <td>
                                @ViewDataTyped.SelectedPerformanceMeasure.TotalExpenditurePerPerformanceMeasureUnit().ToStringCurrency()
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="summarySection" style="height: 500px">
                <h2>Charts</h2>
                <div class="contentWrapper">
                    <div style="margin-right: auto; margin-left: auto; width: 600px">
                        @{ PerformanceMeasureChart.RenderPartialView(Html, ViewDataTyped.PerformanceMeasureChartViewData); }
                    </div>
                </div>
            </div>
        </div>

       
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="summarySection">
                <h2>Projects</h2>
                <div class="contentWrapper">
                    @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:450px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>-
            </div>
        </div>
    </div>
</div>
