@*-----------------------------------------------------------------------
<copyright file="SpendingByPerformanceMeasureByProject.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Results
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.PerformanceMeasure
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.DhtmlWrappers
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits SpendingByPerformanceMeasureByProject

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

    <script type="text/javascript">
        // <![CDATA[
        function reloadWithNewPerformanceMeasure() {
            var urlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.SpendingByPerformanceMeasureByProjectUrl.ToJS()));
            var newUrl = urlTemplate.ParameterReplace(jQuery("#@Html.IdFor(x => x.PerformanceMeasureID)").val());
            document.location = newUrl;
        }
        // ]]>
    </script>
}

<div style="margin-top: 10px">
    @Html.LabelWithSugarFor(x => x.PerformanceMeasure):
    @Html.DropDownListFor(x => x.PerformanceMeasureID, new SelectList(ViewDataTyped.PerformanceMeasures, "PerformanceMeasureID", "DisplayName", ViewDataTyped.SelectedPerformanceMeasure.PerformanceMeasureID), new { onchange = "reloadWithNewPerformanceMeasure()" })
</div>

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panelFirma" style="margin-right: 10px">
                <div class="panel-heading panelTitle">
                    <h2>Summary Statistics</h2>
                </div>
                <div>
                    <table class="summaryLayout" style="width: 100%">
                        <colgroup>
                            <col style="width: 250px" />
                            <col style="width: auto" />
                        </colgroup>
                        <tr>
                            <th>@Html.LabelWithSugarFor(FieldDefinitionEnum.PerformanceMeasure.ToType())</th>
                            <td>
                                <span class="helpicon glyphicon glyphicon-question-sign blue" title="Click to get more info on this @MultiTenantHelpers.GetPerformanceMeasureName()" onmouseover="ProjectFirma.Views.Methods.addHelpTooltipPopup(jQuery(this), @ViewDataTyped.SelectedPerformanceMeasure.PerformanceMeasureDisplayName.ToJS(), @ViewDataTyped.SelectedPerformanceMeasure.GetDefinitionAndGuidanceUrl().ToJS(), 430)"></span>
                                <a href="@ViewDataTyped.SelectedPerformanceMeasure.GetSummaryUrl()" class="chartHeader">@ViewDataTyped.SelectedPerformanceMeasure.PerformanceMeasureDisplayName</a>
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelWithSugarFor(FieldDefinitionEnum.SpendingAssociatedWithPM.ToType())</th>
                            <td>
                                @ViewDataTyped.SelectedPerformanceMeasure.TotalExpenditure(ViewDataTyped.CurrentFirmaSession).ToStringCurrency() - This includes all @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() expenditures, even for @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() that have multiple @MultiTenantHelpers.GetPerformanceMeasureName() accomplishments
                            </td>
                        </tr>
                        <tr>
                            <th>Total @ViewDataTyped.SelectedPerformanceMeasure.MeasurementUnitType.LegendDisplayName Completed</th>
                            <td>
                                @ViewDataTyped.SelectedPerformanceMeasure.TotalReportedValueWithNonZeroExpenditures(ViewDataTyped.CurrentFirmaSession).ToString()
                            </td>
                        </tr>
                        <tr>
                            <th>@string.Format("Spending Per {0} ", ViewDataTyped.SelectedPerformanceMeasure.MeasurementUnitType.SingularDisplayName)</th>
                            <td>
                                @ViewDataTyped.SelectedPerformanceMeasure.TotalExpenditurePerPerformanceMeasureUnit(ViewDataTyped.CurrentFirmaSession).ToStringCurrency()
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="panel panelFirma" style="height: 500px">
                <div class="panel-heading panelTitle">
                    <h2>Charts</h2>
                </div>
                <div class="panel-body">
                    <div style="margin-right: auto; margin-left: auto; width: 600px">
                        @{ PerformanceMeasureChart.RenderPartialView(Html, ViewDataTyped.PerformanceMeasureChartViewData); }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h2>@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()</h2>
                </div>
                <div class="panel-body">
                    @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:450px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>-
            </div>
        </div>
    </div>
</div>
