@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.MonitoringProgramPartner.EditMonitoringProgramPartners
<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    angular.bootstrap(jQuery("#EditMonitoringProgramPartnersApp"), ["ProjectFirmaApp"]);
    // ]]>
</script>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditMonitoringProgramPartnersApp" ng-controller="MonitoringProgramPartnerController">
    Organization to Add:
    <select ng-model="OrganizationToAdd" ng-options="organization.DisplayName for organization in filteredOrganizations()" style="width: 700px"></select>
    <button class="btn btn-xs btn-trpa" type="button" ng-click="addRow()">Add</button>
    <table class="dialogFormLayout">
        <tr>
            <th></th>
            <th style="white-space: nowrap">@Html.LabelWithFieldDefinitionFor(FieldDefinition.Organization)</th>
        </tr>
        <tr ng-repeat="monitoringProgramPartner in AngularModel.MonitoringProgramPartners | orderBy:[getOrganizationName]">
            <td>
                <span class="glyphicon glyphicon-trash blue" title="Remove row'" alt="Remove row" ng-click="deleteRow(monitoringProgramPartner)" style="cursor: pointer"></span></td>
            <td ng-bind="getOrganizationName(monitoringProgramPartner)"></td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        <input ng-repeat="monitoringProgramPartner in AngularModel.MonitoringProgramPartners" type="hidden" name="@Html.NameFor(x => x.MonitoringProgramPartners[0].MonitoringProgramID).ToString().Replace("0", "{{$index}}")" value="{{monitoringProgramPartner.MonitoringProgramID}}">
        <input ng-repeat="monitoringProgramPartner in AngularModel.MonitoringProgramPartners" type="hidden" name="@Html.NameFor(x => x.MonitoringProgramPartners[0].OrganizationID).ToString().Replace("0", "{{$index}}")" value="{{monitoringProgramPartner.OrganizationID}}">
    }
</div>