@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.ReportCenter.Edit

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.FileResourceID)
    @Html.HiddenFor(x => x.ReportTemplateID)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.DisplayName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.DisplayName, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(x => x.DisplayName)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.FileResourceData, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @if (ViewDataTyped.ReportTemplate != null)
                {
                    <div class="alert alert-info">
                        This report currently has a template: "@ViewDataTyped.ReportTemplate.DownloadTemplateLink()". Using the field below will replace this current template.
                    </div>
                }
                
                @Html.EditorFor(x => x.FileResourceData)
                <span class="smallExplanationText">
                    Max File Size: @FileResourceModelExtensions.MaxFileSizeHumanReadable Allowed Extensions: .docx
                </span>
            </div>
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
    
}
