@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Areas.EIP.Views.ProjectExternalLink.EditProjectExternalLinks
<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    angular.bootstrap(jQuery("#EditProjectExternalLinksApp"), ["ProjectFirmaApp"]);
    // ]]>
</script>

<p>
    You may add one or more links to external web pages that further describe this project or are related to it. URLs must start with "http".
</p>
<div id="EditProjectExternalLinksApp" ng-controller="ProjectExternalLinkController">
    <strong>External Link to Add:</strong><br/>
    Link Text: <input type="text" ng-model="ExternalLinkLabelToAdd" style="width: 300px" />
    URL: <input type="url" ng-model="ExternalLinkUrlToAdd" style="width: 300px" />
    <button class="btn btn-xs btn-trpa" type="button" ng-click="addRow()" ng-disabled="isAddButtonDisabled()">Add</button>
    <table class="dialogFormLayout" ng-show="AngularModel.ProjectExternalLinks.length > 0">
        <colgroup>
            <col style="width: 20px" />
            <col style="width: 300px" />
            <col style="width: 300px" />
        </colgroup>
        <tr>
            <th></th>
            <th>Link Text</th>
            <th>URL</th>
        </tr>
        <tr ng-repeat="projectExternalLink in AngularModel.ProjectExternalLinks | orderBy:['ExternalLinkLabel']">
            <td>
                <span class="glyphicon glyphicon-trash blue" title="Remove row'" alt="Remove row" ng-click="deleteRow(projectExternalLink)" style="cursor: pointer"></span>
            </td>
            <td ng-bind="projectExternalLink.ExternalLinkLabel"></td>
            <td><a href="{{projectExternalLink.ExternalLinkUrl}}" ng-bind="projectExternalLink.ExternalLinkUrl"></a></td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        <input ng-repeat="projectExternalLink in AngularModel.ProjectExternalLinks" type="hidden" name="@Html.NameFor(x => x.ProjectExternalLinks[0].ProjectID).ToString().Replace("0", "{{$index}}")" value="{{projectExternalLink.ProjectID}}">
        <input ng-repeat="projectExternalLink in AngularModel.ProjectExternalLinks" type="hidden" name="@Html.NameFor(x => x.ProjectExternalLinks[0].ExternalLinkLabel).ToString().Replace("0", "{{$index}}")" value="{{projectExternalLink.ExternalLinkLabel}}">
        <input ng-repeat="projectExternalLink in AngularModel.ProjectExternalLinks" type="hidden" name="@Html.NameFor(x => x.ProjectExternalLinks[0].ExternalLinkUrl).ToString().Replace("0", "{{$index}}")" value="{{projectExternalLink.ExternalLinkUrl}}">
    }
</div>