@*-----------------------------------------------------------------------
<copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Results
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Views
@inherits ProjectFirma.Web.Views.FundingSource.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Views/ProjectFundingSourceExpenditure/ProjectFundingSourceExpenditureController.js")" type="text/javascript"></script>
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.ManageFundingSourcesUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all Funding Sources</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditFundingSourceUrl, string.Format("Edit Funding Source - {0}", ViewDataTyped.FundingSource.DisplayName), ViewDataTyped.UserHasFundingSourceManagePermissions) Basics
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5 fieldLabel text-right">Name</div>
                        <div class="col-xs-7">@ViewDataTyped.FundingSource.FundingSourceName</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 fieldLabel text-right">Description</div>
                        <div class="col-xs-7">@Html.Raw(ViewDataTyped.FundingSource.FundingSourceDescription.HtmlEncodeWithBreaks())</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinition.Organization)</div>
                        <div class="col-xs-7">@ViewDataTyped.FundingSource.Organization.GetDisplayNameAsUrl()</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 fieldLabel text-right">Active?</div>
                        <div class="col-xs-7">@ViewDataTyped.FundingSource.IsActive.ToYesNo()</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    Expenditures by Funding Source Sector
                </div>
                <div class="panel-body">
                    <div style="border-radius: 8px; background-color: white; height: 410px; margin-right: auto; margin-left: auto; width: 600px">
                        @{ CalendarYearExpendituresLineChart.RenderPartialView(Html, ViewDataTyped.CalendarYearExpendituresLineChartViewData); }
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    Reported Expenditures
                </div>
                <div class="panel-body">
                    @Html.DhtmlxGrid(ViewDataTyped.ProjectCalendarYearExpendituresGridSpec, ViewDataTyped.ProjectCalendarYearExpendituresGridName, ViewDataTyped.ProjectCalendarYearExpendituresGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>
    
</div>
