@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.FundingSource.Edit
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
               @Html.LabelWithFieldDefinitionFor(m => m.FundingSourceName):
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.FundingSourceName, new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.FundingSourceName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
               @Html.LabelWithFieldDefinitionFor(m => m.FundingSourceDescription):
            </div>
            <div class="col-sm-9">
                @Html.TextAreaWithMaxLengthFor(m => m.FundingSourceDescription, new TextAreaForExtensions.TextAreaDimensions(null, 8), null)
                @Html.ValidationMessageFor(m => m.FundingSourceDescription)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithFieldDefinitionFor(m => m.OrganizationID):
            </div>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.OrganizationID, ViewDataTyped.Organizations)
                @Html.ValidationMessageFor(m => m.OrganizationID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelFor(m => m.IsActive):
            </div>
            <div class="col-sm-9">
                @Html.CheckBoxFor(m => m.IsActive)
                @Html.ValidationMessageFor(m => m.IsActive)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.FundingSourceID)
}