@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.FundingSource.Edit

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
               @Html.LabelWithSugarFor(m => m.FundingSourceName)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.TextBoxFor(m => m.FundingSourceName, new { @class="form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.FundingSourceName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.FundingSourceDescription)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.TextAreaWithMaxLengthFor(m => m.FundingSourceDescription, new TextAreaForExtensions.TextAreaDimensions(null, 8), null, new List<string> { "form-control" })
                @Html.ValidationMessageFor(m => m.FundingSourceDescription)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(FieldDefinitionEnum.Organization.ToType()) <sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup>
            </div>
            <div class="col-xs-12 col-sm-9">
                @if (ViewDataTyped.AllowPersonToSetOrganization)
                {
                    @Html.SearchableDropDownListFor(m => m.OrganizationID, ViewDataTyped.Organizations)
                }
                else
                {
                    <select disabled class="form-control">
                        <option>@ViewDataTyped.CurrentPerson.Organization.GetDisplayName()</option>
                    </select>
                    @Html.HiddenFor(m => m.OrganizationID)
                }
                @Html.ValidationMessageFor(m => m.OrganizationID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">@Html.LabelWithSugarFor(m => m.IsActive)</div>
            <div class="col-xs-12 col-sm-9">
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.IsActive, true) Yes
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.IsActive, false) No
                    </label>
                </div>
                @Html.ValidationMessageFor(m => m.IsActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelWithSugarFor(FieldDefinitionEnum.FundingSourceAmount.ToType())
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.EditorFor(m => m.FundingSourceAmount, new { @class = "form-control" })
            </div>
        </div>

    </div>
    @Html.HiddenFor(m => m.FundingSourceID)
}
