@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.ProjectControls
@using ProjectFirma.Web.Views.Shared.ProjectLocationControls
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.ActionPriority.Summary

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        #@ViewDataTyped.ProjectLocationsMapInitJson.MapDivID
        {
            height: 420px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="summarySection">
                <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditActionPriorityUrl, string.Format("Edit Action Priority - {0}", ViewDataTyped.ActionPriority.DisplayName), ViewDataTyped.UserHasActionPriorityManagePermissions) Basics</h2>
                <div class="contentWrapper">
                    <table class="summaryLayout">
                        <tr>
                            <td>
                                @{ ProjectTaxonomy.RenderPartialView(Html, ViewDataTyped.ProjectTaxonomyViewData); }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="summarySection">
                <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditDescriptionUrl, string.Format("Edit Description - {0}", ViewDataTyped.ActionPriority.DisplayName), ViewDataTyped.UserHasActionPriorityManagePermissions) Description</h2>
                <div class="contentWrapper">
                    <div>
                        @ViewDataTyped.ActionPriority.ActionPriorityDescriptionHtmlString
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="summarySection" style="height: auto">
                <h2>Action Priority Projects Map</h2>
                <div style="padding: 10px">
                    To zoom into a specific area, hold down the Shift key and drag a rectangle.
                    <div style="border-radius: 8px; background-color: white; margin: 5px 0 5px 0">
                        @{ ProjectLocationsMap.RenderPartialView(Html, ViewDataTyped.ProjectLocationsMapViewData); }
                    </div>
                    Some projects operate over larger areas and are not represented on the map, but are listed in the project grid below. A <a href="@ViewDataTyped.ProjectMapFilteredUrl">full-screen, filterable version of this map</a> is also available.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="summarySection">
                <h2>
                    <a href="@ViewDataTyped.FullProjectListUrl">Projects</a>
                </h2>
                <div class="contentWrapper">
                    @Html.DhtmlxGrid(ViewDataTyped.BasicProjectInfoGridSpec, ViewDataTyped.FiveYearListProjectGridName, ViewDataTyped.FiveYearListProjectGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>

</div>

<div style="margin-top: 20px">
    <a class="btn btn-sm btn-firma" href="@ViewDataTyped.ManageActionPrioritiesUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Index</a>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationsMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationsMapInitJson).ToString(Formatting.None));
        var map = new ProjectFirmaMaps.Map(projectLocationsMapInitJson);
        map.initializeProjectLocations(projectLocationsMapInitJson);
    })
</script>