@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.OrganizationTypeAndOrganizationRelationshipType.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div style="margin-bottom: 20px;">
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>
<div>
    <h4>@FieldDefinitionEnum.OrganizationType.ToType().GetFieldDefinitionLabelPluralized()</h4>
    @ModalDialogFormHelper.MakeNewIconButton(ViewDataTyped.NewOrganizationTypeUrl, string.Format("Create a new {0}", @FieldDefinitionEnum.OrganizationType.ToType().GetFieldDefinitionLabel()), ViewDataTyped.HasManagePermissions)
</div>
<div style="margin-top: 10px">
    @Html.DhtmlxGrid(ViewDataTyped.OrganizationTypeGridSpec, ViewDataTyped.OrganizationTypeGridName, ViewDataTyped.OrganizationTypeGridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
</div>
<br />
<div>
    <h4>@FieldDefinitionEnum.ProjectOrganizationRelationshipType.ToType().GetFieldDefinitionLabelPluralized()</h4>
    @ModalDialogFormHelper.MakeNewIconButton(ViewDataTyped.NewProjectAssociationUrl, string.Format("Create a new {0}", @FieldDefinitionEnum.ProjectOrganizationRelationshipType.ToType().GetFieldDefinitionLabel()), ViewDataTyped.HasManagePermissions)
</div>
<div style="margin-top: 10px">
    @Html.DhtmlxGrid(ViewDataTyped.OrganizationRelationshipTypeGridSpec, ViewDataTyped.OrganizationRelationshipTypeGridName, ViewDataTyped.OrganizationRelationshipTypeGridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
</div>
