@*-----------------------------------------------------------------------
<copyright file="EditProjectFundingSourceRequests.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.ProjectFundingSourceRequest.EditProjectFundingSourceRequests
<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function ()
    {
        angular.module("ProjectFirmaApp").factory("angularModelAndViewData",
            function() {
                return {
                    AngularModel: @Html.Raw(JObject.FromObject(Model)),
                    AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    angular.bootstrap(jQuery("#EditFundingSourceRequestsApp"), ["ProjectFirmaApp"]);

    jQuery(".selectpicker").selectpicker("refresh");
    jQuery(".modal").on("hidden.bs.modal",
        function () {
            jQuery(".bootstrap-select.open").removeClass("open");
        });
    })
    // ]]>
</script>

<div class="row">
    <div class="col-xs-12">
        <div class="validationError">
            @Html.ValidationSummary()
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-app="ProjectFirmaApp" id="EditFundingSourceRequestsApp" ng-controller="ProjectFundingSourceRequestController" style="max-height: 600px;">
            @if (ViewDataTyped.FromFundingSource)
            {
                <div class="form-group">
                    <label class="control-label">Project to Add:</label>
                    <div class="input-group">
                        <select ng-model="ProjectToAdd"
                                class="selectpicker"
                                data-live-search="true"
                                data-container="body"
                                title="Select a Project to Add"
                                data-width="100%" selectpicker
                                data-ng-options="project as project.DisplayName for project in filteredProjects() track by project.ProjectID">
                            <option value="null" disabled selected>Select a Project to Add</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-firma" type="button" ng-click="addRow()">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label">@FieldDefinition.FundingSource.GetFieldDefinitionLabel() to Add:</label>
                    <div class="input-group">
                        <select ng-model="FundingSourceToAdd"
                                data-live-search="true"
                                data-container="body"
                                data-title="Select a Funding Source to Add"
                                data-width="100%" class="selectpicker"
                                data-ng-options="fundingSource as fundingSource.DisplayName for fundingSource in filteredFundingSources() track by fundingSource.FundingSourceID">
                            <option value="null" disabled selected>Select a @FieldDefinition.FundingSource.GetFieldDefinitionLabel() to Add</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-firma" type="button" ng-click="addRow()">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </span>
                    </div>                    
                </div>
            }
            <table class="dialogFormLayout" style="margin-top: 20px; table-layout: fixed" ng-show="AngularModel.ProjectFundingSourceRequests.length > 0">
                <colgroup>
                    <col class="col-xs-1"/>
                    <col class="col-xs-4"/>
                    <col class="col-xs-3" style="padding-right: 17px;"/>
                    <col class="col-xs-3" style="padding-right: 17px;"/>
                    <col class="col-xs-1"/>
                </colgroup>
                <tbody>
                <tr>
                    <th></th>
                    <th style="white-space: nowrap">@Html.Raw(ViewDataTyped.FromFundingSource ? Html.LabelWithSugarFor(FieldDefinition.Project) : Html.LabelWithSugarFor(FieldDefinition.FundingSource))</th>
                    <th style="text-align: right; padding-right: 17px;">@Html.LabelWithSugarFor(FieldDefinition.SecuredFunding)</th>
                    <th style="text-align: right; padding-right: 17px;">@Html.LabelWithSugarFor(FieldDefinition.UnsecuredFunding)</th>
                    <th style="text-align: right;">Total</th>
                </tr>
                <tr ng-repeat="projectFundingSourceRequest in AngularModel.ProjectFundingSourceRequests | orderBy:[getFundingSourceName, getProjectName]" style="padding-bottom: 2px;">
                    <td>
                        <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteRow(projectFundingSourceRequest)" style="cursor: pointer"></span></td>
                    <td ng-bind="@(ViewDataTyped.FromFundingSource ? "getProjectName(projectFundingSourceRequest)" : "getFundingSourceName(projectFundingSourceRequest)")">
                    <td style="text-align: right; padding-right: 17px;">
                        <input style="float: right; text-align: right" type="text" ng-model="projectFundingSourceRequest.SecuredAmount" class="sitkaCurrency form-control" ng-currency/>
                    </td>
                    <td style="text-align: right; padding-right: 17px;">
                        <input style="float: right; text-align: right" type="text" ng-model="projectFundingSourceRequest.UnsecuredAmount" class="sitkaCurrency form-control" ng-currency/>
                    </td>
                    <th style="text-align: right" ng-bind="(projectFundingSourceRequest.SecuredAmount + projectFundingSourceRequest.UnsecuredAmount) | nfcurrency"></th>
                </tr>
                <tr style="border-top: 1px solid #eeeeee;">
                    <th colspan="2">Total</th>
                    <th style="text-align: right; padding-right: 17px;" ng-bind="getSecuredTotal() | nfcurrency">
                    </th>
                    <th style="text-align: right; padding-right: 17px;" ng-bind="getUnsecuredTotal() | nfcurrency">
                    </th>
                    <th style="text-align: right;" ng-bind="(getSecuredTotal() + getUnsecuredTotal()) | nfcurrency">
                </tr>
                </tbody>
            </table>

            @using (Html.BeginForm())
            {
                <div ng-repeat="projectFundingSourceRequest in AngularModel.ProjectFundingSourceRequests | orderBy:[getFundingSourceName, getProjectName]">
                    <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceRequests[0].ProjectID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceRequest.ProjectID}}"/>
                    <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceRequests[0].FundingSourceID).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceRequest.FundingSourceID}}"/>
                    <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceRequests[0].UnsecuredAmount).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceRequest.UnsecuredAmount}}"/>
                    <input type="hidden" name="@Html.NameFor(x => x.ProjectFundingSourceRequests[0].SecuredAmount).ToString().Replace("0", "{{$index}}")" value="{{projectFundingSourceRequest.SecuredAmount}}"/>
                </div>
            }
        </div>
    </div>
</div>
