@*-----------------------------------------------------------------------
    <copyright file="EditDocument.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.DocumentLibrary.EditDocument

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="viewableRoleError" class="alert alert-danger" role="alert" hidden>At least one Viewable By role must be selected.</div>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="row form-group">
            <div class="col-md-3 control-label">@Html.LabelWithSugarFor(x => x.DocumentTitle)</div>
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.DocumentTitle, new { style = "width:100%", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.DocumentTitle)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 control-label">@Html.LabelWithSugarFor(x => x.Description)</div>
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.Description, new { style = "width:100%", @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 control-label">@Html.LabelWithSugarFor(x => x.DocumentCategoryID)</div>
            <div class="col-md-9">
                @Html.DropDownListFor(x => x.DocumentCategoryID, ViewDataTyped.DocumentCategories, new { @class = "form-control", style = "width: auto;" })
                @Html.ValidationMessageFor(x => x.DocumentCategoryID)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9"><p class="systemText">Please select all applicable roles.</p></div>
            <div class="col-md-3 control-label">
                @Html.LabelWithSugarFor(FieldDefinitionEnum.DocumentLibraryDocumentViewableBy.ToType(), "Viewable By") <sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup>
            </div>
            <div class="col-md-9">
                @Html.CheckBoxFor(x => x.ViewableByAnonymous) @Html.LabelFor(x => x.ViewableByAnonymous, new {style = "font-weight : normal; padding-right : 10px;"}, true)
                @Html.CheckBoxFor(x => x.ViewableByUnassigned) @Html.LabelFor(x => x.ViewableByUnassigned, new {style = "font-weight : normal; padding-right : 10px;"}, true)
                @Html.CheckBoxFor(x => x.ViewableByNormal) @Html.LabelFor(x => x.ViewableByNormal, new {style = "font-weight : normal; padding-right : 10px;"}, true)
                @Html.CheckBoxFor(x => x.ViewableByProjectSteward) @Html.LabelFor(x => x.ViewableByProjectSteward, new {style = "font-weight : normal; padding-right : 10px;"}, true)
                @Html.CheckBoxFor(x => x.ViewableByAdmin) @Html.LabelFor(x => x.ViewableByAdmin, new {style = "font-weight : normal; padding-right : 10px;"}, true)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.DocumentLibraryID)
}
<script type="text/javascript">
    var submitButton = jQuery("form")
        .parents(".modal-dialog")
        .find("#ltinfo-modal-dialog-save-button-id");
    submitButton.click(function( event ) {
        var anonymous = jQuery("#@Html.IdFor(x => x.ViewableByAnonymous)").is(':checked');
        var unassigned = jQuery("#@Html.IdFor(x => x.ViewableByUnassigned)").is(':checked');
        var normal = jQuery("#@Html.IdFor(x => x.ViewableByNormal)").is(':checked');
        var projectSteward = jQuery("#@Html.IdFor(x => x.ViewableByProjectSteward)").is(':checked');
        var admin = jQuery("#@Html.IdFor(x => x.ViewableByAdmin)").is(':checked');
        if (!(anonymous || unassigned || normal || projectSteward || admin)) {
            jQuery("#viewableRoleError").show();
        } else {
            jQuery("#viewableRoleError").hide();
        }
    });

    jQuery("form").submit(function( event ) {
        var anonymous = jQuery("#@Html.IdFor(x => x.ViewableByAnonymous)").is(':checked');
        var unassigned = jQuery("#@Html.IdFor(x => x.ViewableByUnassigned)").is(':checked');
        var normal = jQuery("#@Html.IdFor(x => x.ViewableByNormal)").is(':checked');
        var projectSteward = jQuery("#@Html.IdFor(x => x.ViewableByProjectSteward)").is(':checked');
        var admin = jQuery("#@Html.IdFor(x => x.ViewableByAdmin)").is(':checked');
        if (!(anonymous || unassigned || normal || projectSteward || admin)) {
            jQuery("#viewableRoleError").show();
            event.preventDefault();
        } else {
            jQuery("#viewableRoleError").hide();
        }
    });
</script>
