@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.ExpenditureAndBudgetControls
@using ProjectFirma.Web.Views.Shared.ProjectLocationControls
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.TransportationStrategy.Summary

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        #@ViewDataTyped.ProjectLocationsMapInitJson.MapDivID
        {
            height: 420px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="summarySection">
                <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditTransportationStrategyUrl, string.Format("Edit Transportation Strategy - {0}", ViewDataTyped.TransportationStrategy.DisplayName), ViewDataTyped.UserHasTransportationStrategyManagePermissions) Basics</h2>
                <div class="contentWrapper">
                    <table class="summaryLayout">
                        <tr>
                            <td>
                                <div class="focusAreaTaxonomy">
                                    <div>
                                        @Html.LabelWithFieldDefinitionFor(FieldDefinition.TransportationStrategy): <span class="taxonomyLink selected" style="margin-left: 25px;">@ViewDataTyped.TransportationStrategy.DisplayName</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="summarySection">
                <h2>@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditDescriptionUrl, string.Format("Edit Description - {0}", ViewDataTyped.TransportationStrategy.DisplayName), ViewDataTyped.UserHasTransportationStrategyManagePermissions) Description</h2>
                <div class="contentWrapper">
                    <div>
                        @ViewDataTyped.TransportationStrategy.TransportationStrategyDescriptionHtmlString
                    </div>
                </div>
            </div>

            <div class="summarySection">
                <h2>
                    <a href="@ViewDataTyped.ManageTransportationObjectivesUrl">Transportation Objectives</a>
                </h2>
                <div class="contentWrapper">
                    @if (ViewDataTyped.TransportationStrategy.TransportationObjectives.Any())
                    {
                        <table class="summaryLayout">
                            <tr>
                                <th>@Html.LabelWithFieldDefinitionFor(FieldDefinition.TransportationObjective):</th>
                            </tr>
                            @foreach (var transportationObjective in ViewDataTyped.TransportationStrategy.TransportationObjectives.OrderBy(x => x.SortOrder))
                            {
                                <tr>
                                    <td>
                                        @transportationObjective.DisplayNameAsUrl
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p>No action priorities set for this transportationStrategy.</p>
                    }
                </div>
            </div>

            <div class="summarySection" style="background-color: white">
                <h2>Expenditures</h2>
                @{ TransportationExpendituresBarChart.RenderPartialView(Html, ViewDataTyped.TransportationExpendituresBarChartViewData); }
            </div>
        </div>
        <div class="col-md-6">
            <div class="summarySection">
                <h2>Transportation Strategy Projects Map</h2>
                <div style="padding: 10px;">
                    To zoom into a specific area, hold down the Shift key and drag a rectangle.
                    <div style="border-radius: 8px; background-color: white; margin: 5px 0 5px 0">
                        @{ ProjectLocationsMap.RenderPartialView(Html, ViewDataTyped.ProjectLocationsMapViewData); }
                    </div>
                    Some projects operate over larger areas and are not represented on the map, but are listed in the project grid below. A <a href="@ViewDataTyped.EipProjectMapFilteredUrl">full-screen, filterable version of this map</a> is also available.
                </div>
            </div>

        </div>
    </div>

    <div class="summarySection">
        <h2>
            <a href="@ViewDataTyped.FullProjectListUrl">Projects</a>
        </h2>
        <div class="contentWrapper">
            @Html.DhtmlxGrid(ViewDataTyped.TransportationListProjectGridSpec, ViewDataTyped.FiveYearListProjectGridName, ViewDataTyped.FiveYearListProjectGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
        </div>
    </div>

</div>

<div style="margin-top: 20px">
    <a class="btn btn-sm btn-trpa" href="@ViewDataTyped.BackUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Index</a>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationsMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationsMapInitJson).ToString(Formatting.None));
        var map = new ProjectFirmaMaps.Map(projectLocationsMapInitJson);
        map.initializeProjectLocations(projectLocationsMapInitJson);
    })
</script>